<p class="event-desc">
  Three researchers from the Bioinformatics group presented at the Plant Soils and Climate Showcase in the International lounge.
  Cristian Loaiza presented his study on citrus greening disease. Naveen Duhan prepared a study on salt resistance in wheat,
  and Matthew Lister talked about our facility’s HPC. All three gave research posters and answered questions about their
  work throughout the event.
  <br>
  <a target="_blank" class="kbl-link" href="http://www.usu.edu/today/index.cfm?id=58311">Learn more</a>
</p>
