{% from "pages/events/template.njk" import eventPage %}

{% set event = {
    img: '/image/bioinfo/events/PAG-2019/g2.jpg',
    location: '500 Hotel Circle N, San Diego, CA',
    date: 'Jan 12, 2019',
    media: [
      '/image/bioinfo/events/PSCshowcase_2019/e52e955f-604f-4c94-9c99-ac686bbe2f9f.JPG',
      '/image/bioinfo/events/PSCshowcase_2019/IMG_20190325_103245-e1557181881306.jpg',
      '/image/bioinfo/events/PSCshowcase_2019/IMG_20190325_104341-e1557181795537.jpg',
      '/image/bioinfo/events/PSCshowcase_2019/IMG_20190325_152608-e1557181842839.jpg',
      '/image/bioinfo/events/PSCshowcase_2019/IMG_20190325_152650-e1557181720788.jpg',
      '/image/bioinfo/events/PSCshowcase_2019/IMG_20190325_153142-e1557181757597.jpg'
    ]
  }
%}

{{ eventPage("Plant & Animal Genome Conference", "pag", event) }}
