<p class="blog">
David is a CS PhD student from Colombia. He worked full-time as a full-stack software developer for 6 years while finishing his 
bachelor's degree in Software and Computer Engineering and got a MSc. degree in Computational Biology.
</p>
