{% set editorials = [
  {
    authors: "Wren, J.D., Toby, I., Hong, H., Nanduri, B., <b>Kaundal, R.</b> Dozmorov, M.G. and Thakkar, S.",
    content: "Proceedings of the 2016 MidSouth Computational Biology and Bioinformatics Society (MCBIOS) Conference. <e>BMC Bioinformatics</e> <b>17</b>(S13): 356.",
    year: "2016"
  },
  {
    authors: "Wren, J.D., Dozmorov, M.G., Burian, D., Perkins, A., Zhang, C., Hoyt, P. and <b>Kaundal, R.</b>",
    content: "Proceedings of the 2014 MidSouth Computational Biology and Bioinformatics Society (MCBIOS) Conference. <e>BMC Bioinformatics</e> <b>15</b>(S11): I1.",
    year: "2014"
  },
  {
    authors: "Wren, J.D., Dozmorov, M.G., Burian, D., <b>Kaundal, R.</b>, Perkins, A., Perkins, E., Kupfer, D.M. and Springer, G.K.",
    content: "Proceedings of the 2013 MidSouth Computational Biology and Bioinformatics Society (MCBIOS) Conference. <e>BMC Bioinformatics</e> <b>14</b>(S14): S1.",
    year: "2013"
  },
  {
    authors: "Wren, J.D., Dozmorov, M.G., Burian, D., <b>Kaundal, R.</b>, Bridges, S. and Kupfer, D.M.",
    content: "Proceedings of the 2012 MidSouth Computational Biology and Bioinformatics Society (MCBIOS) Conference. <e>BMC Bioinformatics</e> <b>13</b>(S15): S1.",
    year: "2012"
  }
]
%}
