<div class="sabbi-site-header-meta">
    <div class="site-hmsl-content text-center mt_60">
        <div class="seq seq--kawsa" id="sequence">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    <li class="seq-step1" id="step1"
                        style="background:url(assets/img/slider/dna_trim.jpg); background-color: black;  background-size:cover">
                        <div class="bg-blend"></div>
                        <div class="seq-content">

                            <h2 class="seq-title font-2 tt_up" style="font-size: 25px;" data-seq="">Where it all
                                began</h2>
                            <div class="seq-meta" data-seq="">
                                <p class="seq-meta-text" style="font-size: 12px;">Welcome to the KAABiL group:
                                    We bring together biology, computer science,
                                    engineering, and related disciplines to train the next generation of data
                                    scientists...</p>
                            </div>
                            <a href="#" class="btn-link btn-more">READ MORE</a>
                        </div>
                    </li>
                    <li class="seq-step1" id="step2"
                        style="background:url(assets/img/usu_ag_trim.jpg); background-position-y: -400px; background-color: black;  background-size:cover">

                        <div class="bg-blend"></div>
                        <div class="seq-content">

                            <h2 class="seq-title font-2" style="font-size: 25px;" data-seq="">Dr. Kaundal's
                                Research</h2>
                            <div class="seq-meta" data-seq="">
                                <p class="seq-meta-text" style="font-size: 12px;">Computational mining and
                                    modeling
                                    of complex multi-dimensional OMICS datasets using supervised and
                                    unsupervised learning,
                                    implement as databases and prediction tools...
                                </p>
                            </div>
                            <a href="#" class="btn-link btn-more">READ MORE</a>
                        </div>
                    </li>
                    <li class="seq-step1" id="step2" style="background-color: black;">
                        <img class="fix-picture" src="assets/img/g195.png"/>
                        <div class="bg-blend"></div>
                        <div class="seq-content">

                            <h2 class="seq-title font-2" style="font-size: 25px;" data-seq="">Modeling
                                Host-Pathogen Interactions</h2>
                            <div class="seq-meta" data-seq="">
                                <p class="seq-meta-text" style="font-size: 12px;">Understand the genomic aspects
                                    of plant/animal pathogen
                                    evolution and/or virulence either at the organismal or population level;
                                    explore cross-kingdom threats and identify novel...
                                </p>
                            </div>
                            <a href="#" class="btn-link btn-more">READ MORE</a>
                        </div>
                    </li>
                    <li class="seq-step1" id="step3" style="background-color: black;">
                        <img class="fix-picture" src="assets/img/g95.png"/>
                        <div class="bg-blend"></div>
                        <div class="seq-content">

                            <h2 class="seq-title font-2" style="font-size: 25px;" data-seq="">Metagenomics for
                                Crop Improvement</h2>
                            <div class="seq-meta" data-seq="">
                                <p class="seq-meta-text" style="font-size: 12px;">Develop bioinformatics
                                    solutions for annotation of agri-microbiomes; predict and recover novel
                                    enzyme encoding genes involved in Nitrogen (N)
                                    cycle from soil metagenomes...</p>
                            </div>
                            <a href="#" class="btn-link btn-more">READ MORE</a>
                        </div>
                    </li>
                    <li class="seq-step1" id="step4"
                        style="background:url(assets/img/ngs2.png); background-size:cover; background-color: black">

                        <div class="bg-blend"></div>
                        <div class="seq-content">

                            <h2 class="seq-title font-2" style="font-size: 25px;" data-seq="">Advanced NGS Data
                                Analysis</h2>
                            <div class="seq-meta" data-seq="">
                                <p class="seq-meta-text" style="font-size: 12px;">Collaborative research: normal
                                    bioinformatics data mining to complex NGS projects such as RNA-seq,
                                    ChIP-seq, SNP-seq, Methyl-seq, miRNA-seq, GBS, Genome Assembly, etc...</p>
                            </div>
                            <a href="#" class="btn-link btn-more">READ MORE</a>
                        </div>
                    </li>
                </ul>
                <div class="sec-navigate-wrap center-y">
                    <button type="button" class="seq-next"></button>
                    <button type="button" class="seq-prev"></button>
                </div>
            </div>
        </div>
    </div>
</div>
