@import '../../../scss/colors';
@import '../../../scss/globals';

.research-fact {
  background-image: url('/assets/img/brands/brand_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: $border-radius;
  color: #fff;

  .fact-value {
    font-size: 110%;
  }
}

.home-news-item {
  .hn-header {
    font-size: 107%!important;
    font-weight: $font-weight-heavy;
    color: $color-text-main!important;
    transition: $time-mid;

    &.shrink {
      line-height: 103%!important;
    }

    &:hover {
      color: $color-primary!important;
    }
  }

  .hn-date {
    color: $color-text-soft!important;
    font-style: italic;
  }
}
