.research-fact {
  background-image: url('/assets/img/brands/brand_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
  color: #fff;

  .fact-value {
    font-size: 110%;
  }
}

.home-news-item {
  .hn-header {
    font-size: 107%!important;
    font-weight: var(--font-weight-heavy);
    color: var(--color-text-main)!important;
    transition: var(--time-mid);

    &.shrink {
      line-height: 103%!important;
    }

    &:hover {
      color: var(--color-primary)!important;
    }
  }

  .hn-date {
    color: var(--color-text-soft)!important;
    font-style: italic;
  }
}

p.intro {
  color: var(--color-text-soft);
  font-weight: var(--font-weight-medium);
}

.carousel-btn {

  .fa-arrow {
    &-right, &-left {
      color: white;
    }
  }

  &:not(.disabled) {
    cursor: pointer;

    .fa-circle {
      transition: var(--time-mid);
      cursor: pointer;
      color: var(--color-primary);
    }

    &:hover .fa-circle {
      color: var(--color-primary-dark);
    }
  }

  &.disabled {
    pointer-events: none;

    .fa-circle {
      transition: var(--time-mid);
      color: var(--color-btn-gray);
    }
  }
}

.carousel-btn.disabled {
  pointer-events: none;

}
