@import '../../../scss/colors';
@import '../../../scss/globals';

.research-fact {
  background-image: url('/assets/img/brands/brand_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: $border-radius;
  color: #fff;

  .fact-value {
    font-size: 110%;
  }
}
