<article class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel" data-interval="100">
    <div class="MultiCarousel-inner" id="content">
      {% from "./_research-data.njk" import cards %}
      {% from "components/research-carousel-card.njk" import researchCarouselCard %}
      {% for card in cards %}
        <div class="col-md-2 col-sm-6 col-stretch item">
          {{ researchCarouselCard(card) }}
        </div>
      {% endfor %}
    </div>
    <div class="leftLst carousel-btn" id="leftBtn">
      <span class="fa-stack" style="vertical-align: top;">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-arrow-left fa-stack-1x fa-inverse"></i>
      </span>
    </div>
    <div class="rightLst carousel-btn" id="rightBtn">
      <span class="fa-stack" style="vertical-align: top;">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-arrow-right fa-stack-1x fa-inverse"></i>
      </span>
    </div>
</article>
