{% set ai = {
    heading: "Artificial Intelligence: OMICS bigdata to novel biological discoveries",
    desc: "Computational modeling through pattern recognition, develop novel algorithms and...",
    img: "/image/raw/bioinfo/AI-processor-LowRes-v1.jpg",
    link: "/research"
  }
%}

{% set pa = {
    heading: "Precision Agriculture: Robotics for integrated weed management (IWM)",
    desc: "Incorporate sensing technology for precise IWM, minimize damage to crop, environment...",
    img: "/image/raw/bioinfo/sabbi-post/p_agr.jpg",
    link: "/research"
  }
%}

{% set template = {
    heading: "gdhd",
    desc: "fsffh",
    img: "afhsfdsh",
    link: "/research"
  }
%}

{% set hpi = {
    heading: "Host-pathogen interactions: Understanding mechanisms of infectious diseases",
    desc: "Explore cross-kingdom threats and identify novel therapeutic candidates...",
    img: "/image/raw/bioinfo/HPI_new.gif",
    link: "/research"
  }
%}

{% set metagenomics = {
    heading: "Metagenomics: Bioinformatics solutions for crop improvement",
    desc: "Investigate diversity of enzymes in soil metagenomes and develop advanced tools...",
    img: "/image/raw/bioinfo/meta_new.png",
    link: "/research"
  }
%}

{% set pfp = {
    heading: "Protein function prediction: Annotation of novel proteomes",
    desc: "Identify novel protein features, train in an AI framework, implement as web servers...",
    img: "/image/raw/bioinfo/functionalbg_resized.png?w=271&h=211",
    link: "/research"
  }
%}

{% set ngs = {
    heading: "NGS studies: Deciphering and making sense of the complex -omics bigdata",
    desc: "Identification of novel expressed genes from transcriptomics studies, methylation patterns...and more text",
    img: "/image/raw/bioinfo/datamining-lowres.png",
    link: "/research"
  }
%}

{% set cards = [ai, pa, ngs, hpi, metagenomics, pfp] %}
{% set slides1 = [ai, pa, ngs] %}
{% set slides2 = [hpi, metagenomics, pfp] %}
