{% from "components/home-paper.njk" import paperWrapper %}
{% from "pages/publications/_data.njk" import pub2022 %}

<div class="container py-4 px-5">
  <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-5 pt-5">
        <h5 class="kbl-heading pb-3">About the KAABiL Research Group</h5>
        <p class="kbl-text">
          The Utah State University Bioinformatics Lab is led by <b>Dr. Rakesh Kaundal.</b>
        </p>
        <p class="kbl-text">
          The group's research interests span a range of topics in applying statistical pattern recognition
          <a href="https://en.wikipedia.org/wiki/Artificial_intelligence" target="_blank" class="kbl-link">Artificial Intelligence (AI)</a>,
          and machine learning technologies in the area of systems biology, metagenomics, regulatory
          mechanisms of gene expression, genome-wide host-pathogen interaction networks, and genome
          annotation for functional studies.
        </p>
        <p class="kbl-text">
          Our lab is actively developing novel computational tools and algorithms for pathogen detection and discrimination,
          identification of species-specific signatures, and using AI to predict biochemical pathways and structure/function
          analyses. Another key strength of our research program lies in collaborative associations -
          making sense of the petabytes of complex OMICS bigdata from NGS experiments. For example,</p>
        </p>
        <ul class="kbl-ul">
          <li>transcriptomics studies (RNA-seq), miRNA-seq</li>
          <li>methylation patterns (Methyl-seq)</li>
          <li>GBS data, assembly of novel genomes, etc.</li>
        </ul>
        <a href="/research/lab-research" class="kbl-link thicc">View all publications</a>
      </div>
      <aside class="col-12 col-lg-7 px-5">
          <div class="paper_cut">
            {% for paper in pub2022 %}
                {% if (loop.index <= 3) %}
                    {{ paperWrapper(paper) }}
                {% endif %}
            {% endfor %}
          </div><!-- /.paper_cut -->
      </aside>
  </div>
</div>
