<div class="container py-4 px-5">
  <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-5 pt-5">
        <h5 class="kbl-heading pb-3">About the KAABiL Research Group</h5>
        <p class="kbl-text">
          The Utah State University Bioinformatics Lab is led by <b>Dr. Rakesh Kaundal.</b>
        </p>
        <p class="kbl-text">
          The group's research interests span a range of topics in applying statistical pattern recognition
          <a href="https://en.wikipedia.org/wiki/Artificial_intelligence" target="_blank" class="kbl-link">Artificial Intelligence (AI)</a>,
          and machine learning technologies in the area of systems biology, metagenomics, regulatory
          mechanisms of gene expression, genome-wide host-pathogen interaction networks, and genome
          annotation for functional studies.
        </p>
        <p class="kbl-text">
          Our lab is actively developing novel computational tools and algorithms for pathogen detection and discrimination,
          identification of species-specific signatures, and using AI to predict biochemical pathways and structure/function
          analyses. Another key strength of our research program lies in collaborative associations -
          making sense of the petabytes of complex OMICS bigdata from NGS experiments. For example,</p>
        </p>
        <ul class="kbl-ul">
          <li>transcriptomics studies (RNA-seq), miRNA-seq</li>
          <li>methylation patterns (Methyl-seq)</li>
          <li>GBS data, assembly of novel genomes, etc.</li>
        </ul>
        <a href="/research/lab-research" class="kbl-link thicc">View all publications</a>
      </div>
      <aside class="col-12 col-lg-7 px-5">
          <div class="paper_cut">
              <div class="pub-item with-icon">
                  <div class="elem-wrapper">
                      <i class="ion-ios-paper-outline"></i>
                  </div>
                  <div class="content-wrapper">
                      <h3 class="title mb_0">Loaiza CD, Duhan N, Lister M, and Kaundal R<sup>*</sup>.</h3>
                      <div class="slc_des">
                          <div class="authr">In silico prediction of host-pathogen protein
                              interactions in melioidosis pathogen Burkholderia pseudomallei and human
                              reveals novel virulence factors
                              and their targets</div>
                      </div>
                      <div class="description">
                          <a class="link-with-icon" href="http://dx.doi.org/10.1093/bib/bbz162"
                              target="_blank"><i class="ion-ios-browsers-outline"></i></a><i>Briefings in
                              Bioinformatics</i> <b>2019</b>, DOI: 10.1093/bib/bbz162
                          <!-- <i style="font-style: normal;" class="pull-right"> PMCID:<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6826667/" target="_blank"> PMC6826667</a></i> -->
                      </div>
                  </div>
              </div>
              <div class="pub-item with-icon">
                  <div class="elem-wrapper">
                      <i class="ion-ios-paper-outline"></i>
                  </div>
                  <div class="content-wrapper">
                      <h3 class="title mb_0">Sharma B, Batz TA, Kaundal R, Kramer EM, Sanders UR, Mellano
                          VJ, Duhan N, Larson RB.</h3>
                      <!-- <i style="color: #666666; font-size: 14px; font-style: normal; padding-left: 260px;" >Year: 2019</i>  -->
                      <div class="slc_des">
                          <div class="authr">Developmental and Molecular Changes Underlying the
                              Vernalization-Induced Transition to Flowering in Aquilegia coerulea (James)
                          </div>
                      </div>
                      <div class="description">
                          <a class="link-with-icon"
                              href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6826667/"
                              target="_blank"><i class="ion-ios-browsers-outline"></i></a><i>Genes
                          </i><b>2019</b>, 10(10): 734
                          <!-- <i style="font-style: normal;" class="pull-right"> PMCID:<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6826667/" target="_blank"> PMC6826667</a></i> -->
                      </div>
                  </div>
              </div>
              <div class="pub-item with-icon">
                  <div class="elem-wrapper">
                      <i class="ion-ios-paper-outline"></i>
                  </div>
                  <div class="content-wrapper">
                      <h3 class="title mb_0">Sahu SS, Loaiza CD, and Kaundal R<sup>*</sup>.</h3>
                      <div class="slc_des">
                          <div class="authr">Plant-mSubP: a computational framework for the
                              prediction of single- and multi-target protein subcellular localization
                              using integrated machine learning
                              approaches</div>
                      </div>
                      <div class="description">
                          <a class="link-with-icon" href="https://doi.org/10.1093/aobpla/plz068"
                              target="_blank"><i class="ion-ios-browsers-outline"></i></a><i>AoB
                              Plants</i> <b>2019</b>, DOI: 10.1093/aobpla/plz068
                          <!-- <em>PMCID:</em><a href="https://link.springer.com/article/10.1007%2Fs10142-017-0581-9"  target="_blank">29280022</a> -->
                      </div>
                  </div>
              </div>
          </div><!-- /.paper_cut -->
      </aside>
  </div>
</div>
