<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content contain-vid">
    <div class="ratio ratio-16x9">
      <iframe src="https://www.youtube.com/embed/r-Ay28WKFLY" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
