.event_thumb {
  width: 240px;
  height: 172px;
}

/* dashes in names because that's the CSS style */
.main-img {
  width: 65%;
  height: auto;
}

.main-img-meta-edge {
  margin-right: 10px;
}

.main-img-meta-icon {
  margin-right: 5px;
}

.row-margin-top {
  margin-top: 8px;
}

.main-img-meta-info {
  color: #6b6b6b;
}
