<!DOCTYPE html>
<html class="no-js" lang="en">
{% from "universal/_header.njk" import header %}
{{ header() }}

<body class="auth-theme-rashmore">
  {% from "universal/_navbar.njk" import navbar %}
  {{ navbar("People", "Dr. Rakesh Kaundal") }}

  {% from "components/img-header.njk" import imgHeaderSplit %}
  {{ imgHeaderSplit() }}

  {% from "components/breadcrumb.njk" import breadcrumb %}
  {{ breadcrumb([{name: 'Home', link: '/'}, {name: 'People', link: '/people'}, {name: 'Rakesh', link: '/people/rakesh'}]) }}

  <article class="container">
    {% include "../_new-rakesh.njk" %}

    <section class="row justify-content-center my-5">
      <div class="col-10 pb-5">
        <h3 class="kbl-heading text-center">Education</h3>
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-10 ">
              <ol class="ol-timeline ">
                <li class="tl-item with-icon zoom">
                  <p><span class="item-section">2007-2011</span></p>
                  <div class="content-wrapper">
                    <h3 class="title">Postdoctoral Fellow (Bioinformatics)</h3>
                    <div class="description">Noble Foundation, Ardmore (OK), USA</div>
                  </div>
                </li>
                <li class="tl-item with-icon zoom">
                  <p><span class="item-section">2006</span></p>
                  <div class="content-wrapper">
                    <h3 class="title">Ph.D. (Plant Breeding & Genetics)</h3>
                    <div class="description">Dr. B.R. Ambedkar University, India</div>
                  </div>
                </li>
                <li class="tl-item with-icon zoom">
                  <p><span class="item-section">2004</span></p>
                  <div class="content-wrapper">
                    <h3 class="title">PGDBI (Bioinformatics)</h3>
                    <div class="description">Sikkim Manipal University, India</div>
                  </div>
                </li>
                <li class="tl-item with-icon zoom">
                  <p><span class="item-section">1998</span></p>
                  <div class="content-wrapper">
                    <h3 class="title">M.Sc. (Plant Breeding & Genetics)</h3>
                    <div class="description">CSK HP Agricultural University, India</div>
                  </div>
                </li>
                <li class="tl-item with-icon zoom">
                  <p><span class="item-section">1995</span></p>
                  <div class="content-wrapper">
                    <h3 class="title">B.Sc. (Agriculture)</h3>
                    <div class="description">CSK HP Agricultural University, India</div>
                  </div>
                </li>
              </ol>
            </div>
        </div>
      </div>
    </section>

    <section class="row justify-content-center mt-5">
      <div class="col-7">
        <h2 class="kbl-heading text-center pb-4">Professional Appointments</h2>

        <div class="kbl-grey-card my-3">
          <div class="kbl-text soft appt-date">Jul 2017 - Present</div>
          <h5 class="kbl-heading">Assistant Professor, Bioinformatics</h5>
          <div class="kbl-text appt-desc">Utah State University (USU), Logan, Utah, USA</div>
        </div>

        <div class="kbl-grey-card my-3">
          <div class="kbl-text soft appt-date">Jul 2017 - Present</div>
          <h5 class="kbl-heading">Director, Bioinformatics Facility, Center for Integrated BioSystems (CIB)</h5>
          <div class="kbl-text appt-desc">Utah State University (USU), Logan, Utah, USA</div>
        </div>

        <div class="kbl-grey-card my-3">
          <div class="kbl-text soft appt-date">Jul 2017 - Present</div>
          <h5 class="kbl-heading">Adjunct Assistant Professor, Computer Science</h5>
          <div class="kbl-text appt-desc">Utah State University (USU), Logan, Utah, USA</div>
        </div>

        <div class="kbl-grey-card my-3">
          <div class="kbl-text soft appt-date">Jul 2014 - May 2017</div>
          <h5 class="kbl-heading">Director, High-Performance Computing | Bioinformatics Facility, Institute for Integrative Genome Biology (IIGB)</h5>
          <div class="kbl-text appt-desc">University of California, Riverside (UCR), California, USA</div>
        </div>

        <div class="kbl-grey-card my-3">
          <div class="kbl-text soft appt-date">Apr 2007 - Mar 2011</div>
          <h5 class="kbl-heading">Postdoctoral Research Fellow, Bioinformatics Lab, Plant Biology Division</h5>
          <div class="kbl-text appt-desc">The Samuel Roberts Noble Foundation, Ardmore, Oklahoma, USA</div>
        </div>

      </div>
    </section>

    <section class="row justify-content-center mt-5">
      <div class="col-8">
        <h2 class="kbl-heading text-center pb-3">Awards & Prizes</h2>

        <div class="row">
          <section class="col-6 my-2">
            <div class="kbl-grey-card h-100">
              <h5 class="kbl-heading">2013 - 1st Prize</h5>
              <div class="kbl-text soft award-desc">
                <a class="kbl-link" href="https://go.okstate.edu/">OSU</a>
                President’s Cup for creative interdisciplinarity in bioinformatics and computational biology
              </div>
            </div>
          </section>

          <section class="col-6 my-2">
            <div class="kbl-grey-card h-100">
              <h5 class="kbl-heading">2012 - 3rd Prize</h5>
              <div class="kbl-text soft award-desc">
                <a class="kbl-link" href="https://go.okstate.edu/">OSU</a>
                President’s Cup for creative interdisciplinarity on the project “<b>EDNA</b>:
                Powerful New Technology for <b>E</b>lectronic <b>D</b>iagnostic <b>N</b>ucleic acid <b>A</b>nalysis”
              </div>
            </div>
          </section>

          <section class="col-6 my-2">
            <div class="kbl-grey-card h-100">
              <h5 class="kbl-heading">2003 - Qualified National Eligibility Test (NET-ICAR)</h5>

              <div class="kbl-text soft award-desc">
                Conducted by
                <a class="kbl-link" href="https://icar.org.in/">
                  Indian Council of Agricultural Research (ICAR)</a>, New Delhi, India
              </div>
            </div>
          </section>

          <section class="col-6 my-2">
            <div class="kbl-grey-card h-100">
              <h5 class="kbl-heading">2002 - 3rd Prize best award for poster paper presentation (Weather-based forewarning of rice blast in H.P.)</h5>

              <div class="kbl-text soft award-desc">
                International Conference on Challenges and Options for Sustainable Development of the
                Himalayas - Beyond 2002, held at <a class="kbl-link" href="http://www.hillagric.ac.in/" >CSK HPAU</a>, Palampur, India
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </article>

  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts() }}
</body>

</html>
