<form action="assets/api/sendmail.php" method="post">
    <input name="name" id="futureName" type="text" class="form-control kbl-form" placeholder="Full Name">
    <input name="email"  id="InputEmail" type="email" class="form-control kbl-form" placeholder="Email">
    <input  name="phone" type="tel" class="form-control kbl-form"  placeholder="Phone Number">
    <textarea name="message"  id="InputMessage" class="form-control kbl-form" rows="15" placeholder="Say something to us!"></textarea>

    <button type="submit" class="btn kbl-btn-1-solid">Send Message</button>
</form>
