<!DOCTYPE html>
<html class="no-js" lang="en">
{% from "universal/_header.njk" import header %}
{{ header() }}

<body>
  {% from "universal/_navbar.njk" import navbar %}
  {{ navbar("Contact") }}

  {% from "components/img-header.njk" import imgHeader %}
  {{ imgHeader() }}

  {% from "components/breadcrumb.njk" import breadcrumb %}
  {{ breadcrumb([{name: 'home', link: '/'}, {name: 'contact', link: '/contact'}]) }}

  <article class="container mt-5">
    <section class="row">
      <div class="col-8">
        <p class="kbl-text">
          If you would like to join us, we are always looking for <b>independently-funded research fellows</b> or
          <b>extended visitors</b>. Please use the <a href="/contact#enroll" class="kbl-link">form</a> below to explore our options.
          <b>Summer student</b> positions are also available for up to a 3 - 4 month period.
        </p>

        <p class="kbl-text">
          A number of research projects are available within  the  general  areas  of
          bioinformatics,  computational  systems  biology,
          biological  bigdata  mining, comparative genomics, and functional genomics in KAABiL
          lab.
          Postdoctoral researchers, research higher degree (PhD and Masters),
          honours and undergraduate students are welcome to join our group.
        </p>

        <img src="http://bioinfocore.usu.edu/raikou/image/bioinfo/bio_tech_fall.JPG"  alt="" class="img-fluid my-5 img-round">

        <h2 class="kbl-heading dark">Masters and Honors</h2>
        <p class="kbl-text">
          Students are required to have a good understanding of biomolecular sciences and computer programming
          as well as experience in supervised learning and unsupervised learning (Bayesian-based).
          Students will need to demonstrate adaptability to the multidisciplinary nature of our projects. Masters and honors students are
          encouraged to <a href="/contact#enroll" class="kbl-link">contact</a> Dr. Kaundal to express interest.
          <b>Both degree options in either the
            <a target="_blank" rel="noreferrer noopen" href="https://cs.usu.edu/" class="kbl-link">Department of Computer Science</a>
            or
            <a target="_blank" rel="noreferrer noopen" href="https://psc.usu.edu/" class="kbl-link">
                Department of Plants, Soils & Climate
            </a> are available.
          </b>
        </p>

        <img src="http://bioinfocore.usu.edu/raikou/image/bioinfo/colorful.JPG"  alt="" class="img-fluid my-5 img-round">

        <h2 class="kbl-heading dark">PhD</h2>
        <p class="kbl-text">
          PhD opportunities with government and university-funded scholarships are available each year
          to domestic and international students.
          Knowledge or experience with scripting languages (Perl, Python) and statistical/mathematical toolkits
          (R, Matlab) with some kind of programming experience in C, C++, or Java is preferable.
          <b>
            Both degree options in either the
            <a target="_blank" href="https://cs.usu.edu/" class="kbl-link">Department of Computer Science</a>
            or
            <a target="_blank" href="https://psc.usu.edu/" class="kbl-link">Department of Plants, Soils & Climate</a> are available.
          </b>
        </p>

        <h5 class="kbl-heading dark">Key Criteria</h5>
        <p class="kbl-text">
          <b>Domestic students</b> – Students should have a strong academic track record
          (including research and write-up) with first class honours.
          The student’s research and academic background might be in one or
          more of biological sciences (plant/animal),
          mathematics, statistics, computer science, data analytics, biological engineering
          and related life science disciplines.
        </p>

        <p class="kbl-text">
          <b>International students</b> –
          International students are expected to have masters and honours
          degrees with a strong academic and research background in a relevant field.
          An overall IELTS score of 6.0+ with a
          minimum score of 5 in each band is preferable. This can be subtituted with a TOEFL
          score of 79+.
          For more details on eligibility, please visit the USU graduate school
          <a target="_blank" href="https://gradschool.usu.edu/apply/" class="kbl-link">website</a>.
        </p>

        <h2 class="kbl-heading dark mt-5">Postdoctoral Research Fellow</h2>
        <p class="kbl-text">
          A postdoctoral research fellow with strong research and publication records in the area
          of bioinformatics and computational biology is encouraged to
          directly contact <a href="people/rakesh" class="kbl-link">Dr. Kaundal</a> to express interest.
        </p>

        <!-- Because the person who designed the Navbar is an idiot, this has to have #enroll until
            someone competent fixes the navbar out of the good of their heart -->
        <h5 class="kbl-heading dark" id="enroll">Key Criteria</h5>
        <p class="kbl-text">
          A PhD in one or more biological sciences (plant/animal),
          mathematics, statistics, computer science, data analytics, biological engineering,
          or any related discipline in life sciences is required, along with strong evidence of
          prior productivity and high-impact publications.
        </p>
      </div>

      <div class="col-4">
        <h4 class="kbl-heading dark">Address</h4>
        <div class="kbl-text">Utah State University</div>
        <div class="kbl-text">4700 Old Main Hill</div>
        <div class="kbl-text">Logan, UT 84322-4700</div>
        <div class="kbl-text">United States of America</div>

        <h4 class="kbl-heading dark mt-3">Contact Information</h4>
        <div class="kbl-text"><b>Phone:</b> +1 (435)-797-4117</div>
        <div class="kbl-text"><b>Fax:</b> +1 (435) 797-2766</div>
        <div class="kbl-text"><b>Email:</b> rkaundal@usu.edu</div>

        <a href="/contact#enroll" class="btn kbl-btn-1-solid text-start mt-4">Go to Contact Form</a>


        <div class="my-5"></div>
        <h4 class="kbl-heading pt-5 pb-3 text-center">Set an Appointment!</h4>

        {% from "components/calendar-small.njk" import calendarSmall %}
        {{ calendarSmall() }}
      </div>
    </section>

    <section class="row mt-4" id="enroll">
      <div class="col-5 text-center">
        {% include "./_contact-form.njk" %}
      </div>
      <div class="col">
        <div class="ratio ratio-16x9 img-round">
          <iframe src="http://maps.google.com/maps?q=41.742693,-111.810340&amp;z=15&amp;output=embed" allowfullscreen="" frameborder="0"></iframe>
        </div>
      </div>
    </section>
  </article>

  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts() }}
</body>

</html>
