.vl {
  border-left: 1px solid #0f2439;
  height: 30px;
  margin-top: 10px;
  margin-left: 85px;
  /* position: absolute; */
}

.bottom-right {
  /* position: absolute; */
  bottom: 8px;
  right: 16px;
}

.logo_text1 {
  color: #0f2439;
  /* background-image: url(https://media.giphy.com/media/Lr2xYGw6IMVofbjRSu/giphy.gif); */
  font-weight: 700;
  letter-spacing: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* color: white;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.lab_event {
  width: 570px;
  height: 370px;
}

.event_text:hover .sabbi-events-title {
  color: #D30015;
}

/* [1] The container */
.img-hover-zoom {
  overflow: hidden;
  /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
  opacity: 0.5;
  filter: alpha(opacity=50);
}
