<article class="container">
  <section class="row">
    <div class="col-8 offset-2">
      <img src="assets/img/events/PSCshowcase_2019/d791cf15-ac89-4759-97d8-239827926698.JPG" alt="thompson">
      <div class="main-img-meta-info">
        <i class="ion-location main-img-meta-icon"></i>
        <span class="text main-img-meta-edge">4820 Old Main Hill, Logan, UT</span>
        <i class="ion-calendar main-img-meta-icon"></i>
        <span class="text">23<sup>rd</sup> March 2019</span>
      </div>
    </div>
  </section>
  <section class="row row-margin-top">
    <div class="col-8 offset-2">
      <p class="main-img-meta-info">
        Three researchers from the Bioinformatics group presented at the Plant Soils and Climate Showcase in the International lounge.
        Cristian Loaiza presented his study on citrus greening disease. Naveen Duhan prepared a study on salt resistance in wheat, and Matthew Lister talked about our facility’s HPC.
        All three gave research posters and answered questions about their work throughout the event.
        <br>
        <a target="_blank" href="http://www.usu.edu/today/index.cfm?id=58311">Learn more</a>
      </p>
    </div>
  </section>
  <section class="row">
    <div class="col-8 offset-2">
      <h4>From Media</h4>
      <section class="row row-margin-top">
        <div class="col-4">
          <a href="assets/img/events/PSCshowcase_2019/e52e955f-604f-4c94-9c99-ac686bbe2f9f.JPG" data-toggle="lightbox" data-gallery="sabb-gallery">
            <img src="assets/img/events/PSCshowcase_2019/e52e955f-604f-4c94-9c99-ac686bbe2f9f.JPG"
                class="event_thumb img-responsive events-item-media-img">
          </a>
        </div>
        <div class="col-4">
          <a href="assets/img/events/PSCshowcase_2019/IMG_20190325_103245-e1557181881306.jpg" data-toggle="lightbox" data-gallery="sabb-gallery">
            <img src="assets/img/events/PSCshowcase_2019/IMG_20190325_103245-e1557181881306.jpg"
              class="event_thumb img-responsive events-item-media-img">
          </a>
        </div>
        <div class="col-4">
          <a href="assets/img/events/PSCshowcase_2019/IMG_20190325_104341-e1557181795537.jpg" data-toggle="lightbox" data-gallery="sabb-gallery">
            <img src="assets/img/events/PSCshowcase_2019/IMG_20190325_104341-e1557181795537.jpg"
              class="event_thumb img-responsive events-item-media-img">
          </a>
        </div>
      </section>
      <section class="row" style="margin-top: 15px;">
        <div class="col-4">
          <a href="assets/img/events/PSCshowcase_2019/IMG_20190325_152608-e1557181842839.jpg" data-toggle="lightbox" data-gallery="sabb-gallery">
            <img src="assets/img/events/PSCshowcase_2019/IMG_20190325_152608-e1557181842839.jpg" alt=""
              class="event_thumb img-responsive events-item-media-img">
          </a>
        </div>
        <div class="col-4">
          <a href="assets/img/events/PSCshowcase_2019/IMG_20190325_152650-e1557181720788.jpg" data-toggle="lightbox" data-gallery="sabb-gallery">
            <img src="assets/img/events/PSCshowcase_2019/IMG_20190325_152650-e1557181720788.jpg" alt=""
              class="event_thumb img-responsive events-item-media-img">
          </a>
        </div>
        <div class="col-4">
          <a href="assets/img/events/PSCshowcase_2019/IMG_20190325_153142-e1557181757597.jpg" data-toggle="lightbox" data-gallery="sabb-gallery">
            <img src="assets/img/events/PSCshowcase_2019/IMG_20190325_153142-e1557181757597.jpg" alt=""
              class="event_thumb img-responsive events-item-media-img">
          </a>
        </div>
      </section>
    </div>
  </section>
</article>
