@import '../colors';
@import '../globals';

.calendar {
  .month-title {
    font-weight: $font-weight-heavy;
    font-size: 180%;
  }

  .arrow-single {
    font-size: 180%;
    transition: $time-mid;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }
  }

  .weekday {
    font-weight: $font-weight-medium;
    font-size: 130%;
  }

  .date {
    font-weight: $font-weight-medium;
    cursor: pointer;
    border-radius: $border-radius;
    transition: $time-mid;
    border: 1px solid $transparent;

    &.appointment {
      border-color: $color-primary;
      color: $color-primary;

      &:hover {
        background: $color-primary;
        color: #fff;
      }
    }

    &.selected {
      background: $color-primary!important;
      color: #fff!important;
    }

    &:hover:not(.appointment) {
      background: $color-primary-very-light;
    }
  }
}
