.calendar {
  $month-font-size: 150%;

  .month-title {
    font-weight: var(--font-weight-heavy);
    font-size: $month-font-size - 10%;
  }

  .arrow-single {
    font-size: $month-font-size;
    transition: var(--time-mid);
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
    }
  }

  .weekday {
    font-weight: var(--font-weight-medium);
    font-size: 130%;
  }

  .date {
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: var(--time-mid);
    border: 1px solid transparent;

    &.today {
      color: var(--color-primary);
    }

    &.appointment {
      border-color: var(--color-primary);
      color: var(--color-primary);

      &:hover {
        background: var(--color-primary);
        color: #fff;
      }
    }

    &.selected {
      background: var(--color-primary)!important;
      color: #fff!important;
    }

    &:hover:not(.appointment) {
      background: var(--color-primary-very-light);
      color: var(--color-text-main);
    }
  }
}

.time-arrow {
  font-size: 200%;
  cursor: pointer;
  transition: var(--time-mid);

  &:hover {
    color: var(--color-primary);
  }
}

.meridiem-label {
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  transition: var(--time-mid);
  border-radius: var(--border-radius);

  &:hover:not(.selected) {
    background: var(--color-primary-very-light);
  }

  &.selected {
    background: var(--color-primary);
    color: #fff;
  }
}
