.kbl-conf-card {
  border-radius: var(--border-radius);
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow: hidden;

  &.hover:hover {

  }

  .conf-card-img {
    $size: 250px;
    object-fit: cover;
    object-position: center;
    width: $size;
    height: $size;
  }

  .year-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
    font-weight: var(--font-weight-heavy);

    background: var(--color-bg-main);
    width: 80%;
    text-align: center;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border-gray);
    color: var(--color-text-main);
  }

  .year-banner.date {
    font-size: 120%;
    top: 65%;
    left: 50%;
  }

  .conf-authors {
    font-size: 110%;
    font-family: "Montserrat";
    color: var(--color-text-main);
  }

  .conf-location {
    color: var(--color-text-soft);
  }

  .conf-desc {
    color: var(--color-text-main);
  }
}
