.kbl-event-link {

  .img-container {
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 1px solid var(--color-secondary-very-light);
    transition: var(--time-mid);
    height: 380px;

    &:hover {
      border-color: var(--color-primary-light);
    }
  }

  .infotainer {
    transition: var(--time-mid);
    background: var(--color-bg-gray);
    border-radius: var(--border-radius);
  }

  &:hover .infotainer {
    background: var(--color-border-dark-gray);
  }
}

.kbl-event-link:hover .infotainer {
  background: var(--color-bg-soft-gray);
}
