.glass-card {
  background: rgba( 255, 255, 255, 0.35 )!important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )!important;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: var(--border-radius)!important;
  border: 1px solid rgba(210, 210, 210, 0.35);
}
