@import '../colors';
@import '../globals';

nav.bs4 {
  border-bottom: 1px solid #dedede;
}

.bs4.nav-option {
  font-weight: 600;
  border-bottom: 4px solid $transparent;
  transition: $time-mid;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;

  color: $color-text-main!important;

  font-size: 100%;
  padding-bottom: 12px;

  &:hover {
    border-bottom: 4px solid $color-primary-bg!important;
  }

  & a {
    color: $color-text-main;
  }
}

.bs4.current .nav-option {
  border-bottom: 4px solid $color-primary!important;
}

.bs4.nav-suboption {
  font-weight: 500!important;
  color: $color-text-main!important;
  transition: $time-mid;

  &:hover {
    background: #ebebeb!important;
    color: $color-primary!important;
  }
}

.bs4.nav-dropdown {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.bs4 .dropdown-header {
  font-weight: $font-weight-heavy;
  cursor: pointer;
  padding-left: 0!important;
  color: $color-primary!important;
  font-size: inherit!important;
}

.dropdown-item:active {
  background: $color-bg-gray!important;
  background-color: $color-bg-gray!important;
}
