@import '../colors';
@import '../globals';

nav.bs4 {
  border-bottom: 1px solid #dedede;
}

.nav-option {
  font-weight: 600;
  border-bottom: 4px solid $transparent;
  transition: $time-mid;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-left: 11px;
  margin-right: 9px;

  color: $color-text-main!important;

  font-size: 100%;
  padding-bottom: 12px;

  &:hover {
    border-bottom: 4px solid $color-primary-bg!important;
  }

  & a {
    color: $color-text-main;
  }
}

.current .nav-option {
  border-bottom: 4px solid $color-primary!important;
}

.nav-suboption {
  font-weight: 500;
  color: $color-text-main;
  transition: $time-mid;
  padding: 10px 12px!important;

  &:hover {
    background: $color-bg-gray!important;
    color: $color-primary!important;
  }

  &.title {
    font-weight: $font-weight-heavy;
    color: $color-primary;
  }
}

.dropdown-menu {
  border-radius: $border-radius!important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.nav-dropdown {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.dropdown-header {
  font-weight: $font-weight-heavy;
  cursor: pointer;
  padding-left: 0!important;
  color: $color-primary!important;
  font-size: inherit!important;
}

.dropdown-item:active {
  background: $color-bg-gray!important;
  background-color: $color-bg-gray!important;
}
