@import '../colors';
@import '../globals';

.nav-option {
  font-weight: 600;
  border-bottom: $transparent;
  transition: $time-mid;
  cursor: pointer;

  color: $color-text-main!important;

  font-size: 112%!important;

  &:hover {
    border-color: $color-primary;
  }

  & a {
    color: $color-text-main!important;
  }
}

.nav-suboption {
  font-weight: 500!important;
}
