.pub-legend-container {
  color: transparent;
  transition: 0.3s;
  cursor: pointer;

  &:hover:not(.selected) {
    color: var(--color-secondary-bg);
  }

  &.selected {
    color: var(--color-primary-bg);

    .pub-legend-icon {
      color: var(--color-primary);
    }
  }

  .pub-legend-icon {
    font-size: 120%;
    color: var(--color-primary);
  }
}

.pub-text {
  font-size: 110%;
  font-weight: 600;
}

.underline-slanted-solid {
  background: url('http://bioinfocore.usu.edu/raikou/image/bioinfo/underline-slanted-solid.png');
  height: 20px;
  width: 20px;
  display: block;
}
