@import '../colors';
@import '../globals';

$card-width: 250px;

.kbl-research-card {
  background: $color-bg-gray;
  border-radius: $border-radius;
  word-wrap: break-word;
  width: $card-width;

  display: flex;
  flex-direction: column;
  flex-basis: 250px;

  .card-title {
    font-weight: $font-weight-heavy;
    font-size: 110%;
    color: $color-text-main;
    line-height: normal;
  }

  .card-subtitle {
    font-weight: $font-weight-medium;
    font-size: 95%;
    color: $color-text-soft;
  }

  &.select {
    cursor: pointer;
    transition: $time-mid;

    &:hover {
      background: $color-primary-bg;
    }
  }

  .img-wrapper {
    flex-basis: 200px;
  }
}

.kbl-research-card-container {
  border-radius: $border-radius;
  overflow: hidden;
  width: $card-width;

  display: flex;
  display: column;
  align-items: stretch;
}

.modal-img {
  width: 210px;
}

.modal-subtitle {
  color: $color-text-soft;
}

// Flex test
.flex-container-col {
  display: flex;
  display: column;
  align-items: stretch;
}

.col-stretch {
  display: flex;
  align-items: stretch!important;
}

.flex-text-wrapper {
  display: flex;
  flex-direction: column;
}

.read-more-end {
  margin-top: auto;

  .text {
    font-weight: $font-weight-medium;
    cursor: pointer;
    border-bottom: 1px solid $transparent;
    transition: $time-mid;

    &:hover {
      color: $color-primary;
      border-color: $color-primary;
    }
  }
}
