.imgHeaderGen {
    height: 18%;
    font-size: 11;
    background-color: rgba(176, 18, 65,0.80);
    color: white;
    position: relative;
    width: fit-content;
    background-position: center;
    bottom: 18%;
    padding-right: 30px;
    padding-left: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

  }
  
  .imgHeaderTitle {
    margin-left: auto;
    margin-right: auto;
  }

  .imgHeaderTitleSplit {
    margin-left: auto;
    margin-right: auto;
    transform: translateX(25vw);
  }