{% from "pages/events/template.njk" import eventPage %}

{% set event = {
    img: '/image/bioinfo/events/Rocky_2018/IMG_1335.JPG',
    location: '130 Wood Road, Snowmass Village, CO',
    date: 'Dec 5-7, 2018',
    media: [
      '/image/bioinfo/events/Rocky_2018/IMG_1390.JPG',
      '/image/bioinfo/events/Rocky_2018/IMG_1413.jpg',
      '/image/bioinfo/events/Rocky_2018/IMG_1417.jpg',
      '/image/bioinfo/events/Rocky_2018/IMG_1437.JPG',
      '/image/bioinfo/events/Rocky_2018/IMG_1438.JPG',
      '/image/bioinfo/events/Rocky_2018/IMG_1454.JPG'
    ]
  }
%}

{{ eventPage("Rocky Bioinformatics Conference", "rocky", event) }}
