<p class="blog">
Miss Simardeep Kaur is a Nehru Doctoral Fulbright fellow at KAABiL Laboratory, 
    USU. Her doctoral thesis focuses on deciphering the microRNA related modulations in contrasting 
    rice genotypes under drought stress. As a Fulbright fellow she will be learning 
    bioinformatic tools and softwares for comprehensive analysis of the data generated 
    from her molecular biology related work from wet-lab experiments. She will be improving 
    her skills to handle larger data set like those for methylome, transcriptome, lncRNAs, miRNAs, 
    validation techniques and their analysis so that she can integrate molecular biology with 
    bioinformatics to develop the drought tolerant agricultural crops.
</p>