{% from "pages/news/template.njk" import newNewsPage %}

{{ newNewsPage("Fulbright Scholar Joins the Lab: Simardeep Kaur", "simar","http://bioinfocore.usu.edu/raikou/image/raw/bioinfo/profile/simardeep.jpg") }}