<!DOCTYPE html>
<html class="no-js" lang="en">

{% from "universal/_header.njk" import header %}
{{ header() }}

<body>
  {% from "universal/_navbar.njk" import navbar %}
  {{ navbar("Research", "Lab Research") }}

  {% from "components/img-header.njk" import imgHeader %}
  {{ imgHeader() }}

  {% from "components/breadcrumb.njk" import breadcrumb %}
  {{ breadcrumb([{name: 'home', link: '/'}, {name: 'research', link: '/research'}]) }}

  <main>
      <div class="container">
        <div class="row my-5">
            <div class="col-sm-5 col-md-4">
              <h2 class="kbl-heading">
                Dr. Kaundal's research: <i>information to inference</i> in OMICS data science
              </h2>
            </div>
            <div class="col-sm-7 col-md-7">
                <p class="kbl-text">
                  Biological data is accumulating faster than people’s capacity to analyze them. Our research interests and goals revolve
                  around mitigating this issue in the context of “<i>information to inference</i>” scope. At USU, Dr. Kaundal has developed an <b>independent</b> and <b>collaborative</b>
                  research program in bioinformatics, primarily focusing on computational mining of large multi-dimensional -<i>omics</i> datasets, and computational modeling using
                  supervised (Machine Learning) and unsupervised (Bayesian-based) learning. Our group is actively developing novel tools and software to apply the gained knowledge
                  towards organismal improvement. Research in KAABiL laboratory generally falls under the following major program objectives:
                </p>
            </div>
        </div>
          <section class="container-fluid">
            <div class="row home-info-block-first">
              {% include 'pages/home/_multi-carousel-new.njk' %}
            </div>
          </section>
          <!-- /.icon-card-segment -->
          <section class="sabbi-section stage-samevide mb_0 mt-5">
              <div class="row">
                  <div class="col-sm-6">
                      <ul class="list-unstyled entry-meta-list list-style-round_item">
                          <li>Understand the genomic aspects of plant / animal pathogen evolution and/or virulence either at the organismal or population level,</li>
                          <li>Develop novel computational algorithms to explore cross-kingdom threats and identify novel therapeutic candidates,</li>
                          <li>Investigate the diversity of enzymes in soil metagenomes and develop advanced bioinformatics solutions to predict and recover novel enzyme encoding genes involved with the nitrogen (N) cycle from soil metagenomes,</li>
                          <li>Develop and implement cost effective prediction tools / databases (customized searchable web portals),</li>
                          <li>Establish high-end biocomputing infrastructure (High-Performance Computing Cluster, HPCC) and novel algorithms with AI while advancing bigdata research,</li>
                          <li>Collaborate extensively and provide leadership in these research areas.</li>
                      </ul>
                  </div>
                  <div class="col-sm-6">
                      <figure class="samevide-figure">
                          <img src="assets/img/doctor.jpg" style="width: 570px; height: 323px;"
                              class="img-responsive img-round">
                      </figure>
                  </div>
              </div>
          </section>
          <!-- /.stage-samevide -->
      </div>
      <section class="sabbi-section stage-halfbol stage-full_width">
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-sm-8">
                      <aside class="stage-halfbol_content glass-card">
                          <h2 class="stage-title font-md lil-line">KAABiL group is one of Utah’s</h2>
                          <p class="stage-halfbol_text">leading bioinformatics labs. To date, Dr. Kaundal has trained more than 10 graduate students, 10 undergrad
                          students, 1 postdoctoral fellow, and 3 full-time bioinformatics staff members in his career research program.</p>
                          <a href="/contact#enroll" class="btn kbl-btn-1-solid">Join Research</a>
                      </aside>
                  </div>
              </div>
          </div>
      </section>
      <!-- ./stage-halfbol  -->
  </main>

  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts() }}
</body>

</html>
