

<footer class="w-100 py-5 mt-5">
  <div class="container">
    <div class="row">
      <section class="col-10 col-sm-6 col-md-4 footer-section">
        <div class="row">
          <div class="col-10">
            <a href="/">
              <img class="img-fluid" src="{{ RaikouServer }}/image/bioinfo/bioinfo_logoaa.png" alt="Utah State Univesrsity Bioinformatics Logo: Deciphering -OMICS bigdata."/>
            </a>
          </div>
        </div>
        <h5 class="kbl-heading pt-3">Address</h5>
        <div class="kbl-text">Utah State University</div>
        <div class="kbl-text">4700 Old Main Hill</div>
        <div class="kbl-text">Logan, UT 84322-4700</div>
        <div class="kbl-text">United States of America</div>

        <h5 class="kbl-heading pt-4">Contact Information</h5>
        <div class="kbl-text">Phone: +1 (435) 797-4117</div>
        <div class="kbl-text">Fax: +1 (435) 797-2766</div>
        <div class="kbl-text">Email: rkaundal@usu.edu</div>
      </section>

      <section class="col-10 col-sm-6 col-md pt-3">
        <h5 class="kbl-heading pb-3">Affiliations</h5>
        <div class="my-2">
          <a href="https://psc.usu.edu/" target="_blank" rel="noopen noreferrer" class="footer-link">
            Plants, Soils & Climate
          </a>
        </div>
        <div class="my-2">
          <a href="https://biosystems.usu.edu/" target="_blank" rel="noopen noreferrer" class="footer-link">
            CIB
          </a>
        </div>
        <div class="my-2">
          <a href="https://cs.usu.edu/" target="_blank" rel="noopen noreferrer" class="footer-link">
            Computer Science
          </a>
        </div>
        <div class="my-2">
          <a href="http://caas.usu.edu/" target="_blank" rel="noopen noreferrer" class="footer-link">
            CAAS
          </a>
        </div>

        <h5 class="kbl-heading py-3">People</h5>
        <div class="my-2">
          <a href="people/rakesh" target="_blank" rel="noopen noreferrer" class="footer-link">
            Dr. Kaundal
          </a>
        </div>
        <div class="my-2">
          <a href="people/our-team" target="_blank" rel="noopen noreferrer" class="footer-link">
            Our Team
          </a>
        </div>
        <div class="my-2">
          <a href="people/alumni" target="_blank" rel="noopen noreferrer" class="footer-link">
            Alumni
          </a>
        </div>
      </section>

      <section class="col-10 col-sm-6 col-md pt-3">
        <h5 class="kbl-heading pb-3">Publications</h5>
        <div class="my-2">
          <a href="publications" target="_blank" rel="noopen noreferrer" class="footer-link">
            Journal Articles
          </a>
        </div>
        <div class="my-2">
          <a href="publications/?content=conf" target="_blank" rel="noopen noreferrer" class="footer-link">
            Conferences and Talks
          </a>
        </div>
      </section>


{% macro footerEventsGenerator(events) %}
{% for event in events%}
  {{ footerEvent(event.title,event.date,event.link) }}
{% endfor %}
{% endmacro %}

{% macro footerEvent(title,date,link)%}
    <div class="my-3">
      <a href={{link}} target="_blank" rel="noopen noreferrer" class="footer-link thicc">
        {{title}}
      </a>
    <div class="kbl-text soft">{{date}}</div>
  </div>
{% endmacro %}

      <section class="col-10 col-sm-6 col-md-4 pt-3 footer-section">
        <h5 class="kbl-heading pb-3">Latest Events</h5>
        {% from 'pages/events/data.njk' import latest%}
        {{footerEventsGenerator(latest)}}
      </section>
    </div>
  </div>
</footer>

<section class="container py-3 bottom-section">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 footer-bottom-text text-center text-sm-left">
      <span class="kbl-text">Copyright 2020 - </span><a href="/" class="kbl-link">KAABiL Lab</a>
    </div>
    <div class="col-12 col-sm-6 col-md-6 text-center text-sm-right footer-bottom-text">
      <span class="kbl-text">Developed and managed by </span><a href="people/our-team" class="kbl-link">Kaundal Research Group</a>
    </div>
  </div>
</section>

{% include "universal/_mobile-navbar.njk" %}
