{% macro scripts(customJS=true) %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

<!-- tools -->
<script src="assets/tools/sequence/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/tools/sequence/js/hammer.min.js"></script>
<script src="assets/tools/sequence/js/sequence.min.js"></script>
<script src="assets/tools/intlTelInput/js/intlTelInput.js"></script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<!-- site-spec -->
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!-- To stop videos playing after modal is closed -->
<script>
$('#videoModal').on('hidden.bs.modal', () => {
    $("#videoModal iframe").attr("src", $("#videoModal iframe").attr("src"));
});

// BS5 Stuff
$('#homePageBS4Carousel').on('slide.bs.carousel', (e) => {

  const $e = $(e.relatedTarget);
  const idx = $e.index();
  const itemsPerSlide = 3;
  const totalItems = $('.carousel-item').length;

  if (idx >= totalItems - (itemsPerSlide - 1)) {
    var it = itemsPerSlide - (totalItems - idx);
    for (let i=0; i<it; i++) {
      // append slides to end
      if (e.direction=="left") {
        $('.carousel-item').eq(i).appendTo('.carousel-inner');
      }
      else {
        $('.carousel-item').eq(0).appendTo('.carousel-inner');
      }
    }
  }
});

// Init Toasts
var toastElList = [].slice.call(document.querySelectorAll('.toast'))
var toastList = toastElList.map(function (toastEl) {
  return new bootstrap.Toast(toastEl, {});
});
</script>
{% if customJS %}
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X','auto');ga('send','pageview');

    var tabs = $('.tabs');
var selector = $('.tabs').find('a').length;
//var selector = $(".tabs").find(".selector");
var activeItem = tabs.find('.active');
var activeWidth = activeItem.innerWidth();
$(".selector").css({
"left": activeItem.position.left + "px",
"width": activeWidth + "px"
});

$(".tabs").on("click","a",function(e){
e.preventDefault();
$('.tabs a').removeClass("active");
$(this).addClass('active');
var activeWidth = $(this).innerWidth();
var itemPos = $(this).position();
$(".selector").css({
"left":itemPos.left + "px",
"width": activeWidth + "px"
});
});

$(document).ready(function(){

    //       $(window).scroll(function(){

    //         if($(window).scrollTop()>100){
    //           $('.navbar-collapse').css('background-color', '#0f2439');
    //         }else{
    //           $('.navbar-collapse').css('background-color', 'transparent');
    //         }

    //       });

     });

     $(document).ready(function () {
                 var itemsMainDiv = ('.MultiCarousel');
                 var itemsDiv = ('.MultiCarousel-inner');
                 var itemWidth = "";

                 $('.leftLst, .rightLst').click(function () {
                     var condition = $(this).hasClass("leftLst");
                     if (condition)
                         click(0, this);
                     else
                         click(1, this)
                 });

                 ResCarouselSize();




                 $(window).resize(function () {
                     ResCarouselSize();
                 });

                 //this function define the size of the items
                 function ResCarouselSize() {
                     var incno = 0;
                     var dataItems = ("data-items");
                     var itemClass = ('.item');
                     var id = 0;
                     var btnParentSb = '';
                     var itemsSplit = '';
                     var sampwidth = $(itemsMainDiv).width();
                     var bodyWidth = $('body').width();
                     $(itemsDiv).each(function () {
                         id = id + 1;
                         var itemNumbers = $(this).find(itemClass).length;
                         btnParentSb = $(this).parent().attr(dataItems);
                         itemsSplit = btnParentSb.split(',');
                         $(this).parent().attr("id", "MultiCarousel" + id);


                         if (bodyWidth >= 1200) {
                             incno = itemsSplit[3];
                             itemWidth = sampwidth / incno;
                         }
                         else if (bodyWidth >= 992) {
                             incno = itemsSplit[2];
                             itemWidth = sampwidth / incno;
                         }
                         else if (bodyWidth >= 768) {
                             incno = itemsSplit[1];
                             itemWidth = sampwidth / incno;
                         }
                         else {
                             incno = itemsSplit[0];
                             itemWidth = sampwidth / incno;
                         }
                         $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                         $(this).find(itemClass).each(function () {
                             $(this).outerWidth(itemWidth);
                         });

                         $(".leftLst").addClass("disabled");
                         $(".rightLst").removeClass("disabled");

                     });
                 }


                 //this function used to move the items
                 function ResCarousel(e, el, s) {
                     var leftBtn = ('.leftLst');
                     var rightBtn = ('.rightLst');
                     var translateXval = '';
                     var divStyle = $(el + ' ' + itemsDiv).css('transform');
                     var values = divStyle.match(/-?[\d\.]+/g);
                     var xds = Math.abs(values[4]);
                     if (e == 0) {
                         translateXval = parseInt(xds) - parseInt(itemWidth * s);
                         $(el + ' ' + rightBtn).removeClass("disabled");

                         if (translateXval <= itemWidth / 2) {
                             translateXval = 0;
                             $(el + ' ' + leftBtn).addClass("disabled");
                         }
                     }
                     else if (e == 1) {
                         var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                         translateXval = parseInt(xds) + parseInt(itemWidth * s);
                         $(el + ' ' + leftBtn).removeClass("disabled");

                         if (translateXval >= itemsCondition - itemWidth / 2) {
                             translateXval = itemsCondition;
                             $(el + ' ' + rightBtn).addClass("disabled");
                         }
                     }
                     $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
                 }

                 //It is used to get some elements from btn
                 function click(ell, ee) {
                     var Parent = "#" + $(ee).parent().attr("id");
                     var slide = $(Parent).attr("data-slide");
                     ResCarousel(ell, Parent, slide);
                 }

             });

             //randomize carousel
             var $cont = $('#content'),
                 itemsArr = $cont.children().get();


             $cont.append(shuffle(itemsArr))

             function shuffle(a) {
                 var j, x, i;
                 for (i = a.length; i; i--) {
                     j = Math.floor(Math.random() * i);
                     x = a[i - 1];
                     a[i - 1] = a[j];
                     a[j] = x;
                 }
                 return a;
             }

             //show button on hover
             $(document).ready(function () {
                 $(document).on('mouseenter', '.divbutton', function () {
                     $(this).find(":button").show();
                 }).on('mouseleave', '.divbutton', function () {
                     $(this).find(":button").hide();
                 });
             });
</script>
{% endif %}
{% endmacro %}
