<footer class="section-footer mt_25">
  <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="footer-site-info">
                    <header>
                        <a class="footer-brand" href="index.html"><img alt="" class="img-responsive" src="assets/img/bioinfo_logo.png"></a>
                    </header>
                    <address>
                        <h3 class="entry-title">Address</h3>
                        <div class="address-entry">
                            <p class="__adtext">Utah State University</p>
                            <p class="__ad-num">4700 Old Main Hill</p>
                            <p class="__ad-num">Logan, UT 84322-4700</p>
                            <p class="__ad-num">United States of America</p>
                        </div>
                    </address>
                    <footer class="contact-info">
                        <h3 class="entry-title">Contact Information</h3>
                        <p class="__ci_num">Call:
                            <span>+1 (435) 797-4117</span></p>
                        <p class="__ci_num">Fax:
                            <span>+1 (435) 797-2766</span></p>
                        <p class="__ci_num">E-mail:
                            <span>rkaundal@usu.edu</span></p>
                    </footer>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-2">
                        <section class="widget widget_sec">
                            <div class="widget-main">
                                <h2 class="widget-title">Affiliations</h2>
                                <ul class="list list-unstyled list-footer-nav">
                                    <li class="footer_text">
                                        <a href="https://psc.usu.edu/" target="_blank">Plants, Soils, & Climate</a>
                                    </li>
                                    <li class="footer_text">
                                        <a href="https://biosystems.usu.edu/" target="_blank">CIB</a>
                                    </li>
                                    <li class="footer_text">
                                        <a href="https://cs.usu.edu/" target="_blank">Computer Science</a>
                                    </li>
                                    <li class="footer_text">
                                        <a href="http://caas.usu.edu/" target="_blank">CAAS</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <section class="widget widget_sec">
                            <div class="widget-main">
                                <h2 class="widget-title">People</h2>
                                <ul class="list list-unstyled list-footer-nav">
                                    <li class="footer_text">
                                        <a href="professor.html">Dr. Kaundal</a>
                                    </li>
                                    <li class="footer_text">
                                        <a href="ourteam.html">Our Team</a>
                                    </li>
                                    <li class="footer_text">
                                        <a href="people.html">Alumni</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-5">
                        <section class="widget widget_sec">
                            <div class="widget-main">
                                <h2 class="widget-title">Publications</h2>
                                <ul class="list list-unstyled list-footer-nav">
                                    <li class="footer_text">
                                        <a href="lab_journal.html">Journal Articles</a>
                                    </li>
                                    <li class="footer_text">
                                        <a href="lab_conf-talk.html">Conferences and Talks</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- Bug caused by CSS in pages -->
            <div class="col-sm-4">
                <div class="footer-site-info">
                    <address>
                        <h3 class="entry-title">Latest Events</h3>
                        <ul class="event-list list-unstyled">
                            <li class="lst_news_item">
                                <h4 class="title">
                                    <a href="events_single.html?event=psc">PSC Showcase</a>
                                </h3>
                                <div>
                                    <span class="date">March 23, 2019</span>
                                </div>
                            </li>
                            <li class="lst_news_item">
                                <h4 class="title">
                                    <a href="events_single.html?event=rocky">Rocky Bioinformatics Conference</a>
                                </h3>
                                <div>
                                    <span class="date">December 5-7, 2018</span>
                                </div>
                            </li>
                            <li class="lst_news_item">
                                <h4 class="title">
                                    <a href="events_single.html?event=osu">Won President's Cup at OSU</a>
                                </h3>
                                <div>
                                    <span class="date">December 10, 2013</span>
                                </div>
                            </li>
                        </ul>
                        <div class="action-wrap">
                            <a href="lab_events.html" class="btn btn-unsolemn btn-action">View all Events</a>
                        </div>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div id="site-footer-bar" class="footer-bar mt_30">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="widget_black_studio_tinymce" id="black-studio-tinymce-4">
                        <div class="copyright">Copyright 2020 -
                            <a href="index.html">KAABiL Lab</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="powredby">Developed and Managed by:
                        <a href="ourteam.html">Kaundal Research Group</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
