{% macro header(css="", bs4=false, scss=false, modernizr=true) %}
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>KAABiL</title>
    {% from "env.njk" import baseUrl %}
    <base href="{{ baseUrl }}" />
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="assets/kbl-css/style.css">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Latest compiled and minified CSS -->
    {% if bs4 %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endif %}
    {% if not bs4 %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Open+Sans:400,400i,600,700" rel="stylesheet">
    <link href="assets/fonts/ionicons/css/ionicons.css" rel="stylesheet" type="text/css" />

    <!-- Tools -->
    <link href="assets/tools/sequence/css/sequence-theme.basic.css" rel="stylesheet" media="all">
    <link href="assets/tools/dropdownhover/css/animate.min.css" rel="stylesheet">
    <link href="assets/tools/dropdownhover/css/bootstrap-dropdownhover.min.css" rel="stylesheet">

    <!-- site spec -->
    <link href="assets/tools/lightbox/ekko-lightbox.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    {% if css.length %}
      <link href="pages/{{ css }}/{{ css }}.css" rel="stylesheet">
    {% endif %}
    <link rel="icon" href="assets/img/red_logo.png">
    {% if modernizr %}
      <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    {% endif %}
</head>
{% endmacro %}
