{% from 'universal/navbar-active-route.njk' import mobileActiveRoute %}

<nav class="mobile-nav-wrapper px-3 py-2 d-lg-none mb-2">
  <article class="mobile-nav">
    <div class="row h-100 pt-2 px-3">
      <section class="col text-center my-auto">
        <a href="/home" class="mob-nav-link {{ mobileActiveRoute(activeRoute, 'home') }}">
          <div class="icon-container">
            <i class="fas fa-home mob-nav-icon"></i>
          </div>
          <span class="mob-nav-icon-text">Home</span>
        </a>
      </section>

      <section class="col text-center my-auto">
        <a href="/research" class="mob-nav-link {{ mobileActiveRoute(activeRoute, 'research') }}">
          <div class="icon-container">
            <i class="fas fa-flask mob-nav-icon"></i>
          </div>
          <span class="mob-nav-icon-text">Research</span>
        </a>
      </section>

      <section class="col text-center my-auto">
        <a href="/people" class="mob-nav-link {{ mobileActiveRoute(activeRoute, 'people') }}">
          <div class="icon-container">
            <i class="fas fa-users mob-nav-icon"></i>
          </div>
          <span class="mob-nav-icon-text">People</span>
        </a>
      </section>

      <section class="col text-center my-auto">
        <a href="/tools" class="mob-nav-link {{ mobileActiveRoute(activeRoute, 'tools') }}">
          <div class="icon-container">
            <i class="fas fa-hammer mob-nav-icon"></i>
          </div>
          <span class="mob-nav-icon-text">Tools</span>
        </a>
      </section>

      <section class="col text-center my-auto">
        <a href="/news" class="mob-nav-link {{ mobileActiveRoute(activeRoute, 'news') }}">
          <div class="icon-container">
            <i class="fas fa-newspaper mob-nav-icon"></i>
          </div>
          <span class="mob-nav-icon-text">News</span>
        </a>
      </section>
    </div>
  </article>
</nav>
