<nav class="navbar navbar-white navbar-kawsa navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a style="text-decoration:none" class="navbar-brand" href="index.html"><img alt="" class="img-responsive" src="assets/img/red_logo.png">
            </a>
            <div class="logo_text1" style="line-height: 0.5; margin-left: 85px; padding-top: 28px; font-size: 24px;  width: 310px;  ">KAABiL</div>

            <div class="vl ">
            <div class="logo_text" style="line-height: 1; padding-top: 4px; color:#044f9f ; font-size: 12px; font-weight: normal; width: 310px;  font-style: normal; "><b style="color: #9d164f;">K</b>aundal <b style="color: #9d164f;">A</b>rtificial
                intelligence <br> &
                <b style="color: #9d164f;">A</b>dvanced <b style="color: #9d164f;">Bi</b>oinformatics <b style="color: #9d164f;">L</b>ab</div>
            </div>
        </div>
        <div class="navbar-collapse collapse sabbi-navbar-collapse  navbar-nav-hov_underline" id="navbar">
            <div class="nav-btn-wrap btn-group  pull-right">
              <a class="navbar-button" target="_blank" rel="noopener noreferrer" href="http://bioinfo.usu.edu/covidTracker/">
                Covid 19 Tracker
              </a>
              <a class="navbar-button" href="#enroll">
                Join Research
              </a>
              </div>                <ul class="nav navbar-nav navbar-right" id="menu-main-nav">
                <li>
                    <a href="index.html" title="Home">Home</a>
                </li>
                <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="#" title="Events"
                            data-animations="zoomIn">Research <span class="caret"></span></a>
                        <ul class=" dropdown-menu" role="menu">
                            <li>
                                <a href="lab_research.html" title="Books">Research Page</a>
                            </li>
                            <li  class="">
                                <a href="research_single.html?research=ai" title="Journal Articles">Research Single Page</a>
                            </li>
                        </ul>
                </li>
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="People"  data-hover="dropdown" data-animations="zoomIn">People <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="professor.html" title="Dr Rushmore">Dr. Rakesh Kaundal</a>
                        </li>
                        <li class="active">
                            <a href="ourteam.html" title="Our Team">Our Team</a>
                        </li>
                        <li class="">
                            <a href="alumni.html" title="Our Team">Alumni</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"  data-hover="dropdown" href="#" title="Publications" data-animations="zoomIn">Publications <span class="caret"></span></a>
                    <ul class=" dropdown-menu" role="menu">
                            <li>
                                    <a href="lab_journal.html" title="Journal Articles">Journal Articles</a>
                                </li>
                                <li>
                                    <a href="lab_conf-talk.html" title="Conferences and Talks">Conferences and Talks</a>
                                </li>
                        <!-- <li>
                            <a href="lab_book.html" title="Books">Books</a>
                        </li> -->

                    </ul>
                </li>
                <li class="dropdown">
                        <a href="events.html" class="dropdown-toggle"   data-hover="dropdown" title="Tools" data-animations="zoomIn">Tools<span class="caret"></span></a>
                        <ul class=" dropdown-menu" role="menu">
                            <li>
                                <a href="http://bioinfo.usu.edu/deepHPI/" target="_blank"
                                    title="deepHPI">deepHPI</a>
                            </li>
                            <li>
                                <a href="http://bioinfo.usu.edu/NECminer/" target="_blank"
                                    title="NECminer">NECminer</a>
                            </li>
                            <li>
                                <a href="http://bioinfo.usu.edu/PredHPI/" target="_blank"
                                    title="PredHPI">PredHPI</a>
                            </li>
                            <li>
                                <a href="http://bioinfo.usu.edu/GreeningDB/" target="_blank"
                                    title="GreeningDB">GreeningDB</a>
                            </li>
                            <li>
                                <a href="http://bioinfo.usu.edu/citSATdb/" target="_blank"
                                    title="citSATdb">citSATdb</a>
                            </li>
                            <li>
                                <a href="http://bioinfo.usu.edu/rtools/Plant-mSubP/" target="_blank"
                                    title="Plant-mSubP">Plant-mSubP</a>
                            </li>
                            <li>
                                <a href="http://bioinfo.usu.edu/lacsubpred" target="_blank"
                                    title="LacSubPred">LacSubPred</a>
                            </li>
                            <li>
                                <a href="http://bioinfo.usu.edu/ligpred" target="_blank" title="LigPred">LigPred</a>
                            </li>
                            <li>
                                <a href="http://bioinfo.usu.edu/AP-iNET" target="_blank" title="Ap-iNet">AP-iNET</a>
                            </li>
                            <li>
                                <a href="http://bioinfo3.noble.org/AtSubP/" target="_blank"
                                    title="AtSubP">AtSubP</a>
                            </li>
                             <li>
                                <a href="http://bioinfo.usu.edu/PLpred/" target="_blank" title="PLpred">PLpred</a>
                            </li>
                            <li>
                                <a href="http://www.imtech.res.in/raghava/rslpred/" target="_blank"
                                    title="RSLpred">RSLpred</a>
                            </li>
                            <li>
                                <a href="http://www.imtech.res.in/raghava/rbpred/" target="_blank"
                                    title="RB-Pred">RB-Pred</a>
                            </li>
                            <li>
                                <a href="http://bioinfo.usu.edu/legumeSSRdb/" target="_blank"
                                    title="deepHPI">legumeSSRdb</a>
                            </li>
                        </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"  data-hover="dropdown" href="#" title="Events" data-animations="zoomIn">Events <span class="caret"></span></a>
                    <ul class=" dropdown-menu" role="menu">
                        <li>
                            <a href="lab_events.html" title="Books">Events Page</a>
                        </li>
                        <li>
                            <a href="events_single.html?event=psc" title="Journal Articles">Events Single Page</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="future_member.html" title="Future Member">Contact</a>
                </li>
                <li class="">
                    <a href="news.html" title="News">News</a>
                </li>
            </ul>
        </div>
    <!-- </div> -->
</nav>
