{% from "universal/navbar-active-route.njk" import activeRoute, activeSubroute, currentRoute %}

{% macro navbar(activePage="", activeSubpage="") %}

<nav class="navbar navbar-expand-md fixed-top shadow-md d-none d-lg-block">
  <article class="container-fluid px-3">
    <section class="row px-5 w-100 mb-1">

      <div class="col-3 ps-5">
        <a class="navbar-brand d-inline" href="/">
          <img src="/assets/img/kbllogo.png">
        </a>
      </div>

      <div class="col-9 mt-auto pe-5">

        <section class="row pb-4">
          <div class="col-12 text-end">
            <a class="kbl-btn-1" target="_blank" rel="noopener noreferrer" href="http://bioinfo.usu.edu/covidTracker/">
                Covid 19 Tracker
            </a>
            <a class="kbl-btn-1 ms-2" href="/contact">
                Contact
            </a>
          </div>
        </section>

        <section class="row">
          <div class="col-12 text-end">
            {% from "./_navbar-options.njk" import navOptions, calcDropdown, anchorGenBS4, toolAnchorGenBS4, genHeaderLink %}

            {% from "./_navbar-options.njk" import genHeaderAnchor, dropdownAnchorGen, dropdownAnchorTitleGen %}
            {% for option in navOptions %}
              <span class="col {{ calcDropdown(option.options) }} {{ currentRoute(option.name, activePage) }}">
                {{ genHeaderAnchor(option) }}

                {% if option.options %}
                  <ul class="dropdown-menu nav-dropdown mt-2">
                    {% for suboption in option.options %}
                      {{ dropdownAnchorGen(suboption) }}
                    {% endfor %}
                  </ul>
                {% endif %}
              </span>
            {% endfor %}

          </div>
        </section>

      </div>

    </section>
  </article>
</nav>
<div class="nav-spacer d-none d-lg-block"></div>
{% endmacro %}
