{% set home = { name: "Home", options: [], link: "/" } %}

{% set research = {
  name: "Research",
  options: [
    {name: "Research Areas", link: "/research/research-areas"}
  ],
  link: "/research"
  }
%}

{% set people = {
  name: "People",
  options: [
    {name: "Dr. Rakesh Kaundal", link: "/people/rakesh"},
    {name: "Our Team", link: "/people/our-team"},
    {name: "Alumni", link: "/people/alumni"}
  ],
  link: "/people"
  }
%}

{% set publications = {
  name: "Publications",
  options: [
    {name: "Conferences and Talks", link: "/publications/conferences"}
  ],
  link: "publications"
  }
%}

{% set tools = {
  name: "Tools",
  options: [
    {name: "Host-Pathogen Interactions", link: "/tools#hpi"},
    {name: "Cellular Localization Prediction", link: "/tools#cellularloc"},
    {name: "Metagenomics", link: "/tools#metagenomics"},
    {name: "Databases", link: "/tools#db"},
    {name: "Bioenergy", link: "/tools#bionrg"},
    {name: "Miscellaneous", link: "/tools#misc"}
  ],
  link: "/tools"
  }
%}

{% set events = { name: "Events", options: [], link: "/events" } %}
{% set contact = { name: "Contact", options: [], link: "/contact" } %}
{% set news = { name: "News", options: [], link: "/news" } %}

{% set navOptions = [home, research, people, publications, tools, events, news] %}

{% macro calcDropdown(array) %}
  {% if array.length %}
    dropdown
  {% endif %}
{% endmacro %}

{% set headers = ["Tools", "People", "Research", "Publications"] %}

{% macro genHeaderLink(title="", link="") %}
  {% if headers.includes(title) %}
    <a href="{{ link }}" class="dropdown-item"><h4 class="dropdown-header">{{ title }}</h4></a>
  {% endif %}
{% endmacro %}

{% macro anchorGenBS4(name, array, link) %}
  {% if array.length %}
    <a class="dropdown-toggle bs4 nav-option" data-bs-toggle="dropdown" data-hover="dropdown" href="#" title="{{ name }}" data-animations="zoomIn">
      {{ name }} <span class="caret"></span>
    </a>
  {% else %}
    <a href="{{ link }}" title="{{ name }}" class="bs4 nav-option">{{ name }}</a>
  {% endif %}
{% endmacro %}

{% macro anchorGenBS4Small(name, array, link) %}
  {% if array.length %}
    <a class="dropdown-toggle bs4 nav-option pb-0" data-bs-toggle="dropdown" data-hover="dropdown" href="{{ link }}" title="{{ name }}" data-animations="zoomIn">
      {{ name }} <span class="caret"></span>
    </a>
  {% else %}
    <a href="{{ link }}" title="{{ name }}" class="bs4 nav-option pb-0">{{ name }}</a>
  {% endif %}
{% endmacro %}

{% macro toolAnchorGenBS4(name, link, topLevelName, extraClasses="") %}
  {% if topLevelName === "Tools" %}
    <a href="{{ link }}" title="{{ name }}" class="bs4 nav-suboption {{ extraClasses }}">{{ name }}</a>
  {% else %}
    <a href="{{ link }}" title="{{ name }}" class="bs4 nav-suboption {{ extraClasses }}">{{ name }}</a>
  {% endif %}
{% endmacro %}

<!-- Bootstrap 5...ugh -->

{% macro genHeaderAnchor(option) %}
  {% if option.options.length %}
    <a class="dropdown-toggle nav-option" data-bs-toggle="dropdown" href="#" title="{{ option.name }}" id="dropdownMenuLink" data-offset="40, 20">
      {{ option.name }}
    </a>
  {% else %}
    <a class="nav-option" href="{{ option.link }}" title="{{ option.name }}">
      {{ option.name }}
    </a>
  {% endif %}
{% endmacro %}

{% macro dropdownAnchorGen(option) %}
  <li>
    <a class="dropdown-item nav-suboption" href="{{ option.link }}">{{ option.name }}</a>
  </li>
{% endmacro %}

{% macro dropdownAnchorTitleGen(option) %}
  <li>
    <a class="dropdown-item nav-suboption title" href="{{ option.link }}">{{ option.name }}</a>
  </li>
{% endmacro %}
