{% from "universal/navbar-active-route.njk" import activeRoute, activeSubroute, currentRoute %}

{% macro navbarSmall(activePage="", activeSubpage="") %}

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow-md bs4 d-xl-none px-0 px-sm-2" style="background: #fff!important;">
  <article class="container-fluid">
    <section class="row w-100 mb-1">

      <div class="col-sm-5 d-none d-sm-block ps-5">
        <a class="navbar-brand d-inline" href="/">
          <img src="{{ RaikouServer }}/image/bioinfo/kbllogo.png" alt="Kaabil Logo: Kaundal Artificial intelligence & Advanced Bioinformatics Lab.">
        </a>
      </div>

      <div class="col-12 col-sm-7 text-sm-right text-center px-0 my-auto">
        <button class="navbar-toggler d-inline d-sm-none ms-3" type="button" data-bs-toggle="collapse" data-target="#hiddenNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="kbl-btn-1" target="_blank" rel="noopener noreferrer" href="http://bioinfo.usu.edu/covidTracker/">
            Covid 19 Tracker
        </a>
        <a class="kbl-btn-1 ms-2" href="/contact">
            Contact
        </a>
      </div>

      <div class="col-12 mt-auto d-none d-md-block">
        <section class="row">
          <div class="col-12 text-end">
            {% from "./_navbar-options.njk" import navOptions, calcDropdown, anchorGenBS4, toolAnchorGenBS4, genHeaderLink %}

            {% for option in navOptions %}
              <span class="bs4 col {{ calcDropdown(option.options)}} {{ currentRoute(option.name, activePage) }}">
                  {{ anchorGenBS4(option.name, option.options, option.link) }}
                  {% if option.options %}
                  <div class="dropdown-menu bs4 nav-dropdown mt-2">
                    {{ genHeaderLink(option.name, option.link) }}
                    {% for subOption in option.options %}
                     {{ toolAnchorGenBS4(subOption.name, subOption.link, option.name, "dropdown-item nav-dropdown-item py-2 {{ activeSubroute(subOption.name, activeSubpage) }}") }}
                    {% endfor %}
                  </div>
                  {% endif %}
              </span>
            {% endfor %}
          </div>
        </section>
      </div>

      {% from "./_navbar-options.njk" import anchorGenBS4Small %}
      <div class="collapse" id="hiddenNav">
        <div class="col-12 mt-auto">
          {% for option in navOptions %}
            <section class="row py-1">
              <span class="bs4 col ms-2 {{ calcDropdown(option.options)}} {{ currentRoute(option.name, activePage) }}">
                  {{ anchorGenBS4Small(option.name, option.options, option.link) }}
                  {% if option.options %}
                  <div class="dropdown-menu bs4 nav-dropdown mt-2">
                    {{ genHeaderLink(option.name, option.link) }}
                    {% for subOption in option.options %}
                     {{ toolAnchorGenBS4(subOption.name, subOption.link, option.name, "dropdown-item nav-dropdown-item py-2 {{ activeSubroute(subOption.name, activeSubpage) }}") }}
                    {% endfor %}
                  </div>
                  {% endif %}
              </span>
            </section>
          {% endfor %}
        </div>
      </div>

    </section>

    <button class="navbar-toggler d-none d-sm-block d-md-none" type="button" data-bs-toggle="collapse" data-target="#hiddenNav">
      <span class="navbar-toggler-icon"></span>
    </button>
  </article>
</nav>
{% endmacro %}
