<p class="event-desc">
  Event details: The researchers of KAABiL group delivered talks on computational biology and machine learning-based research at the Tri-Societies Meetings in 
  Salt Lake City. Raghav Kataria presented his work on prediction of host-pathogen protein-protein interactions using computational approaches in different 
  systems: (i) Alfalfa-Bacterial stem blight, and (ii) Wheat-Common bunt. Naveen Duhan gave talks on DeepNEC (a Deep Learning-based platform for the 
  prediction and classification of Nitrogen metabolism related enzymes), and PySeqRNA (a python package for RNA-Seq analysis).
  <br>
  Andrew presented his work on "DeepAugment": a method to generate training images using deep neural networks to detect weeds.
</p>
