<p class="blog">
Colin is a Computer Engineering BS student who has recently started as the KAABiL HPC System Administrator. 
He will help to ensure that the high-performance computer cluster at the KAABiL lab works properly. 
He also helps maintain the website and helps install the software you can use on the HPC. If you are experiencing any problems with the site or the HPC, let him know.
</p>