<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<!--I can write -->
{% from "universal/_header.njk" import header %}
{{ header("alumni") }}

<body class="auth-theme-rashmore">
  {% from "universal/_navbar.njk" import navbar %}
  {{ navbar("People", "Alumni") }}

  <header class="sabbi-page-header-classic sabbi-page-header-team page-header-lg">
      <div class="page-header-content conternt-center">
          <div class="header-title-block">
              <h1 class="page-title">Alumni</h1>
          </div>
      </div>
  </header>
  <div class="auth-breadcrumb-wrap">
      <div class="container">
          <ol class="breadcrumb sabbi-breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li class="active"><a href="#">Alumni</a></li>
              <!-- <li class="active">People</li> -->
          </ol>
      </div>
  </div><!-- /.auth-breadcrumb-wrap -->
  <main class="sabbi-page-wrap">
      <div class="container">

          <div class="our_team-profile-card__holder blue">
                 <!-- Modal -->
           <div id="myModal" class="modal fade " role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content modal-shadow">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="titleLarson" style="display: none;">Rousselene B. Larson</h4>
                        <h4 class="modal-title" id="titleZhang" style="display: none;">Kaige Zhang</h4>
                        <h4 class="modal-title" id="titleCristian" style="display: none;">Cristian Orduz</h4>
                        <h4 class="modal-title" id="titleDuhan" style="display: none;">Naveen Duhan</h4>
                        <h4 class="modal-title" id="titleSuyash" style="display: none;">Suyash Mhetre</h4>
                        <h4 class="modal-title" id="titleNikhil" style="display: none;">Nikhil Sai</h4>
                        <h4 class="modal-title" id="titleMatthew" style="display: none;">Matthew Lister</h4>
                        <h4 class="modal-title" id="titleShelby" style="display: none;">Shelby Mccowan</h4>
                        <h4 class="modal-title" id="titleAxat" style="display: none;">Axat Kumar</h4>
                        <h4 class="modal-title" id="titleUdarika" style="display: none;">Udarika Ediriweera</h4>
                        <h4 class="modal-title" id="titleRaul" style="display: none;">Raul Ramirez</h4>
                        <h4 class="modal-title" id="titleCaleb" style="display: none;">Caleb Smith</h4>

                        <div class="fig-title-des modalsubtitle" style="display: none;" id="subTitleLarson">Bioinformatic Scientist</div>
                        <div class="fig-title-des modalsubtitle" style="display: none;" id="subtitleZhang">Ph.D. Research Assistant | CS</div>
                        <div class="fig-title-des modalsubtitle" style="display: none;" id="subtitleCristian">MS Student | PSC</div>
                        <div class="fig-title-des modalsubtitle" style="display: none;" id="subtitleDuhan">MS Student | PSC</div>
                        <div class="fig-title-des modalsubtitle" style="display: none;" id="subtitleSuyash">MS Student | MIS</div>
                        <div class="fig-title-des modalsubtitle" style="display: none;" id="subtitleNikhil">MS Student | CS</div>
                        <div class="fig-title-des modalsubtitle" style="display: none;" id="subtitleMatthew">HPC administrator | CS</div>
                        <div class="fig-title-des modalsubtitle" style="display: none;" id="subtitleShelby">HPC administrator</div>
                        <div class="fig-title-des modalsubtitle" style="display: none;" id="subtitleAxat">MS Student | CS</div>
                        <div class="fig-title-des modalsubtitle" style="display: none;" id="subtitleUdarika"></div>
                        <div class="fig-title-des modalsubtitle" style="display: none;" id="subtitleRaul"></div>
                        <div class="fig-title-des modalsubtitle" style="display: none;" id="subtitleCaleb"></div>
                      </div>
                      <div class="modal-body">
                              <div class="row">
                                      <div class="col-md-4 col-sm-6">
                                          <figure>
                                                  <img class="img-responsive detailsCard" style="width: 210px; height:210px" src="" alt="sabbi-profile-pic">
                                          </figure>
                                      </div>
                                      <div >
                                          <p id="AboutLarson" class="teamcontent" style="display: none;" >
                                              Rousselene Larson,is a researcher at Utah State University with the expertise in
                                              Bioinfomatics.She works collaboratively with inter-disciplinary scholars to
                                              comprehend research objectives and provide informatics solutions to  projects
                                              involving NGS data analysis.She is highly proficient in Unix/Linux shell
                                              scripting, R,python,Perl & range of bioinformatics tools/packages.Her Sequence analysis comprises of Genome Assembly, RNA-seq,
                                              Bisulfite_seq, and SNP analysis.
                                          </p>
                                          <p id="AboutZhang" class="teamcontent" style="display: none;">
                                              Kaige Zhang is a research associate at The Center for Integrated BioSystems.
                                              He received his Ph.D. degree in computer science with Utah State University in 2019,
                                              the B.S. degree in electronic engineering from Harbin Institute of Technology, China, in 2011,
                                              and M.S. degree in signal and information processing from Harbin Engineering University, China,
                                              in 2014. His research interests include computer vision, ML, and their applications
                                               in intelligent transportation systems and smart agricultural systems.
                                          </p>
                                          <p id="AboutCristian" class="teamcontent" style="display: none;">
                                                  Cristian is a plant science MS student from Colombia.
                                                  After completing his BS (Computer Science: Universidad del Valle; Cali, Colombia),
                                                  he worked as a Research Assistant at CIAT(CGIAR) and the Colombian Sugarcane Research
                                                  Center before joining the Kaundal Bioinformatics Laboratory. After his graduation,
                                                  he plans to go back to Colombia to join his family, then pursue a Ph.D. degree to become
                                                  a Professor.
                                          </p>
                                          <p id="AboutDuhan" class="teamcontent" style="display: none;">

                                          </p>
                                          <p id="AboutSuyash" class="teamcontent" style="display: none;">

                                          </p>
                                          <p id="AboutNikhil" class="teamcontent" style="display: none;">
                                                  Nikhil is a computer science graduate student at USU. His bachelor's degree is in
                                                  Information technology from Osmania University, India. His research focus is in Bioinformatics.
                                                  While, he is currently working on Deep learning, developing prediction models for subcellular localization
                                                  in Human and Arabidopsis genome and creating SSR prediction database. He is also actively studying Algorithms
                                                  and event driven programming.

                                          </p>
                                          <p id="AboutMatthew" class="teamcontent" style="display: none;">
                                                  Matthew is the systems administrator to the high performance cluster for the bioinformatics group.
                                                  A passionate Linux enthusiast, his work includes bioinformatics programming and teaching Linux to new users.
                                                  Matthew is starting an MS in computer science this spring and hopes to add an MS statistics to his
                                                  plan of study.
                                          </p>
                                          <p id="AboutUdarika" class="teamcontent" style="display: none;">

                                          </p>
                                          <p id="AboutRaul" class="teamcontent" style="display: none;">

                                          </p>
                                          <p id="AboutCaleb" class="teamcontent" style="display: none;">

                                          </p>
                                          <p id="AboutShelby" class="teamcontent" style="display: none;">
                                            Shelby is a Biochemistry major who aspires to go into software engineering. He has worked with mobile apps,
                                            websites (including the front and back end), and desktop applications. He is a percussionist in his spare time.
                                          </p>
                                          <p id="AboutAxat" class="teamcontent" style="display: none;">

                                          </p>
                                      </div>
                              </div>
                      </div>
                      <div class="modal-footer">
                             <p id="LarsonEmail" class="teamemail" style="display: none; text-align: left;" >rousselene.larson@usu.edu</p>
                             <p id="ZhangEmail" class="teamemail" style="display: none; text-align: left;" >kg.zhang@aggiemail.usu.edu</p>
                             <p id="OrduzEmail" class="teamemail" style="display: none; text-align: left;" >cdloaiza@aggiemail.usu.edu</p>
                             <p id="DuhanEmail" class="teamemail" style="display: none; text-align: left;" >naveen.duhan@usu.edu</p>
                             <p id="MhetreEmail" class="teamemail" style="display: none; text-align: left;" >suyash.mhetre@aggiemail.usu.edu</p>
                             <p id="NikhilEmail" class="teamemail" style="display: none; text-align: left;" >nikhil.sai.kurivella@aggiemail.usu.edu</p>
                             <p id="ListerEmail" class="teamemail" style="display: none; text-align: left;" >matthew.lister@aggiemail.usu.edu</p>
                             <p id="ShelbyEmail" class="teamemail" style="display: none; text-align: left;" >itsme@shelbymccowan.com</p>
                             <p id="AxatEmail" class="teamemail" style="display: none; text-align: left;" >k.akshat@aggiemail.usu.edu</p>
                             <p id="UdarikaEmail" class="teamemail" style="display: none; text-align: left;" ></p>
                             <p id="RaulEmail" class="teamemail" style="display: none; text-align: left;" ></p>
                             <p id="CalebEmail" class="teamemail" style="display: none; text-align: left;" ></p>
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                      </div>
                    </div>

                  </div>
                </div>
              <div class="title-card team-classification">
                  Alumni (Utah State University)
              </div>
              <div class="row" style="padding-top: 20px;">
              <div class="col-sm-8 col-md-3 zoom">
                      <div class="profile-card profile-card-meta_classic ">
                          <figure class="article-container">
                              <img class="img-responsive" id="Udarika" src="assets/img/profile/UDARIKA-EDIRIWEERA.jpg" style="width: 210px; height: 210px" alt="sabbi-profile-pic">
                              <figcaption>
                                  <h3 class="fig-title">Udarika Ediriweera</h3>
                                  <div class="middle">
                                          <button id="modalbtn" onclick="openAboutModal(event,'Udarika','AboutUdarika','titleUdarika','subtitleUdarika','UdarikaEmail')" style=" background: transparent; border: none !important;">
                                            <div class="text">About</div>
                                          </button>
                                      </div>
                                  <div class="fig-title-des"></div>
                                  <!-- <div class="fig-meta">
                                      <p class="fig-cal"><strong>Call:</strong> <span>+61(07)373 53921</span></p>
                                      <p class="fig-mail"><strong>Email:</strong> <span>nam-trung.nguyenEmailgriffith.edu.au</span></p>
                                  </div> -->
                              </figcaption>
                          </figure>
                          <div class="profile-card-meta" >
                                  <ul class="pfofile-social list-unstyled list-inline">
                                      <li><a href="#"> <img src="assets/img/profile/social/gs.png"  style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/id.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/fb.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/tw.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                  </ul>
                              </div>
                      </div><!-- /.profile-card  .profile-card-meta_classic -->
              </div>
              <div class="col-sm-8 col-md-3 zoom">
                      <div class="profile-card profile-card-meta_classic ">
                          <figure class="article-container">
                              <img class="img-responsive" id="Raul" src="assets/img/profile/profile_pic.jpeg" style="width: 210px; height: 210px" alt="sabbi-profile-pic">
                              <figcaption>
                                  <h3 class="fig-title">Raul Ramirez</h3>
                                  <div class="middle">
                                          <button id="modalbtn" onclick="openAboutModal(event,'Raul','AboutRaul','titleRaul','subtitleRaul','RaulEmail')" style=" background: transparent; border: none !important;">
                                            <div class="text">About</div>
                                          </button>
                                      </div>
                                  <div class="fig-title-des"></div>
                                  <!-- <div class="fig-meta">
                                      <p class="fig-cal"><strong>Call:</strong> <span>+61(07)373 53921</span></p>
                                      <p class="fig-mail"><strong>Email:</strong> <span>nam-trung.nguyenEmailgriffith.edu.au</span></p>
                                  </div> -->
                              </figcaption>
                          </figure>
                          <div class="profile-card-meta" >
                                  <ul class="pfofile-social list-unstyled list-inline">
                                      <li><a href="#"> <img src="assets/img/profile/social/gs.png"  style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/id.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/fb.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/tw.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                  </ul>
                              </div>
                      </div><!-- /.profile-card  .profile-card-meta_classic -->
              </div>
              <div class="col-sm-8 col-md-3 zoom">
                      <div class="profile-card profile-card-meta_classic ">
                          <figure class="article-container">
                              <img class="img-responsive" id="Caleb" src="assets/img/profile/profile_pic.jpeg" style="width: 210px; height: 210px" alt="sabbi-profile-pic">
                              <figcaption>
                                  <h3 class="fig-title">Caleb Smith</h3>
                                  <div class="middle">
                                          <button id="modalbtn" onclick="openAboutModal(event,'Caleb','AboutCaleb','titleCaleb','subtitleCaleb','CalebEmail')" style=" background: transparent; border: none !important;">
                                            <div class="text">About</div>
                                          </button>
                                      </div>
                                  <div class="fig-title-des"></div>
                                  <!-- <div class="fig-meta">
                                      <p class="fig-cal"><strong>Call:</strong> <span>+61(07)373 53921</span></p>
                                      <p class="fig-mail"><strong>Email:</strong> <span>nam-trung.nguyenEmailgriffith.edu.au</span></p>
                                  </div> -->
                              </figcaption>
                          </figure>
                          <div class="profile-card-meta" >
                                  <ul class="pfofile-social list-unstyled list-inline">
                                      <li><a href="#"> <img src="assets/img/profile/social/gs.png"  style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/id.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/fb.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/tw.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                  </ul>
                              </div>
                      </div><!-- /.profile-card  .profile-card-meta_classic -->
              </div>
              </div>
              <div class="title-card team-classification">
                  Alumni (Oklahoma State University)
              </div>
              <div class="row" style="padding-top: 20px;">
              <div class="col-sm-8 col-md-3 zoom">
                      <div class="profile-card profile-card-meta_classic ">
                          <figure class="article-container">
                              <img class="img-responsive" id="Udarika" src="assets/img/profile/UDARIKA-EDIRIWEERA.jpg" style="width: 210px; height: 210px" alt="sabbi-profile-pic">
                              <figcaption>
                                  <h3 class="fig-title">Udarika Ediriweera</h3>
                                  <div class="middle">
                                          <button id="modalbtn" onclick="openAboutModal(event,'Udarika','AboutUdarika','titleUdarika','subtitleUdarika','UdarikaEmail')" style=" background: transparent; border: none !important;">
                                            <div class="text">About</div>
                                          </button>
                                      </div>
                                  <div class="fig-title-des"></div>
                                  <!-- <div class="fig-meta">
                                      <p class="fig-cal"><strong>Call:</strong> <span>+61(07)373 53921</span></p>
                                      <p class="fig-mail"><strong>Email:</strong> <span>nam-trung.nguyenEmailgriffith.edu.au</span></p>
                                  </div> -->
                              </figcaption>
                          </figure>
                          <div class="profile-card-meta" >
                                  <ul class="pfofile-social list-unstyled list-inline">
                                      <li><a href="#"> <img src="assets/img/profile/social/gs.png"  style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/id.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/fb.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/tw.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                  </ul>
                              </div>
                      </div><!-- /.profile-card  .profile-card-meta_classic -->
              </div>
              <div class="col-sm-8 col-md-3 zoom">
                      <div class="profile-card profile-card-meta_classic ">
                          <figure class="article-container">
                              <img class="img-responsive" id="Raul" src="assets/img/profile/profile_pic.jpeg" style="width: 210px; height: 210px" alt="sabbi-profile-pic">
                              <figcaption>
                                  <h3 class="fig-title">Raul Ramirez</h3>
                                  <div class="middle">
                                          <button id="modalbtn" onclick="openAboutModal(event,'Raul','AboutRaul','titleRaul','subtitleRaul','RaulEmail')" style=" background: transparent; border: none !important;">
                                            <div class="text">About</div>
                                          </button>
                                      </div>
                                  <div class="fig-title-des"></div>
                                  <!-- <div class="fig-meta">
                                      <p class="fig-cal"><strong>Call:</strong> <span>+61(07)373 53921</span></p>
                                      <p class="fig-mail"><strong>Email:</strong> <span>nam-trung.nguyenEmailgriffith.edu.au</span></p>
                                  </div> -->
                              </figcaption>
                          </figure>
                          <div class="profile-card-meta" >
                                  <ul class="pfofile-social list-unstyled list-inline">
                                      <li><a href="#"> <img src="assets/img/profile/social/gs.png"  style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/id.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/fb.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/tw.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                  </ul>
                              </div>
                      </div><!-- /.profile-card  .profile-card-meta_classic -->
              </div>
              <div class="col-sm-8 col-md-3 zoom">
                      <div class="profile-card profile-card-meta_classic ">
                          <figure class="article-container">
                              <img class="img-responsive" id="Caleb" src="assets/img/profile/profile_pic.jpeg" style="width: 210px; height: 210px" alt="sabbi-profile-pic">
                              <figcaption>
                                  <h3 class="fig-title">Caleb Smith</h3>
                                  <div class="middle">
                                          <button id="modalbtn" onclick="openAboutModal(event,'Caleb','AboutCaleb','titleCaleb','subtitleCaleb','CalebEmail')" style=" background: transparent; border: none !important;">
                                            <div class="text">About</div>
                                          </button>
                                      </div>
                                  <div class="fig-title-des"></div>
                                  <!-- <div class="fig-meta">
                                      <p class="fig-cal"><strong>Call:</strong> <span>+61(07)373 53921</span></p>
                                      <p class="fig-mail"><strong>Email:</strong> <span>nam-trung.nguyenEmailgriffith.edu.au</span></p>
                                  </div> -->
                              </figcaption>
                          </figure>
                          <div class="profile-card-meta" >
                                  <ul class="pfofile-social list-unstyled list-inline">
                                      <li><a href="#"> <img src="assets/img/profile/social/gs.png"  style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/id.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/fb.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                      <li><a href="#"> <img src="assets/img/profile/social/tw.png" style="height: 20px; width: 20px;" alt="sabbi-social" class="img-responsive"></a></li>
                                  </ul>
                              </div>
                      </div><!-- /.profile-card  .profile-card-meta_classic -->
              </div>
              </div>
          </div>
      </div>
  </main>

  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts() }}
</body>

</html>
