<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<!--I can write -->
{% from "universal/_header.njk" import header %}
{{ header("lab_research") }}

<body class="auth-theme-rashmore">
  {% from "universal/_navbar.njk" import navbar %}
  {{ navbar("Research", "Lab Research") }}

  <header class="sabbi-page-header-classic3 sabbi-page-header-team page-header-lg">
      <div class="page-header-content conternt-center">
          <div class="header-title-block">
              <h1 class="page-title">Research</h1>
          </div>
      </div>
  </header>
  <div class="auth-breadcrumb-wrap">
      <div class="container">
          <ol class="sabbi-breadcrumb breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li class="active">Lab Research</li>
          </ol>
      </div>
  </div><!-- /.auth-breadcrumb-wrap -->
  <main class="sabbi-page-wrap">
      <div class="container">
          <section class="page-appellation">
              <div class="row">
                  <!-- <div class="col-sm-5">
                              <h1>COMING SOON</h1>
                              <hr>
                              <p id="demo" style="font-size:30px"></p>
                      </div> -->
                  <div class="col-sm-5 col-md-4">
                      <div class="page_piky-title">
                          <h2 class="page-title font-md lil-line">Dr. Kaundal's research: <i>information to inference</i> in OMICS data science</h2>
                      </div>
                  </div>
                  <div class="col-sm-7 col-md-7 col-md-offset-1">
                      <p class="page_piky-text">Biological data are accumulating faster than people’s capacity to analyze them. Our research interests and goals revolve
                      around mitigating these bigdata issues in the context of “<i>information to inference</i>” scope. At USU, Dr. Kaundal has developed an <b>independent</b> and <b>collaborative</b>
                      research program in bioinformatics, primarily focusing on computational mining of large multi-dimensional -<i>omics</i> datasets, and computational modeling using
                      supervised (Machine Learning) and unsupervised (Bayesian-based) learning. Our group is actively developing novel tools and software to apply the gained knowledge
                      towards organismal improvement. Research in KAABiL laboratory generally falls under the following major program objectives:</p>
                  </div>
              </div>
          </section>
          <section class="icon-card-segment">
              <div class="row home-info-block-first">
                  <div class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel"
                      data-interval="100">
                      <div class="MultiCarousel-inner" id="content">

                          <div class="col-md-3 col-sm-6 item">
                              <div class="pad15">
                                  <article class="sabbi-thumlinepost-card solitude-bg__x">
                                      <figure class="sabbi-thumlinepost-card-figure">
                                          <img src="assets/img/AI-processor-LowRes-v1.jpg" alt=""
                                              class="img-responsive img-thumpost">
                                      </figure>
                                      <div class="sabbi-thumlinepost-card-meta">
                                          <h2 class="meta-title ht-5" style="text-align: left;">Artificial
                                              Intelligence:
                                              OMICS bigdata to novel biological discoveries</h2>
                                          <p class="meta-text">Computational modeling through <i>pattern
                                                  recognition</i>,
                                              develop novel algorithms and...</p>
                                          <a href="research_single.html?research=ai" class="btn btn-unsolemn btn-action read-more">Read More</a>
                                      </div>
                                  </article>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6 item">
                              <div class="pad15">
                                  <article class="sabbi-thumlinepost-card solitude-bg__x">
                                      <figure class="sabbi-thumlinepost-card-figure">
                                          <img src="assets/img/hpis_Resized.gif" alt=""
                                              class="img-responsive img-thumpost">
                                      </figure>
                                      <div class="sabbi-thumlinepost-card-meta">
                                          <h2 class="meta-title ht-5" style="text-align: left;">Host-pathogen
                                              interactions: Understanding mechanisms of infectious diseases</h2>
                                          <p class="meta-text">Explore cross-kingdom threats and identify novel
                                              therapeutic candidates...</p>
                                          <a href="research_single.html?research=hpi" class="btn btn-unsolemn btn-action read-more">Read More</a>
                                      </div>
                                  </article>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6 item">
                              <div class="pad15">
                                  <article class="sabbi-thumlinepost-card solitude-bg__x">
                                      <figure class="sabbi-thumlinepost-card-figure">
                                          <img src="assets/img/functionalbg_resized.png" alt=""
                                              class="img-responsive img-thumpost">
                                      </figure>
                                      <div class="sabbi-thumlinepost-card-meta">
                                          <h2 class="meta-title ht-5" style="text-align: left;">Protein function
                                              prediction: Annotation of novel proteomes</h2>
                                          <p class="meta-text">Identify novel protein features, train in an AI
                                              framework,
                                              implement as web servers... </p>
                                          <a href="research_single.html?research=protein" class="btn btn-unsolemn btn-action read-more">Read More</a>
                                      </div>
                                  </article>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6 item">
                              <div class="pad15">
                                  <article class="sabbi-thumlinepost-card solitude-bg__x">
                                      <figure class="sabbi-thumlinepost-card-figure">
                                          <img src="assets/img/meta_new.png" alt=""
                                              class="img-responsive img-thumpost">
                                      </figure>
                                      <div class="sabbi-thumlinepost-card-meta">
                                          <h2 class="meta-title ht-5">Metagenomics: Bioinformatics solutions for crop
                                              improvement</h2>
                                          <p class="meta-text">Investigate diversity of enzymes in soil metagenomes
                                              and
                                              develop advanced tools...</p>
                                          <a href="research_single.html?research=metagenomics" class="btn btn-unsolemn btn-action read-more">Read More</a>
                                      </div>
                                  </article>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6 item">
                              <div class="pad15">
                                  <article class="sabbi-thumlinepost-card solitude-bg__x">
                                      <figure class="sabbi-thumlinepost-card-figure">
                                          <img src="assets/img/sabbi-post/p_agr.jpg" alt=""
                                              class="img-responsive img-thumpost">
                                      </figure>
                                      <div class="sabbi-thumlinepost-card-meta">
                                          <h2 class="meta-title ht-5">Precision Agriculture: Robotics for integrated
                                              weed
                                              management (IWM)</h2>
                                          <p class="meta-text">Incorporate sensing technology for precise IWM,
                                              minimize
                                              damage to crop, environment...</p>
                                          <a href="research_single.html?research=agriculture" class="btn btn-unsolemn btn-action read-more">Read More</a>
                                      </div>
                                  </article>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6 item">
                              <div class="pad15">
                                  <article class="sabbi-thumlinepost-card solitude-bg__x">
                                      <figure class="sabbi-thumlinepost-card-figure">
                                          <img src="assets/img/datamining-lowres.png" alt=""
                                              class="img-responsive img-thumpost">
                                      </figure>
                                      <div class="sabbi-thumlinepost-card-meta">
                                          <h2 class="meta-title ht-5">NGS studies: Deciphering and making sense of the
                                              complex -<i>omics</i> bigdata</h2>
                                          <p class="meta-text">Identification of novel expressed genes from
                                              transcriptomics studies, methylation patterns...</p>
                                          <a href="research_single.html?research=ngs" class="btn btn-unsolemn btn-action read-more">Read More</a>
                                      </div>
                                  </article>
                              </div>
                          </div>
                      </div>
                      <button class="btn btn-primary leftLst">
                          </button> <button class="btn btn-primary rightLst">
                      </button>
                  </div>

              </div>

          </section>
          <!-- /.icon-card-segment -->
          <section class="sabbi-section stage-samevide mb_0">
              <div class="row">
                  <div class="col-sm-6">
                      <ul class="list-unstyled entry-meta-list list-style-round_item">
                          <li>Understand the genomic aspects of plant / animal pathogen evolution and/or virulence either at the organismal or population level,</li>
                          <li>Develop novel computational algorithms to explore cross-kingdom threats and identify novel therapeutic candidates,</li>
                          <li>Investigate the diversity of enzymes in soil metagenomes and develop advanced bioinformatics solutions to predict and recover novel enzyme encoding genes involved with the nitrogen (N) cycle from soil metagenomes,</li>
                          <li>Develop and implement cost effective prediction tools / databases (customized searchable web portals),</li>
                          <li>Establish high-end biocomputing infrastructure (High-Performance Computing Cluster, HPCC) and novel algorithms with AI while advancing bigdata research,</li>
                          <li>Collaborate extensively and provide leadership in these research areas.</li>
                      </ul>
                  </div>
                  <div class="col-sm-6">
                      <figure class="samevide-figure">
                          <img src="assets/img/doctor.jpg" style="width: 570px; height: 323px;" alt=""
                              class="img-responsive">
                      </figure>
                  </div>
              </div>
          </section>
          <!-- /.stage-samevide -->
      </div>
      <section class="sabbi-section stage-halfbol stage-full_width">
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-sm-8">
                      <aside class="stage-halfbol_content">
                          <h2 class="stage-title font-md lil-line">KAABiL group is one of Utah’s</h2>
                          <p class="stage-halfbol_text">leading bioinformatics lab. To date, Dr. Kaundal has trained more than 10 graduate and 10 undergrad
                          students, 1 postdoctoral fellow, and 3 full-time bioinformatics staff members in his career research program.</p>
                          <a href="/contact#enroll" class="btn kbl-btn-1-solid">Join Research</a>
                      </aside>
                  </div>
              </div>
          </div>
      </section>
      <!-- ./stage-halfbol  -->
  </main>

  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts() }}
</body>

</html>
