<p class="blog">
        With 11 publications and being the nominee from the PSC department as an outstanding student, Naveen has been awarded
    2022-23 Outstanding Doctoral Student Researcher for the College of Agriculture and Applied Sciences (CAAS). This is a very competitive
    reward and he competed among all the applicants from the other departments in CAAS. He will be congratulated in March 2023 at the CAAS award ceremony. Since he won this reward,
    he is also a nominee for the university's doctoral student researcher of the year award. Be sure to congratulate him on his achievment if you see him.
</p>