{% from "components/editorial.njk" import editorial %}
{% from "./_edit-data.njk" import editorials %}

<article class="container">
  <section class="pt-2 pb-4">
    <div class="kbl-header-bar py-2 text-center mb-4">
      <h4 class="kbl-heading my-auto">Editorials</h4>
    </div>
    {% for article in editorials %}
      {{ editorial(article) }}
    {% endfor %}
  </section>
</article>
