<div class="row justify-content-center">
  {{ pubSelector("2020-2022") }}
  {{ pubSelector("2017-2019") }}
  {{ pubSelector("2014-2016") }}
  {{ pubSelector("2011-2013") }}
  {{ pubSelector("2008-2010") }}
  {{ pubSelector("2005-2007") }}
</div>

<article class="pub-group" id="pub-2020">
  <section class="py-4">
    <div class="kbl-header-bar py-2 text-center mb-2">
      <h4 class="kbl-heading my-auto">2022</h4>
    </div>
    <div class="pub-container">
      {% for article in pub2022 %}
        {{ publication(article) }}
      {% endfor %}
    </div>
  </section>
  <section class="py-4">
    <div class="kbl-header-bar py-2 text-center mb-2">
      <h4 class="kbl-heading my-auto">2021</h4>
    </div>
    <div class="pub-container">
      {% for article in pub2021 %}
        {{ publication(article) }}
      {% endfor %}
    </div>
  </section>
  <section class="py-4">
    <div class="kbl-header-bar py-2 text-center mb-2">
      <h4 class="kbl-heading my-auto">2020</h4>
    </div>
    <div class="pub-container">
    {% for article in pub2020 %}
      {{ publication(article) }}
    {% endfor %}
    </div>
  </section>
</article>

<article class="pub-group d-none"  id="pub-2017">
  <section class="py-4">
    <div class="kbl-header-bar py-2 text-center mb-2">
      <h4 class="kbl-heading my-auto">2019</h4>
    </div>
    <div class="pub-container">
    {% for article in pub2019 %}
      {{ publication(article) }}
    {% endfor %}
    </div>
  </section>

  <section class="py-4">
    <div class="kbl-header-bar py-2 text-center mb-2">
      <h4 class="kbl-heading my-auto">2018</h4>
    </div>
    <div class="pub-container">
    {% for article in pub2018 %}
      {{ publication(article) }}
    {% endfor %}
    </div>
  </section>
</article>

<article class="pub-group d-none"  id="pub-2014">
  <section class="py-4">
    <div class="kbl-header-bar py-2 text-center mb-2">
      <h4 class="kbl-heading my-auto">2016</h4>
    </div>
    <div class="pub-container">
    {% for article in pub2016 %}
      {{ publication(article) }}
    {% endfor %}
    </div>
  </section>

  <section class="py-4">
    <div class="kbl-header-bar py-2 text-center mb-2">
      <h4 class="kbl-heading my-auto">2014</h4>
    </div>
    <div class="pub-container">
    {% for article in pub2014 %}
      {{ publication(article) }}
    {% endfor %}
    </div>
  </section>
</article>

<article class="pub-group d-none"  id="pub-2011">
  <section class="py-4">
    <div class="kbl-header-bar py-2 text-center mb-2">
      <h4 class="kbl-heading my-auto">2013</h4>
    </div>
    <div class="pub-container">
    {% for article in pub2013 %}
      {{ publication(article) }}
    {% endfor %}
    </div>
  </section>
</article>

<article class="pub-group d-none"  id="pub-2008">
  <section class="py-4">
    <div class="kbl-header-bar py-2 text-center mb-2">
      <h4 class="kbl-heading my-auto">2010</h4>
    </div>
    <div class="pub-container">
    {% for article in pub2010 %}
      {{ publication(article) }}
    {% endfor %}
  </div>
  </section>

  <section class="py-4">
    <div class="kbl-header-bar py-2 text-center mb-2">
      <h4 class="kbl-heading my-auto">2009</h4>
    </div>
    <div class="pub-container">
    {% for article in pub2009 %}
      {{ publication(article) }}
    {% endfor %}
  </div>
  </section>
</article>

<article class="pub-group d-none"  id="pub-2005">
  <section class="py-4">
    <div class="kbl-header-bar py-2 text-center mb-2">
      <h4 class="kbl-heading my-auto">2007</h4>
    </div>
    <div class="pub-container">
    {% for article in pub2007 %}
      {{ publication(article) }}
    {% endfor %}
  </div>
  </section>

  <section class="py-4">
    <div class="kbl-header-bar py-2 text-center mb-2">
      <h4 class="kbl-heading my-auto">2006</h4>
    </div>
    <div class="pub-container">
    {% for article in pub2006 %}
      {{ publication(article) }}
    {% endfor %}
  </div>
  </section>

  <section class="py-4">
    <div class="kbl-header-bar py-2 text-center mb-2">
      <h4 class="kbl-heading my-auto">2005</h4>
    </div>
    <div class="pub-container">
    {% for article in pub2005 %}
      {{ publication(article) }}
    {% endfor %}
  </div>
  </section>
</article>
