<p class="blog">
As Mitchell finishes his summer internship with us in the Animal Dairy & Veterinary Sciences 
    department, we celebrate with pizza and soda pop. We had a short interview with him to ask him how his 
    experience in the lab was.
</p>