p.blog {
  --padding: 10px;

  padding: var(--padding) 15px;

  font-size: 18px;
  line-height: 34px;
  color: var(--color-text-main);
}

h1.blog {
  --padding: 30px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  color: var(--color-text-main);
}

.container-fluid.blog {
  background: #fff!important;
  margin-bottom: 80px;
}
