@import '../../../scss/colors';

p.blog {
  $padding: 10px;

  padding: $padding 15px;

  font-size: 18px;
  line-height: 34px;
  color: $color-text-main;
}

h1.blog {
  $padding: 30px;
  padding-top: $padding;
  padding-bottom: $padding;
  color: $color-text-main;
}

.container-fluid.blog {
  background: #fff!important;
  margin-bottom: 80px;
}
