{% set newAdminColin = {
    title: "New HPC Admin: Colin Bernhardt",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/profile/colin.jpg?a=height&w=6&h=6",
    date: "May 4, 2022",
    desc: "Colin is a Computer Engineering BS student who has recently started as the KAABiL HPC System Administrator. 
    He will help to ensure that the high-performance computer cluster at the KAABiL lab works properly. 
    He also helps maintain the website and helps install the software you can use on the HPC. If you are experiencing any problems with the site or the HPC, let him know.",
    link: "/news/newAdminColin"
  }
%}

{% set newAndrew = {
    title: "New Undergrad Student Joined: Andrew Jouffray",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/people/ajouffray/profile.jpg?a=height&w=6&h=6",
    date: "May 25, 2021",
    desc: "Andrew is a computer science student and software developer. He currently works on developing a method to create datasets for deep learning image 
    recognition tasks, enabling robots to generate their own training data.",
    link: "/news/newAndrew"
  }
%}

{% set koltonGrant = {
    title: "Kolton Receives URCO Grant",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/news/koltonurco.jpg?a=height&w=1&h=1&c=l",
    date: "May 24, 2021",
    desc: "Student researcher Kolton Hauck is mentored by Rakesh Kaundal, assistant professor of bioinformatics in the PSC department, 
    and investigates protein-protein interactions (PPIs) that are necessary for the SARS-CoV-2 virus to gain access to host cells, 
    replicate and proliferate.",
    link: "https://www.usu.edu/today/story/students-receive-grants-to-conduct-impactful-undergraduate-research"
  }
%}

{% set newDavid = {
    title: "New PhD Student: David",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/profile/david.jpg?a=height&w=6&h=6",
    date: "Mar 3, 2021",
    desc: "David is a CS PhD student from Colombia. He worked full-time as a full-stack software developer for 6 years while finishing his 
    bachelor's degree in Software and Computer Engineering and got a MSc. degree in Computational Biology.",
    link: "/news/newDavid"
  }
%}

{% set newKolton = {
    title: "New Undergrad Student Joined: Kolton Hauck",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/profile/khauck.jpg?a=height&w=6&h=6",
    date: "Feb 3, 2021",
    desc: "Kolton is a Biological Engineering major and is working on a minor in Computer Science. He wants to use computers to solve modern-day 
biological problems.
He enjoys eating, sleeping and working out.",
    link: "/news/newKolton"
  }
%}

{% set citsatdb = {
    title: "Naveen presents at International Plant Animal Genome Conference",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/events/IMG_20200113_151858.jpg?a=height&w=1&h=1",
    date: "Jan 11-15, 2020",
    desc: "Naveen Duhan, a PhD student from our lab, attended the International Plant Animal Genome Conference in San Diego. He 
    presented a poster on citSatdb and Greeningdb, and presented an oral talk on citSatdb.",
    link: "/news/citsatdb"
  }
%}

{% set newadmin1 = {
    title: "New HPC Admin: Shelby McCowan",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/profile/shelby.jpg?a=height&w=6&h=6",
    date: "Mar 21, 2020",
    desc: "Shelby is a Biochemistry major who aspires to go into software engineering. He has worked with mobile apps, websites 
(including the front and back end), and desktop applications. He is a percussionist in his spare time.",
    link: "/news/newadmin1"
  }
%}

{% set alfanet = {
    title: "alfaNET: A new host-pathogen interactome tool is now online",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/alfalfa_logo.png?a=height&w=1&h=1",
    date: "Jul 1, 2021",
    desc: "alfaNET is a database implemented to provide host-pathogen interactome information to aid the development of molecular-based strategies to mitigate bacterial blight impact in Alfalfa.",
    link: "http://bioinfo.usu.edu/alfanet/"
  }
%}

{% set newdeephpi = {
    title: "deepHPI: A host-pathogen interactome tool",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/events/PAG-2019/g2.jpg?a=height&w=6&h=6",
    date: "Dec 1, 2019",
    desc: "Models to predict HPI were generated by the combination of features and machine learning methods. The best models from this 
benchmark were implement in the DeepHPI webserver",
    link: "/news/newdeephpi"
  }
%}

{% set covidtracker = {
    title: "COVID-19 Stats Tracker",
    img: "https://intermountainhealthcare.org/-/media/coronavirus-covid-19.jpg",
    date: "March 26, 2020",
    desc: "KAABiL now has a COVID tracker! You can use our dashboard to see COVID stats around the world. Stay safe!",
    link: "/news/covidtracker"
  }
%}

{% set heroesNight = {
    title: "USU Today - First International Heroes Night",
    date: "November 4, 2021",
    desc: "Dr. Rakesh Kaundal has been selected for the 2021 International Faculty Recognition Award.",
    link: "https://www.usu.edu/today/story/first-international-heroes-night-to-celebrate-international-faculty"
  }
%}

{% set nihFunds = {
    title: "USU Today - NIH Funds USU Researchers' Work on Fathers' Nutrition and Children's Health",
    date: "August 9, 2021",
    desc: "Dr. Kaundal is a Co-PI on a $1.56M research grant from the NIH.",
    link: "https://www.usu.edu/today/story/nih-funds-usu-researchers-work-on-fathers-nutrition-and-childrens-health"
  }
%}

{% set saltStress = {
    title: "USU Today - Uncovering Genes that Protect Alfalfa against Salinity Stress",
    date: "April 6, 2021",
    desc: "Salt stress is an example of big data bringing immense benefits to plant science.",
    link: "https://www.usu.edu/today/story/data-scientists-uncovering-genes-that-protect-alfalfa-against-salinity-stress"
  }
%}

{% set undergradGrants = {
    title: "USU Today - Students Receive Grants to Conduct Undergraduate Research",
    date: "March 24, 2021",
    desc: "Kolton Hauck is using big data to investigate diverse strands of SARS-CoV-2 virus.",
    link: "https://www.usu.edu/today/story/students-receive-grants-to-conduct-impactful-undergraduate-research"
  }
%}

{% set general = [newAdminColin,newAndrew,koltonGrant,newDavid,newKolton,citsatdb,newadmin1] %}
{% set science = [alfanet,newdeephpi,covidtracker] %}
{% set media = [heroesNight,nihFunds,saltStress,undergradGrants] %}
