{% set naveenDefends = {
    title: "Naveen Duhan Successfully Defends His PhD Dissertation",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/profile/1.jpg?a=height&w=6&h=6",
    date: "",
    desc: "Naveen Duhan successfully defended his PhD dissertation on . His dissertation was titled \"Computational Prediction of Host-Pathogen Protein-Protein Interactions\". 
    He was advised by Dr. Rakesh Kaundal Congratulations Naveen!",
    link: "/news/naveenDefends"
  }
%}

{% set naveenReward = {
    title: "Naveen Duhan Awarded Outstanding Doctoral Student Researcher",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/profile/1.jpg?a=height&w=6&h=6",
    date: "Dec 28, 2022",
    desc: "With 11 publications and being the nominee from the PSC department as an outstanding student, Naveen has been awarded
    2022-23 Outstanding Doctoral Student Researcher for the College of Agriculture and Applied Sciences (CAAS). This is a very competitive
    reward and he competed among all the applicants from the other departments in CAAS.",
    link: "/news/naveenReward"
  }
%}

{% set mitchellGoodbye = {
    title: "Mitchell Millerberg Completes Summer Internship",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/events/2022-Mitchell-Farewell/PXL_20220812_194602003.MP.jpg?a=height&w=6&h=6",
    date: "Aug 8, 2022",
    desc: "As Mitchell finishes his summer internship with us in the Animal Dairy & Veterinary Sciences 
    department, we celebrate with pizza and soda pop. We had a short interview with him to ask him how his 
    experience in the lab was.",
    link: "/news/mitchellFinishesInternship/"
  }
%}

{% set simar = {
    title: "Fulbright Scholar Joins the Lab: Simardeep Kaur",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/profile/simardeep.jpg?a=height&w=6&h=6",
    date: "Aug 1, 2022",
    desc: "Miss Simardeep Kaur is a Nehru Doctoral Fulbright fellow at KAABiL Laboratory, 
    USU. Her doctoral thesis focuses on deciphering the microRNA related modulations in contrasting 
    rice genotypes under drought stress. As a Fulbright fellow she will be learning 
    bioinformatic tools and softwares for comprehensive analysis of the data generated 
    from her molecular biology related work from wet-lab experiments. She will be improving 
    her skills to handle larger data set like those for methylome, transcriptome, lncRNAs, miRNAs, 
    validation techniques and their analysis so that she can integrate molecular biology with 
    bioinformatics to develop the drought tolerant agricultural crops.",
    link: "/news/simar/"
  }
%}

{% set mitchell = {
    title: "New Intern: Mitchell Millerberg",
    img: "http://bioinfocore.usu.edu/raikou/image/raw/bioinfo/profile/mitchell.jpg",
    date: "June 1, 2022",
    desc: "Mitchell is an undergraduate student at Utah Valley University majoring in Biotechnology. 
    He aspires to go into software engineering where he can solve biological problems with technology. During the summer of 2022, 
    Mitchell will be working as an intern at Utah State University in the Animal Dairy & Veterinary Sciences department. 
    During Mitchell's free time he enjoys camping and studying map topography.",
    link: "/news/mitchell/"
  }
%}

{% set profeatx = {
    title: "ProFeatX: A New Tool to Extract Protein Features",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/news/proFeatX.png?a=height&w=6&h=6",
    date: "May 31, 2022",
    desc: "ProFeatX is a tool to help you extract protein features in a fast and efficient way. It contains 32 encodings to help facilitate this process.
    By extracting these features, you can use them as input for machine learning methods.",
    link: "/profeatx/"
  }
%}

{% set AtSubP = {
    title: "AtSubP",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/atsubp.png?a=height&w=6&h=6",
    date: "Jan 1, 2012",
    desc: " 	The present tool is developed as a part of our broader study focused on investigating the advantages of developing",
    link: "https://www.zhaolab.org/AtSubP/index.php/"
  }
%}

{% set rbpred = {
    title: "RB-Pred",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/rbpred.PNG?a=height&w=6&h=6",
    date: "April 1, 2012",
    desc: "Rice blast (Pyricularia grisea) continues to be the most destructive disease of rice despite decades of research towards its control.",
    link: "https://webs.iiitd.edu.in/raghava/rbpred/"
  }
%}

{% set rslpred = {
    title: "RSLpred",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/rslpred.PNG?a=height&w=6&h=6",
    date: "Jan 1, 2013",
    desc: "RICE (Oryza sativa L.) is the single most important agricultural resource which feeds more than half of the world's population.",
    link: "https://webs.iiitd.edu.in/raghava/rslpred/"
  }
%}

{% set PLpred = {
    title: "PLpred",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/plpred.PNG?a=height&w=6&h=6",
    date: "April 1, 2013",
    desc: "Although plastids are of significant biological interest, 
    our current understanding of the metabolite functions and capacities of different plastid types is still limited.",
    link: "/PLpred/"
  }
%}

{% set lacsubpred = {
    title: "LacSubPred",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/lacsubpred.PNG?a=height&w=6&h=6",
    date: " Jan 1, 2017",
    desc: "Laccases (E.C. 1.10.3.2) are multi-copper oxidases that have gained importance in many industries such as biofuels, 
    pulp production, textile dye bleaching,",
    link: "/lacsubpred/"
  }
%}

{% set APiNET = {
    title: "AP-iNET",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/api-net.PNG?a=height&w=6&h=6",
    date: "April 1, 2017",
    desc: "AP-iNET is a computational prediction system for host-pathogen protein-protein interactions in the Arabidopsis-Pseudomonas model system.",
    link: "/AP-iNET/"
  }
%}

{% set ligpred = {
    title: "LigPred",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/ligpred.PNG?a=height&w=6&h=6",
    date: "July 1,2017",
    desc: "LigPred is an attempt to discover novel lignin related proteins not discoverable through more general means.",
    link: "/ligpred/"
  }
%}

{% set PredHPI = {
    title: "PredHPI",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/predHpi.PNG?a=height&w=6&h=6",
    date: "Jan 1, 2018",
    desc: " Host-Pathogen Interactions (HPI), which includes from the initial invasion of host cells by the pathogen through the proliferation 
    of pathogen in their host, are studied to find potential genomic targets for the development of novel drugs, vaccines, and other therapeutics.",
    link: "/PredHPI/"
  }
%}

{% set GreeningDB = {
    title: "GreeningDB",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/greeningdb.png?a=height&w=6&h=6",
    date: "April 1, 2018",
    desc: "Here we present GreeningDB, a database implemented to provide to general audience the annotation of liberibacter proteomes, 
    and a host-pathogen comparactomics tool",
    link: "/GreeningDB/"
  }
%}

{% set PlantmSubP = {
    title: "Plant-mSubP",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/plantmSubp.PNG?a=height&w=6&h=6",
    date: "July 1, 2018",
    desc: "Identification of the subcellular location of protein has been an area of interest in protein science.",
    link: "/Plant-mSubP/"
  }
%}

{% set citSATdb = {
    title: "citSATdb",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/citsatdb.png?a=height&w=6&h=6",
    date: "Jan 1, 2019",
    desc: "The Citrus genus and its associated genera (Poncirus, Microcitrus, Fourtunella and Eremocitrus) are \
    part of Aurantioideae subfamily of Rutaceae family,",
    link: "/citSATdb/"
  }
%}

{% set legumeSSRdb = {
    title: "LegumeSSRdb",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/legumessdb.png?a=height&w=6&h=6",
    date: "April 1, 2019",
    desc: "Legumes are the second most essential group of crops with around ~700 genera and ~19,000 known Legume species in the world.",
    link: "/legumeSSRdb/"
  }
%}

{% set ranchSATdb = {
    title: "ranchSATdb",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/ranchsatdb.png?a=height&w=6&h=6",
    date: "July 1, 2019",
    desc: "A database on the Bos taurus.",
    link: "/ranchSATdb/"
  }
%}

{% set pyseqrna = {
    title: "pySeqRNA",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/pyseqrna.png?a=height&w=6&h=6",
    date: "Jan 1, 2020",
    desc: "Today, massive amounts of data are generated by Next-Generation Sequencing (NGS) technologies. In recent years, many algorithms, statistical methods, and software tools have been developed to perform the 
    individual analysis steps of various NGS applications.",
    link: "/pyseqrna/"
  }
%}

{% set hucopia = {
    title: "HuCoPIA",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/covid.jpg?a=height&w=6&h=6",
    date: "Jan 1, 2021",
    desc: "We present the HuCoPIA database, which contains approximately 100,000 protein-protein interactions between human proteins and three 
    strains (SARS-CoV-2, SARS-CoV and MERS) of betacoronavirus.",
    link: "/hucopia/home/"
  }
%}

{% set malivhu = {
    title: "Malivhu",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/malivhu.png?a=height&w=6&h=6",
    date: "April 1, 2021",
    desc: "Malivhu lets the user input two protein sequences: the virus and the host proteins.",
    link: "/malivhu/"
  }
%}

{% set alfanet = {
    title: "alfaNET",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/alfanet.png?a=height&w=6&h=6",
    date: "July 1, 2021",
    desc: "Alfalfa (Medicago sativa L.), belonging to family Fabaceae, is a highly desired forage legume in the 
    United States and in the countries around the world.",
    link: "/alfanet/"
  }
%}

{% set weconet = {
    title: "WeCoNET",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/weconet.png?a=height&w=6&h=6",
    date: "Oct 1, 2021",
    desc: "Wheat (Triticum aestivum), the most widely cultivated crop in the world, ranks third and counts to 
    around 35% of the total grains produced around the globe.",
    link: "/weconet/"
  }
%}

{% set deepNEC = {
    title: "deepNEC",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/deepnec.png?a=height&w=6&h=6",
    date: "Dec 1, 2021",
    desc: "We propose deepNEC, a novel end-to-end feature selection and classification model training approach for nitrogen biochemical 
    network-related enzyme prediction.",
    link: "/deepNEC/"
  }
%}

{% set tritikbdb = {
    title: "TritiKBdb",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/tritikbdb.png?a=height&w=6&h=6",
    date: "Jan 1, 2022",
    desc: "Here, we report the development of a comprehensive database and webserver, TritiKBdb, that implements various tools to study the protein-protein interactions in the 
    Triticum species-Tilletia indica pathosystem.",
    link: "/tritikbdb/"
  }
%}

{% set trustdb = {
    title: "TRustDB",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/trustdb2.png?a=height&w=6&h=6",
    date: "April 1, 2022",
    desc: "TRustDB, a database for Triticum aestivum -Puccinia species protein-protein interactions, provides valuable information about the Puccinia species, 
    which includes various functional protein annotations",
    link: "/trustdb/"
  }
%}

{% set hucovaria = {
    title: "HuCoVarIA",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/hucovaria.jpg?a=height&w=6&h=6",
    date: "Oct 1, 2022",
    desc: "SARS-CoV-2, a betacoronavirus, and the pathogen that causes COVID-19, has impacted the world in a variety of ways.",
    link: "/hucovaria/"
  }
%}

{% set apogeeInstruments = {
    title: "Raghav Awarded Campbell Scientific Graduate Fellowship",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/news/apogeeInstruments.jpg?a=height&w=6&h=6",
    date: "May 6, 2022",
    desc: "Raghav Kataria is a PhD student in the KAABiL lab. He is currently working on pathogen-host protein-protein interactions using computational tools and various molecular biology techniques in his research in bioinformatics.
    Raghav was recently awarded the \"Campbell Scientific Graduate Fellowship\", which is provided by \"Apogee Instruments\".",
    link: "/news/apogeeInstruments/"
  }
%}

{% set newAdminColin = {
    title: "New HPC Admin: Colin Bernhardt",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/profile/colin.jpg?a=height&w=6&h=6",
    date: "May 4, 2022",
    desc: "Colin is a Computer Engineering BS student who has recently started as the KAABiL HPC System Administrator. 
    He will help to ensure that the high-performance computer cluster at the KAABiL lab works properly. 
    He also helps maintain the website and helps install the software you can use on the HPC. If you are experiencing any problems with the site or the HPC, let him know.",
    link: "/news/newAdminColin/"
  }
%}

{% set newAndrew = {
    title: "New Undergrad Student Joined: Andrew Jouffray",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/people/ajouffray/profile.jpg?a=height&w=6&h=6",
    date: "May 25, 2021",
    desc: "Andrew is a computer science student and software developer. He currently works on developing a method to create datasets for deep learning image 
    recognition tasks, enabling robots to generate their own training data.",
    link: "/news/newAndrew/"
  }
%}

{% set koltonGrant = {
    title: "Kolton Receives URCO Grant",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/news/koltonurco.jpg?a=height&w=1&h=1&c=l",
    date: "May 24, 2021",
    desc: "Student researcher Kolton Hauck is mentored by Rakesh Kaundal, assistant professor of bioinformatics in the PSC department, 
    and investigates protein-protein interactions (PPIs) that are necessary for the SARS-CoV-2 virus to gain access to host cells, 
    replicate and proliferate.",
    link: "https://www.usu.edu/today/story/students-receive-grants-to-conduct-impactful-undergraduate-research/"
  }
%}

{% set newDavid = {
    title: "New PhD Student: David",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/profile/david.jpg?a=height&w=6&h=6",
    date: "Mar 3, 2021",
    desc: "David is a CS PhD student from Colombia. He worked full-time as a full-stack software developer for 6 years while finishing his 
    bachelor's degree in Software and Computer Engineering and got a MSc. degree in Computational Biology.",
    link: "/news/newDavid/"
  }
%}

{% set newKolton = {
    title: "New Undergrad Student Joined: Kolton Hauck",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/profile/khauck.jpg?a=height&w=6&h=6",
    date: "Feb 3, 2021",
    desc: "Kolton is a Biological Engineering major and is working on a minor in Computer Science. He wants to use computers to solve modern-day 
biological problems.
He enjoys eating, sleeping and working out.",
    link: "/news/newKolton/"
  }
%}

{% set citsatdb = {
    title: "Naveen presents at International Plant Animal Genome Conference",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/events/IMG_20200113_151858.jpg?a=height&w=1&h=1",
    date: "Jan 11-15, 2020",
    desc: "Naveen Duhan, a PhD student from our lab, attended the International Plant Animal Genome Conference in San Diego. He 
    presented a poster on citSatdb and Greeningdb, and presented an oral talk on citSatdb.",
    link: "/news/citsatdb/"
  }
%}

{% set newadmin1 = {
    title: "New HPC Admin: Shelby McCowan",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/profile/shelby.jpg?a=height&w=6&h=6",
    date: "Mar 21, 2020",
    desc: "Shelby is a Biochemistry major who aspires to go into software engineering. He has worked with mobile apps, websites 
(including the front and back end), and desktop applications. He is a percussionist in his spare time.",
    link: "/news/newadmin1/"
  }
%}

{% set alfanet = {
    title: "alfaNET: A new host-pathogen interactome tool is now online",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/tools/alfalfa_logo.png?a=height&w=1&h=1",
    date: "Jul 1, 2021",
    desc: "alfaNET is a database implemented to provide host-pathogen interactome information to aid the development of molecular-based strategies to mitigate bacterial blight impact in Alfalfa.",
    link: "http://bioinfo.usu.edu/alfanet/"
  }
%}

{% set newdeephpi = {
    title: "deepHPI: A host-pathogen interactome tool",
    img: "http://bioinfocore.usu.edu/raikou/image/aspect/bioinfo/events/PAG-2019/g2.jpg?a=height&w=6&h=6",
    date: "Dec 1, 2019",
    desc: "Models to predict HPI were generated by the combination of features and machine learning methods. The best models from this 
benchmark were implement in the DeepHPI webserver",
    link: "/news/newdeephpi/"
  }
%}

{% set covidtracker = {
    title: "COVID-19 Stats Tracker",
    img: "https://intermountainhealthcare.org/-/media/coronavirus-covid-19.jpg",
    date: "March 26, 2020",
    desc: "KAABiL now has a COVID tracker! You can use our dashboard to see COVID stats around the world. Stay safe!",
    link: "/news/covidtracker/"
  }
%}


{% set cultivate = {
    title: "Bioinformatics: Big Data Pushing the Boundaries of Human Knowledge ",
    date: "March 1, 2022",
    type: "Cultivate",
    desc: "View the cultivate magazine for more info.",
    link: "https://digitalcommons.usu.edu/cultivate/"
  }
%}

{% set capitolHill = {
    title: "Students Prepare to Present Research at State Capitol",
    date: "February 1, 2022",
    type: "USU Today",
    desc: "A group of undergraduates will share their research findings at the annual Research on Capitol Hill.",
    link: "https://www.usu.edu/today/story/students-prepare-to-present-research-at-state-capitol/"
  }
%}

{% set boundaries = {
    title: "USU Bioinformatics Expert Hopes Big Data Lab Will Revolutionize More Fields of Research ",
    date: "January 10, 2022",
    type: "USU Today",
    desc: "Rakesh Kaundal's Contributions to Bioinformatics Push the Boundaries of Human Knowledge",
    link: "https://www.usu.edu/today/story/usu-bioinformatics-expert-hopes-big-data-lab-will-revolutionize-more-fields-of-research/"
  }
%}

{% set weedRevolution = {
    title: "USU Student Uses Undergraduate Research Grant to Train AI for Weeding",
    date: "December 14, 2021",
    type: "USU Today",
    desc: "The artificial intelligence revolution is coming, and there is nowhere to hide — at least, not for weeds.",
    link: "https://www.usu.edu/today/story/usu-student-uses-undergraduate-research-grant-to-train-ai-for-weeding/"
  }
%}

{% set heroesNight = {
    title: "First International Heroes Night",
    date: "November 4, 2021",
    type: "USU Today",
    desc: "Dr. Rakesh Kaundal has been selected for the 2021 International Faculty Recognition Award.",
    link: "https://www.usu.edu/today/story/first-international-heroes-night-to-celebrate-international-faculty/"
  }
%}

{% set nihFunds = {
    title: "NIH Funds USU Researchers' Work on Fathers' Nutrition and Children's Health",
    date: "August 9, 2021",
    type: "USU Today",
    desc: "Dr. Kaundal is a Co-PI on a $1.56M research grant from the NIH.",
    link: "https://www.usu.edu/today/story/nih-funds-usu-researchers-work-on-fathers-nutrition-and-childrens-health/"
  }
%}

{% set saltStress = {
    title: "Uncovering Genes that Protect Alfalfa against Salinity Stress",
    date: "April 6, 2021",
    type: "USU Today",
    desc: "Salt stress is an example of big data bringing immense benefits to plant science.",
    link: "https://www.usu.edu/today/story/data-scientists-uncovering-genes-that-protect-alfalfa-against-salinity-stress/"
  }
%}

{% set undergradGrants = {
    title: "Students Receive Grants to Conduct Undergraduate Research",
    date: "May 24, 2021",
    type: "USU Today",
    desc: "Kolton Hauck is using big data to investigate diverse strands of SARS-CoV-2 virus.",
    link: "https://www.usu.edu/today/story/students-receive-grants-to-conduct-impactful-undergraduate-research/"
  }
%}

{% set fullbrightnews = {
    title: "Fulbright, NAHEP Doctoral Students Bring Big Data and Ideas to USU Bioinformatics Lab",
    date: " June 12, 2023",
    type: "USU Today",
    desc: "The Utah State University Bioinformatics Facility recently hosted two graduate students funded by prestigious scholarships.",
    link: "https://www.usu.edu/today/story/fulbright-nahep-doctoral-students-bring-big-data-and-ideas-to-usu-bioinformatics-lab/?nl=907&utm_source=todaynewsletter&utm_medium=email&utm_campaign=nl907&utm_content=fulbright-nahep-doctoral-students-bring-big-data-and-ideas-to-usu-bioinformatics-lab"
  }
%}

{% set general = [naveenReward, mitchellGoodbye, simar, mitchell, apogeeInstruments, newAdminColin,newAndrew,koltonGrant,newDavid,newKolton,citsatdb,newadmin1] %}
{% set science = [profeatx, hucovaria, trustdb, tritikbdb, deepNEC, weconet, alfanet, malivhu, hucopia,covidtracker, pyseqrna,newdeephpi,
ranchSATdb, legumeSSRdb, citSATdb, PlantmSubP, GreeningDB, PredHPI, ligpred, APiNET, lacsubpred, PLpred, rslpred, rbpred, AtSubP] %}
{% set media = [fullbrightnews, cultivate, capitolHill, boundaries, weedRevolution, heroesNight,nihFunds,saltStress,undergradGrants] %}
{% set latest = [naveenReward,cultivate, capitolHill] %}
