h5.header {
  color: var(--color-text-main);
}

.col-header {
  color: var(--color-text-main);
}

.news-item-container {
  padding: 4px 15px;
}

.news-item {
  border: 1px solid var(--color-border-gray);
  border-radius: var(--btn-radius);
  transition: var(--time-mid);
  cursor: pointer;
  background: #fff!important;

  &:hover {
    background: #eee!important;

    .header {
      color: var(--color-primary)!important;
    }

    .desc {
      color: #838383;
    }
  }

  .header {
    font-size: 130%;
    font-weight: 700;
    transition: var(--time-mid);
  }

  .desc {
    font-size: 100%;
    font-weight: 400;
    color: #909090;
    margin-top: 10px;
    transition: var(--time-mid);
  }

  img {
    border-radius: var(--btn-radius)!important;
  }
}
