.col-header-text {
  background: var(--color-primary-light);
  color: white;
  padding: 7px 25px;
  border-radius: var(--border-radius);
  font-size: 140%;
}

h5.header {
  color: var(--color-text-main);
  font-size: 100%!important;
}

.col-header {
  color: var(--color-text-main);
}

.news-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // Adjust minmax values based on your design
  grid-auto-rows: 1fr;
  gap: 20px; // Adjust the gap as needed
  align-items: stretch; // This will align the items along the top, giving them equal height
}

@mixin news-item {
  border: 1px solid var(--color-border-gray);
  border-radius: var(--btn-radius);
  transition: var(--time-mid);
  cursor: pointer;
  margin-bottom: 10px;

  &:hover {
    .header {
      color: var(--color-primary)!important;
    }

    .desc {
      color: #838383;
    }
  }
  .header {
    font-size: 130%;
    font-weight: 700;
    transition: var(--time-mid);
  }

  .desc {
    font-size: 98%;
    font-weight: 400;
    color: #909090;
    margin-top: 10px;
    transition: var(--time-mid);
  }

  img {
    border-radius: var(--btn-radius)!important;
  }

  .date {
    font-size: 105%;
    color: var(--color-text-soft);
    font-weight: var(--font-weight-medium);
  }
}


.news-itemFirst {
  @include news-item();
  background: #fff!important;
  margin-bottom: 10px;

  &:hover {
    background: #D3D3D3!important;
  }
}

.news-itemSecond {
  @include news-item();
  background: #eee!important;
  margin-bottom: 10px;

  &:hover {
    background: #D3D3D3!important;
  }
}