{% macro newsPage(title='DEFAULT', fileName='', linkName='') %}
{% set file = "pages/news/" + fileName + "/content.njk" %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
  <!--I can write -->
  {% from "universal/_header.njk" import header %}
  {{ header() }}

  <body class="auth-theme-rashmore">
    {% from "universal/_navbar.njk" import navbar %}
    {{ navbar("News") }}

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          {% include (file) %}
        </div>
      </div>
    </div>

    {% include "universal/_footer.njk" %}
    {% from "universal/_footer-scripts.njk" import scripts %}
    {{ scripts() }}
  </body>
</html>
{% endmacro %}
