{% macro newsPage(title='DEFAULT', fileName='', linkName='') %}
{% set file = "pages/news/" + fileName + "/content.njk" %}
{% set bs4 = true %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
  <!--I can write -->
  {% from "universal/_header.njk" import header %}
  {{ header(bs4=bs4) }}

  <body>
    {% from "universal/_navbar-bs4.njk" import navbar %}
    {{ navbar("News") }}

    <div class="container-fluid blog" style="margin-top: 103px;">
      <div class="row justify-content-center">
        <div class="col-6">
          <h1 class="text-center blog">{{ title }}</h1>
          {% include (file) %}
        </div>
      </div>
    </div>

    {% include "universal/_footer.njk" %}
    {% from "universal/_footer-scripts.njk" import scripts %}
    {{ scripts(bs4=bs4) }}
  </body>
</html>
{% endmacro %}
