<p class="blog">
Mitchell is an undergraduate student at Utah Valley University majoring in Biotechnology. 
He aspires to go into software engineering where he can solve biological problems with technology. During the summer of 2022, 
Mitchell will be working as an intern at Utah State University in the Animal Dairy & Veterinary Sciences department. 
During Mitchell's free time he enjoys camping and studying map topography.
</p>