{% from "pages/news/template.njk" import newNewsPage %}

{{ newNewsPage("Naveen Presents Poster on citSATdb", "citsatdb","http://bioinfocore.usu.edu/raikou/image/raw/bioinfo/events/IMG_20200113_151858.jpg") }}
