<p class="blog">
  At the International Plant Animal Genome Conference, our own Naveen Duhan presented a poster on
  <a class="kbl-link" href="http://bioinfo.usu.edu/citSATdb/" target="_blank" rel="noopener noreferrer">citSATdb</a>. He gave an oral presentation on
  <a class="kbl-link" href="http://bioinfo.usu.edu/GreeningDB/" target="_blank" rel="noopener noreferrer">GreeningDB</a> as well.
</p>
