<p class="event-desc">
The event celebrated the opening of the new Data Science and AI Center at USU. Dr. Berton Earnshaw, an AI Founding Fellow at Recursion Pharmaceuticals and the Scientific Director of Valence Labs, was the keynote speaker. A reception and poster session showcasing data science and AI research followed. The event was open to faculty, staff, students, and the public.
</p>
