<article class="container">
  <div class="events_post_single-sagment" id="winter">
      <div class="row justify-content-center">
          <div class="col-sm-10">
              <article class="sabbi-events-item">
                  <a href="#" class="sabbi-events-link">
                      <figure>
                          <img class="sabbi-events-img img-responsive" style="width: 913px; height: 590px;" src="assets/img/events/USU_winter/IMG_1201.JPG" alt="thompson">
                          <figcaption>
                              <h2 class="sabbi-events-title font-md__x" style="color: black;">Utah State University Winter</h2>
                          </figcaption>
                      </figure>
                  </a>
                  <div class="events-item-meta">
                      <div class="events-loc"><i class="ion-location"></i><span class="text">4700 Old Main
                          Hiil, Logan, UT</span></div>
                          <div class="events-date"><i class="ion-calendar"></i><span class="text">1<sup>st</sup>
                              December 2019</span></div>
                      <p class="events-item-meta-text" style="text-align: justify;"></p>
                      <br>
                          <!-- For more details, please visit <a target="_blank" href="http://www.usu.edu/today/index.cfm?id=58311">Click Here</a> -->
                      </p>
                  </div>
                  <div class="events-item-media">
                      <h4 class="sagment-title">From Media</h4>
                      <div class="row events-item-media-scoup">
                          <div class="col-sm-4">
                              <figure>
                                  <a href="assets/img/events/USU_winter/IMG_1204.JPG" data-toggle="lightbox" data-gallery="sabb-gallery"><img src="assets/img/events/USU_winter/IMG_1204.JPG" alt="" class="event_thumb img-responsive events-item-media-img"></a>
                              </figure>
                          </div>
                          <div class="col-sm-4">
                              <figure>
                                  <a href="assets/img/events/USU_winter/IMG_1206.JPG" data-toggle="lightbox" data-gallery="sabb-gallery"><img src="assets/img/events/USU_winter/IMG_1206.JPG" alt="" class="event_thumb img-responsive events-item-media-img"></a>
                              </figure>
                          </div>
                          <div class="col-sm-4">
                              <figure>
                                  <a href="assets/img/events/USU_winter/IMG_1909.JPG" data-toggle="lightbox" data-gallery="sabb-gallery"><img src="assets/img/events/USU_winter/IMG_1909.JPG" alt="" class="event_thumb img-responsive events-item-media-img"></a>
                              </figure>
                          </div>
                      </div>
                      <div class="row events-item-media-scoup">
                          <div class="col-sm-4">
                              <figure>
                                  <a href="assets/img/events/USU_winter/IMG_1910.JPG" data-toggle="lightbox" data-gallery="sabb-gallery"><img src="assets/img/events/USU_winter/IMG_1910.JPG" alt="" class="event_thumb img-responsive events-item-media-img"></a>
                              </figure>
                          </div>
                          <div class="col-sm-4">
                              <figure>
                                  <a href="assets/img/events/USU_winter/IMG_1911.JPG" data-toggle="lightbox" data-gallery="sabb-gallery"><img src="assets/img/events/USU_winter/IMG_1911.JPG" alt="" class="event_thumb img-responsive events-item-media-img"></a>
                              </figure>
                          </div>
                          <div class="col-sm-4">
                              <figure>
                                  <a href="assets/img/events/USU_winter/IMG_2886.JPG" data-toggle="lightbox" data-gallery="sabb-gallery"><img src="assets/img/events/USU_winter/IMG_2886.JPG" alt="" class="event_thumb img-responsive events-item-media-img"></a>
                              </figure>
                          </div>
                      </div>
                  </div>
              </article><!-- /.sabbi-events-item -->
          </div>

      </div>
  </div>
</article>
