{% from "pages/events/template.njk" import eventPage %}

{% set event = {
    img: '/image/bioinfo/events/USU_winter/IMG_1201.JPG',
    location: '4700 Old Main Hill, Logan, UT',
    date: 'Dec 1, 2019',
    media: [
      '/image/bioinfo/events/USU_winter/IMG_1204.JPG',
      '/image/bioinfo/events/USU_winter/IMG_1206.JPG',
      '/image/bioinfo/events/USU_winter/IMG_1909.JPG',
      '/image/bioinfo/events/USU_winter/IMG_1910.JPG',
      '/image/bioinfo/events/USU_winter/IMG_1911.JPG',
      '/image/bioinfo/events/USU_winter/IMG_2886.JPG'
    ]
  }
%}

{{ eventPage("Utah State University Winter", "winter", event) }}
