{% from "universal/_header.njk" import header %}
{% from "universal/_navbar.njk" import navbar %}
{% from "universal/_footer-scripts.njk" import scripts %}

<!DOCTYPE html>
<html class="no-js" lang="en">

  {% block header %}
    {{ header() }}
  {% endblock %}

  <body>
    {% block navbar %}
      {{ navbar() }}
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% include "universal/_footer.njk" %}

    {% block scripts %}
      {{ scripts() }}
    {% endblock %}
  </body>

</html>
