{% set pub2010 = [

  {
    authors: 'Kaundal R. and Zhao P.X.',
    location: 'The 18 th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB); Boston (MA), USA',
    desc: 'A systematic approach to predicting organism-specific subcellular localization suggests species-specific sorting patterns.',
    date: 'Jul 10-14',
    type: ''
  }

]
%}

{% set pub2009 = [

  {
    authors: 'Kaundal R. and Zhao P.X.',
    location: 'American Society of Plant Biologists (ASPB) meeting; Honolulu, Hawaii, USA',
    desc: 'ASLpred: Arabidopsis Subcellular Localization predictor.',
    date: 'Jul 18-22',
    type: ''
  }

]
%}

{% set pub2008 = [

  {
    authors: 'Kaundal R. and Zhao P.X.',
    location: 'Plant and Animal Genomes conference XVI (PAG meeting); San Diego (CA), USA',
    desc: 'An integrated prediction system for protein subcellular localization in Arabidopsis.',
    date: 'Jan 12-16',
    type: ''
  }

]
%}
