{% set pub2013 = [

  {
    authors: '<i><u>Moncrief, R.</u></i>,<i><u>Weirick T.</u></i> and Kaundal R<sup>*</sup>.',
    location: 'International Plant Genomics Congress; St. Louis (MO), USA',
    desc: 'Deciphering genome-scale host-pathogen Protein Interaction Networks using Artificial Intelligence and its applicability to select agents.',
    date: 'Sep 23-24',
    type: ''
  },

  {
    authors: 'Sahu S.S.,<u><i>Weirick T.</i></u>,<i><u> Moncrief, R.</u></i> and Kaundal, R<sup>*</sup>.',
    location: 'BMB Annual Research Symposium; OSU Stillwater (OK), USA',
    desc: 'A Bioinformatics Approach to Predict Host- Pathogen Protein-Protein Interactions Network.',
    date: 'Sep 19',
    type: ''
  },

  {
    authors: '<i><u>Weirick T.</u></i>, Fathepure B.Z., Mahalingam R. and Kaundal R<sup>*</sup>.',
    location: 'NSF EPSCoR Annual Bioenergy Conference; Oklahoma State University, Stillwater (OK), USA',
    desc: 'LigPred: a Comprehensive Prediction System for the Identification and Classification of Enzymes Related to the Synthesis and Degradation of Lignin.',
    date: 'Apr 23',
    type: ''
  },

  {
    authors: '<i><u>Weirick T.</u></i>, Fathepure B.Z., Mahalingam R. and Kaundal R<sup>*</sup>.',
    location: 'NSF EPSCoR Annual Bioenergy Conference; Oklahoma State University, Stillwater (OK), USA',
    desc: 'LigPred: a Comprehensive Prediction System for the Identification and Classification of Enzymes Related to the Synthesis and Degradation of Lignin.',
    date: 'Sep 19',
    type: ''
  },

  {
    authors: 'Kaundal R<sup>*</sup>. and Verma R<sup>^</sup>.',
    location: 'The X th MidSouth Computational Biology & Bioinformatics Society (MCBIOS) annual conference; University of Missouri, Columbia (MO), USA',
    desc: 'PLpred: a bioinformatics system for the identification and classification of plastid type proteins.',
    date: 'Apr 5-6',
    type: ''
  },

  {
    authors: '<u><i>Moncrief, R.</i></u> and Kaundal R<sup>*</sup>.',
    location: 'The X th MidSouth Computational Biology & Bioinformatics Society (MCBIOS) annual conference; University of Missouri, Columbia (MO), USA',
    desc: 'Bioinformatics Approaches to Deciphering Host-Pathogen Protein Interaction Networks (PINs).',
    date: 'Apr 5-6',
    type: ''
  },

  {
    authors: '<i>Sahu S.S.</i> and Kaundal R<sup>*</sup>.',
    location: 'The X th MidSouth Computational Biology & Bioinformatics Society (MCBIOS) annual conference; University of Missouri, Columbia (MO), USA',
    desc: 'Predicting Multi-target Protein Subcellular Localization combining homology and Machine Learning Approaches.',
    date: 'Apr 5-6',
    type: ''
  },

  {
    authors: 'Ahmed F., Kaundal R. and Raghava G.P.S.',
    location: 'The X th MidSouth Computational Biology & Bioinformatics Society (MCBIOS) annual conference; University of Missouri, Columbia (MO), USA',
    desc: 'PHDcleav: a SVM-based method for predicting human Dicer cleavage sites using sequence and secondary structure of miRNA precursors.',
    date: 'Apr 5-6',
    type: ''
  },

  {
    authors: '<u><i>Moncrief, R.</i></u> and Kaundal R<sup>*</sup>.',
    location: 'Gordon Research Conferences (Chemical & Biological Terrorism Defense); Ventura Beach Marriott, Ventura (CA), USA',
    desc: 'Artificial Intelligence-based prediction of plant host-pathogen protein interaction networks in select agents.',
    date: 'Mar 9-10',
    type: 'Invited Talk and Poster'
  },

  {
    authors: '<u><i>Weirick T.</i></u>, Fathepure B.Z., Mahalingam R. and Kaundal R<sup>*</sup>.',
    location: 'NSF EPSCoR Bioinformatics Workshop; Arkansas State University, Little Rock (AR), USA',
    desc: 'LigPred: a Comprehensive Prediction System for the Identification and Classification of Enzymes Related to the Synthesis and Degradation of Lignin.',
    date: 'Mar 3-5',
    type: ''
  },

  {
    authors: '<u><i>Kelley, R.</i></u> and Kaundal, R<sup>*</sup>.',
    location: 'OSU Annual Research Week & Symposium (2013); Oklahoma State University, Stillwater (OK), USA',
    desc: 'Bioinformatics Approaches to Deciphering Genome-wide Host-Pathogen Protein Interaction Networks.',
    date: 'Feb 20-21',
    type: ''
  },

  {
    authors: '<u><i>Weirick T.</i></u>, Fathepure B.Z., Mahalingam R. and Kaundal R<sup>*</sup>.',
    location: 'OSU Annual Research Week & Symposium (2013); Oklahoma State University, Stillwater (OK), USA',
    desc: 'LigPred: a Comprehensive Prediction System for the Identification and Classification of Enzymes Related to the Synthesis and Degradation of Lignin',
    date: 'Feb 20-21',
    type: ''
  }

]
%}

{% set pub2012 = [

  {
    authors: '<u><i>Kelley, R.</i></u> and Kaundal, R<sup>*</sup>.',
    location: 'Biochemistry & Molecular Biology Annual Research Symposium (2012); Oklahoma State University, Stillwater (OK), USA',
    desc: 'Bioinformatics Approaches to Deciphering Genome-wide Host-Pathogen Protein Interaction Networks.',
    date: 'Sep 20-21',
    type: ''
  },

  {
    authors: 'Verma R.<sup>^</sup> and Kaundal R<sup>*</sup>.',
    location: 'The IX th MidSouth Computational Biology & Bioinformatics Society (MCBIOS) annual conference; University of Mississippi, Oxford (MS), USA',
    desc: 'A Support Vector Machine-based prediction method to classify the plastid and non-plastid type proteins.',
    date: 'Feb 17-18',
    type: ''
  }

]
%}
