{% set pub2022 = [
  {
    authors:'<u><em>Guevara, D</em></u>. and Kaundal, R<sup>*</sup>.',
    location:'The 30th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB); Monona Terrace Convention Center, Madison (WI), USA;',
    desc:'ProFeatX: a parallelized protein feature extraction suite for machine learning.',
    date:'July 10-14',
    type:'Virtual Presentation'
  },
  {
    authors:'<em><u>Duhan, N</u></em>. and Kaundal, R<sup>*</sup>',
    location:'The 30th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB); Monona Terrace Convention Center, Madison (WI), USA;',
    desc:'An automated Python package for Next-Generation Sequencing data analysis and report generation.',
    date:'July 10-14',
    type:'Virtual Presentation'
  },
  {
    authors:'<em><u>Kataria, R</u></em>. and Kaundal, R<sup>*</sup>',
    location:'The 30th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB); Monona Terrace Convention Center, Madison (WI), USA;',
    desc:'Genome-scale Protein Interactome: Unraveling Novel Host Targets in Wheat-Stem Rust Pathosystem.',
    date:'July 10-14',
    type:'Virtual Presentation'
  },
  {
    authors:'Mahalingam, R., Bregitzer, P., <u><em>Duhan, N</em></u>. and Kaundal, R.',
    location:'Plant and Animal Genomes Conference (PAG Asia). Virtual Conference;',
    desc:'Transcriptome analysis of Barley lines with contrasting responses to abiotic stresses.',
    date:'June 22-24',
    type:'Oral'
  },
  {
    authors:'Kaundal, R<sup>*</sup>., <em><u>Duhan, N.</u></em>, Acharya, B.R., Pudussery, M.V., Ferreira, J.F.S., Suarez, D.L. and Sandhu, D<sup>*</sup>.',
    location:'Conference on Applied Statistics in Agriculture and Natural Resources; Utah State University (USU), Logan (UT), USA',
    desc:'Transcriptional profiling of two contrasting genotypes uncovers molecular mechanisms underlying salt tolerance in Alfalfa.',
    date:'May 18',
    type:'Oral'
  },
  {
    authors:'<em><u>Guevara, D.</u></em> and Kaundal, R<sup>*</sup>.',
    location:'Conference on Applied Statistics in Agriculture and Natural Resources; Utah State University (USU), Logan (UT), USA',
    desc:'Malivhu: a Web Server for Predicting Human-Virus Protein-Protein Interactions Using Machine Learning Algorithms.',
    date:'May 18',
    type:'Oral'
  },
  {
    authors:'<em><u>Duhan, N.</u></em> and Kaundal, R<sup>*</sup>.',
    location:'Conference on Applied Statistics in Agriculture and Natural Resources; Utah State University (USU), Logan (UT), USA',
    desc:'pySeqRNA: An Automated Python Package for RNA Sequencing Data Analysis.',
    date:'May 18',
    type:'Oral'
  },
  {
    authors: "<u>Hauck, K.</u> and Kaundal, R<sup>*</sup>.",
    location: "Research on Capitol Hill (RCH) event, Utah Capitol Building; Salt Lake City (UT), USA",
    desc: "Developing Human-Covid Protein-Protein Interactions Atlas for recently emerged SARS-CoV-2 strains: a step towards pan-viral vaccine development.",
    date: 'Feb 8',
    type: 'Poster'
  }
]
%}

{% set pub2021 = [
  {
    authors: "<u>Hauck, K</u>. and Kaundal, R<sup>*</sup>.",
    location: "Fall Student Research Symposium (FSRS); Utah State University (USU), Logan (UT)",
    desc: "Developing Human-Covid Protein-Protein Interactions Atlas for SARS-CoV-2 strains: a step towards pan-viral treatment development.",
    date: 'Dec 9',
    type: 'Oral'
  },
  {
    authors: "<u><em>Kataria, R.</em></u> and Kaundal, R<sup>*</sup>.",
    location: "The 2021 International Society for Molecular Plant-Microbe Interactions Congress (IS-MPMI); Virtual Conference",
    desc: "Computational systems biology of Wheat - Common bunt protein-protein interactions: Uncovering the complex molecular networks in an important host-pathogen interaction system.",
    date: 'Dec 1-2',
    type: 'Oral'
  },
    {
    authors: "<u><em>Kataria, R.</em></u> and Kaundal, R<sup>*</sup>.",
    location: "The 2021 ASA, CSSA, SSSA International Annual Meeting; Salt Lake City (UT), USA",
    desc: "Translating -omics big data: comprehensive understanding of host-pathogen interactions to control common bunt in wheat using computational approaches.",
    date: 'Nov 7-10',
    type: 'Oral'
  },
    {
    authors: "<u>Jouffray, A.</u> and Kaundal, R<sup>*</sup>.",
    location: "The 2021 ASA, CSSA, SSSA International Annual Meeting; Salt Lake City (UT), USA",
    desc: "DeepAugment: a Machine Learning Framework for Autonomous Generation and Annotation of Weeds Detection and Classification.",
    date: 'Nov 7-10',
    type: 'Oral'
  },
    {
    authors: "<u><em>Duhan, N.</em></u> and Kaundal, R<sup>*</sup>.",
    location: "The 2021 ASA, CSSA, SSSA International Annual Meeting; Salt Lake City (UT), USA",
    desc: "pySeqRNA: an Automated Python Package for Next-Generation Sequencing Data Analysis.",
    date: 'Nov 7-10',
    type: 'Oral'
  },
    {
    authors: "<u><em>Kataria, R.</em></u>, <u><em>Duhan, N.</em></u> and Kaundal, R<sup>*</sup>.",
    location: "The 2021 ASA, CSSA, SSSA International Annual Meeting; Salt Lake City (UT), USA",
    desc: "Computational Systems Biology of Alfalfa - Pseudomonas syringae Protein-Protein Interactions: Uncovering the Complex Molecular Networks of Host-Pathogen Interactions to Control Bacterial Blight in Alfalfa.",
    date: 'Nov 7-10',
    type: 'Oral'
  },
    {
    authors: "<em><u>Duhan, N.</em></u>, Norton, J.M. and Kaundal, R<sup>*</sup>.",
    location: "The 2021 ASA, CSSA, SSSA International Annual Meeting; Salt Lake City (UT), USA",
    desc: "deepNEC: a Novel Alignment-Free Tool for the Identification and Classification of Nitrogen Metabolism-related Enzymes for Better Annotation of Agricultural Genomes.",
    date: 'Nov 7-10',
    type: 'Oral'
  },
    {
    authors: "<em><u>Kataria, R.</u></em> and Kaundal, R<sup>*</sup>.",
    location: "The 2021 International Society for Molecular Plant-Microbe Interactions Congress (IS-MPMI); Virtual Conference",
    desc: "alfaNET: a Database of Alfalfa-Bacterial Stem Blight Protein-Protein Interactions Revealing the Molecular Features of the Disease-causing Bacteria.",
    date: 'Sept 15-16',
    type: 'Oral'
  },
   {
    authors: "<em><u>Guevara, D.</u></em> and Kaundal, R<sup>*</sup>.",
    location: "The 29th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB) / The 20th European Conference on Computational Biology (ECCB); Virtual Conference",
    desc: "Prediction and classification of virus families/sub-families, and human-MERS/SARS-CoV/SARS-CoV-2 protein-protein interactions prediction using machine learning.",
    date:'July 25-30',
    type: 'Oral,Poster'
  },
   {
    authors: "<em><u>Kataria, R.</u></em>, <em></u>Duhan, N.</u></em> and Kaundal, R<sup>*</sup>.",
    location: "The 2021 International Society for Molecular Plant-Microbe Interactions Congress (IS-MPMI); Virtual Conference",
    desc: "Translating -omics big data: comprehensive understanding of host-pathogen interactions to control bacterial blight in Alfalfa using computational approaches.",
    date: 'July 12-13',
    type: 'Oral'
  },
   {
    authors: "<em><u>Duhan, N.</em></u> and Kaundal, R<sup>*</sup>.",
    location: "The Annual Student Research Symposium; Utah State University (USU), Logan (UT), USA",
    desc: "pySeqRNA: an automated Python package for RNA sequencing data analysis.",
    date: 'April 14-15',
    type: 'Oral'
  },
     {
    authors: "<u><em>Larson, R.</em></u>, <u><em>Duhan, N.</em></u> and Kaundal, R<sup>*</sup>.",
    location: "The Annual Student Research Symposium; Utah State University (USU), Logan (UT), USA; Virtual Symposium",
    desc: "In silico screening of natural compounds as novel drug targets for the treatment of Multiple Myeloma.",
    date: 'April 14-15',
    type: 'Oral'
  },
      {
    authors: "<em><u>Duhan, N.</u></em>, Norton, J.M. and Kaundal, R<sup>*</sup>.",
    location: "The Annual Student Research Symposium; Utah State University (USU), Logan (UT), USA; Virtual Symposium",
    desc: "deepNEC: a novel alignment-free tool for the identification and classification of nitrification-related enzymes using deep learning.",
    date: 'April 14-15',
    type: 'Oral'
  },
      {
    authors: "<em><u>Kataria, R.</u></em>, <em><u>Duhan, N.</u></em> and Kaundal, R<sup>*</sup>.",
    location: "The Annual Student Research Symposium; Utah State University (USU), Logan (UT), USA; Virtual Symposium",
    desc: "Translating -omics big data: comprehensive understanding of host-pathogen interactions to control bacterial blight in Alfalfa using computational approaches.",
    date: 'April 14-15',
    type: 'Oral'
  },
      {
    authors: "Alcaraz, A., Kaundal, R. and Sharma, B<sup>*</sup>.",
    location: "The 9th Annual Research, Scholarship & Creative Activities Conference (RSCA); California State Polytechnic University, Pomona (CA)",
    desc: "Understanding developmental and molecular changes that trigger floral organ abscission in Aquilegia coerulea.",
    date: 'March 6',
    type: 'Oral'
  }
]
%}

{% set pub2020 = [

  {
    authors: '<u><em>Duhan, N.</em></u>, Norton, J.M. and Kaundal, R<sup>*</sup>.',
    location: 'Virtual Conference',
    desc: 'deepNEC: a novel alignment-free tool for the identification and classification of nitrification-related enzymes using deep learning. The 2020 Annual ASM Intermountain Branch Meeting, American Society of Microbiology',
    date: 'Dec 5',
    type: 'Oral'
  },
  {
    authors: 'Mahalingam, R., Bregitzer, P., <u><em>Duhan, N.</em></u>, and Kaundal, R.',
    location: 'Virtual Conference',
    desc: 'Transcriptome analysis of barley varieties with contrasting responses to heat, drought and combined heat and drought stress. The 2020 Annual International Agronomy Meeting, ASA-CSSA-SSSA',
    date: 'Nov 9-13',
    type: 'Oral'
  },
  {
    authors: '<u><em>Duhan, N.</em></u> and Kaundal, R<sup>*</sup>.',
    location: 'Virtual Conference',
    desc: 'pySeqRNA: an automated Python package for RNA sequencing data analysis. The 28th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB)',
    date: 'Jul 13-16',
    type: 'Oral, Poster'
  },
  {
    authors: '<u><em>Duhan, N.</em></u>, Norton, J.M., and Kaundal, R<sup>*</sup>.',
    location: 'Virtual Conference',
    desc: 'NECminer: a novel alignment-free tool for the identification and classification of Nitrification-related enzymes using Deep Learning. The 28th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB)',
    date: 'Jul 13-16',
    type: 'Oral, Poster'
  },
  {
    authors: '<u><em>Kurivella, N.S.</em></u>, <u><em>Duhan, N.</em></u>, and Kaundal, R<sup>*</sup>.</b>',
    location: 'Virtual Conference',
    desc: 'legumeSSRdb: a comprehensive database of microsatellite markers in Legume species for germplasm characterization and crop improvement. The 28th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB)',
    date: 'Jul 13-16',
    type: 'Oral, Poster'
  },
  {
    authors: '<em>Larson, R.B.</em>, <u>McCowan, S.</u>, and Kaundal, R<sup>*</sup>.',
    location: 'Virtual Conference',
    desc: 'BioinfoCore @ USU: High-performance computing for Bioinformatics and the challenges of big -OMICS data. The 28th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB)',
    date: 'Jul 13-16',
    type: 'Oral, Poster'
  },
  {
    authors: '<u><em>Loaiza, C.D.</em></u>, Flann, N., and Kaundal, R<sup>*</sup>.',
    location: 'Virtual Conference',
    desc: 'deepHPI: a comparative Deep Learning framework for the efficient prediction of host-pathogen protein-protein interactions using sequence-based features. The 28th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB)',
    date: 'Jul 13-16',
    type: 'Oral, Poster'
  },
  {
    authors: 'Alcaraz A., Kaundal, R. and Sharma, B<sup*</sup>',
    location: 'The 8th Annual Research, Scholarship & Creative Activities Conference (RSCA); California State Polytechnic University, Pomona (CA)',
    desc: 'Understanding the developmental changes and genetic pathways that trigger floral organ abscission in Aquilegia coerulea.',
    date: 'Mar 07',
    type: 'Oral'
  },
  {
    authors: 'Sharma, B., Batz, T.A., Kaundal, R., Kramer, E.M., Sanders, U.T<sup>^</sup>, Mellano, V.J., <em><u>Duhan, N.</u></em> and <em>Larson, R.B.</em>',
    location: 'The 18th Annual Cal Poly Pomona Agricultural Research Institute (ARI) Showcase; California State Polytechnic University, Pomona (CA)',
    desc: 'Analysis of developmental and gene expression changes underlying vernalization-induced transition to flowering in Aquilegia coerulea.',
    date: 'Feb 07',
    type: 'Oral'
  },
  {
    authors: '<u><em>Duhan, N.</em></u>, <u><em>Meshram, M.</em></u>, <u><em>Loaiza, C.D.</em></u>, and Kaundal, R<sup>*</sup>.',
    location: 'San Diego (CA), USA',
    desc: 'citSATdb: Genome-Wide Simple Sequence Repeats (SSR) Marker Database of Citrus Species for Germplasm Characterization and Crop Improvement. Plant and Animal Genomes conference XXVIII (PAG international)',
    date: 'Jan 11-15',
    type: 'Oral, Poster'
  },
  {
    authors: '<u><em>Loaiza, C.D.</em></u>, <u><em>Duhan, N.</em></u>, and Kaundal, R<sup>*</sup>.',
    location: 'San Diego (CA), USA',
    desc: 'GreeningDB: a Database of Protein Features and Protein-Protein Interactions of the Bacteria causing HLB. Plant and Animal Genomes conference XXVIII (PAG international)',
    date: 'Jan 11-15',
    type: 'Poster'
  },
  {
    authors: 'Acharya, B.A., Kaundal, R., <u><em>Duhan, N.</em></u>, Pudussery, M., Ferreira, J.F.S., Suarez, D.L., and Sandhu, D.',
    location: 'San Diego (CA), USA',
    desc: 'Dissecting salt tolerance mechanism in alfalfa using RNA-seq analysis of a tolerant and a sensitive genotype. Plant and Animal Genomes conference XXVIII (PAG international)',
    date: 'Jan 11-15',
    type: 'Poster'
  }

]
%}
