{% set pub2020 = [

  {
    authors: '<u><em>Duhan, N.</em></u>, Norton, J.M. and <b>Kaundal, R*.</b>',
    location: 'Virtual Conference',
    desc: 'deepNEC: a novel alignment-free tool for the identification and classification of nitrification-related enzymes using deep learning. The 2020 Annual ASM Intermountain Branch Meeting, American Society of Microbiology',
    year: '2020',
    date: 'Dec 5',
    type: ['oral']
  },
  {
    authors: 'Mahalingam, R., Bregitzer, P., <u><em>Duhan, N.</em></u>, and <b>Kaundal, R.</b>',
    location: 'Virtual Conference',
    desc: 'Transcriptome analysis of barley varieties with contrasting responses to heat, drought and combined heat and drought stress. The 2020 Annual International Agronomy Meeting, ASA-CSSA-SSSA',
    year: '2020',
    date: 'Nov 9-13',
    type: ['oral']
  },
  {
    authors: '<u><em>Duhan, N.</em></u> and <b>Kaundal, R*.</b>',
    location: 'Virtual Conference',
    desc: 'pySeqRNA: an automated Python package for RNA sequencing data analysis. The 28th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB)',
    year: '2020',
    date: 'Jul 13-16',
    type: ['oral', 'poster']
  },
  {
    authors: '<u><em>Duhan, N.</em></u>, Norton, J.M., and <b>Kaundal, R*.</b>',
    location: 'Virtual Conference',
    desc: 'NECminer: a novel alignment-free tool for the identification and classification of Nitrification-related enzymes using Deep Learning. The 28th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB)',
    year: '2020',
    date: 'Jul 13-16',
    type: ['oral', 'poster']
  },
  {
    authors: '<u><em>Kurivella, N.S.</em></u>, <u><em>Duhan, N.</em></u>, and <b>Kaundal, R*.</b>',
    location: 'Virtual Conference',
    desc: 'legumeSSRdb: a comprehensive database of microsatellite markers in Legume species for germplasm characterization and crop improvement. The 28th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB)',
    year: '2020',
    date: 'Jul 13-16',
    type: ['oral', 'poster']
  },
  {
    authors: '<e>Larson, R.B.</em>, <u>McCowan, S.</u>, and <b>Kaundal, R*.</b>',
    location: 'Virtual Conference',
    desc: 'BioinfoCore @ USU: High-performance computing for Bioinformatics and the challenges of big -OMICS data. The 28th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB)',
    year: '2020',
    date: 'Jul 13-16',
    type: ['oral', 'poster']
  },
  {
    authors: '<u><em>Loaiza, C.D.</em></u>, Flann, N., and <b>Kaundal, R*.</b>',
    location: 'Virtual Conference',
    desc: 'deepHPI: a comparative Deep Learning framework for the efficient prediction of host-pathogen protein-protein interactions using sequence-based features. The 28th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB)',
    year: '2020',
    date: 'Jul 13-16',
    type: ['oral', 'poster']
  },
  {
    authors: '<u><em>Duhan, N.</em></u>, <u><em>Meshram, M.</em></u>, <u><em>Loaiza, C.D.</em></u>, and <b>Kaundal, R*.</b>',
    location: 'San Diego (CA), USA',
    desc: 'citSATdb: Genome-Wide Simple Sequence Repeats (SSR) Marker Database of Citrus Species for Germplasm Characterization and Crop Improvement. Plant and Animal Genomes conference XXVIII (PAG international)',
    year: '2020',
    date: 'Jan 11-15',
    type: ['oral', 'poster']
  },
  {
    authors: '<u><em>Loaiza, C.D.</em></u>, <u><em>Duhan, N.</em></u>, and <b>Kaundal, R*.</b>',
    location: 'San Diego (CA), USA',
    desc: 'GreeningDB: a Database of Protein Features and Protein-Protein Interactions of the Bacteria causing HLB. Plant and Animal Genomes conference XXVIII (PAG international)',
    year: '2020',
    date: 'Jan 11-15',
    type: ['poster']
  },
  {
    authors: 'Acharya, B.A., <b>Kaundal, R.</b>, <u><em>Duhan, N.</em></u>, Pudussery, M., Ferreira, J.F.S., Suarez, D.L., and Sandhu, D.',
    location: 'San Diego (CA), USA',
    desc: 'Dissecting salt tolerance mechanism in alfalfa using RNA-seq analysis of a tolerant and a sensitive genotype. Plant and Animal Genomes conference XXVIII (PAG international)',
    year: '2020',
    date: 'Jan 11-15',
    type: ['poster']
  }

]
%}
