{% set pub2025 = [
  {
    authors:'',
    location:'',
    desc:'',
    date:'2025',
    type:''
  }
] %}

{% set pub2024 = [
  {
    authors:'',
    location:'',
    desc:'',
    date:'2024',
    type:''
  }
] %}
{% set pub2023 = [
  {
    authors:'',
    location:'',
    desc:'',
    date:'2023',
    type:''
  }
]
%}
