@import '../colors';
@import '../globals';

.mass-pad-y {
  padding-top: 250px;
  padding-bottom: 250px;
}

.error-bg {
  background: #e1e1e1;
}

a.error-section {
  color: $color-text-main;
  cursor: pointer;

  &:hover {
    color: $color-text-main;
  }
}
