<p class="blog">
Kolton is a Biological Engineering major and is working on a minor in Computer Science. He wants to use computers to solve modern-day 
biological problems.
He enjoys eating, sleeping and working out.
</p>
