@import '../colors';
@import '../globals';

.kbl-article-link {
  transition: var(--time-mid);
  border: 1px solid var(--color-primary-very-light);
  border-radius: var(--border-radius);
  cursor: pointer;

  &:hover {
    border-color: var(--color-primary);

    .link-icon, .title {
      color: var(--color-primary);
    }
  }
}

.kbl-article-link .content-wrapper {
  padding: 20px 10px!important;
}

.kbl-article-link {
  .link-icon, .title {
    transition: var(--time-fast);
    color: var(--color-text-main);
  }
}

.kbl-article-link .link-icon {
  font-size: 350%!important;
}

.kbl-article-link .title {
  font-size: 110%!important;
  font-weight: var(--font-weight-medium)!important;
}
