@mixin kbl-button {
  font-weight: 600!important;
  cursor: pointer;
  transition: var(--time-mid)!important;
  border-radius: var(--btn-radius)!important;
  font-family: 'Montserrat', sans-serif!important;
  padding: 7px 12px!important;
  text-decoration: none;
}

@mixin kbl-btn-outline($btn-color, $btn-txt-color) {
  @include kbl-button;

  color: $btn-txt-color!important;
  border: solid 1px $btn-color!important;

  &:hover {
    background: $btn-color!important;
    color: white!important;
  }

  &:focus {
    text-decoration: none;
    background: $btn-color!important;
    color: white!important;
    box-shadow: none!important;
  }
}

@mixin kbl-btn-solid($btn-color, $btn-txt-color, $btn-hvr-color) {
  @include kbl-button;

  background: $btn-color!important;
  color: $btn-txt-color!important;

  &:hover {
    background: $btn-hvr-color!important;
    color: #fff!important;
  }

  &:focus {
    background: $btn-hvr-color!important;
    color: #fff!important;
    box-shadow: none!important;
  }
}

.kbl-btn-1 {
  @include kbl-btn-outline(var(--color-primary), var(--color-primary));
}

.kbl-btn-1-solid {
  @include kbl-btn-solid(var(--color-primary), #fff, var(--color-primary-dark));
}

.kbl-btn-2-solid {
  @include kbl-btn-solid(var(--color-secondary), #fff, var(--color-secondary-dark));
}

.kbl-btn-circle-solid {
  border-radius: 999px!important;
  cursor: pointer;
  color: #fff!important;
  background: var(--color-primary)!important;
  transition: var(--time-mid)!important;

  &.disabled {
    pointer-events: none!important;
    background: var(--color-btn-gray)!important;
  }

  &:hover {
    background: var(--color-primary-dark)!important;
  }

  &:focus {
    box-shadow: none!important;
  }
}

.kbl-close {
  padding: 0!important;
  font-size: 200%;
  line-height: 100%!important;
  transition: var(--time-mid);
  background: transparent;
  border: none;
  color: var(--color-text-soft);

  &:hover {
    color: var(--color-primary);
  }
}
