.kbl-ctx-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  background: #fff;

  border-radius: var(--border-radius);
  border: 1px solid var(--color-primary);
  padding: 0;
  overflow: hidden;

  &.active {
    display: block;
  }

  .ctx-heading {
    text-align: center;
    font-weight: var(--font-weight-heavy);
    font-size: 110%;
    padding: 8px 0;
    color: var(--color-text-main);

    border-bottom: 1px solid var(--color-border-gray);
  }

  .menu-item {
    font-weight: var(--font-weight-medium);
    padding: 5px 15px;
    cursor: pointer;
    transition: var(--time-mid);

    &:hover {
      background: var(--color-bg-gray);
      color: var(--color-primary);
    }
  }

  .appt-container {
    padding: 5px 15px;
  }
}
