@import '../mixins/shadow';

@mixin kbl-form-base {
  border-radius: var(--border-radius);
  font-weight: 500;
  margin: 10px 0;
}

@mixin kbl-form {
  @include kbl-form-base;

  border: 1px solid var(--color-border-gray);

  &:hover:not(:focus) {
    border-color: var(--color-border-dark-gray)!important;
  }

  &:focus {
    border-color: var(--color-primary);
  }
}

input.kbl-form {
  @include kbl-form;
  padding: 7px 10px!important;
}

textarea.kbl-form {
  @include kbl-form;
  padding: 9px 10px!important;
}

input.time-form {
  border-radius: 0!important;
  border: none!important;
  border-bottom: 2px var(--color-primary) solid!important;
  max-width: 50px;
  font-size: 16px;
  font-weight: var(--font-weight-heavy);
  text-align: center;
  border-radius: var(--border-radius)!important;

  &:focus {
    border-radius: var(--border-radius)!important;
    border-color: var(--color-primary-very-light)!important;
    @include shadow-old(1);
  }
}
