@import '../colors';
@import '../globals';

$card-width: 220px;

.kbl-person-card {
  background: $color-bg-gray;
  border-radius: $border-radius;
  word-wrap: break-word;
  width: $card-width;

  .card-title {
    font-weight: $font-weight-heavy;
    font-size: 110%;
    color: $color-text-main;
  }

  .card-subtitle {
    font-weight: $font-weight-medium;
    font-size: 95%;
    color: $color-text-soft;
  }

  &.select {
    cursor: pointer;
    transition: $time-mid;

    &:hover {
      background: $color-primary-bg;
    }
  }
}

.kbl-person-card-container {
  border-radius: $border-radius;
  overflow: hidden;
  width: $card-width;
}

.modal-img {
  width: 210px;
}

.modal-subtitle {
  color: $color-text-soft;
}
