$card-width: 220px;

.kbl-person-card {
  background: var(--color-bg-gray);
  border-radius: var(--border-radius);
  word-wrap: break-word;
  width: $card-width;

  .card-title {
    font-weight: var(--font-weight-heavy);
    font-size: 110%;
    color: var(--color-text-main);
  }

  .card-subtitle {
    font-weight: var(--font-weight-medium);
    font-size: 95%;
    color: var(--color-text-soft);
  }

  &.select {
    cursor: pointer;
    transition: var(--time-mid);

    &:hover {
      background: var(--color-primary-bg);
    }
  }
}

.kbl-person-card-container {
  border-radius: var(--border-radius);
  overflow: hidden;
  width: $card-width;
}

.modal-img {
  width: 210px;
}

.modal-subtitle {
  color: var(--color-text-soft);
}
