$card-width: 220px;

.kbl-person-card {
  background: var(--color-bg-gray);
  border-radius: var(--border-radius);
  word-wrap: break-word;
  width: $card-width;
  overflow: hidden;
  border: 1px solid transparent;

  .card-title {
    font-weight: var(--font-weight-heavy);
    font-size: 110%;
    color: var(--color-text-main);
  }

  .card-subtitle {
    font-weight: var(--font-weight-medium);
    font-size: 95%;
    color: var(--color-text-soft);
  }

  &.select {
    cursor: pointer;
    transition: var(--time-mid);

    &:hover {
      border-color: var(--color-primary-light);
    }
  }
}

.kbl-person-card-container {
  overflow: hidden;
  width: $card-width;

  &.auto {
    width: auto!important;

    .kbl-person-card {
      width: auto!important;
    }
  }

  .social-card {
    background: var(--color-bg-gray);
    border-radius: var(--border-radius);
  }
}

.modal-img {
  width: 210px;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  transition: var(--time-mid);

  &:hover {
    border-color: var(--color-border-gray);
  }
}

.modal-subtitle {
  color: var(--color-text-soft);
}
