.kbl-date-selector {
  color: var(--color-text-main);
  cursor: pointer;
  transition: var(--time-fast);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-medium);
  font-size: 110%;
  padding: 3px 13px;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }

  &:hover:not(.active) {
    background: var(--color-primary-light)!important;
    color: #fff!important;
  }

  &.active {
    background: var(--color-primary);
    color: #fff;
  }
}

.kbl-tab-selector {
  transition: var(--time-fast);
  font-weight: var(--font-weight-medium);
  font-size: 150%;

  .tab-select-option {
    border-bottom: solid 3px transparent;
    transition: var(--time-mid);
    cursor: pointer;
    color: var(--color-text-ghost);

    padding: 3px 9px;
    margin: 0 5px;

    &:hover:not(.selected) {
      color: var(--color-text-soft);
      border-color: var(--color-primary-very-light);
    }

    &.selected {
      border-color: var(--color-primary);
      color: var(--color-text-main);
    }
  }
}

.kbl-tab-selector-mobile {
  transition: var(--time-fast);
  font-weight: var(--font-weight-medium);

  .tab-select-option {
    transition: var(--time-mid);
    color: var(--color-text-ghost);

    .select-icon {
      font-size: 220%;
    }

    &.selected {
      color: var(--color-primary);
    }
  }
}
