.kbl-date-selector {
  color: var(--color-text-main)!important;
  cursor: pointer;
  transition: var(--time-fast);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-medium);
  font-size: 110%;
  padding: 6px 13px!important;

  &:hover {
    background: var(--color-primary-light)!important;
    color: #fff!important;
  }

  &.active {
    background: var(--color-primary)!important;
    color: #fff!important;
  }
}
