<p class="event-desc">
  Two researchers from the Bioinformatics group presented at the Spring Student Research Symposium in the Merrile-Cazier Library. Caleb Young
  presented on soybean fungicides, and David Guevara presented on the visualization of SNVs, RNA sequences, and Molecular Interaction.
  <br>
  <a target="_blank" class="kbl-link" href="https://www.usu.edu/today/story/nearly-500-aggies-showcase-research-at-annual-student-symposium/?nl=3068&utm_source=todaynewsletter&utm_medium=email&utm_campaign=nl3068&utm_content=nearly-500-aggies-showcase-research-at-annual-student-symposium">Learn more</a>
</p>
