{% set pub2019 = [

 {
   authors: 'Phatak S.<sup>^</sup>, Thomas A., <strong>Kaundal R.</strong>, <i>Jones R.</i>, Hintze K., and Benninghoff A.',
   location: 'The Animal, Dairy and Veterinary Sciences Summer Student Research Symposium; Utah State University (USU), Logan (UT)',
   desc: 'Impact of the Total Western Diet for Rodents on Colon Mucosal Gene Expression in a Multigenerational Murine Model of Colitis-associated Colorectal Cancer. 1st place in flash talk presentation',
   year: '2019',
   date: 'Aug 07',
   type: ['Oral']
 },

 {
   authors: '<i><u>Loaiza C.D.</u></i> and <b>Kaundal R<sup>*</sup>.</b>',
   location: 'The Annual Student Research Symposium; Utah State University (USU), Logan (UT), USA',
   desc: 'Prediction of Host-Pathogen protein-protein interactions using machine learning.',
   year: '2019',
   date: 'Apr 10-11',
   type: ['Oral']
 },

 {
   authors: '<u>Lister M.</u>, <i>Larson R.B.</i> and <b>Kaundal R*.</b>',
   location: 'The Annual Student Research Symposium; Utah State University (USU), Logan (UT), USA',
   desc: 'Centralizing Bioinformatics via High-Performance Computing: Applications, Opportunities, and Challenges in the Era of Large-scale -Omics Data.',
   year: '2019',
   date: 'Aug 07',
   type: []
 },

 {
   authors: '<u><i>Ediriweera U.</i> </u> and <b>Kaundal R<sup>*</sup></b>',
   location: 'The Annual Student Research Symposium; Utah State University (USU), Logan (UT), USA',
   desc: 'Computational Prediction of Host-Pathogen Protein Interactions in Melioidosis pathogen Burkholderia pseudomallei and Human reveals novel Virulence Factors and Infectivity Mechanisms',
   year: '2019',
   date: 'Apr 10-11',
   type: ['Oral']
 },

 {
   authors: '<u>Lister M.</u>, <i>Larson R.B.</i> and <b>Kaundal R*.</b>',
   location: 'The Annual Plants, Soils, and Climate Showcase, College of Agriculture and Applied Sciences; Utah State University (USU), Logan (UT), USA',
   desc: 'High-Performance Computing for Bioinformatics and the Challenges of Big -OMICS Data.',
   year: '2019',
   date: 'Apr 02',
   type: ['Oral']
 },

 {
   authors: '<b>Kaundal R<sup>*</sup>.</b>, <u><i>Duhan N.</i></u>, Acharya B., Pudussery M.V., Ferreira J.F.S., Suarez D.L. and Sandhu D<sup>*</sup>.',
   location: 'The Annual Plants, Soils, and Climate Showcase, College of Agriculture and Applied Sciences; Utah State University (USU), Logan (UT), USA',
   desc: 'Comparative transcriptomics study of alfalfa (Medicago sativa L.) reveals novel genotype-specific salt tolerance mechanisms.',
   year: '2019',
   date: 'Apr 02',
   type: ['Oral']
 },

 {
   authors: '<i><u>Loaiza C.D.</u></i> and <b>Kaundal R<sup>*</sup>.</b>',
   location: 'The Annual Plants, Soils, and Climate Showcase, College of Agriculture and Applied Sciences; Utah State University (USU), Logan (UT), USA',
   desc: 'Deciphering plant-pathogen interactomes: a study on citrus greening disease.',
   year: '2019',
   date: 'Apr 02',
   type: ['Oral']
 },

 {
   authors: '<u><i>Ediriweera U.</i> </u> and <b>Kaundal R<sup>*</sup></b>',
   location: 'The 16th MidSouth Computational Biology & Bioinformatics Society (MCBIOS) annual conference; University of Alabama, Birmingham (AL), USA',
   desc: 'Computational Prediction of Host-Pathogen Protein Interactions in Melioidosis pathogen Burkholderia pseudomallei and Human reveals novel Virulence Factors and Infectivity Mechanisms.',
   year: '2019',
   date: 'Mar 28-30',
   type: ['Oral']
 },

 {
   authors: '<i><u>Loaiza C.D.</u></i> and <b>Kaundal R<sup>*</sup>.</b>',
   location: 'The Plant and Animal Genome XXVII International Conference (PAG); Town and Country Hotel, San Diego (California), USA',
   desc: 'An integrated in silico approach to explore Citrus and HLB host- pathogen interactions.',
   year: '2019',
   date: 'Jan 12-16',
   type: []
 },

 {
   authors: 'Moley L.A.<sup>^</sup> , <i>Jones R.</i>, <b>Kaundal R.<sup>*</sup></b>, Thomas, A.J., Benninghoff, A.D. and Isom, C.',
   location: 'The 45 th Annual International Embryo Transfer Society Conference; Sheraton Hotel, New Orleans (LA), USA',
   desc: 'Gene expression analysis and DNA methylation patterns of porcine SCNT blastocysts with high and low incidence of apoptosis.',
   year: '2019',
   date: 'Jan 20-23',
   type: ['Oral', 'Poster']
 }

]
%}

{% set pub2018 = [

  {
    authors: '',
    location: '',
    desc: '',
    year: '',
    date: '',
    type: []
  }

]
%}
