
{% set pub2022 = [
  {
    authors: "<u>Hauck, K.</u> and <b>Kaundal, R<sup>*</sup>.</b>.",
    location: "Research on Capitol Hill (RCH) event, Utah Capitol Building; Salt Lake City (UT), USA",
    desc: "Developing Human-Covid Protein-Protein Interactions Atlas for recently emerged SARS-CoV-2 strains: a step towards pan-viral vaccine development."
    year: '2022'
    date: 'Feb 8',
    type: ['poster']
  },
]
%}

{% set pub2021 = [
  {
    authors: "<u>Hauck, K</u>. and <b>Kaundal, R<sup>*</sup>.</b>",
    location: "Fall Student Research Symposium (FSRS); Utah State University (USU), Logan (UT), USA",
    desc: "Developing Human-Covid Protein-Protein Interactions Atlas for SARS-CoV-2 strains: a step towards pan-viral treatment development.",
    year: '2021',
    date: 'Dec 9',
    type: ['oral']
  },
  {
    authors: "<u><em>Kataria, R.</u> and <b>Kaundal, R<sup>*</sup>.</b>",
    location: "The 2021 International Society for Molecular Plant-Microbe Interactions Congress (IS-MPMI); Virtual Conference",
    desc: "Computational systems biology of Wheat - Common bunt protein-protein interactions: Uncovering the complex molecular networks in an important host-pathogen interaction system.",
    year: '2021',
    date: 'Dec 1-2',
    type: ['oral']
  },
    {
    authors: "<u><em>Kataria, R.</em></u> and <b>Kaundal, R<sup>*</sup>.</b>"
    location: "The 2021 ASA, CSSA, SSSA International Annual Meeting; Salt Lake City (UT), USA",
    desc: "Translating -omics big data: comprehensive understanding of host-pathogen interactions to control common bunt in wheat using computational approaches.",
    year: '2021',
    date: 'Nov 7-10',
    type: ['oral']
  },
    {
    authors: "<u><em>Jouffray, A.</em></u> and <b>Kaundal, R<sup>*</sup>.</b>",
    location: "The 2021 ASA, CSSA, SSSA International Annual Meeting; Salt Lake City (UT), USA",
    desc: "DeepAugment: a Machine Learning Framework for Autonomous Generation and Annotation of Weeds Detection and Classification.",
    year: '2021',
    date: 'Nov 7-10',
    type: ['oral']
  },
    {
    authors: "<u><em>Duhan, N.</em></u> and <b>Kaundal, R<sup>*</sup>.</b>",
    location: "The 2021 ASA, CSSA, SSSA International Annual Meeting; Salt Lake City (UT), USA",
    desc: "pySeqRNA: an Automated Python Package for Next-Generation Sequencing Data Analysis.",
    year: '2021',
    date: 'Nov 7-10',
    type: ['oral']
  },
    {
    authors: "<u><em>Kataria, R.</em></u>, <u><em>Duhan, N.</em></u> and <b>Kaundal, R<sup>*</sup>.</b>",
    location: "The 2021 ASA, CSSA, SSSA International Annual Meeting; Salt Lake City (UT), USA",
    desc: "Computational Systems Biology of Alfalfa - Pseudomonas syringae Protein-Protein Interactions: Uncovering the Complex Molecular Networks of Host-Pathogen Interactions to Control Bacterial Blight in Alfalfa.",
    year: '2021',
    date: 'Nov 7-10',
    type: ['oral']
  },
    {
    authors: "<em><u>Duhan, N.</em></u>, Norton, J.M. and <b>Kaundal, R<sup>*</sup>.</b>",
    location: "The 2021 ASA, CSSA, SSSA International Annual Meeting; Salt Lake City (UT), USA",
    desc: "deepNEC: a Novel Alignment-Free Tool for the Identification and Classification of Nitrogen Metabolism-related Enzymes for Better Annotation of Agricultural Genomes.",
    year: '2021',
    date: 'Nov 7-10',
    type: ['oral']
  },
    {
    authors: "<em><u>Kataria, R.</u></em> and <b>Kaundal, R<sup>*</sup>.</b>"
    location: "The 2021 International Society for Molecular Plant-Microbe Interactions Congress (IS-MPMI); Virtual Conference",
    desc: "alfaNET: a Database of Alfalfa-Bacterial Stem Blight Protein-Protein Interactions Revealing the Molecular Features of the Disease-causing Bacteria.",
    year: '2021',
    date: 'Sept 15-16',
    type: ['oral']
  },
   {
    authors: "<em><u>Guevara, D.</u></em> and <b>Kaundal, R<sup>*</sup>.</b>",
    location: "The 29th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB) / The 20th European Conference on Computational Biology (ECCB); Virtual Conference",
    desc: "Prediction and classification of virus families/sub-families, and human-MERS/SARS-CoV/SARS-CoV-2 protein-protein interactions prediction using machine learning.",
    year: '2021',
    date:'July 25-30',
    type: ['oral','poster']
  },
   {
    authors: "<em><u>Kataria, R.</u></em>, <em></u>Duhan, N.</u></em> and <b>Kaundal, R<sup>*</sup>.</b>",
    location: "The 2021 International Society for Molecular Plant-Microbe Interactions Congress (IS-MPMI); Virtual Conference",
    desc: "Translating -omics big data: comprehensive understanding of host-pathogen interactions to control bacterial blight in Alfalfa using computational approaches.",
    year: '2021',
    date: 'July 12-13',
    type: ['oral']
  },
   {
    authors: "<em><u>Duhan, N.</em></u> and <b>Kaundal, R<sup>*</sup>.</b>",
    location: "The Annual Student Research Symposium; Utah State University (USU), Logan (UT), USA",
    desc: "pySeqRNA: an automated Python package for RNA sequencing data analysis.",
    year: '2021',
    date: 'April 14-15',
    type: ['oral']
  },
     {
    authors: "<u><em>Larson, R.</em></u>, <u><em>Duhan, N.</em></u> and <b>Kaundal, R<sup>*</sup>.</b>",
    location: "The Annual Student Research Symposium; Utah State University (USU), Logan (UT), USA; Virtual Symposium",
    desc: "In silico screening of natural compounds as novel drug targets for the treatment of Multiple Myeloma.",
    year: '2021',
    date: 'April 14-15',
    type: ['oral']
  },
      {
    authors: "<em><u>Duhan, N.</u></em>, Norton, J.M. and <b>Kaundal, R<sup>*</sup>.</b>",
    location: "The Annual Student Research Symposium; Utah State University (USU), Logan (UT), USA; Virtual Symposium",
    desc: "deepNEC: a novel alignment-free tool for the identification and classification of nitrification-related enzymes using deep learning.",
    year: '2021',
    date: 'April 14-15',
    type: ['oral']
  },
      {
    authors: "<em><u>Kataria, R.</u></em>, <em><u>Duhan, N.</u></em> and <b>Kaundal, R<sup>*</sup>.</b>",
    location: "The Annual Student Research Symposium; Utah State University (USU), Logan (UT), USA; Virtual Symposium",
    desc: "Translating -omics big data: comprehensive understanding of host-pathogen interactions to control bacterial blight in Alfalfa using computational approaches.",
    year: '2021',
    date: 'April 14-15',
    type: ['oral']
  },
      {
    authors: "Alcaraz, A., <b>Kaundal, R.</b> and Sharma, B<sup>*</sup>.",
    location: "The 9th Annual Research, Scholarship & Creative Activities Conference (RSCA); California State Polytechnic University, Pomona (CA)",
    desc: "Understanding developmental and molecular changes that trigger floral organ abscission in Aquilegia coerulea.",
    year: '2021'
    date: 'March 6',
    type: ['oral']
  },
]
%}

{% set pub2020 = [

  {
    authors: '<u><em>Duhan, N.</em></u>, Norton, J.M. and <b>Kaundal, R*.</b>',
    location: 'Virtual Conference',
    desc: 'deepNEC: a novel alignment-free tool for the identification and classification of nitrification-related enzymes using deep learning. The 2020 Annual ASM Intermountain Branch Meeting, American Society of Microbiology',
    year: '2020',
    date: 'Dec 5',
    type: ['oral']
  },
  {
    authors: 'Mahalingam, R., Bregitzer, P., <u><em>Duhan, N.</em></u>, and <b>Kaundal, R.</b>',
    location: 'Virtual Conference',
    desc: 'Transcriptome analysis of barley varieties with contrasting responses to heat, drought and combined heat and drought stress. The 2020 Annual International Agronomy Meeting, ASA-CSSA-SSSA',
    year: '2020',
    date: 'Nov 9-13',
    type: ['oral']
  },
  {
    authors: '<u><em>Duhan, N.</em></u> and <b>Kaundal, R*.</b>',
    location: 'Virtual Conference',
    desc: 'pySeqRNA: an automated Python package for RNA sequencing data analysis. The 28th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB)',
    year: '2020',
    date: 'Jul 13-16',
    type: ['oral', 'poster']
  },
  {
    authors: '<u><em>Duhan, N.</em></u>, Norton, J.M., and <b>Kaundal, R*.</b>',
    location: 'Virtual Conference',
    desc: 'NECminer: a novel alignment-free tool for the identification and classification of Nitrification-related enzymes using Deep Learning. The 28th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB)',
    year: '2020',
    date: 'Jul 13-16',
    type: ['oral', 'poster']
  },
  {
    authors: '<u><em>Kurivella, N.S.</em></u>, <u><em>Duhan, N.</em></u>, and <b>Kaundal, R*.</b>',
    location: 'Virtual Conference',
    desc: 'legumeSSRdb: a comprehensive database of microsatellite markers in Legume species for germplasm characterization and crop improvement. The 28th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB)',
    year: '2020',
    date: 'Jul 13-16',
    type: ['oral', 'poster']
  },
  {
    authors: '<e>Larson, R.B.</em>, <u>McCowan, S.</u>, and <b>Kaundal, R*.</b>',
    location: 'Virtual Conference',
    desc: 'BioinfoCore @ USU: High-performance computing for Bioinformatics and the challenges of big -OMICS data. The 28th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB)',
    year: '2020',
    date: 'Jul 13-16',
    type: ['oral', 'poster']
  },
  {
    authors: '<u><em>Loaiza, C.D.</em></u>, Flann, N., and <b>Kaundal, R*.</b>',
    location: 'Virtual Conference',
    desc: 'deepHPI: a comparative Deep Learning framework for the efficient prediction of host-pathogen protein-protein interactions using sequence-based features. The 28th Annual International Conference on Intelligent Systems for Molecular Biology (ISMB)',
    year: '2020',
    date: 'Jul 13-16',
    type: ['oral', 'poster']
  },
  {
    authors: '<u><em>Duhan, N.</em></u>, <u><em>Meshram, M.</em></u>, <u><em>Loaiza, C.D.</em></u>, and <b>Kaundal, R*.</b>',
    location: 'San Diego (CA), USA',
    desc: 'citSATdb: Genome-Wide Simple Sequence Repeats (SSR) Marker Database of Citrus Species for Germplasm Characterization and Crop Improvement. Plant and Animal Genomes Conference XXVIII (PAG international)',
    year: '2020',
    date: 'Jan 11-15',
    type: ['oral', 'poster']
  },
  {
    authors: '<u><em>Loaiza, C.D.</em></u>, <u><em>Duhan, N.</em></u>, and <b>Kaundal, R*.</b>',
    location: 'San Diego (CA), USA',
    desc: 'GreeningDB: a Database of Protein Features and Protein-Protein Interactions of the Bacteria causing HLB. Plant and Animal Genomes Conference XXVIII (PAG international)',
    year: '2020',
    date: 'Jan 11-15',
    type: ['poster']
  },
  {
    authors: 'Acharya, B.A., <b>Kaundal, R.</b>, <u><em>Duhan, N.</em></u>, Pudussery, M., Ferreira, J.F.S., Suarez, D.L., and Sandhu, D.',
    location: 'San Diego (CA), USA',
    desc: 'Dissecting salt tolerance mechanism in alfalfa using RNA-seq analysis of a tolerant and a sensitive genotype. Plant and Animal Genomes Conference XXVIII (PAG international)',
    year: '2020',
    date: 'Jan 11-15',
    type: ['poster']
  }

]
%}
