<p class="blog">
    ProFeatX is a tool to help you extract protein features in a fast and efficient way. It contains 32 encodings to help facilitate this process.
    By extracting these features, you can use them as input for machine learning methods.
</p>