<p class="blog">
Andrew is a computer science student and software developer. He currently works on developing a method to create datasets for deep learning image 
recognition tasks, enabling robots to generate their own training data.
</p>
