{% from "pages/news/template.njk" import newNewsPage %}

{{ newNewsPage("New Undergrad Student Joined: Andrew Jouffray", "newAndrew","http://bioinfocore.usu.edu/raikou/image/raw/people/ajouffray/profile.jpg") }}