<p class="blog">
  To bolster and accelerate research on infectious disease, we have implemented deepHPI.
  The deepHPI web server is a platform that uses Convolutional Neural Network (CNN) models for the accurate prediction of host-pathogen
  protein-protein interactions.
</p>

<p class="blog">
  The server delivers four host-pathogen model types: plant-pathogen, human-bacteria, human-virus,
  and animal-pathogen. This is to account for a wide range of analyses and use cases, as well as provide an enriched visualization of
  the resulting host-pathogen network.
</p>

<p class="blog">
  For more details, you can visit the
  <a target="_blank" rel="noopener noreferrer" href="http://bioinfo.usu.edu/Deepteractomer/about.html">deepHPI</a>
  page.
</p>
