{% from "pages/news/template.njk" import newNewsPage %}

{{ newNewsPage("Naveen Duhan Awarded Outstanding Doctoral Student Researcher", "naveenReward","http://bioinfocore.usu.edu/raikou/image/raw/bioinfo/profile/1.jpg") }}