

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 /* Custom Button in this absolute mess of CSS */
 .navbar-button {
   font-weight: 500!important;
   cursor: pointer;
   transition: all 0.25s!important;
   color: #d30015!important;
   border: solid 1px #d30015!important;
   border-radius: 5px!important;
   margin-left: 15px!important;
   font-family: 'Montserrat', sans-serif!important;
   padding: 7px 12px!important;
 }

 .navbar-button:hover {
   background: #d30015!important;
   color: white!important;
 }

 .navbar-nav {
   margin-top: 11px!important;
 }

 .btn {
   transition: all 0.3s!important;
 }

.kbl-header {
  background-image: url('https://mph.usu.edu/images/admissions.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.kbl-header.research {
  background-image: url(/assets/img/events_slide.jpg)!important;
}

.kbl-card-header {
  color: #1e7efc;
  transition: 0.3s;
}

.thumbnail:hover .kbl-card-header {
  color: #d43a49;
}

.col-header {
  color: #2f2f2f;
}

.bio {
  text-decoration: none;
  color: #666666;
}
