.pub-item .elem-wrapper {
  float: left; }

.pub-item .title {
  font-size: 14px;
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: 500; }

.pub-item.with-icon .elem-wrapper i {
  background-color: transparent;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 30px;
  font-size: 2.14286rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #D30015;
  line-height: 55px;
  display: block;
  transition: all .25s ease; }

.pub-item .description {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  font-size: 1rem;
  margin-bottom: 5px;
  padding-left: 1px; }
  .pub-item .description .link-with-icon {
    color: #000000; }
    .pub-item .description .link-with-icon i {
      font-size: 16px;
      font-size: 1.14286rem;
      margin-right: 10px; }

.pub-item .description p {
  line-height: 18px; }

  .paper_cut {
    background: #EDF2F6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 26px auto 0;
    min-height: 300px;
    padding: 55px 50px 40px;
    position: relative;
    margin-bottom: 50px;
    width: 90%;
    transition: all .5s; }

  @media (max-width: 530px) {
    .paper_cut {
      padding-left: 20px;
      padding-right: 20px; } }

  .paper_cut:before, .paper_cut:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
    transition: all .2s; }

  .paper_cut:before {
    background: #EDF2F6;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg); }

  .paper_cut:hover:before {
    transform: rotate(-2deg); }

  .paper_cut:hover:after {
    transform: rotate(2deg); }

  .paper_cut:after {
    background: #EDF2F6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 1px;
    transform: rotate(2.5deg); }

    .sec-navigate-wrap {
      font-size: 2.4em;
      color: #fff; }
      .sec-navigate-wrap .seq-next, .sec-navigate-wrap .seq-prev {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        line-height: 1;
        height: 49px;
        width: 39px;

       }
       .sec-navigate-wrap :hover .seq-next :hover :hover, .sec-navigate-wrap .seq-prev :hover :hover{
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        line-height: 1;
        height: 49px;
        width: 39px;
        display: block;
       }
      .sec-navigate-wrap .seq-next {
        float: right;
        margin-right: 45px;
        background-image: url(../img/icon/arrow-right.png); }
      .sec-navigate-wrap .seq-prev {
        background-image: url(../img/icon/arrow-left.png);
        float: left;
        margin-left: 45px; }

    @media (max-width: 767px) {
      .sec-navigate-wrap.pos-y_center {
        top: 40%; }
      .sec-navigate-wrap .seq-next, .sec-navigate-wrap .seq-prev {
        background-size: 55%;
        height: 34px;
        width: 29px; }
      .sec-navigate-wrap .seq-next {
        margin-right: 25px; }
      .sec-navigate-wrap .seq-prev {
        margin-left: 25px; } }

    .seq.seq-active .seq-content {
      background: transparent;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      font-size: 1rem;
      margin: 0;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      width: 95%; }
      .seq.seq-active .seq-content .btn-link {
        display: inline-block; }
        .seq.seq-active .seq-content .btn-link:hover {
          text-decoration: none; }

    .seq--kawsa.seq-active .seq-content {
      padding: 20px 25px; }
      .seq--kawsa.seq-active .seq-content:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        background: #0f2439;
        opacity: .7;
        background-blend-mode: multiply;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px; }
      .seq--kawsa.seq-active .seq-content .seq-title {
        margin-bottom: 8px;
        font-family: "Montserrat"; }
      .seq--kawsa.seq-active .seq-content .seq-meta-text {
        font-weight: 600; }
      .seq--kawsa.seq-active .seq-content .btn-link {
        border-bottom: 1px solid #fff;
        color: #fff;
        display: inline-block;
        font-size: 16px;
        font-weight: 800;
        line-height: 1; }
      @media (min-width: 700px) {
        .seq--kawsa.seq-active .seq-content {
          padding: 20px 45px; } }
      @media (max-width: 767px) {
        .seq--kawsa.seq-active .seq-content .seq-title {
          font-size: 20px; }
        .seq--kawsa.seq-active .seq-content .btn-link {
          font-size: 14px; } }

    .seq-content .btn-link {
      display: inline-block; }

    @media only screen and (min-width: 600px) {
      .seq {
        position: relative;
        height: auto;
        height: 100%;
        max-height: 35vh;
        min-height: 300px; } }

    @media only screen and (min-width: 768px) {
      .seq.seq-active .seq-content {
        width: 635px;
        max-width: 100%; } }
