{% from "pages/events/template.njk" import eventPage %}

{% set event = {
    img: 'assets/img/events/Cricket_2019/7d2e764e.JPG',
    location: '6252 W 6200 S, Kearns, UT',
    date: 'Jul 13, 2019',
    media: [
      'assets/img/events/Cricket_2019/b05c00fe.JPG',
      'assets/img/events/Cricket_2019/e7b2e7fc.JPG',
      'assets/img/events/Cricket_2019/IMG_6284.JPG',
      'assets/img/events/Cricket_2019/IMG_6285.JPG',
      'assets/img/events/Cricket_2019/IMG_6304.JPG'
    ]
  }
%}

{{ eventPage("Cricket in Utah", "cricket", event) }}
