{% from "pages/events/template.njk" import eventPage %}

{% set event = {
    img: '/image/bioinfo/events/osupres//11310703416_5d39f89a49.png',
    location: '246 Noble Research Center, Stillwater, OK',
    date: 'Dec 10, 2013',
    media: [
      '/image/bioinfo/events/osupres/11310660485_07cd6a9c5e.png',
      '/image/bioinfo/events/osupres/11310786163_7acfbcb421.png',
      '/image/bioinfo/events/osupres/11310788173_cf1bb74f31.png',
      '/image/bioinfo/events/osupres/11310793203_26b733e261.png'
    ]
  }
%}

{{ eventPage("Won President's Cup at OSU", "osucup", event) }}
