.kbl-form {
  transition: 0.25s;
  border-radius: 5px;
  margin: 10px 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  letter-spacing: 1px;
  font-weight: 500;
}

.kbl-form:hover {
  border-color: #fcc7c7;
}

.kbl-form:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #f5253a;
}
