<article class="container">
<div class="events_post_single-sagment" id="hsing">
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <article class="sabbi-events-item">
                <a href="#" class="sabbi-events-link">
                    <figure>
                        <img class="sabbi-events-img img-responsive" style="width: 913px; height: 590px;" src="assets/img/events/NCHU-2018/IMG_5118.JPG" alt="thompson">
                    </figure>
                </a>
                <div class="events-item-meta">
                    <div class="events-loc"><i class="ion-location"></i><span class="text">145 Xingda Road,
                        S District, Taichung City, Taiwan</span></div>
                        <div class="events-date"><i class="ion-calendar"></i><span class="text">2<sup>nd</sup> -
                            9<sup>th</sup> March 2018</span></div>
                    <p class="events-item-meta-text" style="text-align: justify;"></p>
                    <br>
                        <!-- For more details, please visit <a target="_blank" href="http://www.usu.edu/today/index.cfm?id=58311">Click Here</a> -->
                    </p>
                </div>
                <div class="events-item-media">
                    <h4 class="sagment-title">From Media</h4>
                    <div class="row events-item-media-scoup">
                        <div class="col-sm-4">
                            <figure>
                                <a href="assets/img/events/NCHU-2018/IMG_5082.JPG" data-toggle="lightbox" data-gallery="sabb-gallery"><img src="assets/img/events/NCHU-2018/IMG_5082.JPG" alt="" class="event_thumb img-responsive events-item-media-img"></a>
                            </figure>
                        </div>
                        <div class="col-sm-4">
                            <figure>
                                <a href="assets/img/events/NCHU-2018/IMG_5098.JPG" data-toggle="lightbox" data-gallery="sabb-gallery"><img src="assets/img/events/NCHU-2018/IMG_5098.JPG" alt="" class="event_thumb img-responsive events-item-media-img"></a>
                            </figure>
                        </div>
                        <div class="col-sm-4">
                            <figure>
                                <a href="assets/img/events/NCHU-2018/IMG_5117.JPG" data-toggle="lightbox" data-gallery="sabb-gallery"><img src="assets/img/events/NCHU-2018/IMG_5117.JPG" alt="" class="event_thumb img-responsive events-item-media-img"></a>
                            </figure>
                        </div>
                    </div>
                    <div class="row events-item-media-scoup">
                        <div class="col-sm-4">
                            <figure>
                                <a href="assets/img/events/NCHU-2018/IMG_5195.JPG" data-toggle="lightbox" data-gallery="sabb-gallery"><img src="assets/img/events/NCHU-2018/IMG_5195.JPG" alt="" class="event_thumb img-responsive events-item-media-img"></a>
                            </figure>
                        </div>
                        <div class="col-sm-4">
                            <figure>
                                <a href="assets/img/events/NCHU-2018/IMG_5001.JPG"  data-toggle="lightbox" data-gallery="sabb-gallery"><img src="assets/img/events/NCHU-2018/IMG_5001.JPG" alt="" class="event_thumb img-responsive events-item-media-img"></a>
                            </figure>
                        </div>
                        <div class="col-sm-4">
                            <figure>
                                <a href="assets/img/events/NCHU-2018/IMG_5063.JPG" data-toggle="lightbox" data-gallery="sabb-gallery"><img src="assets/img/events/NCHU-2018/IMG_5063.JPG" alt="" class="event_thumb img-responsive events-item-media-img"></a>
                            </figure>
                        </div>
                    </div>
                </div>
            </article><!-- /.sabbi-events-item -->
        </div>

    </div>
</div>
</article>
