{% set template = {
    title: "TEST",
    subtitle: "Details",
    img: ""
  }
%}

{% set ai = {
    title: "Artificial Intelligence",
    subtitle: "OMICS big data to novel biological discoveries",
    img: ""
  }
%}

{% set hpi = {
    title: "Host-pathogen Interactions",
    subtitle: "Understanding mechanisms of infectious diseases",
    img: ""
  }
%}

{% set pfp = {
    title: "Protein Function Prediction",
    subtitle: "Annotation of novel proteomes",
    img: ""
  }
%}

{% set metagenomics = {
    title: "Metagenomics",
    subtitle: "Bioinformatics solutions for crop improvement",
    img: ""
  }
%}

{% set pa = {
    title: "Precision Agriculture",
    subtitle: "Robotics for integrated weed management",
    img: ""
  }
%}

{% set ngs = {
    title: "NGS Studies",
    subtitle: "Deciphering and making sense of complex -omics big data",
    img: ""
  }
%}

{% set research = [ai, hpi, pfp, metagenomics, pa, ngs] %}
