<!DOCTYPE html>
{% set bs4 = true %}
<html class="no-js" lang="en">
{% from "universal/_header.njk" import header %}
{{ header(bs4=bs4) }}

<body>
  {% from "universal/_navbar-bs4.njk" import navbar %}
  {{ navbar("Research", "Research Articles") }}

  <!--
  <header class="kbl-header research sabbi-page-header page-header-lg">
      <div class="page-header-content conternt-center">
          <div class="header-title-block">
              <h1 class="page-title">Research</h1>
          </div>
      </div>
  </header>
  <div class="auth-breadcrumb-wrap">
      <div class="container">
          <ol class="breadcrumb sabbi-breadcrumb list-unstyled list-inline">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="#">Research Articles</a></li>
          </ol>
      </div>
  </div>
-->

<article class="container-fluid kbl-top">
  <div class="row justify-content-center pt-4">
    <div class="col-auto">
      <h1><ion-icon name="document-text-outline" class="kbl-header-icon"></ion-icon></h1>
    </div>
    <div class="col-auto pt-3 header-icon-wrapper text-left">
      <h1>Research Articles</h1>
      <h6>
        Research from our lab
      </h6>
    </div>
  </div>
</article>

  <section class="sabbi-section stage_events_post stage_events_post-single">
      <div class="container">
              <div class="events_post_single-sagment tabcontent" id="ai" style="display: none;">
                      <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                              <article class="sabbi-events-item">
                                  <a href="#" class="sabbi-events-link">
                                      <figure>
                                          <img class="sabbi-events-img img-responsive" style="width: 913px; height: 590px;" src="assets/img/AI-processor-LowRes-v1.jpg" alt="thompson">
                                          <figcaption>
                                              <h2 class="sabbi-events-title font-md__x" style="color: black;">Artificial
                                                      Intelligence:
                                                      OMICS bigdata to novel biological discoveries</h2>
                                          </figcaption>
                                      </figure>
                                  </a>
                                  <div class="events-item-meta">
                                          <!-- <div class="events-loc"><i class="ion-location"></i><span class="text">4820 Old Main Hill, Logan, UT</span></div>
                                          <div class="events-date"><i class="ion-calendar"></i><span class="text">Nov 20, 2019</span></div> -->
                                          <p class="events-item-meta-text" style="text-align: justify;"></p>Computational modeling through <i>pattern
                                                  recognition</i>,
                                              develop novel algorithms and...
                                      <!-- <br> -->
                                          <!-- For more details, please visit <a target="_blank" href="http://www.usu.edu/today/index.cfm?id=58311">Click Here</a> -->
                                      </p>
                                  </div>
                              </article><!-- /.sabbi-events-item -->
                          </div>

                      </div>
                  </div><!-- /.events_post_single-sagment -->

          <div class="events_post_single-sagment tabcontent" id="hpi" style="display: none;">
              <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                      <article class="sabbi-events-item">
                          <a href="#" class="sabbi-events-link">
                              <figure>
                                  <img class="sabbi-events-img img-responsive" style="width: 913px; height: 590px;" src="assets/img/hpis_Resized.gif" alt="thompson">
                                  <figcaption>
                                      <h2 class="sabbi-events-title font-md__x" style="color: black;">Host-pathogen
                                              interactions: Understanding mechanisms of infectious diseases</h2>
                                  </figcaption>
                              </figure>
                          </a>
                          <div class="events-item-meta">
                                  <!-- <div class="events-loc"><i class="ion-location"></i><span class="text">4820 Old Main Hill, Logan, UT</span></div>
                                  <div class="events-date"><i class="ion-calendar"></i><span class="text">Oct 08, 2019</span></div> -->
                                  <p class="events-item-meta-text" style="text-align: justify;"></p>Explore cross-kingdom threats and identify novel
                                  therapeutic candidates...
                              <!-- <br>
                                  For more details, please visit <a target="_blank" href="http://www.usu.edu/today/index.cfm?id=58311">Click Here</a> -->
                              </p>
                          </div>
                      </article><!-- /.sabbi-events-item -->
                  </div>

              </div>
          </div><!-- /.events_post_single-sagment -->

          <div class="events_post_single-sagment tabcontent" id="protein" style="display: none;">
                  <div class="row">
                      <div class="col-sm-8 col-sm-offset-2">
                          <article class="sabbi-events-item">
                              <a href="#" class="sabbi-events-link">
                                  <figure>
                                      <img class="sabbi-events-img img-responsive" style="width: 913px; height: 590px;" src="assets/img/functionalbg_resized.png" alt="thompson">
                                      <figcaption>
                                          <h2 class="sabbi-events-title font-md__x" style="color: black;">Protein function
                                                  prediction: Annotation of novel proteomes</h2>
                                      </figcaption>
                                  </figure>
                              </a>
                              <div class="events-item-meta">
                                      <!-- <div class="events-loc"><i class="ion-location"></i><span class="text">4820 Old Main Hill, Logan, UT</span></div>
                                      <div class="events-date"><i class="ion-calendar"></i><span class="text">Oct 12, 2016</span></div> -->
                                  <p class="events-item-meta-text" style="text-align: justify;"></p>Identify novel protein features, train in an AI
                                  framework,
                                  implement as web servers...
                                  <!-- <br>
                                      For more details, please visit <a target="_blank" href="http://www.usu.edu/today/index.cfm?id=58311">Click Here</a> -->
                                  </p>
                              </div>
                          </article><!-- /.sabbi-events-item -->
                      </div>

                  </div>
          </div><!-- /.events_post_single-sagment -->

          <div class="events_post_single-sagment tabcontent" id="metagenomics" style="display: none;">
                  <div class="row">
                      <div class="col-sm-8 col-sm-offset-2">
                          <article class="sabbi-events-item">
                              <a href="#" class="sabbi-events-link">
                                  <figure>
                                      <img class="sabbi-events-img img-responsive" style="width: 913px; height: 590px;" src="assets/img/meta_new.png" alt="thompson">
                                      <figcaption>
                                          <h2 class="sabbi-events-title font-md__x" style="color: black;">Metagenomics: Bioinformatics solutions for crop
                                                  improvement</h2>
                                      </figcaption>
                                  </figure>
                              </a>
                              <div class="events-item-meta">
                                      <!-- <div class="events-loc"><i class="ion-location"></i><span class="text">4820 Old Main Hill, Logan, UT</span></div>
                                      <div class="events-date"><i class="ion-calendar"></i><span class="text">23<sup>rd</sup> March 2019</span></div> -->
                                      <p class="events-item-meta-text" style="text-align: justify;"></p>Investigate diversity of enzymes in soil metagenomes
                                      and
                                      develop advanced tools...
                                      <!-- <br>
                                          For more details, please visit <a target="_blank" href="http://www.usu.edu/today/index.cfm?id=58311">Click Here</a> -->
                                      </p>
                              </div>
                          </article><!-- /.sabbi-events-item -->
                      </div>

                  </div>
          </div><!-- /.events_post_single-sagment -->

          <div class="events_post_single-sagment tabcontent" id="agriculture" style="display: none;">
                  <div class="row">
                      <div class="col-sm-8 col-sm-offset-2">
                          <article class="sabbi-events-item">
                              <a href="#" class="sabbi-events-link">
                                  <figure>
                                      <img class="sabbi-events-img img-responsive" style="width: 913px; height: 590px;" src="assets/img/sabbi-post/p_agr.jpg" alt="thompson">
                                      <figcaption>
                                          <h2 class="sabbi-events-title font-md__x" style="color: black;">Precision Agriculture: Robotics for integrated
                                                  weed
                                                  management (IWM)</h2>
                                      </figcaption>
                                  </figure>
                              </a>
                              <div class="events-item-meta">
                                      <!-- <div class="events-loc"><i class="ion-location"></i><span class="text">4820 Old Main Hill, Logan, UT</span></div>
                                      <div class="events-date"><i class="ion-calendar"></i><span class="text">23<sup>rd</sup> March 2019</span></div> -->
                                      <p class="events-item-meta-text" style="text-align: justify;"></p>Incorporate sensing technology for precise IWM,
                                      minimize
                                      damage to crop, environment...
                                      <!-- <br>
                                          For more details, please visit <a target="_blank" href="http://www.usu.edu/today/index.cfm?id=58311">Click Here</a> -->
                                      </p>
                              </div>
                          </article><!-- /.sabbi-events-item -->
                      </div>

                  </div>
          </div><!-- /.events_post_single-sagment -->

          <div class="events_post_single-sagment tabcontent" id="ngs" style="display: none;">
                  <div class="row">
                      <div class="col-sm-8 col-sm-offset-2">
                          <article class="sabbi-events-item">
                              <a href="#" class="sabbi-events-link">
                                  <figure>
                                      <img class="sabbi-events-img img-responsive" style="width: 913px; height: 590px;" src="assets/img/datamining-lowres.png" alt="thompson">
                                      <figcaption>
                                          <h2 class="sabbi-events-title font-md__x" style="color: black;">NGS studies: Deciphering and making sense of the
                                                  complex -<i>omics</i> bigdata</h2>
                                      </figcaption>
                                  </figure>
                              </a>
                              <div class="events-item-meta">
                                      <!-- <div class="events-loc"><i class="ion-location"></i><span class="text">4820 Old Main Hill, Logan, UT</span></div>
                                      <div class="events-date"><i class="ion-calendar"></i><span class="text">23<sup>rd</sup> March 2019</span></div> -->
                                      <p class="events-item-meta-text" style="text-align: justify;"></p>Identification of novel expressed genes from
                                      transcriptomics studies, methylation patterns...
                                      <!-- <br>
                                          For more details, please visit <a target="_blank" href="http://www.usu.edu/today/index.cfm?id=58311">Click Here</a> -->
                                      </p>
                              </div>
                          </article><!-- /.sabbi-events-item -->
                      </div>

                  </div>
          </div><!-- /.events_post_single-sagment -->
          <!-- /.events_post_single-sagment -->
          <nav aria-label="Page navigation" class="pagination_wraper">
                  <ul class="pagination">
                      <!-- <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li> -->
                      <li><a class="tablinks" onclick="openEvent(event, 'ai')" href="#tabcontent">1</a></li>
                      <li><a class="tablinks" onclick="openEvent(event, 'hpi')" href="#tabcontent">2</a></li>
                      <li><a class="tablinks" onclick="openEvent(event, 'protein')" href="#tabcontent">3</a></li>
                      <li><a class="tablinks" onclick="openEvent(event, 'metagenomics')" href="#tabcontent">4</a></li>
                      <li><a class="tablinks" onclick="openEvent(event, 'agriculture')" href="#tabcontent">5</a></li>
                      <li><a class="tablinks" onclick="openEvent(event, 'ngs')" href="#tabcontent">6</a></li>
                      <!-- <li><a class="active" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li> -->
                  </ul>
          </nav><!-- /.pagination_wraper -->
  </section>

  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts(bs4=bs4) }}
</body>

</html>
