<!DOCTYPE html>
{% set bs4 = true %}
<html class="no-js" lang="en">
{% from "universal/_header.njk" import header %}
{{ header(bs4=bs4) }}

<body>
  {% from "universal/_navbar-bs4.njk" import navbar %}
  {{ navbar("Research", "Research Articles") }}

  <!--
  <header class="kbl-header research sabbi-page-header page-header-lg">
      <div class="page-header-content conternt-center">
          <div class="header-title-block">
              <h1 class="page-title">Research</h1>
          </div>
      </div>
  </header>
  <div class="auth-breadcrumb-wrap">
      <div class="container">
          <ol class="breadcrumb sabbi-breadcrumb list-unstyled list-inline">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="#">Research Articles</a></li>
          </ol>
      </div>
  </div>
-->

  <article class="container-fluid kbl-top">
    <div class="row justify-content-center pt-4">
      <div class="col-auto">
        <h1><ion-icon name="library-outline" class="kbl-header-icon"></ion-icon></h1>
      </div>
      <div class="col-auto pt-3 header-icon-wrapper text-left">
        <h1>Research Articles</h1>
        <h6>
          Results from our lab
        </h6>
      </div>
    </div>
  </article>

  <article class="container-fluid mt-5">
    <div class="row justify-content-center">
      {% from './articles.njk' import research %}
      {% from "components/article-link.njk" import articleLink %}
      {% for article in research %}
        <section class="col-3 py-2">
          {{ articleLink(article) }}
        </section>
      {% endfor %}
    </div>
  </article>

  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts(bs4=bs4) }}
</body>

</html>
