@import '../globals';

$elements: div, h1, h2, h3, h4, h5, h6, span, p;

a {
  text-decoration: none!important;

  @each $element in $elements {
    #{$element} {
      text-decoration: none!important;
    }
  }
}

a.kbl-link {
  color: var(--color-primary);
  border-bottom: 1px solid transparent!important;
  text-decoration: none!important;
  transition: $time-fast;

  &.thicc {
    font-weight: $font-weight-heavy!important;
  }

  &.dull {
    color: var(--color-text-main)!important;
  }

  &:hover:not(:focus) {
    border-color: var(--color-primary)!important;
    color: var(--color-primary)!important;
    text-decoration: none!important;
  }

  &:hover {
    border-color: var(--color-primary)!important;
    text-decoration: none!important;
  }

  &:focus {
    color: var(--color-primary-dark)!important;
    border-color: var(--color-primary-dark);
    text-decoration: none!important;
  }
}
