@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

/*sliding animation*/
@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

div#sequence {
    overflow: hidden;
}

div#sliding_animation ul li {
    width: 20%;
    float: left;
}

div#sliding_animation ul {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 10s slidy infinite;
}

.MultiCarousel {
    float: left;
    overflow: hidden;
    /* padding: 15px; */
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50%);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}

.vl {
    border-left: 1px solid #0f2439;
    height: 30px;
    margin-top: 10px;
    margin-left: 85px;
    /* position: absolute; */
}

.bottom-right {
    /* position: absolute; */
    bottom: 8px;
    right: 16px;
}

.logo_text1 {
    color: #0f2439;
    /* background-image: url(https://media.giphy.com/media/Lr2xYGw6IMVofbjRSu/giphy.gif); */
    font-weight: 700;
    letter-spacing: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* color: white;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.fix-picture {
  transform: scale(1.1) translate(45px, 20px);
}
