.event-details {
  color: var(--color-text-soft)!important;
  font-size: 105%!important;
}

.event-desc {
  margin-top: 10px;
  color: var(--color-text-main);
}

.event-thumbnail {
  height: 120px;
}
