{% macro selector(btnString, routerEventsYearRange) %}
  {% if btnString === routerEventsYearRange %}
    <div class="col-auto">
      <a href="/events?range={{ btnString }}" class="kbl-date-selector active">{{ btnString }}</a>
    </div>
  {% else %}
    <div class="col-auto">
      <a href="/events?range={{ btnString }}" class="kbl-date-selector">{{ btnString }}</a>
    </div>
  {% endif %}
{% endmacro %}

{% macro activeCheck(yearString, routerEventsYearRange) %}
  {% if yearString === routerEventsYearRange %}

  {% else %}
    d-none
  {% endif %}
{% endmacro %}
