<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<!--I can write -->
{% from "universal/_header.njk" import header %}
{{ header("lab_events") }}

<body class="auth-theme-rashmore">
  {% from "universal/_navbar.njk" import navbar %}
  {{ navbar("Events") }}

  <header class="sabbi-page-header page-header-lg">
      <div class="page-header-content conternt-center">
          <div class="header-title-block">
              <h1 class="page-title">Events</h1>
          </div>
      </div>
  </header><!-- /.sabbi-page-header -->
  <div class="auth-breadcrumb-wrap">
      <div class="container">
          <ol class="breadcrumb sabbi-breadcrumb list-unstyled list-inline">
              <li><a href="index.html">Home</a></li>
              <li class="active"><a href="#">Events</a></li>
          </ol>
      </div>
  </div><!-- /.auth-breadcrumb-wrap -->
  <section class="sabbi-section stage_events_post">
      <div class="container">
          <div class="events_post-sagment tabcontent" id="20">
              <h4 class="sagment-title">2020</h4>
              <div class="row">
                  <div class="col-sm-6">
                      <article class="sabbi-events-item">
                          <a href="events_single.html?event=pag" class="sabbi-events-link">
                              <figure class="img-hover-zoom">
                                  <img class="sabbi-events-img img-responsive lab_event"
                                  style=""
                                      src="assets/img/events/PAG-2019/g2.jpg"
                                      alt="thompson">
                                  <figcaption class="event_text">
                                      <h2 class="sabbi-events-title font-md__x " style="color: black;">Plant & Animal Genome Conference
                                      </h2>
                                  </figcaption>
                              </figure>
                          </a>
                          <div class="events-item-meta">
                              <div class="events-loc"><i class="ion-location"></i><span class="text">500 Hotel Circle N,
                                      San Diego, CA</span></div>
                              <div class="events-date"><i class="ion-calendar"></i><span class="text">12<sup>th</sup>
                                      Jan 2019</span></div>
                          </div>
                      </article><!-- /.sabbi-events-item -->
                  </div>
              </div>
          </div><!-- /.events_post-sagment -->
          <div class="events_post-sagment tabcontent" id="19">
              <h4 class="sagment-title">2019</h4>
              <div class="row">
                  <div class="col-sm-6">
                      <article class="sabbi-events-item">
                          <a href="events_single.html?event=pag" class="sabbi-events-link">
                              <figure class="img-hover-zoom">
                                  <img class="sabbi-events-img img-responsive lab_event"
                                  style=""
                                      src="assets/img/events/PAG-2019/g2.jpg"
                                      alt="thompson">
                                  <figcaption class="event_text">
                                      <h2 class="sabbi-events-title font-md__x " style="color: black;">Plant & Animal Genome Conference
                                      </h2>
                                  </figcaption>
                              </figure>
                          </a>
                          <div class="events-item-meta">
                              <div class="events-loc"><i class="ion-location"></i><span class="text">500 Hotel Circle N,
                                      San Diego, CA</span></div>
                              <div class="events-date"><i class="ion-calendar"></i><span class="text">12<sup>th</sup>
                                      Jan 2019</span></div>
                          </div>
                      </article><!-- /.sabbi-events-item -->
                  </div>
                  <div class="col-sm-6">
                      <article class="sabbi-events-item">
                          <a href="events_single.html?event=psc" class="sabbi-events-link">
                              <figure class="img-hover-zoom">
                                  <img class="sabbi-events-img img-responsive lab_event"
                                      src="assets/img/events/PSCshowcase_2019/d791cf15-ac89-4759-97d8-239827926698.JPG"
                                      alt="thompson">
                                  <figcaption class="event_text">
                                      <h2 class="sabbi-events-title font-md__x " style="color: black;">PSC Showcase
                                      </h2>
                                  </figcaption>
                              </figure>
                          </a>
                          <div class="events-item-meta">
                              <div class="events-loc"><i class="ion-location"></i><span class="text">4820 Old Main
                                      Hill, Logan, UT</span></div>
                              <div class="events-date"><i class="ion-calendar"></i><span class="text">23<sup>rd</sup>
                                      March 2019</span></div>
                          </div>
                      </article><!-- /.sabbi-events-item -->
                  </div>
                  <div class="col-sm-6">
                      <article class="sabbi-events-item">
                          <a href="events_single.html?event=cricket" class="sabbi-events-link">
                              <figure class="img-hover-zoom">
                                  <img class="sabbi-events-img img-responsive lab_event"
                                      src="assets/img/events/Cricket_2019/7d2e764e.JPG"
                                      alt="thompson">
                                  <figcaption class="event_text">
                                      <h2 class="sabbi-events-title font-md__x " style="color: black;">Cricket in Utah
                                      </h2>
                                  </figcaption>
                              </figure>
                          </a>
                          <div class="events-item-meta">
                              <div class="events-loc"><i class="ion-location"></i><span class="text">6252 W 6200 S,
                                     Kearns, UT</span></div>
                              <div class="events-date"><i class="ion-calendar"></i><span class="text">13<sup>th</sup>
                                      July 2019</span></div>
                          </div>
                      </article><!-- /.sabbi-events-item -->
                  </div>
                  <div class="col-sm-6">
                      <article class="sabbi-events-item">
                          <a href="events_single.html?event=winter" class="sabbi-events-link">
                              <figure class="img-hover-zoom">
                                  <img class="sabbi-events-img img-responsive lab_event"
                                      src="assets/img/events/USU_winter/IMG_1201.JPG" alt="thompson">
                                  <figcaption>
                                      <h2 class="sabbi-events-title font-md__x" style="color: black;">Utah State
                                          University Winter</h2>
                                  </figcaption>
                              </figure>
                          </a>
                          <div class="events-item-meta">
                              <div class="events-loc"><i class="ion-location"></i><span class="text">4700 Old Main
                                      Hiil, Logan, UT</span></div>
                              <div class="events-date"><i class="ion-calendar"></i><span class="text">1<sup>st</sup>
                                      December 2019</span></div>
                          </div>
                      </article><!-- /.sabbi-events-item -->
                  </div>
              </div>
          </div><!-- /.events_post-sagment -->
          <div class="events_post-sagment tabcontent" style="display: none" id="18">
              <h4 class="sagment-title">2018</h4>
              <div class="row">
                  <div class="col-sm-6">
                      <article class="sabbi-events-item">
                          <a href="events_single.html?event=rocky" class="sabbi-events-link">
                              <figure class="img-hover-zoom">
                                  <img class="sabbi-events-img img-responsive lab_event"
                                      style="transform: rotate(180deg);"
                                      src="assets/img/events/Rocky_2018/IMG_1335.JPG" alt="thompson">
                                  <figcaption>
                                      <h2 class="sabbi-events-title font-md__x" style="color: black;">Rocky
                                          Bioinformatics Conference</h2>
                                  </figcaption>
                              </figure>
                          </a>
                          <div class="events-item-meta">
                              <div class="events-loc"><i class="ion-location"></i><span class="text">130 Wood Road,
                                      Snowmass Village, CO</span></div>
                              <div class="events-date"><i class="ion-calendar"></i><span class="text">5<sup>th</sup> -
                                      7<sup>th</sup> December 2018</span></div>
                          </div>
                      </article><!-- /.sabbi-events-item -->
                  </div>
                  <div class="col-sm-6">
                      <article class="sabbi-events-item">
                          <a href="events_single.html?event=hsing" class="sabbi-events-link">
                              <figure class="img-hover-zoom">
                                  <img class="sabbi-events-img img-responsive lab_event"
                                      src="assets/img/events/NCHU-2018/IMG_5118.JPG" alt="thompson">
                                  <figcaption>
                                      <h2 class="sabbi-events-title font-md__x" style="color: black;">Visit to
                                          National Chung Hsing University</h2>
                                  </figcaption>
                              </figure>
                          </a>
                          <div class="events-item-meta">
                              <div class="events-loc"><i class="ion-location"></i><span class="text">145 Xingda Road,
                                      S District, Taichung City, Taiwan</span></div>
                              <div class="events-date"><i class="ion-calendar"></i><span class="text">2<sup>nd</sup> -
                                      9<sup>th</sup> March 2018</span></div>
                          </div>
                      </article><!-- /.sabbi-events-item -->
                  </div>
              </div>
          </div><!-- /.events_post-sagment -->
          <div class="events_post-sagment tabcontent" style="display: none" id="13">
              <h4 class="sagment-title">2013</h4>
              <div class="row">
                  <div class="col-sm-6">
                      <article class="sabbi-events-item">
                          <a href="events_single.html?event=osu" class="sabbi-events-link">
                              <figure class="img-hover-zoom">
                                  <img class="sabbi-events-img img-responsive lab_event"
                                      src="assets/img/events/OSU-President's Cup Dec2013//11310703416_5d39f89a49.png"
                                      alt="thompson">
                                  <figcaption>
                                      <h2 class="sabbi-events-title font-md__x" style="color: black;">Won President's
                                          Cup at OSU</h2>
                                  </figcaption>
                              </figure>
                          </a>
                          <div class="events-item-meta">
                              <div class="events-loc"><i class="ion-location"></i><span class="text">246 Noble
                                      Research Center, Stillwater, OK</span></div>
                              <div class="events-date"><i class="ion-calendar"></i><span class="text">10<sup>th</sup>
                                      December 2013</span></div>
                          </div>
                      </article><!-- /.sabbi-events-item -->
                  </div>

              </div>
          </div><!-- /.events_post-sagment -->
          <nav aria-label="Page navigation" class="pagination_wraper">
              <ul class="pagination">
                  <!-- <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li> -->
                  <li><a class="tablinks" onclick="openEvent(event, '19')" href="#tabcontent">1</a></li>
                  <li><a class="tablinks" onclick="openEvent(event, '18')" href="#tabcontent">2</a></li>
                  <li><a class="tablinks" onclick="openEvent(event, '13')" href="#tabcontent">3</a></li>
                  <!-- <li><a class="active" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li> -->
              </ul>
          </nav><!-- /.pagination_wraper -->
      </div>
  </section><!-- /.stage_events_post -->

  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts() }}
</body>

</html>
