<!DOCTYPE html>
<html class="no-js" lang="en">
{% from "universal/_header.njk" import header %}
{{ header("lab_events") }}

<body>
  {% from "universal/_navbar.njk" import navbar %}
  {{ navbar("Events") }}

  {% from "components/img-header.njk" import imgHeader %}
  {{ imgHeader(headerTitle="Events") }}

  {% from "components/breadcrumb.njk" import breadcrumb %}
  {{ breadcrumb([{name: 'Home', link: '/'}, {name: 'Events', link: '/events'}]) }}
  
  <article>
    <div class="container">
      {% from './_functions.njk' import selector, activeCheck,eventsGenerator %}
      {% from './data.njk' import events2022,events2021,events2020,events2019,events2018,events2013%}
      <section class="row justify-content-center my-5">
        {{ selector("2022", routerEventsYearRange) }}
        {{ selector("2021", routerEventsYearRange) }}
        {{ selector("2020", routerEventsYearRange) }}
        {{ selector("2019", routerEventsYearRange) }}
        {{ selector("2018", routerEventsYearRange) }}
        {{ selector("2013", routerEventsYearRange) }}
      </section>

      {{eventsGenerator(events2022,"2022","22",routerEventsYearRange)}}
      {{eventsGenerator(events2021,"2021","21",routerEventsYearRange)}}
      {{eventsGenerator(events2020,"2020","20",routerEventsYearRange)}}
      {{eventsGenerator(events2019,"2019","19",routerEventsYearRange)}}
      {{eventsGenerator(events2018,"2018","18",routerEventsYearRange)}}
      {{eventsGenerator(events2013,"2013","13",routerEventsYearRange)}}
    </div>
  </article>

  {% set latest = [mitchellFarewell,ritcheyScience,bigDataConf2022, koltonCapitolHill] %}
  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts() }}
</body>

</html>
