{% macro eventPage(title='DEFAULT', fileName='', event={img: '', location: '', date: '', media: []}) %}
{% set file = "pages/events/" + fileName + "/content.njk" %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  {% from "universal/_header.njk" import header %}
  {{ header() }}

  <body>
    {% from "universal/_navbar.njk" import navbar %}
    {{ navbar("Events") }}

    <article class="container blog" style="margin-top: 103px;">
      <div class="row justify-content-center">
        <div class="col-6 text-center">
          <h1 class="text-center blog">{{ title }}</h1>
          <img class="img-fluid col-12 p-0 event-img" src="{{ event.img }}">
          <section class="text-start event-details mt-2">
            <span class="me-4 kbl-text-soft"><i class="ion-location me-2"></i>{{ event.location }}</span>
            <span class="kbl-text-soft"><i class="ion-calendar me-3"></i>{{ event.date }}</span>
          </section>
          <section class="text-start">
            {% include (file) %}
            <h3 class="kbl-heading pt-4">From Media</h3>
          </section>
          <section class="row">
            {% for pic in event.media %}
              <section class="col-12 col-sm-6 col-md-4 my-3 ">
                <img class="event-thumbnail" style="cursor: pointer;"
                  data-bs-toggle="modal" data-bs-target="#modal1" src="{{ pic }}">
              </section>
            {% endfor %}

            {% from "components/event-modal.njk" import EventModal %}

            {{ EventModal(1, event.media[0]) }}
          </section>
        </div>
      </div>
    </article>

    {% include "universal/_footer.njk" %}
    {% from "universal/_footer-scripts.njk" import scripts %}
    {{ scripts() }}
    <script src="assets/js/kbl/events-ss.js"></script>
  </body>
</html>
{% endmacro %}
