<p class="event-desc">
    Cristian D. Loaiza was a MS student in the lab who graduated in 2020 and is currently working as a Bioinformatics Engineer in a CRISPR company in Boston. 
    We celebrate him leaving us with pizza.
</p>