{% set pub2022 = [
  {
    authors: '<u>Kataria, R.</u> and <b>Kaundal, R<sup>*</sup>.</b>',
    content: 'Deciphering the Host-Pathogen Interactome of Wheat-Common bunt system: A Step towards Enhanced Resilience in Next Generation Wheat. <em>International Journal of Molecular Sciences</em> <b>23</b>(5): 2589. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc8910311/" class="kbl-link" target="_blank">8910311</a>',
    doiLink: 'https://doi.org/10.3390/ijms23052589',
    doiTitle: 'https://doi.org/10.3390/ijms23052589'
  },

    {
    authors: '<u>Duhan, N.</u>, Norton, J.M. and <b>Kaundal, R<sup>*</sup>.</b>',
    content: 'deepNEC: a novel alignment-free tool for the identification and classification of nitrogen biochemical network-related enzymes using deep learning. <em>Briefings in Bioinformatics</em> bbac071: 1-16. <em>PMID:</em>35325031',
    doiLink: 'https://doi.org/10.1093/bib/bbac071',
    doiTitle: 'https://doi.org/10.1093/bib/bbac071'
  },

    {
    authors: '<u>Kataria, R.</u>, <u>Duhan, N.</u> and <b>Kaundal, R<sup>*</sup>.</b>',
    content: 'Computational Systems Biology of Alfalfa-Bacterial Blight Host-Pathogen Interactions: Uncovering the Complex Molecular Networks for Developing Durable Disease Resistant Crop. <em>Frontiers in Plant Science</em> 12: 807354. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc8891223/" class="kbl-link" target="_blank">8891223</a>',
    doiLink: 'https://doi.org/10.3389/fpls.2021.807354',
    doiTitle: 'https://doi.org/10.3389/fpls.2021.807354'
  },

    {
    authors: 'Yang, X., Hu, Xiao-Li., Zhang, J., <b>Kaundal, R.</b>, <u>Kataria, R.</u>, Jessy L.L., Mitchell, J., Tschaplinski, T., Tuskan, G.A. and Cheng, Zong-Ming (Max).',
    content: 'Diversity and conservation of plant small secreted proteins associated with arbuscular mycorrhizal symbiosis. <em>Horticulture Research</em> uhac043: 1-22. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc8985099/" class="kbl-link" target="_blank">8985099</a>',
    doiLink: 'https://doi.org/10.1093/hr/uhac043',
    doiTitle: 'https://doi.org/10.1093/hr/uhac043'
  },

    {
    authors: 'Rutigliano, H.M., Thomas, A.J., Umbaugh, J.J., Wilhelm, A., Sessions, B.R., <b>Kaundal, R.</b>, <u>Duhan, N.</u>, Hicks, B.A., Schlafer, D.H., White, K.L. and Davies, C.J.',
    content: 'Increased Expression of Pro-Inflammatory Cytokines at the Fetal-Maternal Interface in Bovine Pregnancies Produced by Cloning. <em>American Journal of Reproductive Immunology</em>, e13520. <em>PMID:</em>34974639',
    doiLink: 'https://doi.org/10.1111/aji.13520',
    doiTitle: 'https://doi.org/10.1111/aji.13520'
  }
]
%}

{% set pub2021 = [
  {
    authors: '<u>Duhan, N.</u> and <b>Kaundal, R<sup>*</sup>.</b>',
    content: 'LegumeSSRdb: a Comprehensive Microsatellite Marker Database of Legumes for Germplasm Characterization and Crop Improvement. <em>International Journal of Molecular Sciences</em> <b>22</b>(21): 11350. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc8583334/" class="kbl-link" target="_blank">8583334</a>',
    doiLink: 'https://doi.org/10.3390/ijms222111350',
    doiTitle: 'https://doi.org/10.3390/ijms222111350'
  },

  {
    authors: '<u>Loaiza, C.D.</u>, <u>Duhan, N.</u> and <b>Kaundal, R<sup>*</sup>.</b>',
    content: 'GreeningDB: a database of host-pathogen protein-protein interactions and annotation features of the bacteria causing huanglongbing HLB disease. <em>International Journal of Molecular Sciences</em> <b>22</b>(19): 10897. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc8509195/" class="kbl-link" target="_blank">8509195</a>',
    doiLink: 'https://doi.org/10.3390/ijms221910897',
    doiTitle: 'https://doi.org/10.3390/ijms221910897'
  },

  {
    authors: 'Mohammadi, M<sup>$</sup>., Smith, E.A<sup>$^</sup>., Stanghellini, M.E., and <b>Kaundal, R<sup*</sup>.</b>',
    content: 'Insights into the host specificity of a new oomycete root pathogen, Pythium brassicum P1: whole genome sequencing and comparative analysis reveals contracted regulation of metabolism, protein families, and distinct pathogenicity repertoire. <em>International Journal of Molecular Sciences</em> <b>22</b>(16): 9002. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc8396444/" class="kbl-link" target="_blank">8396444 </a>',
    doiLink: 'https://doi.org/10.3390/ijms22169002',
    doiTitle: '10.3390/ijms22169002'
  },

  {
    authors: '<u>Kataria, R.</u> and <b>Kaundal, R<sup>*</sup>.</b>',
    content: 'alfaNET: A Database of Alfalfa-Bacterial Stem Blight Protein–Protein Interactions Revealing the Molecular Features of the Disease-causing Bacteria. <em>International Journal of Molecular Sciences</em> <b>22</b>(15): 8342. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc8348475/" class="kbl-link" target="_blank">8348475</a>',
    doiLink: 'https://doi.org/10.3390/ijms22158342',
    doiTitle: '10.3390/ijms22158342'
  },

  {
    authors: '<b>Kaundal, R.<sup>*</sup></b>, <u>Duhan, N.</u>, Acharya, B., Pudussery, M., Ferreira, J., Suarez, D., and Sandhu, D<sup>*</sup>.',
    content: 'Transcriptional profiling of two contrasting genotypes uncovers molecular mechanisms underlying salt tolerance in alfalfa. <em>Scientific Reports - Nature</em> <b>11</b>(1): 5210. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc7933430/" class="kbl-link" target="_blank">7933430</a>',
    doiLink: 'https://doi.org/10.1038/s41598-021-84461-w',
    doiTitle: '10.1038/s41598-021-84461-w'
  },

  {
    authors: '<u>Loaiza, C.D.</u> and <b>Kaundal, R<sup>*</sup>.</b>',
    content: 'PredHPI: an integrated web server platform for the detection and visualization of host-pathogen interactions using sequence-based methods. <em>Bioinformatics</em> <b>37</b>(5): 622-624. <em>PMID:</em>33027504',
    doiLink: 'https://doi.org/10.1093/bioinformatics/btaa862',
    doiTitle: '10.1093/bioinformatics/btaa862'
  },

  {
    authors: '<u>Loaiza, C.D.</u>, <u>Duhan, N.</u>, <i>Lister, M.</i>, and <b>Kaundal, R<sup>*</sup>.</b>',
    content: 'In silico prediction of host-pathogen protein interactions in melioidosis pathogen Burkholderia pseudomallei and human reveals novel virulence factors and their targets.<em>Briefings in Bioinformatics</em> <b>22</b>(3): 1-18. <em>PMID:</em>32444871',
    doiLink: 'http://dx.doi.org/10.1093/bib/bbz162',
    doiTitle: '10.1093/bib/bbz162'
  }
]
%}

{% set pub2020 = [
  {
    authors: '<u>Duhan, N.</u>, <u>Meshram, M.</u>, <u>Loaiza, C.D.</u>, and <b>Kaundal, R<sup>*</sup>.</b>',
    content: 'citSATdb: genome wide Simple Sequence Repeats (SSR) marker database of citrus species for germplasm characterization and improvement. <em>Genes</em> <b>11</b>(12): 1486. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc7764524/" class="kbl-link" target="_blank">7764524</a>',
    doiLink: 'https://www.mdpi.com/2073-4425/11/12/1486?utm_source=releaseissue&utm_medium=email&utm_campaign=releaseissue_genes&utm_term=doilink122',
    doiTitle: '10.3390/genes11121486'
  },

  {
    authors: '<u>Sahu, S.S.</u>, <u>Loaiza, C.D.</u>, and <b>Kaundal, R<sup*</sup>.</b>',
    content: 'Plant-mSubP: a computational framework for the prediction of single- and multi-target protein subcellular localization using integrated machine learning approaches. <em>AoB Plants</em> <b>12</b>(3): plz068. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc7274489/" class="kbl-link" target="_blank">7274489</a>',
    doiLink: 'https://doi.org/10.1093/aobpla/plz068',
    doiTitle: '10.1093/aobpla/plz068'
  }
]
%}

{% set pub2019 = [
  {
    authors: 'Sharma B., Batz T.A., <b>Kaundal R<sup>*</sup>.</b>, Kramer E.M., Sanders U.R.<sup>^</sup>, Mellano V.J., <u>Duhan N.</u>, and <i><u>Larson R.B.</u></i>',
    content: 'Developmental and Molecular Changes Underlying the Vernalization-Induced Transition to Flowering in <i>Aquilegia coerulea</i> (James). <i>Genes</i>, <b>10</b>(10): 734. <em>PMCID:</em> <a href="https://www.mdpi.com/2073-4425/10/10/734" class="kbl-link" target="_blank">31546687</a>',
    doiLink: 'https://www.mdpi.com/2073-4425/10/10/734',
    doiTitle: '10.3390/genes10100734'
  },

  {
    authors: 'Phatak, S.<sup>^</sup>, Thomas, A., <b>Kaundal, R<sup>*</sup>.</b>, <i><u>Jones, R.</u></i>, Hintze, K., and Benninghoff, A.',
    content: 'Impact of the Total Western Diet for Rodents on Colon Mucosal Gene Expression in a Multigenerational Murine Model of Colitis-associated Colorectal Cancer. <i>Current Developments in Nutrition</i>, <b>3</b>(S1): nzz030.OR04-03-19',
    doiLink: 'https://doi.org/10.1093/cdn/nzz030.OR04-03-19',
    doiTitle: '10.1093/cdn/nzz030.OR04-03-19'
  },

  {
    authors: 'Tello, D., Gil, J., <u>Loaiza, C.D.</u>, Riascos, J.J., Cardozo, N., and Duitama, J.',
    content: 'NGSEP3: accurate variant calling across species and sequencing protocols. <i>Bioinformatics</i>, <b>35</b>(22): 4716-4723. <em>PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6853766/" class="kbl-link" target="_blank">PMC6853766</a>',
    doiLink: 'https://doi.org/10.1093/bioinformatics/btz275',
    doiTitle: '10.1093/bioinformatics/btz275'
  }
]
%}

{% set pub2018 = [

  {
    authors: 'Sandhu, D., Pudussery, M.V., <b>Kaundal, R.</b>, Suarez, D.L., Kaundal, A., Sekhon, R.S.',
    content: 'Molecular characterization and expression analysis of the Na<sup>+</sup>/H<sup>+</sup> exchanger gene family in <i>Medicago truncatula</i>. <i>Functional & Integrative Genomics</i>, <b>18</b>(2): 141-153. <em>PMID:</em> <a href="https://www.ncbi.nlm.nih.gov/pubmed/29280022" class="kbl-link" target="_blank">29280022</a>',
    doiLink: 'https://doi.org/10.1007/s10142-017-0581-9',
    doiTitle: '10.1007/s10142-017-0581-9'
  },

  {
    authors: 'Moley, L.<sup>^</sup>, <u><i>Jones, R.</i></u>, <b>Kaundal, R.</b>, Thomas, A., Benninghoff, A., and Isom, S.C.',
    content: 'Gene expression analysis and DNA methylation patterns of porcine somatic cell nuclear transfer blastocysts with high and low incidence of apoptosis. <i>Reproduction, Fertility and Development</i>, <b>31</b>(1): 128-128.',
    doiLink: 'https://doi.org/10.1071/RDv31n1Ab5',
    doiTitle: '10.1071/RDv31n1Ab5'
  }

]
%}

{% set pub2016= [

  {
    authors: 'Volz, D.C., Leet, J.K., Chen, A., Stapleton, H.M., <u>Katiyar, N.</u>, <b>Kaundal, R.</b>, Yu, Y., Wang, Y.',
    content: 'Tris(1,3-dichloro-2-propyl)phosphate Induces Genome-Wide Hypomethylation within Early Zebrafish Embryos. <em>PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5080636/" class="kbl-link" target="_blank">PMC5080636</a>',
    doiLink: 'https://bmcbioinformatics.biomedcentral.com/articles/10.1021/acs.est.6b03656',
    doiTitle: '10.1021/acs.est.6b03656'
  }

]
%}

{% set pub2014 = [

  {
    authors: '<u>Sahu, S.S.</u>, <u><i>Weirick, T.</i></u>, <b>Kaundal, R<sup>*</sup>.</b>',
    content: 'Predicting genome-scale Arabidopsis-Pseudomonas syringae interactome using domain and interolog-based approaches.<em>PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4251041/" class="kbl-link" target="_blank">PMC4251041</a>',
    doiLink: 'https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-15-S11-S13',
    doiTitle: '10.1186/1471-2105-15-S11-S13'
  },

  {
    authors: '<u><i>Weirick, T.</i></u>, <i>Sahu, S.S.</i>, Mahalingam, R., <b>Kaundal, R<sup>*</sup>.</b>',
    content: 'LacSubPred: predicting subtypes of Laccases, an important lignin metabolism-related enzyme class, using in silico approaches.<em>PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4251044/" class="kbl-link" target="_blank">PMC4251044</a>',
    doiLink: 'https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-15-S11-S15',
    doiTitle: '10.1186/1471-2105-15-S11-S15'
  }

]
%}

{% set pub2013 = [
  {
    authors: '<b>Kaundal, R.</b>, <u>Sahu, S.S.</u>, Verma, R<sup>^</sup>., <u><i>Weirick, T.</i></u>',
    content: 'Identification and characterization of plastid-type proteins from sequence-attributed features using machine learning.<em> PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3851450 /" class="kbl-link" target="_blank">PMC3851450</a>',
    doiLink: 'https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-14-S14-S7',
    doiTitle: '10.1186/1471-2105-14-S14-S7'
  },

  {
    authors: 'Ahmed, F., <b>Kaundal, R.</b>, Raghava, G.P.',
    content: 'PHDcleav: a SVM based method for predicting human Dicer cleavage sites using sequence and secondary structure of miRNA precursors.<em> PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3851333/" class="kbl-link" target="_blank">PMC3851333</a>',
    doiLink: 'https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-14-S14-S9',
    doiTitle: '10.1186/1471-2105-14-S14-S9'
  }
]
%}

{% set pub2010 = [
  {
    authors: '<b>Kaundal, R.</b>, Saini, R. and Zhao, P.X.',
    content: 'Combining machine learning and homology-based approaches to accurately predict subcellular localization in Arabidopsis. <em>Plant Physiology 154(1):</em> <strong>36-54.</strong><em> PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2938157/" class="kbl-link" target="_blank">PMC2832251</a>',
    doiLink: 'http://www.plantphysiol.org/content/154/1/36',
    doiTitle: '10.1104/pp.110.156851'
  },

  {
    authors: 'Benedito, V.A., Li, H., Dai, X., Wandrey, M., He, J., <b>Kaundal, R.</b>, Torres-Jerez, I., Gomez, S.K., Harrison, M.J., Tang, Y., Zhao, P.X. and Udvardi, M.K.',
    content: 'Genomic inventory and transcriptional analysis of Medicago truncatula transporters. <em>Plant Physiology152(3):</em> <strong>1716-1730.</strong> <em>PMCID:</em><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2832251/" class="kbl-link" target="_blank">PMC2832251</a>',
    doiLink: 'http://www.plantphysiol.org/content/152/3/1716',
    doiTitle: '10.1104/pp.109.148684'
  }
]
%}

{% set pub2009 = [
  {
    authors: '<b>Kaundal, R.</b> and Raghava, G.P.S.',
    content: 'RSLpred: predicting subcellular localization of rice proteins combining compositional and evolutionary information. <em>Proteomics 9(9):</em><strong> 2324-2342.</strong> <em>PMCID:</em><a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/pmic.200700597" class="kbl-link" target="_blank">200700597</a>',
    doiLink: 'https://onlinelibrary.wiley.com/doi/abs/10.1002/pmic.200700597',
    doiTitle: '10.1002/pmic.200700597'
  }
]
%}

{% set pub2007 = [

 {
   authors: 'Kapoor, A.S. and <b>Kaundal, R.</b>',
   content: 'Development of weather based forewarning systems for rice blast. Himachal Journal of Agricultural Research 33(2): 211-217.',
   doiLink: '',
   doiTitle: ''
 }

]
%}

{% set pub2006 = [

  {
    authors: '<b>Kaundal, R.</b>, Kapoor, A.S. and Raghava, G.P.S.',
    content: 'Machine learning techniques in disease forecasting: a case study on rice blast prediction. <em>BMC Bioinformatics 7(1):</em> <strong> 485.</strong><em> PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1647291/" class="kbl-link" target="_blank">PMC1647291</a>',
    doiLink: 'https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-7-485',
    doiTitle: '10.1186/1471-2105-7-485'
  },

  {
    authors: '<b>Kaundal, R<sup>*</sup>.</b> and Sharma, B.K.',
    content: 'Genotype x environment interaction and stability analysis for yield and other quantitative traits in maize (Zea mays L.) under rainfed and high rainfall valley areas of the sub-montane. Research on Crops 7(1): 171-180.',
    doiLink: '',
    doiTitle: ''
  }

]
%}

{% set pub2005 = [

  {
    authors: '<b>Kaundal, R<sup>*</sup>.</b> and Sharma, B.K.',
    content: 'Genetic variability and association studies for different yield components over the environments in elite cultivars of Zea mays L. Himachal Journal of Agricultural Research 31(1): 31-38.',
    doiLink: '',
    doiTitle: ''
  },

  {
    authors: '<b>Kaundal, R.</b> and Kapoor, A.S.',
    content: 'Virulence pattern of Pyricularia grisea in district Kangra of Himachal Pradesh. Himachal Journal of Agricultural Research 31(2): 170-172.',
    doiLink: '',
    doiTitle: ''
  }

]
%}
