{% set pub2025 = [
    {
    authors:'Naveen Duhan, Rakesh Kaundal',
    content:'RSLpred2: An Integrated Web Server for the Annotation of Rice Proteome Subcellular Localization Using Deep Learning',
    doiLink:'https://doi.org/10.1186/s12284-025-00767-7',
    doiTitle:'10.1186/s12284-025-00767-7',
    year:'2025'
    },
    {
    authors:'Naveen Duhan, Rakesh Kaundal',
    content:'PRGminer: harnessing deep learning for the prediction of resistance genes involved in plant defense mechanisms',
    doiLink:'https://doi.org/10.3389/fpls.2025.1411525',
    doiTitle:'10.3389/fpls.2025.1411525',
    year:'2025'
    },
    {
    authors:'Naveen Duhan, Rakesh Kaundal',
    content:'AtSubP‐2.0: An integrated web server for the annotation of Arabidopsis proteome subcellular localization using deep learning',
    doiLink:'https://doi.org/10.1002/tpg2.20536',
    doiTitle:'10.1002/tpg2.20536',
    year:'2025'
    },
    {
    authors:'John D Morrey, Venkatraman Siddharthan, Hong Wang, Alexandre LR Oliveira, Keiichiro Susuki, Rakesh Kaundal, Sara M Freeman, Aaron J Thomas, Naveen Duhan, Nathan G Corry',
    content:'Identification of candidate genes involved in Zika virus-induced reversible paralysis of mice',
    doiLink:'https://doi.org/10.1038/s41598-025-86475-0',
    doiTitle:'10.1038/s41598-025-86475-0',
    year:'2025'
    }
] 
%}

{% set pub2024 = [
    {
    authors:'Simardeep Kaur, Karishma Seem, DWIJESH CHANDRA MISHRA, Rakesh Kaundal, Suresh Kumar, Trilochan Mohapatra',
    content:'Transcription factor-mediated gene regulatory networks contributes to reproductive stage drought tolerance in rice (Oryza sativa)',
    doiLink:'https://doi.org/10.56093/ijas.v94i9.144862',
    doiTitle:'10.56093/ijas.v94i9.144862',
    year:'2024'
    },
    {
    authors:'Raghav Kataria, Naveen Duhan, Rakesh Kaundal',
    content:'Navigating the human-monkeypox virus interactome: HuPoxNET atlas reveals functional insights',
    doiLink:'https://doi.org/10.3389/fmicb.2024.1399555',
    doiTitle:'10.3389/fmicb.2024.1399555',
    year:'2024'
    },
    {
    authors:'David Guevara-Barrientos, Rakesh Kaundal',
    content:'Malivhu: A Comprehensive Bioinformatics Resource for Filtering SARS and MERS Virus Proteins by Their Classification, Family and Species, and Prediction of Their Interactions Against Human Proteins',
    doiLink:'https://doi.org/10.1177/11779322241263671',
    doiTitle:'10.1177/11779322241263671',
    year:'2024'
    },
    {
    authors:'Simardeep Kaur, Karishma Seem, Naveen Duhan, Suresh Kumar, Rakesh Kaundal, Trilochan Mohapatra',
    content:'Comparative miRNome and transcriptome analyses reveal the expression of novel miRNAs in the panicle of rice implicated in sustained agronomic performance under terminal drought stress',
    doiLink:'https://doi.org/10.1007/s00425-024-04399-x',
    doiTitle:10.1007/s00425-024-04399-x',
    year:'2024'
    },
    {
    authors:'Jack H Nunberg, Jonna B Westover, Joanne York, Kie Hoon Jung, Kevin W Bailey, Kirsten M Boardman, Minghao Li, Rachel S Furnell, Samantha R Wasson, Justin S Murray, Rakesh Kaundal, Aaron J Thomas, Brian B Gowen',
    content:'Restoration of virulence in the attenuated Candid#1 vaccine virus requires reversion at both positions 168 and 427 in the envelope glycoprotein GPC',
    doiLink:'https://doi.org/10.1128/jvi.00112-24',
    doiTitle:'10.1128/jvi.00112-24',
    year:'2024'
    },
    {
    authors:'Simardeep Kaur, Karishma Seem, Deepesh Kumar, Suresh Kumar, Rakesh Kaundal, Trilochan Mohapatra',
    content:'Biogenesis to functional significance of microRNAs under drought stress in rice: Recent advances and future perspectives',
    doiLink:'https://doi.org/10.1016/j.stress.2024.100447',
    doiTitle:'10.1016/j.stress.2024.100447',
    year:'2024'
    }

]
%}

{% set pub2023 = [
    {
    authors:'<u><em>Duhan, N</em></u>,Kaur, S<sup>^</sup> and Kaundal, R<sup>*</sup>',
    content:'ranchSATdb: a Genome-wide Simple Sequence Repeat (SSR) Markers Database of Livestock Species for Mutant Germplasm Characterization and Improving Farm Animal Health. <em>Genes</em> 14(7): 1481',
    doiLink:'https://doi.org/10.3390/genes14071481',
    doiTitle:'10.3390/genes14071481',
    year:'2023'
  },
    {
    authors:'Kaur, S<sup>^</sup>, Seem K,  Kumar, S<sup>*</sup>, Kaundal, R<sup>*</sup>, and Mohapatra, T ',
    content:'Comparative Genome-wide Analysis of MicroRNAs and Their Target Genes in Roots of Contrasting Indica Rice Cultivars under Reproductive-Stage Drought. <em>Genes</em> 14(7): 1390',
    doiLink:'https://doi.org/10.3390/genes14071390',
    doiTitle:'10.3390/genes14071390',
    year:'2023'
  },
  {
    authors:'<u><em>Kataria, R</em></u>, Kaur, S<sup>^</sup> and Kaundal, R<sup>*</sup>',
    content:'Deciphering the Complete Human-Monkeypox Virus Interactome: Identifying Immune Responses and Potential Drug Targets. <em>Frontiers in Immunology </em>14: 1116988. ',
    doiLink:'https://doi.org/10.3389/fimmu.2023.1116988',
    doiTitle:'10.3389/fimmu.2023.1116988',
    year:'2023'
  },
    {
    authors:'<u><em>Duhan, N</em></u> and Kaundal, R<sup>*</sup>',
    content:'HuCoPIA: An atlas of Human vs SARS-CoV-2 interactome and the comparative analysis with other <em>Coronaviridae</em> family viruses. <em>Viruses</em> 15(2): 492. ',
    doiLink:'https://doi.org/10.3390/v15020492',
    doiTitle:'10.3390/v15020492',
    year:'2023'
  },
  {
    authors:'Kaur, S<sup>^</sup>, Seem K, <u><em>Duhan, N</em></u>, Kumar, S<sup>*</sup>, Kaundal, R<sup>*</sup>, and Mohapatra, T ',
    content:'Transcriptome and Physio-Biochemical Profiling Reveals Differential Responses of Rice Cultivars at Reproductive-stage Drought Stress. <em>International Journal of Molecular Sciences</em> 24(2): 1002.',
    doiLink:'https://doi.org/10.1016/j.csbj.2022.12.044',
    doiTitle:'10.1016/j.csbj.2022.12.044',
    year:'2023'
  },
   {
    authors:'<u><em>Guevara, D</em></u> and R<sup>*</sup>',
    content:'ProFeatX: a parallelized protein feature extraction suite for machine learning. <em>Computational and Structural Biotechnology Journal</em> 21: 796-801.  ',
    doiLink:'https://doi.org/10.3389/fpls.2022.1066421',
    doiTitle:'10.3389/fpls.2022.1066421',
    year:'2023'
  },
  {
    authors:'Mahalingam, R<sup>*</sup>,<u><em>Duhan, N</em></u>, Kaundal, R, Smertenko, A, Nazarov, T and Bregitzer, P',
    content:'Heat and drought induced transcriptomic changes in barley varieties with contrasting stress response phenotypes. <em>Frontiers in Plant Science </em> 13: 1066421 ',
    doiLink:'https://doi.org/10.3389/fpls.2022.1066421',
    doiTitle:'10.3389/fpls.2022.1066421',
    year:'2023'
  }
]
%}

{% set pub2022 = [
  {
    authors:'<u><em>Kataria, R</em></u>. and Kaundal, R<sup>*</sup>',
    content:'TRustDB: A comprehensive bioinformatics resource for understanding the complete Wheat - Stem Rust host-pathogen interactome. <em>Database</em> Volume 2022, baac068',
    doiLink:'https://doi.org/10.1093/database/baac068',
    doiTitle:'10.1093/database/baac068',
    year:'2022'
  },
  {
    authors:'<u><em>Duhan, N.</em></u><sup>$</sup>, <u><em>Kataria, R.</em></u><sup>$</sup> and Kaundal, R<sup>*</sup>',
    content:'TritiKBdb: A functional annotation resource for deciphering the complete interaction networks in Wheat - Karnal Bunt pathosystem. <em>International Journal of Molecular Sciences</em> <b>23</b>(13): 7455. PMID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc9267065/" class="kbl-link" target="_blank">9267065</a>',
    doiLink:'https://doi.org/10.3390/ijms23137455',
    doiTitle:'10.3390/ijms23137455',
    year:'2022'
  },
    {
    authors:'<u><em>Kataria, R.</em></u> and Kaundal, R<sup>*</sup>.',
    content:'Deciphering the Crosstalk Mechanisms of Wheat-Stem Rust pathosystem: Genome-scale prediction Unravels Novel Host Targets. <em>Frontiers in Plant Science</em>. PMID: <a href="https://pubmed.ncbi.nlm.nih.gov/35800602" class="kbl-link" target="_blank">35800602</a>',
    doiLink:'https://doi.org/10.3389/fpls.2022.895480',
    doiTitle:'10.3389/fpls.2022.895480',
    year:'2022'
  },
    {
    authors:'<em><u>Kataria, R.</u></em> and Kaundal, R<sup>*</sup>.',
    content:'WeCoNET: A Host-Pathogen Interactome Database for Deciphering Crucial Molecular Networks of Wheat-Common bunt Cross-talk Mechanisms. <em>BMC Plant Methods</em> 18, Article number: 73 (2022). PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc9164323/" class="kbl-link" target="_blank">9164323</a>',
    doiLink:'https://doi.org/10.1186/s13007-022-00897-9',
    doiTitle:'10.1186/s13007-022-00897-9',
    year:'2022'
  },
  {
    authors:'Kaundal, R.<sup>$*</sup>, <em><u>Loaiza, C.D.</u></em><sup>$</sup>, <em><u>Duhan, N.</u></em> and Flann, N.',
    content:'deepHPI: a comprehensive Deep Learning platform for accurate prediction and visualization of host-pathogen protein-protein interactions. <em>Briefings in Bioinformatics</em> bbac125: 1-11. PMID: <a href="https://pubmed.ncbi.nlm.nih.gov/35511057/" class="kbl-link" target="_blank">35511057</a>',
    doiLink:'https://doi.org/10.1093/bib/bbac125',
    doiTitle:'10.1093/bib/bbac125',
    year:'2022'
  },
  {
    authors: '<em><u>Kataria, R.</u></em> and Kaundal, R<sup>*</sup>.',
    content: 'Deciphering the Host-Pathogen Interactome of Wheat-Common bunt system: A Step towards Enhanced Resilience in Next Generation Wheat. <em>International Journal of Molecular Sciences</em> <b>23</b>(5): 2589. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc8910311/" class="kbl-link" target="_blank">8910311</a>.',
    doiLink: 'https://doi.org/10.3390/ijms23052589',
    doiTitle: '10.3390/ijms23052589',
    year: '2022'
  },

    {
    authors: '<em><u>Duhan, N.</u></em>, Norton, J.M. and Kaundal, R<sup>*</sup>.',
    content: 'deepNEC: a novel alignment-free tool for the identification and classification of nitrogen biochemical network-related enzymes using deep learning. <em>Briefings in Bioinformatics</em> bbac071: 1-16. <em>PMID:</em> <a href="https://pubmed.ncbi.nlm.nih.gov/35325031/" class="kbl-link" target="_blank">35325031 </a>.',
    doiLink: 'https://doi.org/10.1093/bib/bbac071',
    doiTitle: '10.1093/bib/bbac071',
    year: '2022'
  },

    {
    authors: '<em><u>Kataria, R.</u></em>, <em><u>Duhan, N.</u></em> and Kaundal, R<sup>*</sup>.',
    content: 'Computational Systems Biology of Alfalfa-Bacterial Blight Host-Pathogen Interactions: Uncovering the Complex Molecular Networks for Developing Durable Disease Resistant Crop. <em>Frontiers in Plant Science</em> 12: 807354. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc8891223/" class="kbl-link" target="_blank">8891223</a>.',
    doiLink: 'https://doi.org/10.3389/fpls.2021.807354',
    doiTitle: '10.3389/fpls.2021.807354',
    year: '2022'
  },

    {
    authors: 'Yang, X., Hu, Xiao-Li., Zhang, J., Kaundal, R., <em><u>Kataria, R.</u></em>, Jessy L.L., Mitchell, J., Tschaplinski, T., Tuskan, G.A. and Cheng, Zong-Ming (Max).',
    content: 'Diversity and conservation of plant small secreted proteins associated with arbuscular mycorrhizal symbiosis. <em>Horticulture Research</em> uhac043: 1-22. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc8985099/" class="kbl-link" target="_blank">8985099</a>.',
    doiLink: 'https://doi.org/10.1093/hr/uhac043',
    doiTitle: '10.1093/hr/uhac043'
  },

    {
    authors: 'Rutigliano, H.M., Thomas, A.J., Umbaugh, J.J., Wilhelm, A., Sessions, B.R., Kaundal, R., <em><u>Duhan, N.</u></em>, Hicks, B.A., Schlafer, D.H., White, K.L. and Davies, C.J.',
    content: 'Increased Expression of Pro-Inflammatory Cytokines at the Fetal-Maternal Interface in Bovine Pregnancies Produced by Cloning. <em>American Journal of Reproductive Immunology</em>, e13520. <em>PMID:</em> <a href="https://pubmed.ncbi.nlm.nih.gov/34974639/" class="kbl-link" target="_blank">34974639</a>.',
    doiLink: 'https://doi.org/10.1111/aji.13520',
    doiTitle: '10.1111/aji.13520'
  }
]
%}

{% set pub2021 = [
  {
    authors: 'Kaundal, R.<sup>*</sup>, <em><u>Duhan, N.</u></em>, Acharya, B., Pudussery, M., Ferreira, J., Suarez, D., and Sandhu, D<sup>*</sup>.',
    content: 'Transcriptional profiling of two contrasting genotypes uncovers molecular mechanisms underlying salt tolerance in alfalfa. <em>Scientific Reports - Nature</em> <b>11</b>(1): 5210. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc7933430/" class="kbl-link" target="_blank">7933430</a>.',
    doiLink: 'https://doi.org/10.1038/s41598-021-84461-w',
    doiTitle: '10.1038/s41598-021-84461-w'
  },

  {
    authors: '<em><u>Loaiza, C.D.</u></em> and Kaundal, R<sup>*</sup>.',
    content: 'PredHPI: an integrated web server platform for the detection and visualization of host-pathogen interactions using sequence-based methods. <em>Bioinformatics</em> <b>37</b>(5): 622-624. <em>PMID:</em> <a href="https://pubmed.ncbi.nlm.nih.gov/33027504/" class="kbl-link" target="_blank">33027504</a>.',
    doiLink: 'https://doi.org/10.1093/bioinformatics/btaa862',
    doiTitle: '10.1093/bioinformatics/btaa862'
  },
  {
    authors: '<em><u>Duhan, N.</u></em> and Kaundal, R<sup>*</sup>.',
    content: 'LegumeSSRdb: a Comprehensive Microsatellite Marker Database of Legumes for Germplasm Characterization and Crop Improvement. <em>International Journal of Molecular Sciences</em> <b>22</b>(21): 11350. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc8583334/" class="kbl-link" target="_blank">8583334</a>.',
    doiLink: 'https://doi.org/10.3390/ijms222111350',
    doiTitle: '10.3390/ijms222111350'
  },

  {
    authors: '<em><u>Loaiza, C.D.</u></em>, <em><u>Duhan, N.</u></em> and Kaundal, R<sup>*</sup>.',
    content: 'GreeningDB: a database of host-pathogen protein-protein interactions and annotation features of the bacteria causing huanglongbing HLB disease. <em>International Journal of Molecular Sciences</em> <b>22</b>(19): 10897. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc8509195/" class="kbl-link" target="_blank">8509195</a>.',
    doiLink: 'https://doi.org/10.3390/ijms221910897',
    doiTitle: '10.3390/ijms221910897'
  },

  {
    authors: '<em><u>Loaiza, C.D.</u></em>, <em><u>Duhan, N.</u></em>, <i>Lister, M.</i>, and Kaundal, R<sup>*</sup>.',
    content: 'In silico prediction of host-pathogen protein interactions in melioidosis pathogen Burkholderia pseudomallei and human reveals novel virulence factors and their targets. <em>Briefings in Bioinformatics</em> <b>22</b>(3): 1-18. <em>PMID:</em> <a href=""https://pubmed.ncbi.nlm.nih.gov/32444871/ class="kbl-link" target="_blank">32444871</a>.',
    doiLink: 'http://dx.doi.org/10.1093/bib/bbz162',
    doiTitle: '10.1093/bib/bbz162'
  },

  {
    authors: 'Mohammadi, M<sup>$</sup>., Smith, E.A<sup>$^</sup>., Stanghellini, M.E., and Kaundal, R<sup*</sup>.',
    content: 'Insights into the host specificity of a new oomycete root pathogen, Pythium brassicum P1: whole genome sequencing and comparative analysis reveals contracted regulation of metabolism, protein families, and distinct pathogenicity repertoire. <em>International Journal of Molecular Sciences</em> <b>22</b>(16): 9002. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc8396444/" class="kbl-link" target="_blank">8396444 </a>.',
    doiLink: 'https://doi.org/10.3390/ijms22169002',
    doiTitle: '10.3390/ijms22169002'
  },

  {
    authors: '<em><u>Kataria, R.</u></em> and Kaundal, R<sup>*</sup>.',
    content: 'alfaNET: A Database of Alfalfa-Bacterial Stem Blight Protein–Protein Interactions Revealing the Molecular Features of the Disease-causing Bacteria. <em>International Journal of Molecular Sciences</em> <b>22</b>(15): 8342. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc8348475/" class="kbl-link" target="_blank">8348475</a>.',
    doiLink: 'https://doi.org/10.3390/ijms22158342',
    doiTitle: '10.3390/ijms22158342'
  }
]
%}

{% set pub2020 = [
  {
    authors: '<em><u>Duhan, N.</u></em>, <em><u>Meshram, M.</u></em>, <em><u>Loaiza, C.D.</u></em>, and Kaundal, R<sup>*</sup>.',
    content: 'citSATdb: genome wide Simple Sequence Repeats (SSR) marker database of citrus species for germplasm characterization and improvement. <em>Genes</em> <b>11</b>(12): 1486. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc7764524/" class="kbl-link" target="_blank">7764524</a>.',
    doiLink: 'https://www.mdpi.com/2073-4425/11/12/1486?utm_source=releaseissue&utm_medium=email&utm_campaign=releaseissue_genes&utm_term=doilink122',
    doiTitle: '10.3390/genes11121486'
  },

  {
    authors: '<u>Sahu, S.S.</u>, <em><u>Loaiza, C.D.</u></em>, and Kaundal, R<sup*</sup>.',
    content: 'Plant-mSubP: a computational framework for the prediction of single- and multi-target protein subcellular localization using integrated machine learning approaches. <em>AoB Plants</em> <b>12</b>(3): plz068. <em>PMCID:</em> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc7274489/" class="kbl-link" target="_blank">7274489</a>.',
    doiLink: 'https://doi.org/10.1093/aobpla/plz068',
    doiTitle: '10.1093/aobpla/plz068'
  }
]
%}

{% set pub2019 = [
  {
    authors: 'Sharma B., Batz T.A., Kaundal R<sup>*</sup>., Kramer E.M., Sanders U.R.<sup>^</sup>, Mellano V.J., <em><u>Duhan N.</u></em>, and <i><u>Larson R.B.</u></i>',
    content: 'Developmental and Molecular Changes Underlying the Vernalization-Induced Transition to Flowering in <i>Aquilegia coerulea</i> (James). <i>Genes</i>, <b>10</b>(10): 734. <em>PMCID:</em> <a href="https://www.mdpi.com/2073-4425/10/10/734" class="kbl-link" target="_blank">31546687</a>.',
    doiLink: 'https://www.mdpi.com/2073-4425/10/10/734',
    doiTitle: '10.3390/genes10100734'
  },

  {
    authors: 'Phatak, S.<sup>^</sup>, Thomas, A., Kaundal, R<sup>*</sup>., <i>Jones, R.</i>, Hintze, K., and Benninghoff, A.',
    content: 'Impact of the Total Western Diet for Rodents on Colon Mucosal Gene Expression in a Multigenerational Murine Model of Colitis-associated Colorectal Cancer. <i>Current Developments in Nutrition</i>, <b>3</b>(S1): nzz030.OR04-03-19.',
    doiLink: 'https://doi.org/10.1093/cdn/nzz030.OR04-03-19',
    doiTitle: '10.1093/cdn/nzz030.OR04-03-19'
  },

  {
    authors: 'Tello, D., Gil, J., <em><u>Loaiza, C.D.</u></em>, Riascos, J.J., Cardozo, N., and Duitama, J.',
    content: 'NGSEP3: accurate variant calling across species and sequencing protocols. <i>Bioinformatics</i>, <b>35</b>(22): 4716-4723. <em>PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6853766/" class="kbl-link" target="_blank">PMC6853766</a>.',
    doiLink: 'https://doi.org/10.1093/bioinformatics/btz275',
    doiTitle: '10.1093/bioinformatics/btz275'
  }
]
%}

{% set pub2018 = [

  {
    authors: 'Sandhu, D., Pudussery, M.V., Kaundal, R., Suarez, D.L., Kaundal, A., Sekhon, R.S.',
    content: 'Molecular characterization and expression analysis of the Na<sup>+</sup>/H<sup>+</sup> exchanger gene family in <i>Medicago truncatula</i>. <i>Functional & Integrative Genomics</i>, <b>18</b>(2): 141-153. <em>PMID:</em> <a href="https://www.ncbi.nlm.nih.gov/pubmed/29280022" class="kbl-link" target="_blank">29280022</a>.',
    doiLink: 'https://doi.org/10.1007/s10142-017-0581-9',
    doiTitle: '10.1007/s10142-017-0581-9'
  },

  {
    authors: 'Moley, L.<sup>^</sup>, <u><i>Jones, R.</i></u>, Kaundal, R., Thomas, A., Benninghoff, A., and Isom, S.C.',
    content: 'Gene expression analysis and DNA methylation patterns of porcine somatic cell nuclear transfer blastocysts with high and low incidence of apoptosis. <i>Reproduction, Fertility and Development</i>, <b>31</b>(1): 128-128.',
    doiLink: 'https://doi.org/10.1071/RDv31n1Ab5',
    doiTitle: '10.1071/RDv31n1Ab5'
  }

]
%}

{% set pub2016= [

  {
    authors: 'Volz, D.C., Leet, J.K., Chen, A., Stapleton, H.M., <u>Katiyar, N.</u>, Kaundal, R., Yu, Y., Wang, Y.',
    content: 'Tris(1,3-dichloro-2-propyl)phosphate Induces Genome-Wide Hypomethylation within Early Zebrafish Embryos. <em>PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5080636/" class="kbl-link" target="_blank">PMC5080636</a>.',
    doiLink: 'https://bmcbioinformatics.biomedcentral.com/articles/10.1021/acs.est.6b03656',
    doiTitle: '10.1021/acs.est.6b03656'
  }

]
%}

{% set pub2014 = [

  {
    authors: '<u>Sahu, S.S.</u>, <u><i>Weirick, T.</i></u>, Kaundal, R<sup>*</sup>.',
    content: 'Predicting genome-scale Arabidopsis-Pseudomonas syringae interactome using domain and interolog-based approaches.<em>PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4251041/" class="kbl-link" target="_blank">PMC4251041</a>.',
    doiLink: 'https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-15-S11-S13',
    doiTitle: '10.1186/1471-2105-15-S11-S13'
  },

  {
    authors: '<u><i>Weirick, T.</i></u>, <i>Sahu, S.S.</i>, Mahalingam, R., Kaundal, R<sup>*</sup>.',
    content: 'LacSubPred: predicting subtypes of Laccases, an important lignin metabolism-related enzyme class, using in silico approaches.<em>PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4251044/" class="kbl-link" target="_blank">PMC4251044</a>.',
    doiLink: 'https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-15-S11-S15',
    doiTitle: '10.1186/1471-2105-15-S11-S15'
  }

]
%}

{% set pub2013 = [
  {
    authors: 'Kaundal, R., <u>Sahu, S.S.</u>, Verma, R<sup>^</sup>., <u><i>Weirick, T.</i></u>',
    content: 'Identification and characterization of plastid-type proteins from sequence-attributed features using machine learning.<em> PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3851450 /" class="kbl-link" target="_blank">PMC3851450</a>.',
    doiLink: 'https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-14-S14-S7',
    doiTitle: '10.1186/1471-2105-14-S14-S7'
  },

  {
    authors: 'Ahmed, F., Kaundal, R., Raghava, G.P.',
    content: 'PHDcleav: a SVM based method for predicting human Dicer cleavage sites using sequence and secondary structure of miRNA precursors.<em> PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3851333/" class="kbl-link" target="_blank">PMC3851333</a>.',
    doiLink: 'https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-14-S14-S9',
    doiTitle: '10.1186/1471-2105-14-S14-S9'
  }
]
%}

{% set pub2010 = [
  {
    authors: 'Kaundal, R., Saini, R. and Zhao, P.X.',
    content: 'Combining machine learning and homology-based approaches to accurately predict subcellular localization in Arabidopsis. <em>Plant Physiology 154(1):</em> <strong>36-54.</strong><em> PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2938157/" class="kbl-link" target="_blank">PMC2832251</a>.',
    doiLink: 'http://www.plantphysiol.org/content/154/1/36',
    doiTitle: '10.1104/pp.110.156851'
  },

  {
    authors: 'Benedito, V.A., Li, H., Dai, X., Wandrey, M., He, J., Kaundal, R., Torres-Jerez, I., Gomez, S.K., Harrison, M.J., Tang, Y., Zhao, P.X. and Udvardi, M.K.',
    content: 'Genomic inventory and transcriptional analysis of Medicago truncatula transporters. <em>Plant Physiology152(3):</em> <strong>1716-1730.</strong> <em>PMCID:</em><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2832251/" class="kbl-link" target="_blank">PMC2832251</a>.',
    doiLink: 'http://www.plantphysiol.org/content/152/3/1716',
    doiTitle: '10.1104/pp.109.148684'
  }
]
%}

{% set pub2009 = [
  {
    authors: 'Kaundal, R. and Raghava, G.P.S.',
    content: 'RSLpred: predicting subcellular localization of rice proteins combining compositional and evolutionary information. <em>Proteomics 9(9):</em><strong> 2324-2342.</strong> <em>PMCID:</em><a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/pmic.200700597" class="kbl-link" target="_blank">200700597</a>.',
    doiLink: 'https://onlinelibrary.wiley.com/doi/abs/10.1002/pmic.200700597',
    doiTitle: '10.1002/pmic.200700597'
  }
]
%}

{% set pub2007 = [

 {
   authors: 'Kapoor, A.S. and Kaundal, R.',
   content: 'Development of weather based forewarning systems for rice blast. Himachal Journal of Agricultural Research 33(2): 211-217.',
   doiLink: '',
   doiTitle: ''
 }

]
%}

{% set pub2006 = [

  {
    authors: 'Kaundal, R., Kapoor, A.S. and Raghava, G.P.S.',
    content: 'Machine learning techniques in disease forecasting: a case study on rice blast prediction. <em>BMC Bioinformatics 7(1):</em> <strong> 485.</strong><em> PMCID:</em> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1647291/" class="kbl-link" target="_blank">PMC1647291</a>.',
    doiLink: 'https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-7-485',
    doiTitle: '10.1186/1471-2105-7-485'
  },

  {
    authors: 'Kaundal, R<sup>*</sup>. and Sharma, B.K.',
    content: 'Genotype x environment interaction and stability analysis for yield and other quantitative traits in maize (Zea mays L.) under rainfed and high rainfall valley areas of the sub-montane. Research on Crops 7(1): 171-180.',
    doiLink: 'https://www.cabidigitallibrary.org/doi/full/10.5555/20063156733',
    doiTitle: '10.5555/20063156733'
  }

]
%}

{% set pub2005 = [

  {
    authors: 'Kaundal, R<sup>*</sup>. and Sharma, B.K.',
    content: 'Genetic variability and association studies for different yield components over the environments in elite cultivars of Zea mays L. Himachal Journal of Agricultural Research 31(1): 31-38.',
    doiLink: '',
    doiTitle: ''
  },

  {
    authors: 'Kaundal, R. and Kapoor, A.S.',
    content: 'Virulence pattern of Pyricularia grisea in district Kangra of Himachal Pradesh. Himachal Journal of Agricultural Research 31(2): 170-172.',
    doiLink: '',
    doiTitle: ''
  }

]
%}
