{% macro selector(btnString, test) %}
  <div class="col-auto">
    <button class="kbl-date-selector">{{ btnString }}</button>
  </div>
{% endmacro %}

{% macro pubSelector(btnString) %}
  <div class="col-auto">
    <button class="kbl-date-selector pub" id="{{ btnString.split('-')[0] }}">{{ btnString }}</button>
  </div>
{% endmacro %}

{% macro confSelector(btnString) %}
  <div class="col-auto">
    <button class="kbl-date-selector conf" id="{{ btnString.split('-')[0] }}">{{ btnString }}</button>
  </div>
{% endmacro %}

{% macro activeCheck(yearString, routerYearRange) %}
  {% if yearString === routerYearRange %}

  {% else %}
    d-none
  {% endif %}
{% endmacro %}
