.year-selector {
  color: var(--color-text-main)!important;
  cursor: pointer;
  transition: var(--time-fast);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-medium);
  font-size: 110%;
  padding: 6px 13px!important;

  &:hover:not(.active) {
    background: var(--color-primary-light);
    color: #fff;
  }

  &.active {
    background: var(--color-primary);
    color: #fff;
  }
}

.sub-column {
  opacity: 1;
  transition: var(--time-fast);
  transition: height var(--time-fast) ease-out, opacity var(--time-fast) ease-out;
  height: auto;
  z-index: 1000;

  &.off {
    opacity: 0;
    height: 0;
    position: absolute;
    z-index: -1000;
  }
}
