.year-selector {
  color: var(--color-text-main)!important;
  cursor: pointer;
  transition: var(--time-fast);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-medium);
  font-size: 110%;
  padding: 6px 13px!important;

  &:hover {
    background: var(--color-primary-light)!important;
    color: #fff!important;
  }

  &.active {
    background: var(--color-primary)!important;
    color: #fff!important;
  }
}

.sub-column {
  opacity: 1;
  transition: var(--time-fast);
  transition: height var(--time-fast) ease-out, opacity var(--time-fast) ease-out;
  height: auto;

  &.off {
    opacity: 0;
    height: 0;
    position: absolute;
  }
}
