<!DOCTYPE html>
<html class="no-js" lang="en">
{% from "universal/_header.njk" import header %}
{{ header() }}

<body>
  {% from "universal/_navbar.njk" import navbar %}
  {{ navbar("Publications") }}

  {% from "components/img-header.njk" import imgHeader %}
  {{ imgHeader() }}

  {% from "components/breadcrumb.njk" import breadcrumb %}
  {{ breadcrumb([{name: 'home', link: '/'}, {name: 'publications', link: '/publications'}]) }}

  {% from "components/publication.njk" import publication %}
  {% from "./_data.njk" import pub2021, pub2020, pub2019, pub2018, pub2016, pub2014, pub2013, pub2012, pub2011, pub2010, pub2009, pub2007, pub2006, pub2005 %}
  {% from './_functions.njk' import selector, activeCheck, pubSelector, confSelector %}

  <article class="container-fluid px-5 mt-5">
    <div class="container mb-4">

    </div>

    <div class="row justify-content-center my-4">
      <div class="col-6 text-center">

      </div>
    </div>

    <section class="row px-5 overflow-hidden">
      <div class="col-3">
        {% from "components/pub-legend.njk" import pubLegend %}

        {{ pubLegend() }}
      </div>

      <div class="col-9 overflow-hidden">
        <section class="kbl-tab-selector text-center mb-5" id="pub-selector">
          <span class="tab-select-option" id="pub">Publications</span>
          <span class="tab-select-option" id="conf">Conferences</span>
          <span class="tab-select-option" id="edit">Editorials</span>
        </section>

        <div class="position-relative">
          <div id="pub-column" class="sub-column off">
            {% include './subpages/pubs.njk' %}
          </div>

          <div id="conf-column" class="sub-column off">
            {% include './subpages/conf.njk' %}
          </div>

          <div id="edit-column" class="sub-column off">
            {% include './subpages/edit.njk' %}
          </div>
        </div>
      </div>
    </section>
  </article>

  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts() }}
  <script src="/assets/js/kbl/pub-legend.js"></script>
  <script src="/assets/js/kbl/publications.js"></script>
</body>

</html>
