<!DOCTYPE html>
<html class="no-js" lang="en">
{% from "universal/_header.njk" import header %}
{{ header() }}

<body>
  {% from "universal/_navbar.njk" import navbar %}
  {{ navbar("Publications") }}

  {% from "components/img-header.njk" import imgHeader %}
  {{ imgHeader() }}

  {% from "components/breadcrumb.njk" import breadcrumb %}
  {{ breadcrumb([{name: 'home', link: '/'}, {name: 'publications', link: '/publications'}]) }}

  {% from "components/publication.njk" import publication %}
  {% from "./_data.njk" import pub2022,pub2021, pub2020, pub2019, pub2018, pub2016, pub2014, pub2013, pub2010, pub2009, pub2007, pub2006, pub2005 %}
  {% from './_functions.njk' import selector, activeCheck, pubSelector, confSelector %}

  <article class="container-fluid px-lg-5 px-2 mt-5">

    <section class="row px-lg-5 px-3 justify-content-center">
      

      <div class="col-12 col-lg-9 overflow-hidden">
        <section class="row justify-content-center mt-3 mb-4">
          <div class="col-12 col-md-7 col-lg-8">
            <div class="kbl-tab-selector text-center d-none d-md-block" id="pub-selector">
              <span class="tab-select-option {% if (content == 'pub') %}selected{% endif %}" id="pub">Papers</span>
              <span class="tab-select-option {% if (content == 'conf') %}selected{% endif %}" id="conf">Conferences</span>
              <span class="tab-select-option {% if (content == 'edit') %}selected{% endif %}" id="edit">Editorials</span>
            </div>

            <div class="kbl-tab-selector-mobile d-md-none px-0">
              <div class="row">
                <section class="col text-center">
                  <div class="tab-select-option {% if (content == 'pub') %}selected{% endif %}" id="pub">
                    <i class="far fa-file-alt select-icon"></i>
                    <div>Papers</div>
                  </div>
                </section>

                <section class="col text-center">
                  <div class="tab-select-option {% if (content == 'conf') %}selected{% endif %}" id="conf">
                    <i class="fas fa-users select-icon"></i>
                    <div class="text">Conferences</div>
                  </div>
                </section>

                <section class="col text-center">
                  <div class="tab-select-option {% if (content == 'edit') %}selected{% endif %}" id="edit">
                    <i class="far fa-newspaper select-icon"></i>
                    <div>Editorials</div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </section>

        <section class="row justify-content-center mb-3">
          <div class="col-12 col-sm-8 col-md-6 col-lg-8 col-xl-6 col-xxl-5">
            <div class="sticky-top pt-2">
              {% from "components/pub-legend.njk" import pubLegend %}
              <div class="kbl-card py-2 px-3">
                {{ pubLegend() }}
              </div>
            </div>
          </div>
        </section>

        <div class="position-relative">
          <div id="pub-column" class="sub-column {% if (content !== 'pub') %}off{% endif %}">
            {% include './subpages/pubs.njk' %}
          </div>

          <div id="conf-column" class="sub-column {% if (content !== 'conf') %}off{% endif %}">
            {% include './subpages/conf.njk' %}
          </div>

          <div id="edit-column" class="sub-column {% if (content !== 'edit') %}off{% endif %}">
            {% include './subpages/edit.njk' %}
          </div>
        </div>
      </div>
    </section>
  </article>

  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts() }}
  <script src="/assets/js/kbl/pub-legend.js"></script>
  <script src="/assets/js/kbl/publications.js"></script>
</body>

</html>
