<div class="row mt-4 justify-content-center">
  <div class="col-11 col-md-3">
    <div class="kbl-person-card-container">
      <div class="kbl-person-card rakesh-card">
        <figure>
          <img class="w-100 mb-2" style="height: 220px;" src="{{ RaikouServer }}/image/raw/bioinfo/profile/RK_2.jpg" alt="Dr. Rakesh Kaundal, Director, Bioinformatics Facility">
          <figcaption class="pb-2 px-3">
            <div clas="title-wrapper">
              <div class="contact-title mb-0 text-center"><b>Phone: </b><span class="contact-desc">+1 (435) 797-4117</span></div>
              <div class="contact-title text-center"><b>Email: </b><span class="contact-desc">rkaundal@usu.edu</span></div>
            </div>
            <div class="row justify-content-center">
              <div class="col-auto gx-1">
              <a href="https://scholar.google.com/citations?user=Vu1-tr8AAAAJ&hl=en&oi=ao" target="_blank" rel="noreferrer noopener"
                  class="kbl-icon-google align-middle">
                <i class="ai ai-google-scholar-square ai-lg"zz></i>
              </a>
              </div>
              <div class="col-auto gx-1">
              <a href="https://orcid.org/0000-0001-8683-1240" target="_blank" rel="noreferrer noopener" class="kbl-icon-orcid align-middle">
                <i class="ai ai-orcid-square ai-lg"></i>
              </a>
              </div>
              <div class="col-auto gx-1">
              <a href="https://www.researchgate.net/profile/Rakesh_Kaundal" target="_blank" rel="noreferrer noopener" class="kbl-icon-researchgate align-middle">
                <i class="ai ai-researchgate-square ai-lg"></i>
              </a>
              </div>PasswordEasier4Testing**
              
              <div class="col-auto gx-1">
              <a href="https://www.linkedin.com/in/r-kaundal" target="_blank" rel="noreferrer noopener" class="kbl-icon-linkedin align-middle">
                <i class="fab fa-linkedin ai-lg"></i>
              </a>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
  <div class="col-11 col-md-9">
    <section class="mb-5">
      <h2 class="rakesh-header">Dr. Rakesh Kaundal</h2>
      <h5 class="workplace-header"><a href="https://psc.usu.edu/" class="kbl-link">Department of Plants, Soils and Climate</a></h5>
      <p class="workplace-desc"> &nbsp;&nbsp;&nbsp;&nbsp; Associate Professor, Bioinformatics</p>

      <h5 class="workplace-header">
        <a href="https://biosystems.usu.edu/" class="kbl-link">Center for Integrated BioSystems</a>
      </h5>
      <h6 class="workplace-header">(College of Agriculture and Applied Sciences)</h6>
      <p class="workplace-desc"> &nbsp;&nbsp;&nbsp;&nbsp; Director, Bioinformatics Facility</p>

      <h5 class="workplace-header"><a href="https://cs.usu.edu/" class="kbl-link">Department of Computer Science</a></h5>
      <h6 class="workplace-header">(College of Science)</h6>
      <p class="workplace-desc"> &nbsp;&nbsp;&nbsp;&nbsp; Adjunct Associate Professor</p>
    </section>

    <section class="mt-5">
      <h4 class="biography">Biography</h4>

      <h6 class="bio-header mt-3 mb-0">Bioinformatics and Computational Biology</h6>
      <p class="bio-desc">
        Highly successful track record of integrating biology and bigdata analytics with over 14 years’ experience in
        bioinformatics, computational biology, and scientific programming. In-depth knowledge of bioinformatics data
        analysis tools and databases, information management, and integration to support diverse activities essential
        for organismal improvement and genomics-enabled studies.
      </p>
      <h6 class="bio-header mt-4 mb-0">Research Interests</h6>
      <p class="bio-desc mt-0">
        Next-generation sequencing data (analysis, alignment, assembly, annotation); Computational modeling of -omics big data;
        Systems biology, develop algorithms to study intra- and inter-species interaction networks (e.g. host-pathogen interactions),
        predict Gene Regulatory Networks; Metagenomics (e.g. rhizosphere microbiome interacting with the host); Computational
        genomics. Develop workflows to facilitate data mining; Develop and maintain scientific software/tools.
      </p>
    </section>
  </div>
</div>
