.rakesh-header {
  color: var(--color-text-main);
}

.workplace-header {
  color: var(--color-text-soft);
}

.workplace-desc {
  font-weight: var(--font-weight-medium);
  font-size: 110%!important;
  color: var(--color-text-main);
}

.biography {
  color: var(--color-text-main);
}

.bio-header {
  color: var(--color-text-main);
}

.bio-desc {
  color: var(--color-text-soft);
  font-weight: var(--font-weight-medium)!important;
}

.contact-title {
  color: var(--color-text-main)!important;

  .contact-desc {
    color: var(--color-text-soft)!important;
    font-weight: var(--font-weight-medium);
  }
}

.appt-date {
  font-size: 120%;
  font-weight: var(--font-weight-medium);
}

.appt-desc {
  font-size: 100%;
  font-weight: var(--font-weight-medium);
}

.award-desc {
  font-weight: var(--font-weight-medium);
  font-size: 95%;
}
