<section class="bio__holder">
        <div class="row">
            <div class="col-md-3 col-sm-3 zoom">
                <div class="profile-card profile-card-meta_classic">
                    <a href="/people/rakesh">
                    <figure>
                        <img class="img-responsive" style="width: 210px; height:210px"
                          src="{{ RaikouServer }}/image/aspect/profile/RK_2.jpg">
                        <figcaption>
                            <h3 class="fig-title">Contact Information</h3>
                            <div class="fig-meta">
                                <p class="fig-cal"><strong>Call:</strong> <span>+1 (435)-797-4117</span></p>
                                <p class="fig-mail"><strong>E-mail:</strong> <span>rkaundal@usu.edu</span></p>
                            </div>
                        </figcaption>
                    </a>
                    </figure>
                    <div class="profile-card-meta">
                        <ul class="pfofile-social list-unstyled list-inline">
                            <li><a target="_blank" href="https://scholar.google.com/citations?user=Vu1-tr8AAAAJ&hl=en&oi=ao"> <img src="assets/img/profile/social/gs.png" style="height: 25px; width: 25px;" alt="sabbi-social" class="img-responsive"></a></li>
                            <li><a target="_blank" href="https://orcid.org/0000-0001-8683-1240"> <img src="assets/img/profile/social/id.png" style="height: 25px; width: 25px;" alt="sabbi-social" class="img-responsive"></a></li>
                            <li><a target="_blank" href="https://www.researchgate.net/profile/Rakesh_Kaundal"> <img src="assets/img/profile/social/research_gate.jpeg" style="height: 25px; width: 25px;" alt="sabbi-social" class="img-responsive"></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/in/r-kaundal"> <img src="assets/img/profile/social/linkedIN.jpg" style="height: 25px; width: 25px; background: white;" alt="sabbi-social" class="img-responsive"></a></li>
                            <!-- <li><a href="#"> <img src="assets/img/profile/social/fb.png" alt="sabbi-social" class="img-responsive"></a></li>
                            <li><a href="#"> <img src="assets/img/profile/social/tw.png" alt="sabbi-social" class="img-responsive"></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-7">
                    <article class="profile-glimps">
                            <h2 class="entry-title title-foc-md">Dr. Rakesh Kaundal</h2>
                            <p class
                            ="text-foc-md" style="line-height: 1.1;">Associate Professor, Bioinformatics</p>
                            <p class="text-foc-md" style="line-height: 1.1;"><a class="bio" target="_blank" href="https://psc.usu.edu/">Department of Plants, Soils, and Climate <i style="color: #D30015; font-size: 12px;" class="fa fa-external-link"></i></a></p>
                            <p></p>
                            <p class="text-foc-md" style="line-height: 1;">Director, Bioinformatics Facility</p>
                            <p class="text-foc-md" style="line-height: 1;"><a class="bio" target="_blank" href="https://biosystems.usu.edu/">Center for Integrated BioSystems <i style="color: #D30015; font-size: 12px;" class="fa fa-external-link"></i></a></p>
                            <p class="text-foc-md" style="line-height: 1;">College of Agriculture and Applied Sciences</p>
                            <p></p>
                            <p class="text-foc-md" style="line-height: 1;">Adjunct Associate Professor</p>
                            <p class="text-foc-md" style="line-height: 1;"><a class="bio" target="_blank" href="https://cs.usu.edu/">Department of Computer Science <i style="color: #D30015; font-size: 12px;" class="fa fa-external-link"></i></a></p>
                            <p class="text-foc-md" style="line-height: 1;">College of Science</p><br>
                            <div class="stage-content-biog">
                                <h3 class="stage-title">Biography</h3>
                                <p class="stage-text" style="text-align: justify;">
                                    <strong><em>Bioinformatics and Computational Biology:</em></strong> <br>
                                    Highly successful track record of integrating biology and bigdata
                                        analytics with over 14 years’ experience in bioinformatics, computational biology, and scientific programming.
                                        In-depth knowledge of bioinformatics data analysis tools and databases, information management, and
                                        integration to support diverse activities essential for organismal improvement and genomics-enabled studies.<br>
                                    <strong><em>Research Interests:</em></strong> <br>
                                    Next-generation sequencing data (analysis, alignment, assembly, annotation); Computational
                                        modeling of -omics bigdata; Systems biology, develop algorithms to study intra- and inter-species interaction
                                        networks (e.g. host-pathogen interactions), predict Gene Regulatory Networks; Metagenomics (e.g. rhizosphere
                                        microbiome interacting with the host); Computational genomics. Develop workflows to facilitate data mining;
                                        Develop and maintain scientific software / tools.<br>
                                    </p>
                            </div><!-- /.stage-content-biog -->
                    </article>
            </div>
        </div>
    </section><!-- /.bio__holder -->
