{% set roussie = {
    name: "Rousselene B. Larson",
    subtitle: "Bioinformatics Scientist",
    modifier: "Larson",
    type: "Bioinformatics Staff",
    bio: "Rousselene Larson is a researcher at Utah State University with expertise in
      Bioinformatics. She works collaboratively with interdisciplinary scholars to
      comprehend research objectives and provide informatics solutions to  projects
      involving NGS data analysis. She is proficient in Unix/Linux shell
      scripting, R, Python, Perl, and a range of bioinformatics tools/packages.
      Her sequence analysis comprises of genome assembly, RNA-seq,
      Bisulfite_seq, and SNP analysis.",
    email: "rousselene.larson@usu.edu",
    img: "/image/raw/bioinfo/profile/2.jpg",
    social: [
      {type: "twitter", link: "https://twitter.com/rousselene"},
      {type: "linkedin", link: "https://www.linkedin.com/feed/"}
    ]
  }
%}

{% set kaige = {
    name: "Kaige Zhang",
    subtitle: "Ph.D. Research Assistant | CS",
    modifier: "Zhang",
    type: "Alumni",
    bio: "Kaige Zhang is a research associate at The Center for Integrated BioSystems. He received his
      Ph.D. degree in computer science with Utah State University in 2019, the B.S. degree in electronic
      engineering from Harbin Institute of Technology, China, in 2011, and M.S. degree in signal and
      information processing from Harbin Engineering University, China, in 2014. His research interests
      include computer vision, ML, and their applications in intelligent transportation systems and smart agricultural systems.",
    email: "kg.zhang@aggiemail.usu.edu",
    img: "/image/raw/bioinfo/profile/Kaige Zhang.jpg",
    social: []
  }
%}

{% set cristian = {
    name: "Cristian Orduz",
    subtitle: "MS Student | PSC",
    modifier: "Cristian",
    type: "Graduate",
    bio: "Cristian is a Plant Science MS student from Colombia. After completing his BS (Computer Science: Universidad del Valle; Cali, Colombia), he worked as a Research Assistant at CIAT(CGIAR) and the Colombian Sugarcane Research Center before joining the Kaundal Bioinformatics Laboratory. After his graduation, he plans to go back to Colombia to join his family, then pursue a Ph.D. to become a professor.",
    email: "cdloaiza@aggiemail.usu.edu",
    img: "/image/raw/bioinfo/profile/loaiza orduz-cristian.jpg?h=600&w=500",
    social: []
  }
%}
<!-- Naveen ResearchGate -->
<!-- https://www.researchgate.net/profile/Naveen_Duhan -->
{% set naveen = {
    name: "Naveen Duhan",
    subtitle: "PhD Student | PSC",
    modifier: "Duhan",
    type: "Graduate",
    bio: "",
    email: "naveen.duhan@usu.edu",
    img: "/image/raw/bioinfo/profile/1.jpg",
    social: [
      {type: "researchgate", link: "https://www.researchgate.net/profile/Naveen_Duhan"},
      {type: "facebook", link: "https://www.facebook.com/navduhan87/"},
      {type: "twitter", link: "https://twitter.com/navduhan"},
      {type: "website", link: "http://naveenduhan.com"}
    ]
  }
%}

{% set suyash = {
    name: "Suyash Mhetre",
    subtitle: "MS Student | MIS",
    modifier: "Suyash",
    type: "Alumni",
    bio: "",
    email: "suyash.mhetre@aggiemail.usu.edu",
    img: "/image/raw/bioinfo/profile/suyash.jpg",
    social: []
  }
%}

{% set nikhil = {
    name: "Nikhil Sai",
    subtitle: "MS Student | CS",
    modifier: "Nikhil",
    type: "Graduate",
    bio: "Nikhil is a Computer Science graduate student at USU. His bachelor's degree is in Information Technology from Osmania University, India. His research focus is in Bioinformatics. He is currently working on deep learning, developing prediction models for subcellular localization in human and arabidopsis genome and creating an SSR prediction database. He is also actively studying algorithms and event-driven programming.",
    email: "nikhil.sai.kurivella@aggiemail.usu.edu",
    img: "/image/raw/bioinfo/profile/nikhil.jpg",
    social: []
  }
%}

{% set matt = {
    name: "Matthew Lister",
    subtitle: "HPC Administrator | CS",
    modifier: "Matthew",
    type: "Alumni",
    bio: "Matthew is the systems administrator of the high performance cluster for the bioinformatics group. A passionate Linux enthusiast, his work includes bioinformatics programming and teaching Linux to new users. Matthew is starting an MS in Computer Science this spring and hopes to add a Master's in statistics to his plan of study.",
    email: "matthew.lister@aggiemail.usu.edu",
    img: "/image/raw/bioinfo/profile/mat.jfif",
    social: []
  }
%}

{% set shelby = {
    name: "Shelby McCowan",
    subtitle: "HPC Administrator | BSc Biochemistry",
    modifier: "Shelby",
    type: "Undergraduate",
    bio: "Shelby is a Biochemistry major who aspires to go into software engineering. He has worked with mobile apps, websites (including the front and back end), and desktop applications. He is a percussionist in his spare time.",
    email: "itsme@shelbymccowan.com",
    img: "/image/raw/bioinfo/profile/shelby.jpg",
    social: [{type:"twitter", link: "https://twitter.com/ShelbyMccowan"}]
  }
%}

{% set template = {
    name: "Rousselene",
    subtitle: "Bioinformatics",
    modifier: "Larson",
    type: "Graduate",
    bio: "adfhj",
    email: "asfafdh",
    img: "asfh",
    social: []
  }
%}

{% set udarika = {
    name: "Udarika Ediriweera",
    subtitle: "",
    modifier: "Udarika",
    type: "Alumni",
    bio: "",
    email: "",
    img: "/image/raw/bioinfo/profile/UDARIKA-EDIRIWEERA.jpg",
    social: []
  }
%}

{% set raul = {
    name: "Raul Ramirez",
    subtitle: "",
    modifier: "Raul",
    type: "Alumni",
    bio: "",
    email: "",
    img: "/image/raw/bioinfo/profile/profile_pic.jpeg",
    social: []
  }
%}

{% set caleb = {
    name: "Caleb Smith",
    subtitle: "",
    modifier: "Caleb",
    type: "Alumni",
    bio: "",
    email: "",
    img: "/image/raw/bioinfo/profile/profile_pic.jpeg",
    social: []
  }
%}

{% set staff = [roussie, cristian, naveen, nikhil, shelby] %}

{% set bioinfoStaff = [roussie] %}
{% set gradStudents = [cristian, naveen, nikhil] %}
{% set undergradStudents = [shelby] %}
{% set alumni = [udarika, raul, caleb, matt, suyash, kaige] %}
