{% set roussie = {
    name: "Rousselene B. Larson",
    subtitle: "Bioinformatics Scientist",
    modifier: "Larson",
    type: "Bioinformatics Staff",
    bio: "Rousselene Larson is a researcher at Utah State University with expertise in
      Bioinformatics. She works collaboratively with interdisciplinary scholars to
      comprehend research objectives and provide informatics solutions to  projects
      involving NGS data analysis. She is proficient in Unix/Linux shell
      scripting, R, Python, Perl, and a range of bioinformatics tools/packages.
      Her sequence analysis comprises of genome assembly, RNA-seq,
      Bisulfite_seq, and SNP analysis.",
    email: "rousselene.larson@usu.edu",
    img: "/image/raw/bioinfo/profile/2.jpg",
    social: [
      {type: "twitter", link: "https://twitter.com/rousselene"},
      {type: "linkedin", link: "https://www.linkedin.com/feed/"}
    ]
  }
%}

{% set kaige = {
    name: "Kaige Zhang",
    subtitle: "Ph.D. Research Assistant | CS",
    modifier: "Zhang",
    type: "Alumni",
    bio: "Kaige Zhang is a research associate at The Center for Integrated BioSystems. He received his
      Ph.D. degree in computer science with Utah State University in 2019, the B.S. degree in electronic
      engineering from Harbin Institute of Technology, China, in 2011, and M.S. degree in signal and
      information processing from Harbin Engineering University, China, in 2014. His research interests
      include computer vision, ML, and their applications in intelligent transportation systems and smart agricultural systems.",
    email: "kg.zhang@aggiemail.usu.edu",
    img: "/image/raw/bioinfo/profile/Kaige Zhang.jpg",
    social: []
  }
%}

{% set cristian = {
    name: "Cristian Orduz",
    subtitle: "MS Student | PSC",
    modifier: "Cristian",
    type: "Graduate",
    bio: "Cristian is a Plant Science MS student from Colombia. After completing his BS (Computer Science: Universidad del Valle; Cali, Colombia), he worked as a Research Assistant at CIAT(CGIAR) and the Colombian Sugarcane Research Center before joining the Kaundal Bioinformatics Laboratory. After his graduation, he plans to go back to Colombia to join his family, then pursue a Ph.D. to become a professor.",
    email: "cdloaiza@aggiemail.usu.edu",
    img: "/image/raw/bioinfo/profile/loaiza orduz-cristian.jpg?h=600&w=500",
    social: []
  }
%}

{% set naveen = {
    name: "Naveen Duhan",
    subtitle: "PhD Student | PSC",
    modifier: "Duhan",
    type: "Graduate",
    bio: "",
    email: "naveen.duhan@usu.edu",
    img: "/image/raw/bioinfo/profile/1.jpg",
    social: [
      {type: "researchgate", link: "https://www.researchgate.net/profile/Naveen_Duhan"},
      {type: "facebook", link: "https://www.facebook.com/navduhan87/"},
      {type: "twitter", link: "https://twitter.com/navduhan"},
      {type: "website", link: "http://naveenduhan.com"}
    ]
  }
%}

{% set suyash = {
    name: "Suyash Mhetre",
    subtitle: "MS Student | MIS",
    modifier: "Suyash",
    type: "Alumni",
    bio: "",
    email: "suyash.mhetre@aggiemail.usu.edu",
    img: "/image/raw/bioinfo/profile/suyash.jpg",
    social: []
  }
%}

{% set nikhil = {
    name: "Nikhil Sai",
    subtitle: "MS Student | CS",
    modifier: "Nikhil",
    type: "Graduate",
    bio: "Nikhil is a Computer Science graduate student at USU. His bachelor's degree is in Information Technology from Osmania University, India. His research focus is in Bioinformatics. He is currently working on deep learning, developing prediction models for subcellular localization in human and arabidopsis genome and creating an SSR prediction database. He is also actively studying algorithms and event-driven programming.",
    email: "nikhil.sai.kurivella@aggiemail.usu.edu",
    img: "/image/raw/bioinfo/profile/nikhil.jpg",
    social: []
  }
%}

{% set david = {
    name: "David Guevara",
    subtitle: "PhD Student | CS",
    modifier: "Guevara",
    type: "Graduate",
    bio: "David is a CS PhD student from Colombia. He worked full-time as a full-stack software developer for 6 years while finishing his bachelor's degree in Software and Computer Engineering and got a MSc. degree in Computational Biology. His interests are software development, database administration, machine learning, and deep learning. He likes soccer, videogames, and playing music.",
    email: "davguev@aggiemail.usu.edu",
    img: "/image/raw/bioinfo/profile/david.jpg?h=600&w=500",
    social: []
  }
%}

{% set matt = {
    name: "Matthew Lister",
    subtitle: "HPC Administrator | CS",
    modifier: "Matthew",
    type: "Alumni",
    bio: "Matthew is the systems administrator of the high performance cluster for the bioinformatics group. A passionate Linux enthusiast, his work includes bioinformatics programming and teaching Linux to new users. Matthew is starting an MS in Computer Science this spring and hopes to add a Master's in statistics to his plan of study.",
    email: "matthew.lister@aggiemail.usu.edu",
    img: "/image/raw/bioinfo/profile/mat.jfif",
    social: []
  }
%}

{% set shelby = {
    name: "Shelby McCowan",
    subtitle: "HPC Administrator | BSc Biochemistry",
    modifier: "Shelby",
    type: "Undergraduate",
    bio: "Shelby is a Biochemistry major who aspires to go into software engineering. He has worked with mobile apps, websites (including the front and back end), and desktop applications. He is a percussionist in his spare time.",
    email: "itsme@shelbymccowan.com",
    img: "/image/raw/bioinfo/profile/shelby.jpg",
    social: [
      {type: "website", link: "https://shelbymccowan.com"},
      {type: "linkedin", link: "https://www.linkedin.com/in/shelby-mccowan-44718a166/"},
      {type: 'github', link: 'https://github.com/MusicDev33'}
    ]
  }
%}

{% set kolton = {
    name: "Kolton Hauck",
    subtitle: "BSc Biological Engineering",
    modifier: "Hauck",
    type: "Undergraduate",
    bio: "Kolton is a Biological Engineering major and is working on a minor in Computer Science. He wants to use computers to solve modern-day biological problems. He enjoys eating, sleeping and working out.",
    email: "hauckmkolton@gmail.com",
    img: "/image/raw/bioinfo/profile/khauck.jpg",
    social: []
  }
%}

{% set andrew = {
    name: "Andrew Jouffray",
    subtitle: "BSc Computer Science",
    modifier: "Jouffray",
    type: "Ungraduate",
    bio: "Andrew Jouffray is a computer science student and software developer. He currently works on developing a method to create datasets for deep learning image recognition tasks, enabling robots to generate their own training data.",
    email: "andrew.d.jouffray@gmail.com",
    img: "/image/people/ajouffray/profile.jpg",
    social: [
      {type: 'github', link: 'https://github.com/andrewjouffray'}
    ]
  }
%}

{% set template = {
    name: "Rousselene",
    subtitle: "Bioinformatics",
    modifier: "Larson",
    type: "Graduate",
    bio: "adfhj",
    email: "asfafdh",
    img: "asfh",
    social: []
  }
%}

{% set udarika = {
    name: "Udarika Ediriweera",
    subtitle: "",
    modifier: "Udarika",
    type: "Alumni",
    bio: "",
    email: "",
    img: "/image/raw/bioinfo/profile/UDARIKA-EDIRIWEERA.jpg",
    social: []
  }
%}

{% set raul = {
    name: "Raul Ramirez",
    subtitle: "",
    modifier: "Raul",
    type: "Alumni",
    bio: "",
    email: "",
    img: "/image/raw/bioinfo/profile/profile_pic.jpeg",
    social: []
  }
%}

{% set caleb = {
    name: "Caleb Smith",
    subtitle: "",
    modifier: "Caleb",
    type: "Alumni",
    bio: "",
    email: "",
    img: "/image/raw/bioinfo/profile/profile_pic.jpeg",
    social: []
  }
%}

{% set raghav = {
    name: "Raghav Kataria",
    subtitle: "PhD Student | PSC",
    modifier: "Kataria",
    type: "Graduate Student",
    bio: "Raghav is a PhD scholar from India. He worked as a Senior Research Fellow at Punjab Agricultural University (PAU, India)
          before joining the KAABiL. With a research focus on bioinformatics, he is currently working on pathogen-host protein-protein interactions
          using computational tools and various molecular biology techniques.",
    email: "raghav.kataria@usu.edu",
    img: "/image/raw/people/raghav/raghav.jpg",
    social: [
      {type: "researchgate", link: "https://www.researchgate.net/profile/Raghav_Kataria"},
      {type: "linkedin", link: "https://www.linkedin.com/in/raghav-kataria-14458211b/"},
      {type: "orcid", link: "https://orcid.org/0000-0002-1355-3187"}
    ]
  }
%}

{% set staff = [naveen, shelby, raghav, roussie] %}

{% set bioinfoStaff = [roussie] %}
{% set gradStudents = [naveen, raghav, david] %}
{% set undergradStudents = [shelby, kolton, andrew] %}
{% set alumni = [caleb, cristian, kaige, matt, nikhil, raul, suyash, udarika] %}
