<!DOCTYPE html>
<html class="no-js" lang="en">
{% from "universal/_header.njk" import header %}
{{ header() }}

<body class="auth-theme-rashmore">
  {% from "universal/_navbar.njk" import navbar %}
  {{ navbar("People") }}

  {% from "components/img-header.njk" import imgHeaderSplit %}
  {{ imgHeaderSplit(headerTitle="People") }}

  {% from "components/breadcrumb.njk" import breadcrumb %}
  {{ breadcrumb([{name: 'Home', link: '/'}, {name: 'People', link: '/people'}]) }}

  <article class="container">
    {% include "./_new-rakesh.njk" %}

    {% from "components/person-card.njk" import personCardModal %}
    {% from "./people-data.njk" import bioinfoStaff, gradStudents, undergradStudents, alumni %}

    <div class="row">
      <div class="col-12">
        <div class="kbl-header-bar text-center py-2">
          <h4 class="kbl-heading my-auto">Graduate</h4>
        </div>
      </div>
    </div>

    <div class="row mt-3 justify-content-center">
      {% for person in gradStudents %}
        <div class="col-xl-3 col-md-4 col-sm-6 col-11 text-center">
          {{ personCardModal(person) }}
        </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-12">
        <div class="kbl-header-bar text-center py-2">
          <h4 class="kbl-heading my-auto">Undergraduate</h4>
        </div>
      </div>
    </div>

    <div class="row mt-3 justify-content-center">
      {% for person in undergradStudents %}
        <div class="col-xl-3 col-md-4 col-sm-6 col-11 text-center">
          {{ personCardModal(person) }}
        </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-12">
        <div class="kbl-header-bar text-center py-2">
          <h4 class="kbl-heading my-auto">Bioinformatics Staff</h4>
        </div>
      </div>
    </div>

    <div class="row mt-3 justify-content-center">
      {% for person in bioinfoStaff %}
        <div class="col-xl-3 col-md-4 col-sm-6 col-11 text-center">
          {{ personCardModal(person) }}
        </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-12">
        <div class="kbl-header-bar text-center py-2">
          <h4 class="kbl-heading my-auto">Alumni</h4>
        </div>
      </div>
    </div>

    <div class="row mt-3 justify-content-center">
      {% for person in alumni %}
        <div class="col-xl-3 col-md-4 col-sm-6 col-11 text-center">
          {{ personCardModal(person) }}
        </div>
      {% endfor %}
    </div>

  </article>

  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts() }}
</body>

</html>
