<!DOCTYPE html>
{% set bs4 = true %}
<html class="no-js" lang="en">
{% from "universal/_header.njk" import header %}
{{ header(bs4=bs4) }}

<body class="auth-theme-rashmore">
  {% from "universal/_navbar-bs4.njk" import navbar %}
  {{ navbar("People") }}

  <!--
  {% from "components/img-header2.njk" import imgHeader2 %}
  {{ imgHeader2("People", "sabbi-page-header-classic sabbi-page-header-team page-header-lg") }}

  {% from "components/breadcrumb.njk" import breadcrumb %}
  {{ breadcrumb([ {name: "Home", location: "/"}, {name: "People", location: ""} ]) }}
-->


  <article class="container-fluid kbl-top">
    <div class="row justify-content-center pt-4">
      <div class="col-auto">
        <h1><ion-icon name="people-outline" class="kbl-header-icon"></ion-icon></h1>
      </div>
      <div class="col-auto pt-3 header-icon-wrapper">
        <h1>People</h1>
        <h6>
          A list of everyone associated with the KAABiL
        </h6>
      </div>
    </div>
  </article>

  <article class="container">
    {% include "./_rakesh.njk" %}

    {% from "components/person-card.njk" import personCardModal %}
    {% from "./people-data.njk" import bioinfoStaff, gradStudents, undergradStudents, alumni %}

    <div class="row">
      <div class="col-12">
        <div class="kbl-header-bar text-center py-2">
          <h4 class="kbl-heading my-auto">Bioinformatics Staff</h4>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      {% for person in bioinfoStaff %}
        <div class="col-md-3 col-sm-6 text-center">
          {{ personCardModal(person) }}
        </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-12">
        <div class="kbl-header-bar text-center py-2">
          <h4 class="kbl-heading my-auto">Graduate</h4>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      {% for person in gradStudents %}
        <div class="col-md-3 col-sm-6  text-center">
          {{ personCardModal(person) }}
        </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-12">
        <div class="kbl-header-bar text-center py-2">
          <h4 class="kbl-heading my-auto">Undergraduate</h4>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      {% for person in undergradStudents %}
        <div class="col-md-3 col-sm-6  text-center">
          {{ personCardModal(person) }}
        </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-12">
        <div class="kbl-header-bar text-center py-2">
          <h4 class="kbl-heading my-auto">Alumni</h4>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      {% for person in alumni %}
        <div class="col-md-3 col-sm-6  text-center">
          {{ personCardModal(person) }}
        </div>
      {% endfor %}
    </div>

  </article>

  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts(bs4=bs4) }}
</body>

</html>
