<!DOCTYPE html>
<html class="no-js" lang="en">
{% from "universal/_header.njk" import header %}
{{ header("lab_conf-talk") }}

<body>
  {% from "universal/_navbar.njk" import navbar %}
  {{ navbar("Publications", "Conferences") }}

  {% from "components/img-header.njk" import imgHeader %}
  {{ imgHeader() }}

  <div class="container">
      <section class="ripepage-peak">
              <div class="container">
                      <div class="row">
                              <div class="col-sm-9">
                                  <p class="page_piky-text"><li><strong>*</strong> indicates the corresponding author, italic font indicates contribution by bioinformatics staff member supervised by me</li>
                                         <li><strong><u>underlined font</u></strong> indicates contribution by an undergraduate student mentored</li>
                                         <li><strong><u><em>underlined italic font</em></u></strong> indicates contribution by a graduate student
                                          mentored by me.</li>
                                         <li><strong>$</strong> denotes equal contributions</li>
                                         <li><strong>^</strong> indicates contributions by students
                                          of a collaborator mentored by me</li></p>
                              </div>
                              <!-- <div class="col-sm-3">
                                  <div class="btn_pdf_wrap"><a href="#" class="btn btn-gules tt_up">Download All PDF</a></div>
                              </div> -->
                          </div>
                      <nav class="journal-papers-nav journal-papers-nav-list list-inline">
                          <!-- <div class="nav-meta">
                              <p><strong>Disclaimer:</strong> The papers below are intended for private viewing by the page owner or those who otherwise have legitimate access to them. No part of it may in any form or by any electronic, mechanical, photocopying, recording, or any other means be reproduced, stored in a retrieval system or be broadcast or transmitted without the prior permission of the respective publishers. If your organization has a valid subscription of the journals, click on the DOI link for the legitimate copy of the papers.</p>
                          </div> -->
                          <div class="dropdown conf">
                                  <button class="dropbtn">2019-2017</button>
                                  <div class="dropdown-content conf">
                                      <a class="tablinks" onclick="openJournal(event, '2017')" href="#tabcontent" class="link-prev_def active">2017</a>
                                      <a class="tablinks" onclick="openJournal(event, '2018')" href="#tabcontent" class="link-prev_def active">2018</a>
                                      <a class="tablinks" onclick="openJournal(event, '2019')" href="#tabcontent" class="link-prev_def active">2019</a>
                                  </div>
                          </div>
                          <div class="dropdown conf">
                                  <button class="dropbtn">2016-2014</button>
                                  <div class="dropdown-content conf">
                                      <a class="tablinks" onclick="openJournal(event, '2014')" href="#tabcontent" class="link-prev_def active">2014</a>
                                      <a class="tablinks" onclick="openJournal(event, '2015')" href="#tabcontent" class="link-prev_def active">2015</a>
                                      <a class="tablinks" onclick="openJournal(event, '2016')" href="#tabcontent" class="link-prev_def active">2016</a>
                                  </div>
                          </div>
                          <div class="dropdown conf">
                                  <button class="dropbtn">2013-2011</button>
                                  <div class="dropdown-content conf">
                                      <a class="tablinks" onclick="openJournal(event, '2012')" href="#tabcontent" class="link-prev_def active">2012</a>
                                      <a class="tablinks" onclick="openJournal(event, '2013')" href="#tabcontent" class="link-prev_def active">2013</a>
                                  </div>
                          </div>
                          <div class="dropdown conf">
                                  <button class="dropbtn">2010-2008</button>
                                  <div class="dropdown-content conf">
                                      <a class="tablinks" onclick="openJournal(event, '2008')" href="#tabcontent" class="link-prev_def active">2008</a>
                                      <a class="tablinks" onclick="openJournal(event, '2009')" href="#tabcontent" class="link-prev_def active">2009</a>
                                      <a class="tablinks" onclick="openJournal(event, '2010')" href="#tabcontent" class="link-prev_def active">2010</a>
                                  </div>
                          </div>
                          <div class="dropdown conf">
                                  <button class="dropbtn">2002-2004</button>
                                  <div class="dropdown-content conf">
                                      <a class="tablinks" onclick="openJournal(event, '2002')" href="#tabcontent" class="link-prev_def active">2002</a>
                                      <a class="tablinks" onclick="openJournal(event, '2004')" href="#tabcontent" class="link-prev_def active">2004</a>
                                  </div>
                          </div>





                      </nav><!--  /.journal-papers-nav -->
              </div>

      </section><!-- /.ripepage-peak -->
  </div>

  <section class="deff-timeline-section">
      <div class="container">
          <div class="auth-deff_timeline_timeline-segment tabcontent " id="2019">
              <ul class="auth-deff_timeline list-unstyled ">
                  <li class="title-card" style="height: 236.78px ;">
                              <div class="time-span">
                                  <div class="time-year">2019</div>
                                  <div class="time-month">Aug 07</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom" onmouseover = "">Phatak S.<sup>^</sup>, Thomas A.,<strong data-toggle="tooltip" data-placement="top">Kaundal R.</strong>, <i data-toggle="tooltip" data-placement="top">Jones R.</i>, Hintze K. and Benninghoff A.</h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location: </span>The Animal, Dairy and Veterinary Sciences Summer Student Research
                                      Symposium; Utah State University (USU), Logan (UT)</div>
                                  <p class="meta-text">Impact of the Total
                                          Western Diet for Rodents on Colon Mucosal Gene Expression in a Multigenerational Murine Model of
                                          Colitis-associated Colorectal Cancer.
                                          <em>1<sup>st</sup> place in flash talk presentation</em>
                                          <button class="btn1 btn info pull-right" style="margin-top: 35px; margin-left: 10px;">Oral presentation</button>
                                  </p>
                              </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                                  <div class="time-year">2019</div>
                                  <div class="time-month">Apr 10-11</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><i><u>Loaiza C.D.</u></i> and <b>Kaundal R<sup>*</sup>.</b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location: </span>The Annual Student Research Symposium; Utah State University (USU), Logan (UT),
                                      USA</div>
                                  <p class="meta-text">Prediction of Host-Pathogen protein-protein interactions using
                                          machine learning.
                                          <button class="btn1 btn info pull-right" style="margin-top: 75px; margin-left: 10px;">Oral presentation</button>
                                      </p>
                      </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                                  <div class="time-year">2019</div>
                                  <div class="time-month">Aug 07</div>
                      </div>
                      <div class="timeline-meta" >
                                  <h3 class="staff-title zoom"><u>Lister M.</u>, <i>Larson R.B.</i> and <b>Kaundal R*.</b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location: </span>The Annual Student Research Symposium;
                                      Utah State University (USU), Logan (UT),
                                      USA</div>
                                  <p class="meta-text">Centralizing Bioinformatics via High-Performance
                                          Computing: Applications, Opportunities, and Challenges in the Era of Large-scale -Omics Data.
                                          <!-- <button class="btn1 btn info pull-right" style="margin-top: 40px; margin-left: 10px;">Info</button> -->
                                          <!-- <button class="btn1 btn info pull-right" style="margin-top: 40px;">Info</button> -->
                                  </p>
                      </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                                  <div class="time-year">2019</div>
                                  <div class="time-month">April 10-11</div>
                      </div>
                      <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><u><i>Ediriweera U.</i> </u> and <b>Kaundal R<sup>*</sup></b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location:</span>The Annual Student Research Symposium; Utah State University (USU), Logan
                                      (UT), USA</div>
                                  <p class="meta-text">Computational Prediction of Host-Pathogen Protein Interactions in
                                          Melioidosis pathogen Burkholderia pseudomallei and Human reveals novel Virulence Factors and
                                          Infectivity Mechanisms
                                          <button class="btn1 btn info pull-right" style="margin-top: 50px; margin-left: 10px;">Oral presentation</button>
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                      </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                                  <div class="time-year">2019</div>
                                  <div class="time-month">April 02</div>
                      </div>
                      <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><u>Lister M.</u>, <i>Larson R.B.</i> and <b>Kaundal R*.</b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location: </span>The Annual Plants, Soils, and Climate Showcase, College of Agriculture
                                      and Applied Sciences; Utah State University (USU), Logan (UT), USA</div>
                                  <p class="meta-text">High-Performance Computing for Bioinformatics and the
                                          Challenges of Big -OMICS Data.
                                          <button class="btn1 btn info pull-right" style="margin-top: 50px; margin-left: 10px;">Oral presentation</button>
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                      </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                              <div class="time-span">
                                  <div class="time-year">2019</div>
                                  <div class="time-month">April 02</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><b>Kaundal R<sup>*</sup>.</b>, <u><i>Duhan N.</i></u>, Acharya B., Pudussery M.V., Ferreira J.F.S., Suarez D.L. and Sandhu D<sup>*</sup>.</h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location: </span>The Annual Plants, Soils, and Climate Showcase, College of Agriculture and
                                      Applied Sciences; Utah State University (USU), Logan (UT), USA</div>
                                  <p class="meta-text">Comparative transcriptomics study of alfalfa (Medicago sativa L.) reveals novel genotype-specific
                                          salt tolerance mechanisms.
                                          <button class="btn1 btn info pull-right" style="margin-top: 35px; margin-left: 10px;">Oral presentation</button>
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                              </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                              <div class="time-span">
                                  <div class="time-year">2019</div>
                                  <div class="time-month">April 02</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><i><u>Loaiza C.D.</u></i> and <b>Kaundal R<sup>*</sup>.</b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location: </span>The Annual Plants, Soils, and Climate Showcase, College of Agriculture and Applied Sciences;
                                      Utah State University (USU), Logan (UT), USA</div>
                                  <p class="meta-text">Deciphering plant-pathogen interactomes: a study on citrus greening
                                          disease.
                                          <button class="btn1 btn info pull-right" style="margin-top: 50px; margin-left: 10px;">Oral presentation</button>
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                              </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                              <div class="time-span">
                                  <div class="time-year">2019</div>
                                  <div class="time-month">March 28-30</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><u><i>Ediriweera U.</i> </u> and <b>Kaundal R<sup>*</sup></b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location: </span>The 16<sup>th</sup> MidSouth Computational Biology & Bioinformatics Society (MCBIOS)
                                      annual conference; University of Alabama, Birmingham (AL), USA</div>
                                  <p class="meta-text">Computational Prediction of Host-Pathogen Protein Interactions in
                                          Melioidosis pathogen Burkholderia pseudomallei and Human reveals novel Virulence Factors and
                                          Infectivity Mechanisms.
                                          <button class="btn1 btn info pull-right" style="margin-top: 50px; margin-left: 10px;">Oral presentation</button>
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                              </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                                  <div class="time-year">2019</div>
                                  <div class="time-month">Jan 12-16</div>
                      </div>
                      <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><i><u>Loaiza C.D.</u></i> and <b>Kaundal R<sup>*</sup>.</b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location: </span>The Plant and Animal Genome XXVII International Conference (PAG); Town and
                                      Country Hotel, San Diego (California), USA</div>
                                  <p class="meta-text">An integrated in silico approach to explore Citrus and HLB host-
                                      pathogen interactions.
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                      </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                              <div class="time-span">
                                  <div class="time-year">2019</div>
                                  <div class="time-month">Jan 20-23</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom">Moley L.A.<sup>^</sup> , <i>Jones R.</i>, <b>Kaundal R.<sup>*</sup></b>, Thomas, A.J., Benninghoff, A.D. and Isom, C.</h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location: </span>The 45 th Annual International Embryo Transfer Society Conference; Sheraton Hotel,
                                      New Orleans (LA), USA</div>
                                  <p class="meta-text">Gene
                                      expression analysis and DNA methylation patterns of porcine SCNT blastocysts with high and low
                                      incidence of apoptosis.
                                      <button class="btn1 btn info pull-right" style="margin-top: 50px; margin-left: 10px;">Oral presentation</button>
                                      <button class="btn1 btn warning pull-right" style="margin-top: 50px; margin-left: 10px;">Poster presentation</button>
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                              </div>
                  </li><!-- /timeline-item -->

                <br>

              </ul><!-- /.auth-deff_timeline -->
          </div>
          <div class="auth-deff_timeline_timeline-segment tabcontent" style="display: none" id="2018">
              <ul class="auth-deff_timeline list-unstyled">
                  <li class="title-card" style="height: 236.78px ;">
                              <div class="time-span">
                                  <div class="time-year">2018</div>
                                  <div class="time-month">Dec 6-8</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><i><u>Loaiza C.D.</u></i> and <b>Kaundal R<sup>*</sup>.</b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location:</span>The 16 th Annual Rocky Mountain Bioinformatics Conference;
                                      Viceroy Hotel, Aspen/Snowmass (CO), USA</div>
                                  <p class="meta-text">PredHPI: an integrated web-server platform for the prediction and
                                      visualization of host-pathogen interactions.
                                      <button class="btn1 btn info pull-right" style="margin-top: 50px; margin-left: 10px;">Oral presentation</button>
                                      <button class="btn1 btn warning pull-right" style="margin-top: 50px; margin-left: 10px;">Poster presentation</button>
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                  </p>
                              </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                          <div class="time-span">
                              <div class="time-year">2018</div>
                              <div class="time-month">March 29-31</div>
                          </div>
                          <div class="timeline-meta">
                              <h3 class="staff-title zoom">Mohammadi M<sup>$</sup>., Smith E<sup>$^</sup>., Stanghellini M. and <b>Kaundal R<sup>*</sup>.</b></h3>
                                  <!-- <div class="__time">7:00pm</div> -->
                              <div class="__loc"><span>Location:</span>The
                                  XV th MidSouth Computational Biology & Bioinformatics Society (MCBIOS) annual conference; Mississippi
                                  State University, Starkville (MS), USA</div>
                              <p class="meta-text">Complete genome sequence of
                                      Pythium brassicum P1, an oomycete root pathogen: insights into its host
                                      specificity to Brassicaceae.
                                      <button class="btn1 btn info pull-right" style="margin-top: 35px; margin-left: 10px;">Invited presentation</button>
                                      <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                  </p>
                          </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                          <div class="time-span">
                              <div class="time-year">2018</div>
                              <div class="time-month">March 29-31</div>
                          </div>
                          <div class="timeline-meta">
                              <h3 class="staff-title zoom"><i>Sahu S.S</i>, <i><u>Loaiza C.D.</u></i> and <b>Kaundal R<sup>*</sup>.</b></h3>
                                  <!-- <div class="__time">7:00pm</div> -->
                              <div class="__loc"><span>Location:</span>The XV th MidSouth Computational Biology & Bioinformatics Society (MCBIOS) annual
                                  conference; Mississippi State University, Starkville (MS), USA</div>
                              <p class="meta-text">Plant-mSubP: a computational framework for the
                                      prediction of single and multi-location protein subcellular localization using integrated machine learning
                                      approaches

                                      <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                  </p>
                          </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                          <div class="time-span">
                                  <div class="time-year">2018</div>
                                  <div class="time-month">March 19</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><i>Sahu S.S</i>, <i><u>Loaiza C.D.</u></i> and <b>Kaundal R<sup>*</sup>.</b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location:</span>Plants, Soils, and Climate Student Showcase; College of Agriculture and Applied Sciences
                                      (CAAS); Utah State University, Logan (UT), USA</div>
                                  <p class="meta-text">Plant-mSubP: a computational framework for the
                                          prediction of single and multi-location protein subcellular localization using integrated machine learning
                                          approaches
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                              </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                          <div class="time-span">
                              <div class="time-year">2018</div>
                              <div class="time-month">Jun 12-15</div>
                          </div>
                          <div class="timeline-meta">
                              <h3 class="staff-title zoom">Batz T.,<b> Kaundal R.</b>, Mellano V. and Sharma,</h3>
                                  <!-- <div class="__time">7:00pm</div> -->
                              <div class="__loc"><span>Location:</span>The 99 th Annual Pacific Division meeting of AAAS (American
                                  Association for the Advancement of Science); California State Polytechnic University, Pomona (CA), USA</div>
                              <p class="meta-text">Molecular and Morphological Analysis of the
                                      Floral Transition in Aquilegia coerulea.
                                      <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                              </p>
                          </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                          <div class="time-span">
                              <div class="time-year">2018</div>
                              <div class="time-month">Jan 10-13</div>
                          </div>
                          <div class="timeline-meta">
                              <h3 class="staff-title zoom">Moley L.A.<sup>^</sup> , <i>Jones R.</i>, <b>Kaundal R.<sup>*</sup></b>, Thomas, A.J., Benninghoff, A.D. and Isom, C.</h3>
                                  <!-- <div class="__time">7:00pm</div> -->
                              <div class="__loc"><span>Location:</span>The 51 st Annual Meeting of
                                  the Society for the Study of Reproduction (SSR); Hilton New Orleans Riverside, New Orleans (LA), USA</div>
                              <p class="meta-text">RNA-Seq
                                      analysis of porcine SCNT blastocysts with high and low incidence of apoptosis.
                                      <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                  </p>
                          </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                          <div class="time-span">
                              <div class="time-year">2018</div>
                              <div class="time-month">Aug 8</div>
                          </div>
                          <div class="timeline-meta">
                              <h3 class="staff-title zoom">Moley L.A.<sup>^</sup> , <i>Jones R.</i>, <b>Kaundal R.<sup>*</sup></b>, Thomas, A.J., Benninghoff, A.D. and Isom, C.</h3>
                                  <!-- <div class="__time">7:00pm</div> -->
                              <div class="__loc"><span>Location:</span>The 7 th Annual ADVS Student Research Symposium; Utah State University, Logan
                                  (UT), USA</div>
                              <p class="meta-text">Gene expression analysis and DNA methylation patterns of porcine
                                  SCNT blastocysts with high and low
                                      incidence of apoptosis.
                                      <button class="btn1 btn info pull-right" style="margin-top: 50px; margin-left: 10px;">Oral presentation</button>
                                      <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                  </p>
                          </div>
                  </li><!-- /timeline-item -->
                  <br>
                  <li class="title-card" style="height: 236.78px ;">
                          <div class="time-span">
                              <div class="time-year">2018</div>
                              <div class="time-month">Jan 15</div>
                          </div>
                          <div class="timeline-meta">
                              <h3 class="staff-title zoom">Sandhu D., Cornacchione M.V., Pudussery M., Kaundal A., <b> Kaundal R.</b>, Ferreira J.F.S. and Suarez
                                      D.L.</h3>
                                  <!-- <div class="__time">7:00pm</div> -->
                              <div class="__loc"><span>Location:</span>Punjab Agricultural University
                                  (PAU), Ludhiana (Punjab), India.</div>
                              <p class="meta-text">Genetic analysis of salinity responses in Medicago genotypes.
                                      <button class="btn1 btn info pull-right" style="margin-top: 50px; margin-left: 10px;">Invited presentation</button>
                                      <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                  </p>
                          </div>
                  </li><!-- /timeline-item -->
                  <br>
                  </ul>
          </div>
          <div class="auth-deff_timeline_timeline-segment tabcontent" style="display: none" id="2017">
                      <ul class="auth-deff_timeline list-unstyled">
                          <li class="title-card" style="height: 236.78px ;">
                                      <div class="time-span">
                                          <div class="time-year">2017</div>
                                          <div class="time-month">Oct 22-25</div>
                                      </div>
                                      <div class="timeline-meta">
                                          <h3 class="staff-title zoom">Sandhu D., Pudussery M., <b>Kaundal R.</b> and Suarez D.L.</h3>
                                              <!-- <div class="__time">7:00pm</div> -->
                                          <div class="__loc"><span>Location:</span>The ASA, CSSA & SSSA
                                              International Annual Meetings; Tampa (Florida), USA</div>
                                          <p class="meta-text">Molecular analysis of the Na<sup>+</sup>/H<sup>+</sup>
                                                  exchanger gene family and its role in salt stress in Medicago truncatula.
                                                  <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                              </p>
                                      </div>
                          </li><!-- /timeline-item -->
                          <br>
                          <li class="title-card" style="height: 236.78px ;">
                                  <div class="time-span">
                                      <div class="time-year">2017</div>
                                      <div class="time-month">Mar 12-16</div>
                                  </div>
                                  <div class="timeline-meta">
                                      <h3 class="staff-title zoom">Kupsco A., Leet J.K., Altomare D., Chen A., Stapleton H.M., Katiyar N.,<b> Kaundal R.</b>, Yu Y., Wang
                                              Y. and Volz D.C.</h3>
                                          <!-- <div class="__time">7:00pm</div> -->
                                      <div class="__loc"><span>Location:</span>56 th Annual Meeting and ToxExpo, Society of Toxicology;
                                          Baltimore (Maryland), USA</div>
                                      <p class="meta-text">Transcriptome and DNA Methylome profiling of early Zebrafish embryos exposed
                                              to Tris (1,3-dichloro-2-propyl) phosphate.
                                              <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                          </p>
                                  </div>
                      </li><!-- /timeline-item -->
                      <br>
                          </ul>
          </div>
          <div class="auth-deff_timeline_timeline-segment tabcontent" style="display: none" id="2016">
                  <ul class="auth-deff_timeline list-unstyled">
                      <li class="title-card" style="height: 236.78px ;">
                              <div class="time-span">
                                  <div class="time-year">2016</div>
                                  <div class="time-month">Dec 01-02</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom">Kupsco A., Leet J.K., Altomare D., Chen A., Stapleton H.M., Katiyar N.,<b> Kaundal R.</b>, Yu Y., Wang
                                          Y. and Volz D.C.</h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location:</span>International Symposium & Workshop: Fish and amphibian
                                      embryos as alternative models in toxicology and teratology; Aulnay-sous-Bois/Paris, France</div>
                                  <p class="meta-text">Transcriptome and DNA Methylome profiling of early Zebrafish embryos exposed
                                          to Tris (1,3-dichloro-2-propyl) phosphate.
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                              </div>
                      </li><!-- /timeline-item -->
                      <br>
                      <li class="title-card" style="height: 236.78px ;">
                          <div class="time-span">
                              <div class="time-year">2016</div>
                              <div class="time-month">Nov 02-04</div>
                          </div>
                          <div class="timeline-meta">
                              <h3 class="staff-title zoom">Kupsco A., Leet J.K., Altomare D., Chen A., Stapleton H.M., Katiyar N.,<b> Kaundal R.</b>, Yu Y., Wang
                                      Y. and Volz D.C.</h3>
                                  <!-- <div class="__time">7:00pm</div> -->
                              <div class="__loc"><span>Location:</span>Toxicoepigenetics: The interface of Epigenetics and Risk
                                  assessment, Society of Toxicology meeting; Tysons (Virginia), USA</div>
                              <p class="meta-text">Transcriptome and DNA Methylome profiling of early Zebrafish embryos exposed
                                      to Tris (1,3-dichloro-2-propyl) phosphate.
                                      <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                  </p>
                          </div>
                     </li><!-- /timeline-item -->
                     <br>
                     <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                          <div class="time-year">2016</div>
                          <div class="time-month">Jan 09-13</div>
                      </div>
                      <div class="timeline-meta">
                          <h3 class="staff-title zoom"><b>Kaundal R<sup>*</sup>.</b>, <i>Hayes J., Katiyar N.</i> and <u>Liu T.</u></h3>
                              <!-- <div class="__time">7:00pm</div> -->
                          <div class="__loc"><span>Location:</span>Plant and
                              Animal Genomes conference XXIV (PAG international); San Diego (CA), USA</div>
                          <p class="meta-text">Centralizing bioinformatics via High-Performance
                                  Computing: applications, opportunities, and challenges in the era of large-scale -Omics data.
                                  <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                              </p>
                      </div>
                     </li><!-- /timeline-item -->
                     <br>
                  </ul>
          </div>
          <div class="auth-deff_timeline_timeline-segment tabcontent" style="display: none" id="2015">
                  <ul class="auth-deff_timeline list-unstyled">
                     <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                          <div class="time-year">2015</div>
                          <div class="time-month">March 13-14</div>
                      </div>
                      <div class="timeline-meta">
                          <h3 class="staff-title zoom"><b>Kaundal R<sup>*</sup>.</b>, <i>Hayes J., Katiyar N.</i> and <u>Pham, V.</u></h3>
                              <!-- <div class="__time">7:00pm</div> -->
                          <div class="__loc"><span>Location:</span>The XII th
                              MidSouth Computational Biology & Bioinformatics Society (MCBIOS) annual conference; University of
                              Arkansas, UAMS, Little Rock (AR), USA</div>
                          <p class="meta-text">Centralizing bioinformatics via High-Performance
                                  Computing: applications, opportunities, and challenges in the era of large-scale -Omics data.
                                  <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                              </p>
                      </div>
                     </li><!-- /timeline-item -->
                     <br>
                     <li class="title-card" style="height: 236.78px ;">
                          <div class="time-span">
                              <div class="time-year">2015</div>
                              <div class="time-month">March 13-14</div>
                          </div>
                          <div class="timeline-meta">
                              <h3 class="staff-title zoom"><i> Sahu S.S., Hayes J.</i> and <b>Kaundal R<sup>*</sup>.</b></h3>
                                  <!-- <div class="__time">7:00pm</div> -->
                              <div class="__loc"><span>Location:</span>The XII th
                                  MidSouth Computational Biology & Bioinformatics Society (MCBIOS) annual conference; University of
                                  Arkansas, UAMS, Little Rock (AR), USA</div>
                              <p class="meta-text">Computational prediction of single and multi-target protein
                                      subcellular localization using machine-learning approach.
                                      <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                  </p>
                          </div>
                      </li><!-- /timeline-item -->
                      <br>
                  </ul>
          </div>
          <div class="auth-deff_timeline_timeline-segment tabcontent" style="display: none" id="2014">
                  <ul class="auth-deff_timeline list-unstyled">
                     <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                          <div class="time-year">2014</div>
                          <div class="time-month">July 12-16</div>
                      </div>
                      <div class="timeline-meta">
                          <h3 class="staff-title zoom"><i>Sahu S.S.</i>, Kaundal A., Rojas C.M., Lee S.,<u><i>Weirick T.</i></u>, Mysore K.S. and <b>Kaundal R<sup>*</sup>.</b></h3>
                              <!-- <div class="__time">7:00pm</div> -->
                          <div class="__loc"><span>Location:</span>American Society of Plant Biologists
                              (ASPB) meeting; Portland, Oregon, USA</div>
                          <p class="meta-text">Computational prediction and experimental validation of host-pathogen protein-protein interactome: a case
                                  study on Arabidopsis thaliana - Pseudomonas syringae model system.
                                  <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                              </p>
                      </div>
                     </li><!-- /timeline-item -->
                     <br>
                     <li class="title-card" style="height: 236.78px ;">
                          <div class="time-span">
                              <div class="time-year">2014</div>
                              <div class="time-month">March 6-8</div>
                          </div>
                          <div class="timeline-meta">
                              <h3 class="staff-title zoom"><u><i>Weirick T.</i></u>,<i> Sahu S.S.</i>, Mahalingam R. and <b>Kaundal R<sup>*</sup>.</b></h3>
                                  <!-- <div class="__time">7:00pm</div> -->
                              <div class="__loc"><span>Location:</span>The XII th
                                  MidSouth Computational Biology & Bioinformatics Society (MCBIOS) annual conference; University of
                                  Arkansas, UAMS, Little Rock (AR), USA</div>
                              <p class="meta-text">Predicting subtypes of laccases, an
                                      important lignin metabolism-related enzyme class, with machine learning.
                                      <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                  </p>
                          </div>
                      </li><!-- /timeline-item -->
                      <br>
                      <li class="title-card" style="height: 236.78px ;">
                              <div class="time-span">
                                  <div class="time-year">2014</div>
                                  <div class="time-month">March 6-8</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><i>Sahu S.S.,<u> Weirick T.</u></i> and <b>Kaundal R<sup>*</sup>.</b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location:</span>The XI th MidSouth Computational Biology &
                                      Bioinformatics Society (MCBIOS) annual conference; Oklahoma State University, Stillwater (OK), USA</div>
                                  <p class="meta-text">Prediction of Arabidopsis-Pseudomonas syringae
                                          interactome based on domain and interolog based approaches.
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                              </div>
                          </li><!-- /timeline-item -->
                          <br>
                  </ul>
          </div>
          <div class="auth-deff_timeline_timeline-segment tabcontent" style="display: none" id="2013">
                  <ul class="auth-deff_timeline list-unstyled">
                     <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                          <div class="time-year">2013</div>
                          <div class="time-month">Sep 23-24</div>
                      </div>
                      <div class="timeline-meta">
                          <h3 class="staff-title zoom"><i><u>Moncrief R., Weirick T.</u></i> and <b>Kaundal R<sup>*</sup>.</b></h3>
                              <!-- <div class="__time">7:00pm</div> -->
                          <div class="__loc"><span>Location:</span>International Plant
                              Genomics Congress; St. Louis (MO), USA</div>
                          <p class="meta-text">Deciphering genome-scale host-pathogen Protein
                                  Interaction Networks using Artificial Intelligence and its applicability to select agents.
                                  <button class="btn1 btn info pull-right" style="margin-top: 50px; margin-left: 10px;">Invited Talk</button>
                                  <button class="btn1 btn warning pull-right" style="margin-top: 50px; margin-left: 10px;">Poster presentation</button>

                                  <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                              </p>
                      </div>
                     </li><!-- /timeline-item -->
                     <br>
                     <li class="title-card" style="height: 236.78px ;">
                          <div class="time-span">
                              <div class="time-year">2013</div>
                              <div class="time-month">Sept 19</div>
                          </div>
                          <div class="timeline-meta">
                              <h3 class="staff-title zoom"><i>Sahu S.S.,<u> Weirick T., Moncrief R.</u></i> and <b>Kaundal, R<sup>*</sup>.</b></h3>
                                  <!-- <div class="__time">7:00pm</div> -->
                              <div class="__loc"><span>Location:</span>BMB Annual Research Symposium; OSU Stillwater (OK),
                                  USA</div>
                              <p class="meta-text">A Bioinformatics Approach to Predict Host-
                                      Pathogen Protein-Protein Interactions Network.
                                      <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                  </p>
                          </div>
                     </li><!-- /timeline-item -->
                     <br>
                     <li class="title-card" style="height: 236.78px ;">
                              <div class="time-span">
                                  <div class="time-year">2013</div>
                                  <div class="time-month">April 23</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><i><u>Weirick T.</u></i>, Fathepure B.Z., Mahalingam R. and <b>Kaundal R<sup>*</sup>.</b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location:</span>NSF EPSCoR Annual Bioenergy Conference; Oklahoma State University, Stillwater (OK), USA</div>
                                  <p class="meta-text">LigPred: a Comprehensive Prediction
                                          System for the Identification and Classification of Enzymes Related to the Synthesis and Degradation of
                                          Lignin.
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                              </div>
                     </li><!-- /timeline-item -->
                     <br>
                     <li class="title-card" style="height: 236.78px ;">
                          <div class="time-span">
                              <div class="time-year">2013</div>
                              <div class="time-month">Sept 19</div>
                          </div>
                          <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><i><u>Weirick T.</u></i>, Fathepure B.Z., Mahalingam R. and <b>Kaundal R<sup>*</sup>.</b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location:</span>NSF EPSCoR Annual Bioenergy Conference; Oklahoma State University, Stillwater (OK), USA</div>
                                  <p class="meta-text">LigPred: a Comprehensive Prediction
                                          System for the Identification and Classification of Enzymes Related to the Synthesis and Degradation of
                                          Lignin.
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                              </div>
                     </li><!-- /timeline-item -->
                     <br>
                     <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                          <div class="time-year">2013</div>
                          <div class="time-month">April 5-6</div>
                      </div>
                      <div class="timeline-meta">
                          <h3 class="staff-title zoom"><b>Kaundal R<sup>*</sup></b>. and Verma R<sup>^</sup>.</h3>
                              <!-- <div class="__time">7:00pm</div> -->
                          <div class="__loc"><span>Location:</span>The X th MidSouth Computational Biology & Bioinformatics Society (MCBIOS)
                              annual conference; University of Missouri, Columbia (MO), USA</div>
                          <p class="meta-text">PLpred: a bioinformatics system for the identification and classification
                                  of plastid type proteins.
                                  <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                              </p>
                      </div>
                     </li><!-- /timeline-item -->
                     <br>
                     <li class="title-card" style="height: 236.78px ;">
                  <div class="time-span">
                      <div class="time-year">2013</div>
                      <div class="time-month">April 5-6</div>
                  </div>
                  <div class="timeline-meta">
                      <h3 class="staff-title zoom"><u><i>Moncrief R.</i></u> and <b>Kaundal R<sup>*</sup>.</b></h3>
                          <!-- <div class="__time">7:00pm</div> -->
                      <div class="__loc"><span>Location:</span>The X th MidSouth Computational Biology & Bioinformatics Society (MCBIOS)
                          annual conference; University of Missouri, Columbia (MO), USA</div>
                      <p class="meta-text">Bioinformatics Approaches to Deciphering Host-Pathogen Protein
                              Interaction Networks (PINs).
                              <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                          </p>
                  </div>
                     </li><!-- /timeline-item -->
                     <br>
                     <li class="title-card" style="height: 236.78px ;">
                          <div class="time-span">
                              <div class="time-year">2013</div>
                              <div class="time-month">April 5-6</div>
                          </div>
                          <div class="timeline-meta">
                              <h3 class="staff-title zoom"><i>Sahu S.S.</i> and <b>Kaundal R<sup>*</sup>.</b></h3>
                                  <!-- <div class="__time">7:00pm</div> -->
                              <div class="__loc"><span>Location:</span>The X th MidSouth Computational Biology & Bioinformatics
                                  Society (MCBIOS) annual conference; University of Missouri, Columbia (MO), USA</div>
                              <p class="meta-text">Predicting Multi-target Protein Subcellular Localization combining
                                      homology and Machine Learning Approaches.
                                      <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                  </p>
                          </div>
                      </li><!-- /timeline-item -->
                      <br>
                      <li class="title-card" style="height: 236.78px ;">
                              <div class="time-span">
                                  <div class="time-year">2013</div>
                                  <div class="time-month">April 5-6</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom">Ahmed F.,<b> Kaundal R.</b> and Raghava G.P.S.</h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location:</span>The X th MidSouth
                                      Computational Biology & Bioinformatics Society (MCBIOS) annual conference; University of Missouri,
                                      Columbia (MO), USA</div>
                                  <p class="meta-text">PHDcleav: a SVM-based method for predicting human
                                          Dicer cleavage sites using sequence and secondary structure of miRNA precursors.
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                              </div>
                      </li><!-- /timeline-item -->
                      <br>
                      <li class="title-card" style="height: 236.78px ;">
                              <div class="time-span">
                                  <div class="time-year">2013</div>
                                  <div class="time-month">March 9-10</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><u><i>Moncrief R.</i></u> and <b>Kaundal R<sup>*</sup>.</b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location:</span>Gordon Research Conferences (Chemical & Biological Terrorism
                                      Defense); Ventura Beach Marriott, Ventura (CA), USA</div>
                                  <p class="meta-text">Artificial Intelligence-based prediction of plant host-pathogen protein
                                          interaction networks in select agents.
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                              </div>
                      </li><!-- /timeline-item -->
                      <br>
                      <li class="title-card" style="height: 236.78px ;">
                              <div class="time-span">
                                  <div class="time-year">2013</div>
                                  <div class="time-month">March 3-5</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><u><i>Weirick T.</i></u>, Fathepure B.Z., Mahalingam R. and <b>Kaundal R<sup>*</sup>.</b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location:</span>NSF EPSCoR Bioinformatics Workshop; Arkansas State University, Little Rock (AR), USA</div>
                                  <p class="meta-text">LigPred: a Comprehensive Prediction
                                          System for the Identification and Classification of Enzymes Related to the Synthesis and Degradation of
                                          Lignin.
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                              </div>
                      </li><!-- /timeline-item -->
                      <br>
                      <li class="title-card" style="height: 236.78px ;">
                              <div class="time-span">
                                  <div class="time-year">2013</div>
                                  <div class="time-month">Feb 20-21</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><u><i>Kelley R.</i></u> and <b>Kaundal, R<sup>*</sup>.</b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location:</span>OSU Annual Research Week & Symposium (2013); Oklahoma State
                                      University, Stillwater (OK), USA</div>
                                  <p class="meta-text">Bioinformatics Approaches to Deciphering Genome-wide Host-Pathogen
                                          Protein Interaction Networks.
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                              </div>
                      </li><!-- /timeline-item -->
                      <br>
                      <li class="title-card" style="height: 236.78px ;">
                              <div class="time-span">
                                  <div class="time-year">2013</div>
                                  <div class="time-month">Feb 20-21</div>
                              </div>
                              <div class="timeline-meta">
                                  <h3 class="staff-title zoom"><u><i>Weirick T.</i></u>, Fathepure B.Z., Mahalingam R. and <b>Kaundal R<sup>*</sup>.</b></h3>
                                      <!-- <div class="__time">7:00pm</div> -->
                                  <div class="__loc"><span>Location:</span>OSU Annual Research Week & Symposium (2013); Oklahoma State University, Stillwater (OK),
                                      USA</div>
                                  <p class="meta-text">LigPred: a Comprehensive Prediction
                                          System for the Identification and Classification of Enzymes Related to the Synthesis and Degradation of
                                          Lignin
                                          <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                      </p>
                              </div>
                      </li><!-- /timeline-item -->
                      <br>
                  </ul>
          </div>
          <div class="auth-deff_timeline_timeline-segment tabcontent" style="display: none" id="2012">
                  <ul class="auth-deff_timeline list-unstyled">
                     <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                          <div class="time-year">2012</div>
                          <div class="time-month">Sep 20-21</div>
                      </div>
                      <div class="timeline-meta">
                          <h3 class="staff-title zoom"><u><i>Kelley R.</i></u> and <b>Kaundal, R<sup>*</sup>.</b></h3>
                              <!-- <div class="__time">7:00pm</div> -->
                          <div class="__loc"><span>Location:</span>Biochemistry & Molecular Biology Annual Research Symposium (2012);
                              Oklahoma State University, Stillwater (OK), USA</div>
                          <p class="meta-text">Bioinformatics Approaches to Deciphering Genome-wide Host-Pathogen
                                  Protein Interaction Networks.
                                  <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                              </p>
                      </div>
                     </li><!-- /timeline-item -->
                     <br>
                     <li class="title-card" style="height: 236.78px ;">
                          <div class="time-span">
                              <div class="time-year">2012</div>
                              <div class="time-month">Feb 17-18</div>
                          </div>
                          <div class="timeline-meta">
                              <h3 class="staff-title zoom">Verma R.<sup>^</sup> and <b>Kaundal R<sup>*</sup>.</b></h3>
                                  <!-- <div class="__time">7:00pm</div> -->
                              <div class="__loc"><span>Location:</span>The IX th MidSouth Computational Biology & Bioinformatics Society
                                  (MCBIOS) annual conference; University of Mississippi, Oxford (MS), USA</div>
                              <p class="meta-text">A Support Vector Machine-based prediction method to classify the
                                      plastid and non-plastid type proteins.
                                      <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                  </p>
                          </div>
                         </li><!-- /timeline-item -->
                         <br>
                  </ul>
          </div>
          <div class="auth-deff_timeline_timeline-segment tabcontent" style="display: none" id="2010">
                  <ul class="auth-deff_timeline list-unstyled">
                     <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                          <div class="time-year">2010</div>
                          <div class="time-month">July 10-14</div>
                      </div>
                      <div class="timeline-meta">
                          <h3 class="staff-title zoom"><b>Kaundal R.</b> and Zhao P.X.</h3>
                              <!-- <div class="__time">7:00pm</div> -->
                          <div class="__loc"><span>Location:</span>The 18 th Annual International Conference on
                              Intelligent Systems for Molecular Biology (ISMB); Boston (MA), USA</div>
                          <p class="meta-text">A systematic approach to predicting organism-specific subcellular
                                  localization suggests species-specific sorting patterns.
                                  <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                              </p>
                      </div>
                     </li><!-- /timeline-item -->
                     <br>
                  </ul>
          </div>
          <div class="auth-deff_timeline_timeline-segment tabcontent" style="display: none" id="2009">
                  <ul class="auth-deff_timeline list-unstyled">
                     <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                          <div class="time-year">2010</div>
                          <div class="time-month">July 18-22</div>
                      </div>
                      <div class="timeline-meta">
                          <h3 class="staff-title zoom"><b>Kaundal R.</b> and Zhao P.X.</h3>
                              <!-- <div class="__time">7:00pm</div> -->
                          <div class="__loc"><span>Location:</span>American
                              Society of Plant Biologists (ASPB) meeting; Honolulu, Hawaii Islands, USA</div>
                          <p class="meta-text">ASLpred: Arabidopsis Subcellular Localization predictor.
                                  <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                              </p>
                      </div>
                     </li><!-- /timeline-item -->
                     <br>
                  </ul>
          </div>
          <div class="auth-deff_timeline_timeline-segment tabcontent" style="display: none" id="2008">
                  <ul class="auth-deff_timeline list-unstyled">
                     <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                          <div class="time-year">2008</div>
                          <div class="time-month">Jan 12-16</div>
                      </div>
                      <div class="timeline-meta">
                          <h3 class="staff-title zoom"><b>Kaundal R.</b> and Zhao P.X.</h3>
                              <!-- <div class="__time">7:00pm</div> -->
                          <div class="__loc"><span>Location:</span>Plant and Animal Genomes conference XVI (PAG meeting); San Diego (CA), USA</div>
                          <p class="meta-text">An integrated prediction system for protein subcellular localization in
                                  Arabidopsis.
                                  <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                              </p>
                      </div>
                     </li><!-- /timeline-item -->
                     <br>
                  </ul>
          </div>
          <div class="auth-deff_timeline_timeline-segment tabcontent" style="display: none" id="2004">
                  <ul class="auth-deff_timeline list-unstyled">
                     <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                          <div class="time-year">2004</div>
                          <div class="time-month">Feb 19-21</div>
                      </div>
                      <div class="timeline-meta">
                          <h3 class="staff-title zoom">A.S. Kapoor and <b>R. Kaundal</b></h3>
                              <!-- <div class="__time">7:00pm</div> -->
                          <div class="__loc"><span>Location:</span>The 56 th Annual meeting and National Symposium on Crop Surveillance: Disease
                              Forecasting and Management; Division of Plant Pathology, Indian Agricultural Research Institute (IARI), New Delhi</div>
                          <p class="meta-text">Development of weather based forewarning models for rice blast in
                                  Himachal Pradesh.
                                  <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                              </p>
                      </div>
                     </li>
                     <!-- /timeline-item -->
                     <br>
                     <li class="title-card" style="height: 236.78px ;">
                          <div class="time-span">
                              <div class="time-year">2004</div>
                              <div class="time-month">Nov 09-10</div>
                          </div>
                          <div class="timeline-meta">
                              <h3 class="staff-title zoom">A.S. Kapoor and <b>R. Kaundal</b></h3>
                                  <!-- <div class="__time">7:00pm</div> -->
                              <div class="__loc"><span>Location:</span>National Symposium on Emerging Trends in Plant Disease Management; Department
                                  of Plant Pathology, CSK Himachal Pradesh Agricultural University, Palampur, India</div>
                              <p class="meta-text">Development of weather-based forecasting models for rice neck blast
                                      in Himachal Pradesh.
                                      <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                                  </p>
                          </div>
                         </li><!-- /timeline-item -->
                         <br>
                  </ul>
          </div>
          <div class="auth-deff_timeline_timeline-segment tabcontent" style="display: none" id="2002">
                  <ul class="auth-deff_timeline list-unstyled">
                     <li class="title-card" style="height: 236.78px ;">
                      <div class="time-span">
                          <div class="time-year">2002</div>
                          <div class="time-month">Oct 01-04</div>
                      </div>
                      <div class="timeline-meta">
                          <h3 class="staff-title zoom">Kapoor A.S., <b>Kaundal R</b> and Pratap A.</h3>
                              <!-- <div class="__time">7:00pm</div> -->
                          <div class="__loc"><span>Location:</span>CSK Himachal Pradesh Agricultural University (HPAU), Palampur, India</div>
                          <p class="meta-text">Weather based forewarning of rice blast in H.P.
                                  International Conference on Challenges and Options for Sustainable Development of the Himalayas -
                                  Beyond 2002
                                  <!-- <ul><em>1 st place in flash talk presentation</em></ul> -->
                              </p>
                      </div>
                     </li><!-- /timeline-item -->
                     <br>
                  </ul>
          </div>
      </div>
  </section>
  <section class="section-brand_quickfact section">
      <div class="container">
          <div class="brand_quickfact-wrap">
              <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="brand_quickfact-content font-2 text-center">
                                  <div class="brand_quickfact-count_value">20</div>
                                  <div class="brand_quickfact-label">Journal Articles</div>
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="brand_quickfact-content font-2 text-center">
                                  <div class="brand_quickfact-count_value">$ 1,524,048</div>
                                  <div class="brand_quickfact-label">Grants Received</div>
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="brand_quickfact-content font-2 text-center">
                                  <div class="brand_quickfact-count_value">7</div>
                                  <div class="brand_quickfact-label">Research members</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- /.brand_quickfact-wrap -->
      </div>
  </section><!-- /.section-brand_quickfact -->

  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts() }}
</body>

</html>
