// $color-primary: #d400ff;
$color-primary-dark: #980f23;
$color-primary: #bb1a31;
$color-primary-light: #d13249;
$color-primary-very-light: #f17789;
$color-primary-bg: rgba(#b91f2e,.18);

$color-border-gray: #d1d1d1;

$color-bg-gray: #f2f2f2;

$transparent: rgba(#fff, 0);
$color-text-hard: #212121;
$color-text-main: #2a2a2a;
$color-text-soft: #6f6f6f;

$color-btn-gray: #c4c4c4;
