@function tint($color, $percentage) {
  @return mix($color, white, $percentage);
}

@function shade($color, $percentage) {
  @return mix($color, black, $percentage);
}

// $color-primary: #00a3ff;
$color-primary: #b4132a;
$color-secondary: #3b4961;

// Shades
$color-primary-very-dark: shade($color-primary, 45%);
$color-primary-dark: shade($color-primary, 70%);

$color-secondary-very-dark: shade($color-secondary, 45%);
$color-secondary-dark: shade($color-secondary, 70%);

// Tints
$color-primary-light: tint($color-primary, 70%);
$color-primary-very-light: tint($color-primary, 45%);
$color-primary-bg: rgba($color-primary, .18);

$color-secondary-light: tint($color-secondary, 70%);
$color-secondary-very-light: tint($color-secondary, 45%);
$color-secondary-bg: rgba($color-secondary, .18);

$code-color: #ee316f;

$color-border-gray: #d1d1d1;

$color-bg-gray: #f2f2f2;

$color-bg-main: #f7f7f7;

$transparent: rgba(#fff, 0);
$color-text-hard: #212121;
$color-text-main: #2a2a2a;
$color-text-soft: #6f6f6f;

$color-btn-gray: #c4c4c4;


// Logos
$color-google: #4285F4;
$color-orcid: #A6CE39;
$color-researchgate: #40ba9b;
$color-facebook: #3b5998;
$color-linkedin: #2867B2;
$color-twitter: #1DA1F2;

$logo-map: ("google": $color-google, "orcid": $color-orcid, "researchgate": $color-researchgate,
            "facebook": $color-facebook, "linkedin": $color-linkedin, "twitter": $color-twitter, "kbl": $color-primary);
