:root {
  // Border Radii
  --btn-radius: 8px;
  --border-radius: 8px;

  // Transition Times
  --time-slow: 0.35s;
  --time-mid: 0.27s;
  --time-fast: 0.19s;

  // Font Weights - you should only need 3-4
  --font-weight-light: 400;
  --font-weight-medium: 600;
  --font-weight-heavy: 700;

  --navbar-height: 7.3rem;
  --mobile-nav-height: 62px;
}
