@import './colors';
@import './globals';

@import './export-kbl';
@import './animations/export';
@import './export-components';
@import './export-pages';
@import './pages/importer';
@import './default/export';

@import '../views/pages/people/people';

ul, ol {
  list-style: none; }

img {
  max-width: 100%; }
html {
  overflow-x: hidden;
}
body {
  color: var(--color-text-main);
  overflow-x: hidden;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  line-height: 1.788;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-footer {
  background: #e3e3e3!important;

  .footer-bar {
    background: #fff!important;
  }
}

@media only screen and (max-width: 991px) {
  .bottom-section {
    margin-bottom: var(--mobile-nav-height);
  }
}

.kbl-top {
  // margin-top: var(--navbar-height)!important;
  padding-left: 0!important;
  padding-right: 0!important;
  background: var(--color-bg-gray);
}

.nav-margin {
  // margin-top: var(--navbar-height)!important;
}

.header-icon-wrapper {
  h1, h2, h3, h4, h5, h6, p {
    color: var(--color-text-main)!important;
  }
}

.kbl-container {
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 1px solid var(--color-border-gray);
  transition: var(--time-mid);

  &.flex {
    display: flex;
    flex-direction: column;
  }

  .article-header {
    transition: var(--time-mid);
  }

  .article-desc {
    font-weight: var(--font-weight-medium);
    color: var(--color-text-soft);
  }

  &.interactive:hover {
    background: var(--color-bg-gray);
    cursor: pointer;

    .article-header {
      color: var(--color-primary)!important;
    }
  }
}

html {
  font-size: 14px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

.navbar-nav {
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

::selection {
  background: var(--color-primary-light);
  color: #fff;
}
::-moz-selection {
  background: var(--color-primary-light);
  color: #fff;
}

// Correct FontAwesome to Ion Icons
.correct-fa i {
  font-size: 125%;

  &.fa-laptop {
    font-size: 115%!important;
  }
}

i.ion-ios-paper-outline {
  color: var(--color-primary)!important;
}

.pub-item.with-icon .elem-wrapper i {
  border-color: var(--color-primary)!important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f22' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")!important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f22' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")!important;
}

.gray-bg {
  background: var(--color-bg-gray)!important;
  border-radius: var(--border-radius);
  overflow: hidden;
}

// Get of this!
.remarkable {
  font-weight: var(--font-weight-heavy);
  font-size: 125%!important;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-self-end {
  align-self: baseline;
}

.text-thicc {
  // font-weight: $font-weight-medium!important;
  font-size: 120%;
}

.footer-section {
  .kbl-text {
    line-height: 200%;

    &.soft {
      font-style: italic!important;
      color: var(--color-text-soft)!important;
    }
  }
}

footer {
  background: var(--color-bg-gray);
}

.footer-bottom-text {
  font-size: 90%!important;
}

.footer-link {
  color: var(--color-text-main)!important;
  transition: var(--time-mid);

  &:hover {
    color: var(--color-primary)!important;
  }

  &.thicc {
    font-weight: var(--font-weight-medium)!important;
  }
}

@each $name, $color in $logo-map {
  a.kbl-icon-#{$name} {
    color: tint($color, 55%)!important;
    transition: var(--time-mid);
    font-size: 150%!important;
    margin-right: 5px;

    &:hover {
      color: $color!important;
    }
  }
}

.modal-arrow-select {
  color: var(--color-text-main)!important;
  transition: var(--time-mid);
  cursor: pointer;

  &:hover {
    color: var(--color-primary)!important;
  }
}

.kbl-header-img {
  object-fit: cover;
  object-position: center 30%;
  width: 100%;
  height: 270px;
}

.hide {
  display: hidden!important;
}

.img-round {
  border-radius: var(--border-radius)!important;
  overflow: hidden!important;
}

.video-play {
  position: relative;
  display: block; }
  .video-play:before {
    content: '';
    background-image: url(../img/icon/vid_play.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }

.center-y {
  position: relative!important;
  width: 100%!important;
  top: 50%!important;
  bottom: auto!important;
  transform: translateY(-50%)!important;
}

.home-info-block-first .sabbi-thumlinepost-card {
  margin-top: 15px; }

@media (max-width: 991px) {
  .home-info-block-first .sabbi-thumlinepost-card {
    margin-top: 30px; } }

.stage-halfbol {
  background-image: url(http://bioinfocore.usu.edu/raikou/image/bioinfo/USU_ag.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0; }
  .stage-halfbol .stage-halfbol_content {
    background: #fff;
    margin-top: 55px;
    margin-bottom: 55px;
    padding: 45px;
    border-radius: var(--border-radius); }

@media (max-width: 767px) {
  .stage-halfbol_content .stage-title {
    font-size: 22px;
    font-size: 1.57143rem; } }

// For the Bootstrap Modal Footer
.modal-pre-email {
  color: var(--color-text-main);
  font-weight: var(--font-weight-heavy);
}

.modal-email {
  color: var(--color-text-main);
  font-weight: var(--font-weight-medium);
}

// Scrollbar stuff
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark);
}
