@import './colors';
@import './globals';

@import './export-kbl';
@import './animations/export';
@import './export-components';
@import './export-pages';
@import './pages/importer';
@import './default/export';

@import '../views/pages/people/people';

body {
  color: $color-text-main;
  overflow-x: hidden;
}

.section-footer {
  background: #e3e3e3!important;

  .footer-bar {
    background: #fff!important;
  }
}

.kbl-top {
  margin-top: $navbar-height!important;
  padding-left: 0!important;
  padding-right: 0!important;
  background: $color-bg-gray;
}

.header-icon-wrapper {
  h1, h2, h3, h4, h5, h6, p {
    color: $color-text-main!important;
  }
}

.kbl-social-wrapper a {
  font-size: 150%!important;
  color: $color-primary-light!important;
  transition: $time-mid;
  margin-right: 5px;

  &:hover {
    color: $color-primary!important;
  }
}

::selection {
  background: $color-primary-light;
  color: #fff;
}
::-moz-selection {
  background: $color-primary-light;
  color: #fff;
}

// Correct FontAwesome to Ion Icons
.correct-fa i {
  font-size: 125%;

  &.fa-laptop {
    font-size: 115%!important;
  }
}

i.ion-ios-paper-outline {
  color: $color-primary!important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f22' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")!important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f22' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")!important;
}

.gray-bg {
  background: $color-bg-gray!important;
  border-radius: $border-radius;
  overflow: hidden;
}

// Get of this!
.home-news-item {
  .hn-header {
    font-size: 107%!important;
    font-weight: $font-weight-heavy;
    color: $color-text-main!important;
    transition: $time-mid;

    &.shrink {
      line-height: 103%!important;
    }

    &:hover {
      color: $color-primary!important;
    }
  }

  .hn-date {
    color: $color-text-soft!important;
    font-style: italic;
  }
}

.remarkable {
  font-weight: $font-weight-heavy;
  font-size: 125%!important;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-self-end {
  align-self: baseline;
}
