@import './colors';
@import './globals';

@import './export-kbl';
@import './export-components';
@import './export-pages';
@import './pages/importer';

.flex-col {
  flex: 1;
  padding-right: 15px;
  padding-left: 15px;
}

.flex-row {
  display: flex;
}


body {
  color: $color-text-main;
}
