<p class="blog">
  We now have a dashboard for tracking COVID-19 data from around the globe. Even more detailed data on the
  <a target="_blank" rel="noopener noreferrer" href="covidTracker/us-state.php">US</a>
  and
  <a target="_blank" rel="noopener noreferrer" href="covidTracker/india.php">India</a>
  can also be found on our COVID-19 Tracker page as well.
</p>

<p class="blog text-center">
  Our <a target="_blank" rel="noopener noreferrer" href="covidTracker/index.php">COVID Tracker</a> is available to anyone without warranty.
</p>
