{% from "components/tool-card.njk" import toolCard %}

{% macro toolTest(tool) %}
  <a href="{{ tool.link }}">
    <article class="kbl-research-card-container tool mx-auto">
      <div class="kbl-research-card">
        <section class="img-tool">
          <img src="{{ tool.img }}" alt="tool-test">
        </section>
        <section class="px-3 flex-text-wrapper pt-2">
          <div class="card-title">{{ tool.title }}</div>
        </section>
      </div>
    </article>
  </a>
{% endmacro %}

{% macro toolSection(title, tools=[], id="default") %}
  <article class="row">
    <div class="col-12">
      <section class="row my-4" id="{{ id }}">
        <div class="col-12">
          <div class="text-center">
            <h4 class="kbl-heading my-auto">{{ title }}</h4>
          </div>
        </div>
      </section>

      <section class="row mb-3 justify-content-center">
        <div class="col-10 col-sm-12 tool-card-section py-2">
          <div class="row">
            {% for tool in tools %}
              <div class="col-12 col-sm-6 col-lg-4 col-xl-3 py-3">
                {{ toolCard(tool) }}
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </article>
{% endmacro %}
