{% set predhpi = {
    img: "/image/bioinfo/tools/predHpi.PNG",
    title: "PredHPI",
    link: "https://kaabil.net/PredHPI/"
  }
%}

{% set apinet = {
    img: "/image/bioinfo/tools/api-net.PNG",
    title: "AP-iNET",
    link: "https://kaabil.net/AP-iNET/"
  }
%}

{% set plantmSubp = {
    img: "/image/bioinfo/tools/plantmSubp.PNG",
    title: "Plant-mSubP",
    link: "https://kaabil.net/Plant-mSubP/"
  }
%}

{% set atSubP = {
    img: "/image/bioinfo/tools/atsubp.png",
    title: "AtSubP",
    link: " https://www.zhaolab.org/AtSubP/index.php/"
  }
%}

{% set rslPredP = {
    img: "/image/bioinfo/tools/rslpred.PNG",
    title: "RSLpred",
    link: "https://webs.iiitd.edu.in/raghava/rslpred/"
  }
%}

{% set plPred = {
    img: "/image/bioinfo/tools/plpred.PNG",
    title: "PLpred",
    link: "https://kaabil.net/PLpred/"
  }
%}

{% set greeningDB = {
    img: "/image/bioinfo/tools/greeningdb.png",
    title: "GreeningDB",
    link: "https://kaabil.net/GreeningDB/"
  }
%}

{% set citSATdb = {
    img: "/image/bioinfo/tools/citsatdb.png",
    title: "citSATdb",
    link: "https://kaabil.net/citSATdb/"
  }
%}

{% set legumeSSRdb = {
    img: "/image/bioinfo/tools/legumessdb.png",
    title: "legumeSSRdb",
    link: "https://kaabil.net/legumeSSRdb/"
  }
%}

{% set lacSubPred = {
    img: "/image/bioinfo/tools/lacsubpred.PNG",
    title: "LacSubPred",
    link: "https://kaabil.net/lacsubpred/"
  }
%}

{% set ligPred = {
    img: "/image/bioinfo/tools/ligpred.PNG",
    title: "LigPred",
    link: "https://kaabil.net/ligpred/"
  }
%}

{% set rbPred = {
    img: "/image/bioinfo/tools/rbpred.PNG",
    title: "RBPred",
    link: "https://webs.iiitd.edu.in/raghava/rbpred/"
  }
%}

{% set template = {
    img: "",
    title: "",
    link: ""
  }
%}

{% set necMiner = {
    img: "/image/bioinfo/tools/deepnec.png",
    title: "deepNEC",
    link: "https://kaabil.net/deepNEC/"
  }
%}

{% set deepHPI = {
    img: "/image/bioinfo/tools/deephpi.png",
    title: "deepHPI",
    link: "https://kaabil.net/deepHPI/"
  }
%}

{% set huco = {
    img: "/image/bioinfo/tools/covid.jpg",
    title: "HuCoPIA",
    link: "https://kaabil.net/hucopia/"
  }
%}

{% set ranchSAT = {
    img: "/image/bioinfo/tools/ranchsatdb.png",
    title: "ranchSATdb",
    link: "https://kaabil.net/ranchSATdb/"
  }
%}

{% set alfaNet = {
    img: "/image/bioinfo/tools/alfanet.png",
    title: "alfaNET",
    link: "https://kaabil.net/alfanet/"
  }
%}

{% set weconet = {
    img: "/image/bioinfo/tools/weconet.png",
    title: "WeCoNET",
    link: "https://kaabil.net/weconet/"
  }
%}

{% set malivhu = {
    img: "/image/bioinfo/tools/malivhu.png",
    title: "Malivhu",
    link: "https://kaabil.net/malivhu/"
  }
%}

{% set trustdb = {
    img: "/image/bioinfo/tools/trustdb2.png",
    title: "TRustDB",
    link: "https://kaabil.net/trustdb/"
  }
%}

{% set tritikbdb = {
    img: "/image/bioinfo/tools/tritikbdb.png",
    title: "TritiKBdb",
    link: "https://kaabil.net/tritikbdb/"
  }
%}

{% set myDockDB = {
    img: "/image/bioinfo/tools/myDockDB.png",
    title: "myDockDB",
    link: "https://kaabil.net/myDockDB/"
  }
%}

{% set HuCoVarIA= {
    img: "/image/bioinfo/tools/hucovaria.jpg",
    title: "HuCoVarIA",
    link: "https://kaabil.net/hucovaria/"
  }
%}

{% set ProFeatX= {
    img: "/image/bioinfo/tools/profeatx.png",
    title: "ProFeatX",
    link: "https://kaabil.net/profeatx/"
  }
%}

{% set pySeqRNA= {
    img: "/image/bioinfo/tools/pyseqrna.png",
    title: "pySeqRNA",
    link: "https://kaabil.net/pyseqrna/"
  }
 
%}
 {% set AtSubP2= {
    img: "/image/bioinfo/tools/atsubp2.png",
    title: "AtSubP-2.0",
    link: "https://kaabil.net/AtSubP2/"
  }
 %}
  {% set RSLpred2= {
    img: "/image/bioinfo/tools/rslpred2.png",
    title: "RSLpred-2.0",
    link: "https://kaabil.net/RSLpred2/"
  }
 %}
  {% set deepNEC2= {
    img: "/image/bioinfo/tools/deepnec2.png",
    title: "deepNEC-2.0",
    link: "https://kaabil.net/deepnec-2.0/"
  }
 %}
  {% set HPInet= {
    img: "/image/bioinfo/tools/hpinet.png",
    title: "HPInet",
    link: "https://kaabil.net/hpinet/"
  }
 %}
 {% set PRGminer= {
    img: "/image/bioinfo/tools/prgminer.png",
    title: "PRGminer",
    link: "https://kaabil.net/prgminer/"
  }
 %}

{% set hpi = [predhpi, apinet, deepHPI, huco, malivhu, HuCoVarIA] %}
{% set clpt = [AtSubP2, RSLpred2, plantmSubp, atSubP, rslPredP, plPred] %}
{% set dbs = [HPInet, greeningDB, citSATdb, legumeSSRdb, ranchSAT, alfaNet, weconet, trustdb, tritikbdb,myDockDB] %}
{% set bioenergy = [lacSubPred, ligPred] %}
{% set metagenomics = [deepNEC2, necMiner ] %}
{% set ngsPackages = [pySeqRNA] %}
{% set rgenes = [PRGminer] %}
{% set descriptors = [ProFeatX] %}
{% set disease = [rbPred] %}
