{% set predhpi = {
    img: "/assets/img/tools/predHpi.PNG",
    title: "PredHPI",
    link: "http://bioinfo.usu.edu/PredHPI/"
  }
%}

{% set apinet = {
    img: "/assets/img/tools/api-net.PNG",
    title: "AP-iNET",
    link: "http://bioinfo.usu.edu/AP-iNET"
  }
%}

{% set plantmSubp = {
    img: "/assets/img/tools/plantmSubp.PNG",
    title: "Plant-mSubP",
    link: "http://bioinfo.usu.edu/Plant-mSubP"
  }
%}

{% set atSubP = {
    img: "/assets/img/tools/atsubp.png",
    title: "AtSubP",
    link: "http://bioinfo3.noble.org/AtSubP/"
  }
%}

{% set rslPredP = {
    img: "/assets/img/tools/rslpred.PNG",
    title: "RSLpredP",
    link: "http://crdd.osdd.net/raghava/rslpred/"
  }
%}

{% set plPred = {
    img: "/assets/img/tools/plpred.PNG",
    title: "PLpred",
    link: "http://bioinfo.usu.edu/PLpred"
  }
%}

{% set greeningDB = {
    img: "/assets/img/tools/greeningdb.PNG",
    title: "GreeningDB",
    link: "http://bioinfo.usu.edu/GreeningDB/"
  }
%}

{% set citSATdb = {
    img: "/assets/img/citSatDB.png",
    title: "citSATdb",
    link: "http://bioinfo.usu.edu/citSATdb/"
  }
%}

{% set legumeSSRdb = {
    img: "/assets/img/tools/legumeSSRdb.png",
    title: "legumeSSRdb",
    link: "http://bioinfo.usu.edu/legumeSSRdb"
  }
%}

{% set lacSubPred = {
    img: "/assets/img/tools/lacsubpred.PNG",
    title: "LacSubPred",
    link: "http://bioinfo.usu.edu/lacsubpred"
  }
%}

{% set ligPred = {
    img: "/assets/img/tools/ligpred.PNG",
    title: "LigPred",
    link: "http://bioinfo.usu.edu/ligpred"
  }
%}

{% set rbPred = {
    img: "/assets/img/tools/rbpred.PNG",
    title: "RBPred",
    link: "http://crdd.osdd.net/raghava/rbpred/"
  }
%}

{% set template = {
    img: "",
    title: "",
    link: ""
  }
%}

{% set necMiner = {
    img: "/assets/img/tools/legumeSSRdb.png",
    title: "NECminer",
    link: "http://bioinfo.usu.edu/NECminer/"
  }
%}

{% set deepHPI = {
    img: "/assets/img/tools/legumeSSRdb.png",
    title: "deepHPI",
    link: "http://bioinfo.usu.edu/deepHPI/"
  }
%}

{% set huco = {
    img: "/assets/kbl-img/interactome.png",
    title: "Interactome",
    link: "http://bioinfo.usu.edu/hucopia/"
  }
%}

{% set hpi = [predhpi, apinet, deepHPI, huco] %}
{% set clpt = [plantmSubp, atSubP, rslPredP, plPred] %}
{% set dbs = [greeningDB, citSATdb, legumeSSRdb] %}
{% set bioenergy = [lacSubPred, ligPred] %}
{% set metagenomics = [necMiner] %}
{% set misc = [rbPred] %}
