<!DOCTYPE html>
<html class="no-js" lang="en">
{% from "universal/_header.njk" import header %}
{{ header("events") }}

<body>
  {% from "universal/_navbar.njk" import navbar %}
  {{ navbar("Tools") }}

  <article class="container-fluid kbl-top">
    <div class="row justify-content-center pt-4">
      <div class="col-auto">
        <h1><ion-icon name="cube-outline" class="kbl-header-icon"></ion-icon></h1>
      </div>
      <div class="col-auto pt-3 header-icon-wrapper">
        <h1>Tools</h1>
        <h6>
          Services straight from students at KAABiL
        </h6>
      </div>
    </div>
  </article>

  <!--
  <header class="sabbi-page-header-classic1 sabbi-page-header-team page-header-lg">
          <div class="page-header-content conternt-center">
              <div class="header-title-block">
                  <h1 class="page-title">Tools</h1>
              </div>
          </div>
      </header>
  <div class="auth-breadcrumb-wrap">
      <div class="container">
          <ol class="breadcrumb sabbi-breadcrumb list-unstyled list-inline">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="#">Tools</a></li>
          </ol>
      </div>
  </div>
-->

  <article class="container">
    {% from "./_tool-section.njk" import toolSection %}
    {% from "./_tool-data.njk" import hpi, clpt, metagenomics, dbs, bioenergy, misc %}

    {{ toolSection("Host-Pathogen Interaction Prediction Tools", hpi, "hpi") }}
    {{ toolSection("Cellular Localization Prediction Tools", clpt, "cellularloc") }}
    {{ toolSection("Metagenomics", metagenomics, "metagenomics") }}
    {{ toolSection("Databases", dbs, "db") }}
    {{ toolSection("Bioenergy", bioenergy, "bionrg") }}
    {{ toolSection("Miscellaneous", misc, "misc") }}
  </article>

  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts() }}
</body>

</html>
