<!DOCTYPE html>
<html class="no-js" lang="en">
{% from "universal/_header.njk" import header %}
{{ header("events") }}

<body>
  {% from "universal/_navbar.njk" import navbar %}
  {{ navbar("Tools") }}

  <article class="container-fluid kbl-top mb-4">
    <div class="row justify-content-center pt-4">
      <div class="col-12 col-md-auto text-center">
        <h1><ion-icon name="cube-outline" class="kbl-header-icon"></ion-icon></h1>
      </div>
      <div class="col-auto pt-3 header-icon-wrapper text-center text-md-start">
        <h1>Tools</h1>
        <h6>
          Software and Databases developed by KAABiL Researchers
        </h6>
      </div>
    </div>
  </article>
<article class="container">
<div class = "row justify-content-center text-center">
<div class="col-12 mb-4" style="margin:auto">
	<a href="tools#hpi" class="btn btn-md btn-block btn-outline-primary  my-1">Host-Pathogen Interactions</a>
	<a href="tools#cellularloc" class="btn btn-md btn-block btn-outline-danger  my-1">Subcellular Localization Prediction</a>
  <a href="tools#db" class="btn btn-md btn-block btn-outline-info my-1">Databases</a>
	<a href="tools#metagenomics" class="btn btn-md btn-block btn-outline-success my-1 ">Metagenomics</a>
  <a href="tools#ngsPack" class="btn btn-md btn-block btn-outline-warning my-1">NGS Packages</a>
  <a href="tools#rgenes" class="btn btn-md btn-block btn-outline-warning my-1">Plant Resistance Genes</a>
  <a href="tools#descriptors" class="btn btn-md btn-block btn-outline-info my-1">Descriptors</a>
	<a href="tools#bionrg" class="btn btn-md btn-block btn-outline-secondary my-1 ">Bioenergy</a>
	<a href="tools#disease" class="btn btn-md btn-block btn-outline-dark my-1">Disease Forecasting</a>
</div>
</div>
</article>

<article class="container">
    {% from "./_tool-section.njk" import toolSection %}
    {% from "./_tool-data.njk" import hpi, clpt, metagenomics,rgenes, dbs, bioenergy, ngsPackages, descriptors, disease %}

    {{ toolSection("Host-Pathogen Interactions", hpi, "hpi") }}
    {{ toolSection("Subcellular Localization Prediction", clpt, "cellularloc") }}
    {{ toolSection("Databases", dbs, "db") }}
    {{ toolSection("Metagenomics", metagenomics, "metagenomics") }}
    {{ toolSection("NGS Packages", ngsPackages, "ngsPack") }}
    {{ toolSection("Plant Resistance Genes", rgenes, "rgenes") }}
    {{ toolSection("Descriptors", descriptors, "descriptors") }}
    {{ toolSection("Bioenergy", bioenergy, "bionrg") }}
    {{ toolSection("Disease Forecasting", disease, "disease") }}
   
  </article>

  {% include "universal/_footer.njk" %}
  {% from "universal/_footer-scripts.njk" import scripts %}
  {{ scripts() }}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="assets/js/kbl/uptime.js"></script>
  <script src="assets/js/kbl/devtools/hucopia.js"></script>
</body>

</html>
