{% from "pages/events/template.njk" import eventPage %}

{% set event = {
    img: '/image/bioinfo/events/bigDataConf2022/PXL_20220518_191935611.MP.jpg',
    location: 'Utah State University, Logan, UT',
    date: 'May 16-19, 2022',
    media: [
    '/image/bioinfo/events/bigDataConf2022/IMG_0574.jpg',
    '/image/bioinfo/events/bigDataConf2022/IMG_0575.jpg',
    '/image/bioinfo/events/bigDataConf2022/IMG_0576.jpg',
    '/image/bioinfo/events/bigDataConf2022/IMG_0577.jpg',
    '/image/bioinfo/events/bigDataConf2022/IMG_0578.jpg',
    '/image/bioinfo/events/bigDataConf2022/IMG_0580.jpg',
    '/image/bioinfo/events/bigDataConf2022/PXL_20220518_191935611.MP.jpg',
    '/image/bioinfo/events/bigDataConf2022/PXL_20220518_191946946.MP.jpg',
    '/image/bioinfo/events/bigDataConf2022/PXL_20220518_191948898.jpeg',
    '/image/bioinfo/events/bigDataConf2022/PXL_20220518_192238338.MP.jpg',
    '/image/bioinfo/events/bigDataConf2022/PXL_20220518_194533521.MP.jpg',
    '/image/bioinfo/events/bigDataConf2022/PXL_20220518_194535879.jpeg',
    '/image/bioinfo/events/bigDataConf2022/PXL_20220517_203939219.MP.jpg',
    '/image/bioinfo/events/bigDataConf2022/PXL_20220517_203858340.MP.jpg',
    '/image/bioinfo/events/bigDataConf2022/34_Panel4.jpg',
    '/image/bioinfo/events/bigDataConf2022/4_ag-stats-group-2.jpg',
    '/image/bioinfo/events/bigDataConf2022/27_Presentation2.jpeg',
    '/image/bioinfo/events/bigDataConf2022/30_PosterDisplay1.JPG'
    ]
  }
%}

{{ eventPage("KAABiL Members Presented at Statistics Conference", "bigDataConf2022", event) }}