<p class="event-desc">
  Naveen Duhan, a PhD student from our lab, attended the International Plant Animal Genome Conference
  in San Diego. He presented a poster on citSatdb and Greeningdb, and presented an oral talk on citSatdb.
</p>
