{% from "pages/events/template.njk" import eventPage %}

{% set event = {
    img: '/image/bioinfo/events/pag2020/IMG_20200113_151858.jpg',
    location: '500 Hotel Circle N, San Diego, CA',
    date: 'Jan 11 - Jan 15, 2020',
    media: [
      '/image/bioinfo/events/pag2020/IMG_20200112_085157.jpg',
      '/image/bioinfo/events/pag2020/IMG_20200112_085211.jpg',
      '/image/bioinfo/events/pag2020/IMG_20200112_085811.jpg',
      '/image/bioinfo/events/pag2020/IMG_20200113_151923.jpg',
      '/image/bioinfo/events/pag2020/IMG_20200114_144615.jpg',
      '/image/bioinfo/events/pag2020/IMG_20200114_144618.jpg'
    ]
  }
%}

{{ eventPage("Plant & Animal Genome Conference", "pag2020", event) }}
