<p class="event-desc">
Mitchell is an undergraduate student at Utah Valley University majoring in Biotechnology. During the summer, Mitchell started his internship with us at the KAABiL Lab. As Mitchell finishes his summer internship with us in the Animal Dairy & Veterinary Sciences department, we celebrate with pizza and soda pop. We took photos of the event to commemorate the occasion. We also had a short interview with him to ask him how his experience in the lab was. He says that he has learned a lot during his time with us. We also gave him sendoff gifts as we celebrated his time with us. We wish him luck in the future and hope he finds lots of success in life.
</p>