{% macro breadcrumb(links=[], topMarginMod=-3.2) %}
  {% set lastIndex = links.length - 1 %}
  <div class="container-fluid mx-0 px-0" style="margin-top: {{topMarginMod}}rem !important;">
    <ol class="breadcrumb" style="padding-left: 180px!important;">
      {% for link in links %}
        {% if loop.last %}
          <li class="breadcrumb-item active">{{ link.name }}</li>
        {% else %}
          <li class="breadcrumb-item"><a href="{{ link.location }}" class="kbl-link">{{ link.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
{% endmacro %}
