{% macro ctxMenu() %}
  <article class="kbl-ctx-menu" id="ctx-menu">
    <div class="ctx-heading" id="ctx-heading"></div>
    <div class="menu-item">Create Appointment</div>
    <div class="menu-item negative">Remove Appointment</div>
  </article>
{%  endmacro %}

{% macro calendarSmall() %}
  {{ ctxMenu() }}
  <article class="container-fluid calendar" id="calendar">
    <div class="row my-3 justify-content-center">
      <section class="col-1 text-left">
        <i class="fas fa-chevron-left arrow-single" id="calArrowLeft"></i>
      </section>
      <section class="col-8 text-center">
        <div id="monthName" class="month-title">

        </div>
      </section>
      <section class="col-1 text-right">
        <i class="fas fa-chevron-right arrow-single" id="calArrowRight"></i>
      </section>
    </div>

    <div class="row mb-4" id="weekDays">

    </div>
  </article>
  <script src="/assets/js/kbl/calendar-small.js"></script>
  <script src="/assets/js/kbl/calendar-ctx-menu.js"></script>
{% endmacro %}
