{% macro confCard(conference) %}
  <section class="kbl-conf-card my-3">
    <div class="row no-gutters">
      <div class="col-auto position-relative">
        <div class="year-banner">{{ conference.date }}</div>
{% if conference.type != '' %}
        <div class="year-banner date">{{ conference.type }}</div>
{% endif %}
        <img class="conf-card-img"
          src="{{ RaikouServer }}/image/aspect/bioinfo/conf.jpg?a=width&w=1&h=1"/>
      </div>
      <div class="col p-4">
        <div class="conf-authors">{{ conference.authors | safe }}</div>
        <div class="conf-location mb-4"><b>Location: </b>{{ conference.location }}</div>
        <div class="conf-desc">{{ conference.desc }}</div>
      </div>
    </div>
  </section>
{% endmacro %}
