{% macro imgHeader(img="header-img",headerTitle="KAABiL Lab") %}

  <section class="container-fluid px-0">
    <div class="row g-0">
      <div class="col">
        <img class="kbl-header-img" src="{{ RaikouServer }}/{{img}}"/>
              <h1 class="text-center imgHeaderTitle imgHeaderGen">
              {{headerTitle}}
              </h1>
        </div>
      </div>
    </div>
  </section>
{% endmacro %}

{% macro imgHeaderSplit(img1="header-img", img2="/image/bioinfo/peoplePageTeam.jpg",headerTitle="KAABiL Lab") %}
  <section class="container-fluid px-0">
    <div class="row g-0">
      <div class="col-6">
        <img class="kbl-header-img" src="{{ RaikouServer }}/{{img1}}"/>
      </div>
      <div class="col-6 d-none d-md-block">
        <img class="kbl-header-img" src="{{ RaikouServer }}/{{img2}}"/>
        </h1>
      </div>
    </div>
  </section>
{% endmacro %}