{% macro imgHeader2(title="", class="") %}
  <header class="{{ class }}">
    <div class="page-header-content conternt-center">
      <div class="header-title-block">
        <h1 class="page-title">{{ title }}</h1>
      </div>
    </div>
  </header>
{% endmacro %}
