{% macro leftMediaCard (media) %}
        <section class="row news-item-container justify-content-center">
          <a class="news-itemFirst col-11" href="{{media.link}}" target="_blank">
            <div class="row ps-0">
              <div class="col px-2 pt-1">
                <span class="date"><i class="far fa-calendar-alt"></i> {{media.date}}</span>
                <span class="date mx-1"><i class="far fa-newspaper"></i> {{media.type}}</span>
                <h5 class="header mb-0">{{media.title}}</h5>
                <div class="desc mt-0">
                  {{media.desc}}
                </div>
              </div>
            </div>
          </a>
        </section>
{% endmacro %}

{% macro rightMediaCard (media) %}
        <section class="row news-item-container justify-content-center">
          <a class="news-itemSecond col-11" href="{{media.link}}" target="_blank">
            <div class="row ps-0">
              <div class="col px-2 pt-1">
                <span class="date"><i class="far fa-calendar-alt"></i> {{media.date}}</span>
                <span class="date mx-1"><i class="far fa-newspaper"></i> {{media.type}}</span>
                <h5 class="header mb-0">{{media.title}}</h5>
                <div class="desc mt-0">
                  {{media.desc}}
                </div>
              </div>
            </div>
          </a>
        </section>
{% endmacro %}

{% macro leftNewsCard (news) %}
    <section class="row news-item-container justify-content-center">
          <a class="news-itemFirst col-11" href="{{news.link}}" target="_blank">
            <div class="row ps-0">
              <div class="col ps-2 my-auto">
                <img src="{{news.img}}" class="img-fluid" alt="{{news.alt_text}}">
              </div>
              <div class="col-10 pt-1">
                <span class="date"><i class="far fa-calendar-alt"></i> {{news.date}}</span>
                <h5 class="header mb-0">{{news.title}}</h5>
                <div class="desc mt-0">
                  <div class="newsLineTruncate">
                    {{news.desc}}
                  </div>
                </div>
              </div>
            </div>
          </a>
        </section>
{% endmacro %}

{% macro rightNewsCard (news) %}
    <section class="row news-item-container justify-content-center">
          <a class="news-itemSecond col-11" href="{{news.link}}" target="_blank">
            <div class="row ps-0">
              <div class="col ps-2 my-auto">
                <img src="{{news.img}}" class="img-fluid" alt="{{news.alt_text}}">
              </div>
              <div class="col-10 pt-1">
                <span class="date"><i class="far fa-calendar-alt"></i> {{news.date}}</span>
                <h5 class="header mb-0">{{news.title}}</h5>
                <div class="desc mt-0">
                  <div class="newsLineTruncate">
                    {{news.desc}}
                  </div>
                </div>
              </div>
            </div>
          </a>
        </section>
{% endmacro %}