{% macro personCard(img="", name="", subtitle="") %}
  <div class="kbl-person-card-container mx-auto mb-3">
    <div class="kbl-person-card">
      <figure>
        <img class="w-100 mb-2" style="height: 250px;" src="{{  RaikouServer }}{{ img }}" alt="{{ person.name }}, {{ person.type }}.">
        <figcaption class="pb-2">
          <div clas="title-wrapper">
            <div class="card-title px-3 mb-0 justify-content-center">{{ name }}</div>
            <div class="card-subtitle px-3 justify-content-center">{{ subtitle }}</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
{% endmacro %}

{% macro personCardModal(person) %}
  <div class="kbl-person-card-container mb-3 mx-auto">
    <div class="kbl-person-card select text-center" data-bs-toggle="modal" data-bs-target="#{{ person.modifier }}Modal">
      <figure class="mb-0">
        <img class="w-100 mb-2" style="height: 250px;" src="{{ RaikouServer }}{{ person.img }}" alt="{{ person.name }}, {{ person.type }}.">
        <figcaption class="pb-2 text-start px-3">
          <div class="title-wrapper">
            <div class="card-title mb-0 text-center">{{ person.name }}</div>
            <div class="card-subtitle text-center">{{ person.subtitle }}</div>
            {% if person.social.length %}
            <div class="row justify-content-center">
                {% for media in person.social %}
                  <div class="col-auto gx-1">
                  {{ socialSet(media) }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="modal fade" id="{{ person.modifier }}Modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container-fluid px-4">
          <section class="row mt-3">
            <div class="col text-start">
              <h4 class="modal-title">{{ person.name }}</h4>
              <h6 class="modal-subtitle">{{ person.subtitle }}</h6>
            </div>
            <div class="col-1">
              <button type="button" class="kbl-close" data-bs-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </section>

          <section class="row mt-3">
            <div class="col-4">
              <img class="w-100 mb-2 modal-img" style="height: 250px;" src="{{ RaikouServer }}{{ person.img }}" alt="{{ person.name }}, {{ person.type }}.">
            </div>
            <p class="col-8 text-start">
              {{ person.bio }}
            </p>
          </section>

          <section class="row mb-3 mt-2">
            <div class="col text-start">
              <span class="modal-pre-email">Email: </span><span class="modal-email">{{ person.email }}</span>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro socialSet(social) %}
  {% if social.type === "twitter" %}
    <a href="{{ social.link }}" target="_blank" rel="noreferrer noopener" class="kbl-icon-{{ social.type }} correct-fa align-middle"><i class="fab fa-twitter-square"></i></a>
  {% elif social.type === "linkedin" %}
    <a href="{{ social.link }}" target="_blank" rel="noreferrer noopener" class="kbl-icon-{{ social.type }} correct-fa align-middle"><i class="fab fa-linkedin"></i></a>
  {% elif social.type === "facebook" %}
    <a href="{{ social.link }}" target="_blank" rel="noreferrer noopener" class="kbl-icon-{{ social.type }} correct-fa align-middle"><i class="fab fa-facebook-square"></i></a>
  {% elif social.type === "researchgate" %}
    <a href="{{ social.link }}" target="_blank" rel="noreferrer noopener" class="kbl-icon-{{ social.type }} correct-fa align-middle"><i class="ai ai-researchgate-square"></i></a>
  {% elif social.type === "website" %}
    <a href="{{ social.link }}" target="_blank" rel="noreferrer noopener" class="kbl-icon-kbl correct-fa align-middle"><i class="fas fa-laptop"></i></a>
  {% elif social.type === "soundcloud" %}
    <a href="{{ social.link }}" target="_blank" rel="noreferrer noopener" class="kbl-icon-{{ social.type }} correct-fa align-middle"><i class="fab fa-soundcloud"></i></a>
  {% elif social.type === 'github' %}
    <a href="{{ social.link }}" target="_blank" rel="noreferrer noopener" class="kbl-icon-{{ social.type }} correct-fa align-middle"><i class="fab fa-github"></i></a>
  {% elif social.type === 'orcid' %}
    <a href="{{ social.link }}" target="_blank" rel="noreferrer noopener" class="kbl-icon-{{ social.type }} correct-fa align-middle"><i class="ai ai-orcid-square"></i></a>
  {% elif social.type === 'google' %}
    <a href="{{ social.link }}" target="_blank" rel="noreferrer noopener" class="kbl-icon-{{ social.type }} correct-fa align-middle"><i class="ai ai-google-scholar-square"></i></a>
  {% endif %}
{% endmacro %}
