{% macro personCard(img="", name="", subtitle="") %}
  <div class="kbl-person-card">
    <figure>
      <img class="w-100 mb-2" style="height: 250px;" src="{{ img }}" alt="sabbi-profile-pic">
      <figcaption class="pb-2">
        <div class="card-title px-3 mb-0">{{ name }}</div>
        <div class="card-subtitle px-3">{{ subtitle }}</div>
      </figcaption>
    </figure>
  </div>
{% endmacro %}
