{% macro pubLegend() %}
  <!-- Filled in with JS -->
  <div class="mb-2 text-center">
    <span class="fa-stack pub-legend-container" id="dollar">
      <i class="fas fa-square fa-stack-2x"></i>
      <i class="fas fa-dollar-sign fa-stack-1x pub-legend-icon"></i>
    </span>

    <span class="fa-stack pub-legend-container" id="asterisk">
      <i class="fas fa-square fa-stack-2x"></i>
      <i class="fas fa-asterisk fa-stack-1x pub-legend-icon"></i>
    </span>

    <span class="fa-stack pub-legend-container"  id="caret">
      <i class="fas fa-square fa-stack-2x"></i>
      <i class="fas fa-angle-up fa-stack-1x pub-legend-icon"></i>
    </span>

    <span class="fa-stack pub-legend-container"  id="underline">
      <i class="fas fa-square fa-stack-2x"></i>
      <!-- I probably shouldn't be doing this, but I need to get a slanted underline icon. -->
      <i class="pub-legend-icon"><img src="https://bioinfocore.usu.edu/raikou/image/bioinfo/underline-slanted-solid.png" style="right:20" width="62%" alt="Underline symbol."></i>
    </span>
    
    <span class="fa-stack pub-legend-container"  id="italic">
      <i class="fas fa-square fa-stack-2x"></i>
      <i class="fas fa-italic fa-stack-1x pub-legend-icon"></i>
    </span>
  </div>
  <div class="pub-text px-2 text-center">

  </div>
{% endmacro %}
