{% macro pubLegend() %}
  <div class="mb-2">
    <span class="fa-stack fa-2x pub-legend-container" id="dollar">
      <i class="fas fa-square fa-stack-2x"></i>
      <i class="fas fa-dollar-sign fa-stack-1x pub-legend-icon"></i>
    </span>
    <span class="fa-stack fa-2x pub-legend-container" id="asterisk">
      <i class="fas fa-square fa-stack-2x"></i>
      <i class="fas fa-asterisk fa-stack-1x pub-legend-icon"></i>
    </span>
    <span class="fa-stack fa-2x pub-legend-container"  id="caret">
      <i class="fas fa-square fa-stack-2x"></i>
      <i class="fas fa-angle-up fa-stack-1x pub-legend-icon"></i>
    </span>
  </div>
  <div class="pub-text px-2">

  </div>
{% endmacro %}
