{% macro publication(article) %}
  <article class="row py-2 publication">
    <section class="col-3">
      <p class="authors">
        {{ article.authors | safe }}
      </p>
    </section>

    <section class="col-6">
      <p class="kbl-text">
        {{ article.content | safe }}
      <p>
    </section>

    <section class="col-3">
      <span class="kbl-text">
        DOI:
        {% if article.doiTitle.length %}
          <a class="kbl-link" target="_blank" href="{{ article.doiLink }}">
            {{ article.doiTitle }}<sup> <i class="fas fa-external-link-alt"></i></sup>
          </a>
        {% endif %}
      </span>
    </section>
  </article>
{% endmacro %}
