{% set template = {
    title: "TEST",
    subtitle: "Details",
    img: "",
    link: "#"
  }
%}

{% set ai = {
    title: "Artificial Intelligence",
    subtitle: "OMICS big data to novel biological discoveries",
    img: "/image/bioinfo/AI-processor-LowRes-v1.jpg",
    link: "/research/ai"
  }
%}

{% set hpi = {
    title: "Host-pathogen Interactions",
    subtitle: "Understanding mechanisms of infectious diseases",
    img: "/image/bioinfo/HPI_new.gif",
    link: "/research/hpi"
  }
%}

{% set pfp = {
    title: "Protein Function Prediction",
    subtitle: "Annotation of novel proteomes and their features",
    img: "/image/bioinfo/functionalbg_resized.png",
    link: "/research/pfp"
  }
%}

{% set metagenomics = {
    title: "Metagenomics",
    subtitle: "Bioinformatics solutions for crop improvement",
    img: "/image/bioinfo/meta_new.png",
    link: "/research/metagenomics"
  }
%}

{% set pa = {
    title: "Precision Agriculture",
    subtitle: "Robotics for integrated weed management",
    img: "/image/bioinfo/sabbi-post/p_agr.jpg",
    link: "/research/precisionag"
  }
%}

{% set ngs = {
    title: "NGS Studies",
    subtitle: "Deciphering and making sense of complex -omics big data",
    img: "/image/bioinfo/datamining-lowres.png",
    link: "/research/ngs"
  }
%}

{% set research = [ai, hpi, pfp, metagenomics, pa, ngs] %}
