<p class="event-desc">
Kolton Hauck, an undergraduate student in the KAABiL lab, was selected to present at the annual "Research on Capitol Hill Event" for 2022. 
This event provided a great opportunity for him to present his undergraduate research to legislators and the public. 
Kolton presented his research on "What drug candidates exist for treating COVID-19 variants?".
</p>